[2021-09-10 17:57] harriswong commented on #1813
Block by https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1797 and https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1796

[2021-09-10 20:44] frosso opened #1834 "[setup/onboarding] account keys controller"
## Description

Clicking the "Enter account keys" button on the onboarding UI ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1757 ) opens a modal that allows to enter the account keys and the webhook secret.

The modal persists the data to the backend (a controller needs to be created).

Please keep in mind that the form (and controller) will be also used for editing purposes,

[2021-09-10 20:46] frosso opened #1835 "[settings] account keys form UI"
## Description

Clicking the "Edit details" button on the settings UI opens a modal that allows to enter the account keys and the webhook secret.
Clicking "Enter account keys (advanced)" on the onboarding UI opens a modal that allows to enter the **live** account keys and the webhook secret (PLEASE NOTE: the latest designs have been updated, but let's use the same modal for now, as a first step).

[2021-09-10 20:48] frosso commented on #1804
Closed in favor of https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1835 and https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1834

[2021-09-10 20:48] #1804 closed, assigned to nobody

[2021-09-10 22:01] harriswong commented on #1835
@frosso This is only for the 3 fields (publishable key, live key, webhook secret) in the screenshot right? Not for everything inside the original settings page:
![image](https://user-images.githubusercontent.com/572862/132922260-73ee8422-c3cc-460a-84a7-20844416539a.png)

[2021-09-10 22:04] frosso commented on #1835
@harriswong that's correct - this controller should be specific to the webhook secret/publishable key/secret key. Possibly for both test and live mode of those 3 fields.

[2021-09-10 22:04] harriswong commented on #1835
Perfect, thanks!

[2021-09-12 22:22] demaya commented on #457
Any update on this?

[2021-09-13 00:41] TheSugarDealer opened #1838 "Gateway Stripe Oxxo"
Hello! I´m trying to integrate the oxxo to a woocomerce stripe pluginm but i have a error in the "Create Source" , the code are:

`<?php
if ( ! defined( 'ABSPATH' ) ) {
    exit;
}

/**
 * Class that handles OXXO payment method.
 *
 * @extends WC_Gateway_Stripe
 *
 * @since 4.1.0
 */
class WC_Gateway_Stripe_Oxxo extends WC_Stripe_Payment_Gateway {
    /**
     * Notices (array)
     *
     * @var

[2021-09-13 06:28] #1692 closed, assigned to Mayisha

[2021-09-13 12:40] waclawjacek opened #1840 "Extract settings retrieval error notice"
Originally posted here: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1797#discussion_r705397358

[2021-09-13 15:17] #1760 closed, assigned to harriswong

[2021-09-13 17:08] #1810 closed, assigned to waclawjacek

[2021-09-13 18:00] frosso opened #1845 "[settings] migrate deprecated "Express checkout" setting values"
## Description

Similar to what we did in WCPay, some of the "express checkout" settings are not valid anymore because they don't align with the Stripe/Apple Pay guidelines.
Here's some background info: paJDYF-1x5-p2 / https://github.com/Automattic/woocommerce-payments/issues/1991

We need to ensure that invalid settings (e.g.: "button type > branded") are migrated and no longer available in the U

[2021-09-13 18:06] frosso opened #1846 "[settings] Stripe "payment request" button preview"
## Description

The button preview on the "Payment request" customization page is not working.
We need to pass the correct parameters to the `loadStripe` function, in order for it to work properly.

This is the page: http://localhost:8082/wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe&area=payment_requests

## Acceptance criteria
- The "Payment request" customization page shows th

[2021-09-13 20:03] bborman22 commented on #1667
I think some work has started on this already, which is great, but wanted to answer the two questions posed still. For the existing flow question, that was just related to the AJAX API, which was addressed and answered my question that the Blocks API will be used.

If I'm understanding the question correctly, we shouldn't be putting any effort in to support non-UPE payment methods in the blocks ch

[2021-09-13 20:09] ricardo commented on #1666
@FangedParakeet Additionally, scheduled subscription payments rely on saved sources. So we still need a flexible approach to process a payment when UPE is enabled.

[2021-09-13 22:25] FangedParakeet commented on #1666
In my testing of backwards compatability with saved payment methods in #1780, I discovered that if you have saved sources to your account, they are still returned by requests to Stripe's `/payment_methods` endpoint. Moreoever you can attach the saved source returned to a payment intent as a payment method and Stripe will let you continue to confirm the intent and complete a checkout. However, if y

[2021-09-13 22:32] ricardo opened #1850 "UPE - SEPA orders should go from "pending" to "on hold""
The goal of this issue is to bring visibility to an inconsistency between the classic SEPA checkout and the UPE SEPA checkout.

Currently, the UPE SEPA checkout goes from "pending" to "completed/processing", but the classic SEPA goes from "pending" to "on hold" and then "completed/processing" once the webhook is received from Stripe.

Also, the classic checkout adds an order note while the order i

[2021-09-13 22:39] ricardo commented on #1740
Although this issue refers to order notes from errors, it's worth pointing out that some other notes are inconsistent with the classic checkout.

i.e #1850 - SEPA payments should add an order note and move status from "pending" to "on hold".

There might be other inconsistencies. We need to check that.

[2021-09-13 22:50] nickfmc opened #1877 "Empty Express checkout block rendered when Express checkout is disabled in payment method settings"
I have express payments turned off in Stripe (Enable Payment Request Buttons. (Apple Pay/Google Pay) ) and that is the only payment method I am using . however in Chrome I still see a blank div for the express checkout, so I get the text --- OR --- proceed to checkout.

[2021-09-13 23:10] FangedParakeet commented on #1850
I _think_ this is because on [this line](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-stripe-upe-payment-gateway.php#L555), where we update the order after redirection, for some reason we send the payment intent instead of the charge as a parameter to the `process_response` function. Since SEPA has delayed payment completion, the status o

[2021-09-13 23:14] FangedParakeet commented on #1740
Nice call-out. If you check [this list](https://stripe.com/payments/payment-methods-guide), the payment methods whose `PAYMENT COMPLETION` is not "Immediate" are the ones we'll have to watch out for, where there will be inconsistencies in how the payment intent status changes during a regular checkout. I think the only UPE payment methods on our agenda that have delayed payment completion are Sofo

[2021-09-14 06:18] solstudioim commented on #1824
I wasn't able to replicate the issue.

I have two shipping methods in UK Zone that I created, then I selected the second one (Express).

When I clicked buy with Apple Pay, consistently the second option was selected. Even after adding my details, the selected shipping method stayed the same:

![merge_from_ofoct (1)](https://user-images.githubusercontent.com/17371139/133207154-aa62a74c-2fa4-4f7c-b7

[2021-09-14 10:41] waclawjacek commented on #1765
I have implemented this in #1796 which is currently in draft state.

[2021-09-14 16:54] Mayisha commented on #1822
Need to show the real information for `Payments` and `Deposits`. We don't need the `Base fee` here as per the design decision. [Here](https://github.com/woocommerce/woocommerce-transact-design/issues/29) is the design ticket.

[2021-09-14 19:37] diegocurbelo opened #1855 "Move UPE action hooks to the UPE Gateway"
The goal of this issue is to move the UPE actions from `WC_Stripe_Intent_Controller` and `WC_Stripe_Order_Handler` to `WC_Stripe_UPE_Payment_Gateway`.

With this, we can avoid creating new instances of the Gateway and only adding the hooks when the gateway is enabled.

[2021-09-14 20:27] FangedParakeet opened #1857 "Ensure gateway does not create duplicate tokens for existing saved tokens"
**Describe the bug**
A clear and concise description of what the bug is.

Saving iDEAL or Bancontact payment methods as tokens and then setting either to the default token for an account causes duplicate tokens to be created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new customer account which has no existing saved payment methods.
2. Checkout with Bancontact and elect to save

[2021-09-14 20:40] FangedParakeet opened #1858 "Add unit tests for saved payment methods checkout flow"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The saved payment method flow adds a completely new checkout flow, using payment intents instead of sources and creating and confirming the intent in a single request. There are no unit tests for any of this new code. This is sad and bad.

[2021-09-14 20:46] #1686 closed, assigned to cesarcosta99

[2021-09-14 20:46] #1730 closed, assigned to FangedParakeet

[2021-09-14 23:40] reykjalin commented on #1667
Correct; I just linked #1825 to this issue 🙂

I don't expect any issues here either, I think it'll just be a matter of enabling the APMs and possibly applying some minor style changes.

[2021-09-15 06:31] martynmjones commented on #1034
4297385-zen

[2021-09-15 07:04] nielslange commented on #1612
@andyb2000 I'd say adjusting the CSS is sufficient to solve this problem. You could do that using the CSS prefix `.theme-twentytwenty`, to target only the Twenty Twenty theme.

[2021-09-15 13:49] #1758 closed, assigned to tommyshellberg

[2021-09-15 15:49] EvanDotPro commented on #1688
@jarekmorawski:

:man_shrugging:

https://dashboard.stripe.com/settings/payments

[2021-09-15 15:58] #1834 closed, assigned to harriswong

[2021-09-15 20:37] bborman22 commented on #1688
So I spent a little time looking in to this from the **perspective of determining which payment methods should be included at the point of checkout**. Quick background/review, when using UPE we need to create an intent and as part of that we provide a list of payment methods we want to offer up in UPE. If we provide a payment method that is not available for the account due to missing capabilities

[2021-09-15 21:10] bborman22 commented on #1688
I got confirmation that an active status on the capability signals that the payment method is indeed fully ready for use, so I believe the `GET /account` endpoint should be sufficient to check against and if the payment method is missing, we know it hasn't been requested yet.

@jarekmorawski in regards to:

I got a response that it should be within 24 hours and is usually much faster.

[2021-09-15 22:08] harriswong opened #1863 "Improve Stripe OAuth connect messages when plugin fails to generate OAuth link"
**Is your feature request related to a problem? Please describe.**
The implementation (https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1860) is to hide the button when the OAuth link fails to generate. Reasons could be:
`invalid_url_protocol: "Your site must be served over HTTPS in order to connect your Stripe account automatically."`.

This message is not surfaced to the user and i

[2021-09-15 22:31] #1786 closed, assigned to cesarcosta99

[2021-09-15 22:56] harriswong commented on #1766
@tommyshellberg , thanks for picking this up! Here are some quick updates on the ticket status:

- Instead of going through each region's https://stripe.com/pricing/local-payment-methods pricing. We now have a spreadsheet here: p1631029495020700-slack-CHG7MTCAF
- @jarekmorawski is looking into how best we can display all the different fees. The thread is on going here: paJDYF-2rk-p2#comment-8019

[2021-09-16 05:09] ricardo opened #1866 "Fix SCA authorization flow on the non-UPE checkout"
The SCA authorization flow is not working in `develop` due to some regression from recent UPE changes.

To fix this, we should probably revert [this change](https://github.com/woocommerce/woocommerce-gateway-stripe/commit/f4b456773b1ae1bd6f778e74ab8c3b7a2d366c32#diff-8c1f01376167e4e75ce4eee534a35f3082229236433132282465407f7ff244edL652-L677) - Internal ref: p1631814673096100/1631746474.081600-slack

[2021-09-16 05:15] ricardo opened #1867 "UPE - Free trial subscriptions"
The goal of this issue is to bring support for free trial subscriptions on UPE with a setup intent.

[2021-09-16 06:01] Poolee opened #1905 "Shipping amount not passed to payment provider sometimes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
On multiple occasions, no discernible pattern, I have received p

[2021-09-16 06:40] jarekmorawski commented on #1863
I'd go the alternative route. Explaining why the button is disabled would be useful if user could take action to resolve the issue within the immediate perimeter of the page. Switching to HTTPS is no easy feat, though, and we'd break the onboarding/setup flow by letting folks know there's something completely different they need to do first.

Here's what the design could look like.

![image](https

[2021-09-16 07:56] luispf39 opened #1868 "Redirect to /shop after pay"
Since February, when we updated WooCommerce Stripe Gateway plugin (then we have updated it again, but problem is still there), when some clients made their payment, they returned to /shop page insted confirmation page. So it is not happening always, only in some cases (when verification is required by customer's card issuer). We can’t replicate this on Stripe test mode, only when system is working

[2021-09-16 09:47] tommyshellberg commented on #1766
We'll want to use the PoC here as a starting point, avoiding any links in the tooltip: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1843

I posited a question about whether or not we want to store these fees or simply hard-code them and display them dynamically based on the country code:

p1631785309131100-slack-C01RTUVR81K

From the team meeting: we think it's easiest to create

[2021-09-16 11:40] Buzut opened #1870 "CSRF error with 3DS & automatic user linking"
**Describe the bug**
When a customer uses an email already associated with an account, he gets an error stating that he should connect to his account. This clearly hinders the conversion rate.

Therefore, I tap into `woocommerce_checkout_process` to automatically link the current order to the email's associated account.

[code]

It works without issue for non 3DS cards, but for 3DS cards, after ve

[2021-09-16 11:47] #1813 closed, assigned to frosso

[2021-09-16 15:32] tommyshellberg commented on #1766
Second question: which countries do we need to support for launch? It sounds like we need to have all fees for the entire spreadsheet completed since we're turning on the flag for everyone at the same time.

Would it be possible to get a fees breakdown in a more friendly way for us(JSON file)? Converting from a spreadsheet to JSON isn't super friendly.

[2021-09-16 16:17] Mayisha commented on #1688
Mentioning this here in case it is useful. In one of my PRs [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1869) I have used the `GET /account` and caching the account data.

[2021-09-16 16:21] #1757 closed, assigned to Mayisha

[2021-09-16 16:34] bborman22 opened #1872 "Hide/Disable UPE when Pre-Orders extension is enabled"
As part of our effort to enable UPE in the Stripe plugin we were working towards compatibility with the Pre-Orders extension in #1820. To make sure there are no conflicts or gaps as we work on that compatibility the goal of this issue is to hide or disable UPE checkout experience when the Pre-Orders extension is enabled.

There would be two paths towards this:
- Pre-Orders extension is already ins

[2021-09-16 16:39] c-shultz commented on #1811
I see #1797 is done and #1796 has a draft PR, so I'm marking this as unblocked. What do you think @harriswong @frosso ?

[2021-09-16 16:42] c-shultz commented on #1773
@EvanDotPro I'm making sure we have a good picture of MVP vs non-MVP issues. Would this fall in the category of a nice-to-have technical debt cleanup? I'll tentatively mark it that way, but let me know if I'm misunderstanding

[2021-09-16 16:42] c-shultz commented on #1772
@frosso just flagging this issue for you in case there's overlap with the related issues you were going to be creating

[2021-09-16 16:49] c-shultz commented on #1867
It looks like you're working on this one actively @ricardo ? I bumped to in progress on the project board assuming that's the case

[2021-09-16 16:56] frosso opened #1873 "[settings - payment methods management] Stripe account controller"
## Description
We need to display the payment methods supported by the Stripe account.

The payment methods are grouped in different statuses: active/pending/inactive ( https://stripe.com/docs/api/accounts/object#account_object-capabilities ).

The UI in the settings screen will also group them by their status.

Additional information (maybe useful):
- https://github.com/woocommerce/woocommerce-ga

[2021-09-16 17:03] frosso opened #1874 "[settings - payment methods management] Payment methods list updates"
## Description
UI needs to be updated to display list of payment methods and their statuses.

Payment methods are grouped by their status: active/pending/inactive. Inactive/pending statuses mean that some additional actions are required in the merchant's stripe dashboard.

Management of the checkbox statuses to enable/disable payment methods at checkout is already implemented.

No need to implemen

[2021-09-16 17:04] frosso opened #1875 "[settings - payment methods management] Update payment methods list button"
## Description
Uses the controller ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1873 ) to update the payment methods list ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1874 ).

`wp/data` implementation: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2004

## Acceptance criteria
- Button is added to update list
- On click, list (both main l

[2021-09-16 17:20] harriswong commented on #1811
When we were chatting on this 2 days ago (p1631607965091800/1631570172.089800-slack-C01RTUVR81K), the onboarding functionality task (#1796) may have high overlaps with this issue thus is still considered blocked. The thing I want to avoid is code conflicts. If there is other issue with the same weight of priority, we can work on those first until (#1796) is done. But otherwise no concern to unbloc

[2021-09-16 17:37] frosso opened #1876 "[settings] show confirmation modal on payment method removal"
## Description
When a payment method is removed from checkout (by clicking the checkbox), we need to display a modal to confirm the merchant's intent.

Suggestion: wrap the confirmation modal and the checkbox is its own component, so make testing easier.

## Acceptance criteria
- When the checkbox is getting un-checked, confirmation modal is displayed
- UI matches designs
- On confirmation, modal

[2021-09-16 17:40] #1855 closed, assigned to diegocurbelo

[2021-09-16 17:41] nerrad commented on #1877
Thanks for the report! I can reproduce using the following steps:

- In WooCommerce Stripe Gateway settings, uncheck the "Enable Payment Request buttons" option.
- Load the checkout on the frontend, notice that the payment request button does not render but the containing element still does.

<img width="892" alt="CleanShot 2021-09-16 at 13 42 32@2x" src="https://user-images.githubusercontent.com/

[2021-09-16 17:42] frosso commented on #1811
Maybe the persistence of the checkboxes on the payment methods (and only the payment methods, nothing else) can be handled as a separate PR first, so that both this ticket and the onboarding persistence can work separately by leveraging the same mechanism?
The functionality to persist that data seems similar on the controller/UI side, so in either ticket it needs to be addressed. I'm thinking mayb

[2021-09-16 17:47] nerrad commented on #1877
Ideally, if payment request buttons are not enabled, the Stripe extension won't even register the express payment method.

[2021-09-16 17:52] frosso opened #1878 "[settings - payment methods management] Show toast when payment method list is updated"
## Description
When the list of payment methods is updated through https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1875 , show toast notifying the merchant of which item has been added.

<img width="527" alt="Screen Shot 2021-09-16 at 1 00 39 PM" src="https://user-images.githubusercontent.com/273592/133661946-660c9bea-5d2c-413c-a618-a586110606ca.png">

[2021-09-16 17:55] frosso opened #1879 "[settings - payment methods management] Automatically refresh the list"
## Description

Try to find a mechanism to automatically refresh the list of payment methods once a merchant updates it in Stripe.
Ideally, the merchant wouldn't need to click the "update" button, but the list would update automatically if the settings page is open.

Please confirm feasibilty/full requirements with UX.
<img width="601" alt="Screen Shot 2021-09-16 at 1 00 04 PM" src="https://user-i

[2021-09-16 18:01] harriswong commented on #1811
I want to confirm if i am understanding #1718 and #1811 correctly.

For #1718, we save settings in local react/redux states (p1631294516063400/1631290211.056400-slack-C01RTUVR81K). This ticket cover all 3 steps in the onboarding, including "Add payment methods" button in step 2. None of these are actually saved in the DB.

For #1811 (this issue), we are to use #1718 so that in step 2, the payment

[2021-09-16 18:25] frosso commented on #1811
Sorry for the confusion, I should have added some links to help clarify too! :D

There are 3 tickets related to this discussion: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1811 , https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1812 , https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1718 .

All 3 need to manage the payment methods list.
Maybe h

[2021-09-16 19:31] FangedParakeet commented on #1866
Just as a heads up, for some reason, [I undid this](https://github.com/woocommerce/woocommerce-gateway-stripe/commit/f4b456773b1ae1bd6f778e74ab8c3b7a2d366c32#diff-8c1f01376167e4e75ce4eee534a35f3082229236433132282465407f7ff244edL652-L677); I'm relatively confident putting it back and doing it again will fix this flow and once more return balance to the non-UPE checkout.

[2021-09-17 04:59] frosso opened #1888 "[old settings] Track UPE enable/disable interactions"
## Description

In the old settings, we need to track when merchants enable or disable UPE.

This is already tracked in the new settings: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1859

The action needs to fire _after_ the settings have been saved (probably on the server-side).

[2021-09-17 06:38] #1726 closed, assigned to Mayisha

[2021-09-17 11:25] frosso opened #1889 "[settings] inbox note account availability check"
## Description

The inbox note that allows to opt-in to UPE is visible even when the Stripe account is not connected.

In WCPay this caused some issues, and some people had the expectation that the inbox note alerting of the UPE availability should _not_ be present when the Stripe account is not connected (maybe because the keys are not entered).

Prevent adding the inbox note if the account is no

[2021-09-17 13:00] uiliw commented on #1247
Hello guys!
Any news about this upgrade?
Here in Brazil Boleto is widely used and im sure Stripe would have a lot of new customers by adding this feature to the plugin! Would be great if it also support recurrence payment like credit card for woocommerce subscription. Instead of automatic payment like CC, it would automatically generate the boleto and send to the user for him to pay.

Thanks!

[2021-09-17 14:50] frosso commented on #1718
Closing in favor of https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1887

[2021-09-17 14:50] #1718 closed, assigned to waclawjacek

[2021-09-17 16:56] frosso opened #1892 "[old settings] Payment method description"
## Description

Update the **description and names** for the UPE payment methods from the current placeholder.

Feel free to use either the content from https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/payment-methods-map.js or from the designs.

Ensure descriptions are localized with `__( )`.

![Markup 2021-09-17 at 11 56 26](https://user-images.githubusercontent.com/

[2021-09-17 17:00] frosso opened #1893 "[old settings] "Pending activation" subtext"
## Description

Show "pending activation" text next to payment method name for methods needing activation.
Query the Stripe API to gather the information.

POC: https://github.com/woocommerce/woocommerce-gateway-stripe/compare/PoC/capabilities-test

![image (1)](https://user-images.githubusercontent.com/273592/133826692-cf690a91-6184-463e-9242-ca8ecf95ed51.png)

[2021-09-17 17:02] frosso opened #1894 "[old settings] "Get more payment methods" link"
## Description
Add button at the bottom of the payment methods list to link to the Stripe dashboard to manage the payment methods.

![image (1)](https://user-images.githubusercontent.com/273592/133826643-146c79f5-2670-48f1-9374-9030e4d62f88.png)

[2021-09-17 17:04] frosso opened #1895 "[old settings] "Requires currency" subtext"
## Description

Display message next to payment methods that require a different currency than the one set in the main settings.

![image (1)](https://user-images.githubusercontent.com/273592/133826842-f6422c3d-419a-47a0-9a05-94d5b42d47dc.png)

[2021-09-17 17:05] frosso opened #1896 "[old settings] List of additional payment methods"
## Description

Not necessary for the MVP.

![image (1)](https://user-images.githubusercontent.com/273592/133826999-6c9d4866-e82e-4ef0-9ea1-0ece57456515.png)

[2021-09-17 17:09] frosso opened #1897 "[old settings] Move "size" attribute to "Payment Request Buttons" section"
## Description

The "Size of the button displayed for Express Checkouts" attribute is displayed in the wrong section. It should be displayed on the "Payment Request Buttons" section.
It is currently behind the UPE feature flag, but you can just move it to the "Payment Request Buttons" section, without checking for the UPE flag.

![Screen Shot 2021-09-17 at 12 07 41 PM](https://user-images.githubus

[2021-09-17 17:28] frosso opened #1898 "[old settings] move UPE flag checkbox"
## Description

The UPE toggle flag is currently under the "Checkout experience" heading.
~Create a new "Advanced settings" heading at the bottom of the page and add it there.~
Rename the contents `title`/`label`/`description` attributes to match designs.
Move the UPE list below the checkbox.

For reference, the current display:
![Screen Shot 2021-09-17 at 12 28 18 PM](https://user-images.githubus

[2021-09-17 17:32] #1740 closed, assigned to FangedParakeet

[2021-09-17 17:36] frosso opened #1899 "[documentation] UPE documentation in Stripe docs"
## Description

Update the Stripe documentation with a section that mentions UPE.
The new section will be linked from the "Learn more" link in the plugin:
![133829750-9abb3759-5b55-44b8-b74f-9d31007776c7](https://user-images.githubusercontent.com/273592/133853999-bac6f5ff-5fdb-4eb4-893f-13684ad388bb.png)

Feel free to talk with UX about the takeaways the merchant should have from this new section.

[2021-09-17 20:16] c-shultz commented on #1892
I think this is a duplicate of this: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1773

[2021-09-17 20:19] c-shultz commented on #1821
I'm moving this off the MVP milestone. We'll aim to capture this as a note in the docs to start with: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1899

[2021-09-17 20:20] c-shultz commented on #1899
Just a note that I'm deprioritizing this issue: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1821 with the intent that we mention limitations (e.g. "This doesn't work with pre-orders") on a UPE section of the docs.

[2021-09-17 21:03] frosso opened #1901 "[old settings] Verify `reusable` attribute accuracy on UPE payment methods"
## Description

Split from https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1773

Verify the `reusable` attribute is correct on all UPE methods.

[2021-09-17 21:07] frosso commented on #1773
I'm splitting up this ticket so it can be split between a few people (I still added everything to the MVP Milestone):
- Description/name updates: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1892
- Reusable attribute: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1901
- Short description is not going to be applicable to the newer designs (it's replaced by the

[2021-09-17 21:07] #1773 closed, assigned to EvanDotPro

[2021-09-17 21:35] #1845 closed, assigned to frosso

[2021-09-17 21:40] c-shultz commented on #1812
@waclawjacek We're pausing on this to focus on using the old settings instead (for now), so I'm unassigning you

[2021-09-17 22:26] #1759 closed, assigned to harriswong

[2021-09-18 19:31] juliaamosova commented on #1905
Hi @Poolee,

Thank you for reporting the issue. It looks like the issue is on the WooCommerce Stripe side of things which is being developed in another repository: https://github.com/woocommerce/woocommerce-gateway-stripe.

I am going to move your bug report there so that the right team could take a look further.

[2021-09-20 14:57] #1811 closed, assigned to frosso

[2021-09-20 15:44] harriswong commented on #1901
@evandotpro for this issue, is there something i can verify against for the `reusable` attribute? I see `is_reusable` in some of the `class-wc-stripe-*` classes, for example, [this one](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-stripe-upe-payment-method-bancontact.php#L22).

Is the purpose of this issue to just go check each file to ma

[2021-09-20 16:31] #1892 closed, assigned to Mayisha

[2021-09-20 16:45] EvanDotPro commented on #1901
@harriswong We just need to make sure the reusable attribute is true for all methods that support recurring payments and false for those which do not. I'm unfortunately not at my comp right now, but the info is in the stripe docs and I believe also in the dashboard under payment method settings if I recall correctly.

[2021-09-20 17:29] #1792 closed, assigned to brettshumaker

[2021-09-20 18:07] #1866 closed, assigned to nobody

[2021-09-20 18:18] harriswong commented on #1894
@frosso Do you know if this button open a new tab or stay on the same page? Secondly, dow e need to add those icons beside the button?

[2021-09-20 18:26] frosso commented on #1894
Let's have it open to a new window, if possible

We won't implement the additional icons at this moment

[2021-09-20 18:28] frosso opened #1909 "[old settings] Feedback request notification"
## Description

When UPE is disabled, implement a notification to ask merchant for feedback.
The survey links to this: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1677#issuecomment-899523829

Either implement this using a snackbar/toast or a notification, whichever is easiest.
If implemented through the notification, the notification should appear only on the settings screen.

[2021-09-20 18:30] #1872 closed, assigned to superdav42

[2021-09-20 18:34] harriswong commented on #1894
@frosso Is this also hiding behind `WC_Stripe_Feature_Flags::is_upe_preview_enabled()`?

[2021-09-20 18:36] frosso commented on #1894
@harriswong that's correct, the whole section is hiding behind that flag 👍

[2021-09-20 19:34] diegocurbelo commented on #1784
Works fine after merging #1669 and #1730 (and #1891).

The error when the `pre-orders` plugin is enabled is going to be fixed in #1820, but after #1891 was merged UPE is automatically disabled if `pre-orders` plugin is enabled

[2021-09-20 19:34] #1784 closed, assigned to diegocurbelo

[2021-09-20 20:18] harriswong commented on #1901
Found a link https://stripe.com/en-ca/payments/payment-methods-guide#payment-methods-fact-sheets. Going to be using this and also the settings under https://dashboard.stripe.com/settings/payments as references.

[2021-09-20 20:23] harriswong commented on #1901
There are 6 payment methods under the `class-wc-stripe-upe-payment-method-*.php` naming structure. I confirmed they match both the Stripe doc and the dashboard's settings:

bancontact: true
cards/credit card: true
eps: false
giropay: false
ideal: true (Supported through Stripe via SEPA Direct Debit)
sepa: true

[2021-09-20 20:24] frosso commented on #1901
Awesome, thanks for confirming @harriswong !

[2021-09-20 21:02] frosso commented on #1893
Depending on the status of this ticket, I'm thinking we could use part of this approach via the `get_subtext_messages()` method 🤷
https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1911/files

[2021-09-20 22:28] #1897 closed, assigned to cesarcosta99

[2021-09-20 23:07] cesarcosta99 commented on #1893
Thanks for the heads up! I have the code locally but will wait until it gets merged before opening a PR, otherwise it'll run through lots of conflicts.

[2021-09-21 01:15] #1895 closed, assigned to frosso

[2021-09-21 01:20] frosso commented on #1888
If implementing the tracking on the server side gets complicated, maybe we can use the same script as https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1913

[2021-09-21 09:49] superbmario opened #1914 "Fatal error when WC Admin disabled"
Fatal error when WC Admin is disabled:

https://wordpress.org/support/topic/fatal-error-in-version-5-5-0/

https://wordpress.org/support/topic/fatal-error-and-unable-to-access-admin-after-upgrade-to-5-5-0/

`Fatal error: Uncaught Automattic\WooCommerce\Admin\Notes\NotesUnavailableException: Notes are unavailable because the "admin-note" data store cannot be loaded. in /wp-content/plugins/woocommer

[2021-09-21 11:02] superdav42 commented on #1857
I can't reproduce this on the develop branch now so I guess it's not a problem. @FangedParakeet was never able to reproduce it when was first working on it so I think it's safe to close this and just call it something funky with my env when I was first testing it.

[2021-09-21 11:24] #1901 closed, assigned to harriswong

[2021-09-21 12:52] #1909 closed, assigned to frosso

[2021-09-21 16:30] bborman22 opened #1917 "UPE - Filter payment methods by capabilities for checkout"
With Stripe payment methods, they are enabled on Stripe with capabilities. If a payment method that has not been properly enabled on Stripe is added to the UPE, UPE will throw an error. To avoid this scenario we need to filter out any payment methods from the UPE based on their capability status. Please review [this discussion](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1688#

[2021-09-21 16:38] simplysaru commented on #1914
This Fatal error was coming from the Disable WooCommerce Bloat: by ospiotr – 2.5.3 where the user had disabled the WooCommerce Admin.
![](https://snipboard.io/lRZbeI.jpg)

Disabling this plugin fixes these fatals. User confirmed this [here](https://wordpress.org/support/topic/fatal-error-in-version-5-5-0/#post-14894576)

[2021-09-21 17:37] superbmario commented on #1914
I'm not using the Disable WooCommerce Bloat plugin. I am just using the following filter, which results in the fatal error in the Stripe plugin:

`add_filter('woocommerce_admin_disabled', '__return_true');`

[2021-09-21 18:26] frosso opened #1918 "[old settings] Add additional UPE payment method classes"
## Description

We need to add additional payment method classes to UPE:

- P24
- Sofort

When UPE is enabled, the same gateways should not be present in the main WooCommerce list of payment methods, but they should be added to the UPE list of payment methods, within the Stripe plugin.

Attributes for these new payment methods should be accurate (name, description, required currencies, `is_reusabl

[2021-09-21 19:17] diegocurbelo opened #1919 "UPE Gateway title is always "Credit Card (Stripe)""
**Describe the bug**

The payment gateway title is "Credit Card (Stripe)", and in the description it shows the text: "Pay with your credit card via Stripe." even when other payment method than Credit Card is selected (like iDeal, Sofort, etc)

<img width="630" alt="Screen Shot 2021-09-21 at 13 57 07" src="https://user-images.githubusercontent.com/407542/134225447-f8c90dc0-1d61-4f55-a523-e53bcb6e5d

[2021-09-21 19:48] #1898 closed, assigned to harriswong

[2021-09-21 20:31] EvanDotPro commented on #1772
This is effectively a duplicate of #1893. Closing.

[2021-09-21 20:31] #1772 closed, assigned to nobody

[2021-09-21 20:39] loge99 commented on #457
Please tell this has been added already!!!!!

[2021-09-21 21:14] harriswong opened #1923 "Hide the "Size of the button displayed for Express Checkouts" button"
**Describe the bug**
The "Size of the button displayed for Express Checkouts" button was introduced for the new settings UI. In the old UI, we continue to let users choose whichever height they want to set. We want to hide the new express checkout button, but keep the old "payment request button":
![image](https://user-images.githubusercontent.com/572862/134248319-e7a31c4a-534a-4fc8-a009-9c18af7d1

[2021-09-21 22:28] ricardo commented on #1670
I duplicated this issue without noticing, sorry.

Duplicate #1867.

Since the other was already referenced in a couple places, I'll close this one.

[2021-09-21 22:28] #1670 closed, assigned to ricardo

[2021-09-21 22:33] harriswong commented on #1899
I am planning on adding a new section (probably 14) in https://docs.woocommerce.com/document/stripe/. The title may be called "New checkout experience". It will include
- how to enable the experimental via the "New checkout experience" checkbox
![image](https://user-images.githubusercontent.com/572862/134256087-1fa8bccf-a8f4-4605-be1e-69f2785da77f.png)
- overview of the new payment method table af

[2021-09-22 01:28] asumaran commented on #1586
@reykjalin I think we can close this now?

[2021-09-22 01:57] reykjalin commented on #1586
Ah yes, I didn't realize this was still open! This was fixed in #1672

[2021-09-22 01:57] #1586 closed, assigned to nobody

[2021-09-22 04:26] #1888 closed, assigned to Mayisha

[2021-09-22 13:15] #1918 closed, assigned to frosso

[2021-09-22 13:30] bborman22 commented on #1919
Great catch! I actually just noticed that on the order details, it also always puts the gateway title there. Let me know if you think it would make sense to tackle both cases in this issue or if you wanted a separate issue to handle the order details area? Below is a screenshot from an order using Giropay. This can be reproduced by checking out with a non credit card payment method in UPE and then

[2021-09-22 14:58] simplysaru commented on #1424
A customer reached out to us while migrating to WooCommerce Subscriptions that they don't have src_ or card_ tokens as required for [manually](https://docs.woocommerce.com/document/subscriptions/add-or-modify-a-subscription/#section-8) adding a subscription. The customer was informed by Stripe to use the pm_ tokens for processing as src_ and card_ have been [deprecated](https://snipboard.io/iwT70e

[2021-09-22 15:19] #1894 closed, assigned to harriswong

[2021-09-22 15:24] harriswong opened #1928 "Remove the payment method links inside Stripe UPE"
**Describe the bug**
We no longer need these titles to be links. We can remove them.
![image](https://user-images.githubusercontent.com/572862/134372819-9bccc271-7d3e-45e4-8836-7c8fe9992b4c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable feature flag by making `WC_Stripe_Feature_Flags::is_upe_preview_enabled()` returns true
2. Go to `wp-admin/admin.php?page=wc-settings&tab=checko

[2021-09-22 15:30] superdav42 opened #1929 "Unable to add bancontact method with UPE from my account -> payment methods"
when adding a new payment method in the my account page with UPE enabled it is not possible to use bancontact.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Account -> Payment Methods -> Add New Payment Method
2. Select bancontact. Enter name and email.
3. On stripe page click Authorize
4. See error

Being able to add a bancontact method.

[2021-09-22 16:08] #1858 closed, assigned to FangedParakeet

[2021-09-22 16:23] frosso commented on #1923
FWIW, the "Size of the button displayed for Express Checkouts" applies to `_wcstripe_feature_upe`.
The "Payment Request Button Height" should no longer apply once we enable `_wcstripe_feature_upe`.

We will be making the next release with `_wcstripe_feature_upe` enabled, but we _could_ still add an `if` condition here to `unset` the `payment_request_button_height` setting when `_wcstripe_feature_u

[2021-09-22 16:26] frosso commented on #1928
Please ensure that they match the updated designs: Igkr3nOx0UoGDlHrsJ4eux-fi-1471%3A70898
![Screen Shot 2021-09-22 at 11 26 14 AM](https://user-images.githubusercontent.com/273592/134383721-7d160a6d-07fb-4f41-93db-6df12e90dacc.png)

[2021-09-22 16:57] superdav42 commented on #1929
I traced the problem to [this line ](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/3332c9346610c7c55160ebf6edd6ec085a24b653/includes/payment-methods/class-wc-stripe-upe-payment-method.php#L202). The problem is `$payment_method->sepa_debit->last4` does not exist so WC_Payment_Token_SEPA fails validation because it does not have a last 4 digits.

I'm not sure the best way to fix thi

[2021-09-22 17:11] dechov commented on #1424
@simplysaru `pm_` IDs can be manually attached to the subscription (relevant doc section [here](https://docs.woocommerce.com/document/subscriptions/add-or-modify-a-subscription/#section-9) I believe) as of [this change](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1331) last year.

[2021-09-22 17:18] frosso opened #1931 "[settings] Enabling/disabling UPE and enabled payment methods"
## Description

When enabling/disabling UPE through the new settings UI, the payment methods should reflect the changes.

When enabling UPE, the enabled/disabled status of the UPE payment methods should be the reflected on the non-UPE ones.
When disabling UPE, the enabled/disabled status of the UPE payment methods should be reflected on the non-UPE ones.

This behavior is present for the "old" set

[2021-09-22 17:40] EvanDotPro commented on #1929
I agree the conversion from bancontact to SEPA IBAN doesn't seem right in this case and that a separate token class implementation makes sense if the validation criteria differs (i.e., no last 4).

[2021-09-22 17:44] diegocurbelo commented on #1919
I think we should keep this issue to the minimum by just fixing the title, so we can merge smaller changes (one PR for the shortcode checkout and another for the blocks version)... Created an issue for order details bug: #1933

[2021-09-22 17:45] FangedParakeet commented on #1929
Yes, I have some thoughts! This is off the top of my head, but I'm somewhat confident about what I'm about to describe.

@superdav42, I don't think you can use `add_token_to_user_from_payment_method` inside `create_token_from_setup_intent`, because if the payment method is Bancontact or iDEAL--that gets converted to a SEPA payment method to be used with recurring payments--the payment method ID on

[2021-09-22 17:51] EvanDotPro commented on #1929
Very informative, thanks @FangedParakeet! This actually clarified a couple of inaccurate assumptions I had made. :)

[2021-09-22 17:51] diegocurbelo opened #1933 "UPE - Incorrect payment method shown in admin order details"
**Describe the bug**

After completing a purchase, the customer order page correctly displays the payment method used, but the admin page for the order always says `Credit Card (Stripe)` regardless of the method used:

<img width="559" alt="Screen Shot 2021-09-22 at 11 48 23" src="https://user-images.githubusercontent.com/407542/134395018-3c06fb6d-5145-44d1-8795-a2260a57329e.png">

<img width="559

[2021-09-22 18:00] EvanDotPro commented on #1933
Oh man, I actually knew this was going to happen but forgot to make an issue for it in the beginning, sorry! Yeah, because we're sharing the one WC payment gateway class for all of the UPE methods, that's what it uses. We'll need to make it use the name of the UPE method class.

(This is actually one reason I originally suggested each UPE method actually being registered as a unique WC payment gat

[2021-09-22 18:01] harriswong opened #1934 "Stripe UPE payment methods "Enabled" states are not reflected on the UI after saved"
**Describe the bug**
The "Enabled" column is not toggled after saving. I checked the DB options table and I can confirm the payment methods are saved. So it's most likely just a UI thing.
ie. after saved, I can see the new payment methods added to the `upe_checkout_experience_accepted_payments` key:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Make sure `WC_Stripe_Feature_Flags::i

[2021-09-22 18:06] FangedParakeet commented on #1929
One last thing, because you guys mentioned creating a separate token class for Bancontact and iDEAL: I added [this extra `$payment_method_type` property](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/class-wc-stripe-sepa-payment-token.php#L36-L41) on `WC_Payment_Token_SEPA`, which gets set [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/devel

[2021-09-22 18:27] #1893 closed, assigned to cesarcosta99

[2021-09-22 19:52] EvanDotPro commented on #1917
Could you point me to where it was decided to go this route instead of not allowing a merchant to enable any UPE methods with missing capabilities in the first place (with a notice explaining why the toggle switch is disabled)? Just curious!

[2021-09-22 19:58] bborman22 commented on #1917
Sure thing! I had gotten this clarification in a meeting so I don't have anything direct to point to, but my understanding was that regardless of what we allow a merchant to enable or disable, it could be possible they end up in a state with a payment method already enabled in settings that didn't already have the capabilities and so this check acts as a failsafe against UPE just blowing up in tho

[2021-09-22 20:26] #1923 closed, assigned to frosso

[2021-09-22 20:28] #1681 closed, assigned to brettshumaker

[2021-09-22 21:37] bborman22 opened #1940 "UPE - Confirm ability to save a SEPA payment method"
While reviewing #1939 there was an issue encountered saving a SEPA payment method using UPE. Initial attempts to reproduce the error were unsuccessful, but wanted to create an issue to follow up on this and confirm that saving a SEPA payment method works using UPE. If this error can not be reproduced and we confirm the ability to save a SEPA payment method using UPE, this issue can be closed.

**S

[2021-09-22 21:38] bborman22 commented on #1940
Further information, the issue only appears when Address line 1 is empty, this may be an issue with error handling on the Add payment method with UPE flow that is not properly catching this error.

[2021-09-22 21:51] ZeeBreaker opened #1941 "Unable to set shipping = null for existing transactions after the shipping update post 4.5.4 ver"
Hi,
Our downstream system do not have support to parse shipping object sent from the payment intent from Stripe.

We have a bunch of transactions that have failed to parse due to stripe adding the 'shipping' address by default starting from 4.5.4 version. We need to set the **shipping =null** for these existing transactions for importing them to the downstream systems.
Please assist on how this ca

[2021-09-22 21:56] #1667 closed, assigned to ricardo

[2021-09-22 21:56] #1787 closed, assigned to reykjalin

[2021-09-22 22:08] reykjalin opened #1942 "Saving SEPA payment method in Blocks with UPE enabled shows incorrect title"
**Describe the bug**

Saving a SEPA payment method in the Block based checkout creates an entry called "Saved token for Stripe" when it should say "SEPA IBAN ending in XXXX":

**To Reproduce**

Steps to reproduce the behavior:

1. Make sure UPE is enabled
1. Add a product to your cart
2. Go to the Blocks checkout
3. Pay with `AT321904300235473204`
4. Go to **My Account** > **Payment Methods** and

[2021-09-22 22:13] reykjalin opened #1943 "Asynchronous SEPA payments aren't updated with UPE enabled"
**Describe the bug**

When paying with an asynchronous SEPA account (`AT321904300235473204` can be used for testing) with UPE enabled the order status is never updated from `On-hold` even though the payment is successful.

**To Reproduce**

1. Make sure UPE is enabled
2. Add a product to your cart
3. Go to the checkout page
4. Select SEPA in the UPE element
5. Pay with `AT321904300235473204`
6. Wa

[2021-09-22 22:19] ricardo opened #1944 "UPE - Error when account is created upon checkout"
Steps to reproduce:
- Enable "Allow customers to create an account during checkout" under **WooCommerce > Settings > Accounts & Privacy**.
- Make sure you're not logged in.
- Add any product to the cart and proceed to checkout.
- At the bottom of the checkout page, enable "Create an account?".
- Procceed with the checkout.
- Notice the following error happens:

<img width="894" alt="Screen Shot 20

[2021-09-22 22:21] harriswong commented on #1943
If this functionality is missing, we may need to do something similar to this: https://github.com/Automattic/woocommerce-payments/pull/1623

[2021-09-22 22:32] ricardo commented on #1850
Related https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1943

[2021-09-22 23:33] #1665 closed, assigned to ricardo

[2021-09-22 23:33] #1785 closed, assigned to ricardo

[2021-09-22 23:38] ricardo opened #1945 "Enable UPE preview and remove feature flag"
Remove the `_wcstripe_feature_upe` feature flag from the code and make sure UPE preview is available to merchants in the next release.

[2021-09-22 23:41] harriswong commented on #1899
I created a revision for the doc. Pending review.

[2021-09-23 00:30] #1850 closed, assigned to bborman22

[2021-09-23 00:30] #1943 closed, assigned to nobody

[2021-09-23 01:18] bborman22 commented on #1933
I just did a quick look in to this and just wanted to add some notes of what I found. First, I must have misremembered and WCPay does not update this title either, so perhaps a more generic title here would be sufficient for MVP? Second was the only workaround I could spot was to override the `get_title` function on UPE gateway, but only when on the admin order details page (called from [here](htt

[2021-09-23 07:06] superdav42 commented on #1929
I have tested if the tokens and payment methods work as things are by just disabling the validation of the last4 digits. It lets me save a bancontact payment method just fine and it works at checkout. So really the issue we need to solve is a display one.
![image](https://user-images.githubusercontent.com/1534605/134466542-370339bd-6033-4209-85fe-282dea489790.png)
The last two methods are banconta

[2021-09-23 12:07] #1944 closed, assigned to ricardo

[2021-09-23 13:11] #1828 closed, assigned to frosso

[2021-09-23 13:59] waclawjacek commented on #1928
@frosso In the above PR, I have only removed the links and vertically centered the list items (screenshots in the PR demonstrate that). Should this PR contain anything else?

[2021-09-23 14:18] EvanDotPro opened #1952 "UPE reloads unnecessarily on block checkout (not on shortcode checkout)"
**Describe the bug**

With using the block checkout with UPE and some other payment method enabled, if UPE is selected, a partial credit card is entered, then the customer selects the other payment method, then re-selects UPE, you'll see that the rendered UPE has been destroyed (losing any unsubmitted input) and has to reload.

**To Reproduce**

- Enable UPE.
- Also enable a non-UPE payment method

[2021-09-23 14:25] EvanDotPro commented on #1933
Fine by me. I imagine that the UPE method used for a transaction is a field we can pull from the Stripe API should we need it in the future.

[2021-09-23 14:56] EvanDotPro commented on #1917
That actually makes perfect sense. There could surely be scenarios we haven't even considered where Stripe unexpectedly _removes_ a capability from an account for some reason, perhaps if a merchant is getting too many chargebacks or is otherwise found in violation of one of the payment providers' TOS  — I don't think I need any more context. :)

Thank you @bborman22!

[2021-09-23 15:00] #1928 closed, assigned to waclawjacek

[2021-09-23 15:31] frosso opened #1953 "Warning message on settings page"
## Description

The settings page shows a Warning:
[code]

It looks like this happens when all the payment methods are disabled and the settings are saved.

Message is displayed here: http://localhost:8082/wp-admin/admin.php?page=wc-settings&tab=checkout

[2021-09-23 15:31] FangedParakeet commented on #1929
I wonder if we can update these labels dynamically by doing something more with the filters we have on `woocommerce_payment_methods_list_item` or `woocommerce_get_credit_card_type_label` that set the SEPA label [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/class-wc-stripe-payment-tokens.php#L347-L363) and [here](https://github.com/woocommerce/woocommerce-ga

[2021-09-23 15:34] frosso opened #1954 "Rename "Stripe UPE" payment method on settings page"
## Description

The Stripe payment method is displayed as "Stripe UPE" when the UPE flag is enabled.

Change its name to "Stripe".

![Screen Shot 2021-09-23 at 10 34 45 AM](https://user-images.githubusercontent.com/273592/134538250-20af706d-548d-496a-8d97-8532756a7215.png)

[2021-09-23 16:10] cesarcosta99 opened #1956 "Add manually capturable property on UPE payment methods"
As mentioned on #1949, we could have a new property in the UPE payment method classes to identify whether that specific payment method is manually capturable or not. That would provide us a way to dynamically treat cases where we need to include or exclude payment methods based on certain conditions. Similar to what we have in the `is_reusable` property below.

https://github.com/woocommerce/wooco

[2021-09-23 16:51] frosso opened #1960 "[old settings] remove `title` when no payment methods"
## Description

Do not show the `title` on `class-wc-stripe-upe-payment-gateway.php` when no UPE payment methods have been enabled.
Instead of shoring `0 payment methods`, show no message at all.

For background: p1632414876235400/1632412788.233900-slack-C02BHNRN6R1

[2021-09-23 18:16] #1954 closed, assigned to Mayisha

[2021-09-23 18:20] #1822 closed, assigned to Mayisha

[2021-09-23 18:23] #1960 closed, assigned to Mayisha

[2021-09-23 19:30] ZeeBreaker commented on #1266
@marcinbot - is there a way to do the reverse? We have a bunch of orders which have shipping address (due to the 4.5.4 update) but our downstream system do not support shipping in the payment request object. How can we set these existing orders to empty shipping?
When we tried with the above script (modified shipping=null) , we are getting this message:
_You passed an empty string for 'shipping'.

[2021-09-23 21:22] #1940 closed, assigned to bborman22

[2021-09-23 21:38] ricardo opened #1964 "Free trial subscriptions require manual renewal when ordered from the block checkout"
**Describe the bug**
The issue was initially referenced in [this comment](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1904#pullrequestreview-762110599).

For some reason, when the order contains a free subscription, the `_requires_manual_renewal` post meta is set to `true`, and the payment method is not set for the subscription.

The goal of this issue is to track down the probl

[2021-09-23 22:52] #1867 closed, assigned to ricardo

[2021-09-23 23:03] diegocurbelo opened #1967 "Check payment menthod title and label"
**Describe the bug**
In some payment method the title and label are not consistent, the idea of this issue is to define for each payment method the desired spelling:

- Label: Credit card / debit card
- Title: Credit card / debit card

- Label: giropay
- Title: Pay with giropay

- Label: EPS
- Title: Pay with EPS

- Label: Bancontact
- Title: Pay with Bancontact

- Label: iDEAL
- Title: Pay with i

[2021-09-23 23:12] #1919 closed, assigned to diegocurbelo

[2021-09-23 23:12] #1933 closed, assigned to diegocurbelo

[2021-09-23 23:44] #1953 closed, assigned to Mayisha

[2021-09-24 00:07] #1914 closed, assigned to frosso

[2021-09-24 00:42] #1967 closed, assigned to EvanDotPro

[2021-09-24 01:39] EvanDotPro commented on #1633
We might have even more variations now with UPE! :smile:

[2021-09-24 13:20] frosso commented on #1934
Fixed by https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1949 - now the settings are correctly displayed and persisted regardless of the status of the "capture" setting.

[2021-09-24 13:20] #1934 closed, assigned to nobody

[2021-09-24 15:41] gglobalstep opened #1974 "[GlobalStep] [Mac] "Fatal error: Uncaught Error" error displayed while adding new page."
## Bug Description:
"Fatal error: Uncaught Error" error displayed while adding new page/editing page.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WooCommerce Stripe Payment Gateway: 5.6.0-test
Wordpress version: 5.8.1

PC:
Mac 10.14.6
Chrome(Version 93.0.4577.82)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plu

[2021-09-24 15:46] gglobalstep opened #1975 "[GlobalStep] Cards UI appears misaligned on "Checkout" page when UPE is enabled."
## Bug Description:
Cards UI appears misaligned with "Popular payment methods" header banner on "Checkout" page when UPE is enabled.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WooCommerce Stripe Payment Gateway: 5.6.0-test
Wordpress version: 5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 93.0.4577.82)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

## Steps To Reproduce:
1. Create

[2021-09-24 15:55] gglobalstep opened #1976 "[GlobalStep] "Save payment information" checkbox overlaps with month/year expiry field on "Checkout" page for "Twenty Twenty-One" theme when UPE is enabled."
## Bug Description:
"Save payment information" checkbox overlaps with month/year expiry field on "Checkout" page for "Twenty Twenty-One" theme when UPE is enabled.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WooCommerce Stripe Payment Gateway: 5.6.0-test
Wordpress version: 5.8.1

## PC:
Windows 10, Mac 10.14.6
Chrome(Version 93.0.4577.82)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

[2021-09-24 18:48] ricardo commented on #1976
Note the credit cards alignment issue is being tackled on https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1975

[2021-09-24 21:59] harriswong commented on #1976
I don't see these in the local environment (chrome, firefox) with the latest `develop`. I have the theme "Twenty Twenty-One" at Version: 1.4.

![image](https://user-images.githubusercontent.com/572862/134743885-79f197cd-c056-4f58-b774-fb7f042064de.png)

I'm going to try loading up a JN test site with the "WooCommerce Stripe Payment Gateway v5.6.0-test plugin".

[2021-09-24 22:12] harriswong commented on #1976
I can't reproduce this with a fresh install using JN and WooCommerce 5.7.1, "WooCommerce Stripe Payment Gateway v5.6.0-test plugin".

[2021-09-25 01:58] ricardo commented on #1964
The same issue happens in WCPay with the same repro steps.

[2021-09-26 02:26] studiohmh commented on #1136
I'm having this issue now and don't understand what the fix was above. All webhooks are failing in Stripe and I'm getting error codes, double checked that the keys were all correct and landed here while looking into it. What is the solution on my end?

[2021-09-27 02:53] Poolee commented on #1905
@juliaamosova, hi I am using 'Stripe Payment Gateway for WooCommerce ( Basic )' by WebToffee, not WooCommerce's own Stripe plugin, so this needs to go back in woocommerce/woocommerce I believe.

WebToffee have already looked at the issue and have confirmed the problem is not with their plugin, but with the [amount] being passed through from WooCommerce.

[2021-09-27 07:06] #1929 closed, assigned to superdav42

[2021-09-27 07:45] gglobalstep commented on #1974
@asumaran @EvanDotPro We are not able to reproduce this issue now on new zip file which is provided on call for testing post

[2021-09-27 08:56] superdav42 commented on #1974
I was able to reproduce it in develop branch with WooCommerce Blocks activated

[2021-09-27 10:08] superdav42 commented on #1942
Seems to be not limited to UPE.

[2021-09-27 12:10] waclawjacek commented on #1976
I also didn't manage to reproduce it on the exact same setup as @harriswong and @gglobalstep.

![Markup on 2021-09-27 at 13:30:33](https://user-images.githubusercontent.com/1759681/134905325-c3a94638-e2d2-4c13-b39d-a1dd449578de.png)

@gglobalstep Could you please retry this and verify this is still happening?

[2021-09-27 14:22] sun commented on #1136
@studiohmh The fix was in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1437 but unfortunately did not make it into the plugin back then. The mistake was corrected in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1656.  Please ensure that you have at least version `5.4.0` of the plugin installed on your site:
https://github.com/woocommerce/woocommerce-gateway-stri

[2021-09-27 17:39] ZeeBreaker commented on #1266
@marcinbot - Thanks, for incoming orders, setting shipping element as null is working fine. We will try setting all the individual address elements to null.
Yes, I have pushed our downstream systems to support shipping element , but it might take a while.

[2021-09-27 18:01] harriswong commented on #1899
Pinged docs guild janitor to review.

[2021-09-27 18:13] brettshumaker commented on #1976
While I couldn't _visually_ reproduce the issue, I can see that the checkbox is overlapping the boundary of the `iframe` container. If the browser is rendering margins from the iframe in a certain way, I can see that it'd be possible for the checkbox to overlap the iframe content.

<img width="613" alt="checkbox-overlapping-iframe-boundary" src="https://user-images.githubusercontent.com/1558827/13

[2021-09-27 18:26] harriswong commented on #1976
The `margin-bottom: 4px` screenshot looks like a good fix. @FangedParakeet , you also looked at this and mentioned something about its iframe. What do you think about this solution?

[2021-09-28 03:23] FangedParakeet commented on #1976
I think this is partly Stripe's fault for letting its own iframe spill out of its container. However, that was the only issue that I had noticed (also, unable to replicate the checkbox getting cramped) and I think adjusting the margin will solve it adequately. Nice one, @brettshumaker, this looks like it's just what the doctor ordered. 👍

[2021-09-28 05:15] ricardo commented on #1964
I tracked down the issue last week and found out that the blocks API is not setting the payment method metadata if the order doesn't require payment ([reference](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/StoreApi/Routes/Checkout.php#L464)).

This causes free trial subscriptions and possibly other types of off-session charges like pre-orders to require manua

[2021-09-28 07:50] anthonywnz commented on #1756
Hello, just wondering if there's any estimated timeline for this being addressed?

We've had this happen a few times on our site now, and we've not identified a good way to actually identify orders where this happens.

Is there anyone else facing this issue that has a workaround or solution to at least identify these orders? I'm surprised that nobody else is reporting this.

[2021-09-28 10:44] waclawjacek opened #1987 "Checkout error notice design"
**Describe the bug**

When checkout fails, e.g. when using card `4000 0027 6000 3184` and the payment fails, an error as follows is displayed on Twenty Twenty-One:

![Markup on 2021-09-28 at 12:38:06](https://user-images.githubusercontent.com/1759681/135071937-9ec4e679-265d-4b8b-b740-c9f8d6672df8.png)

The design doesn't seem very elegant to me (the spacings etc.)

## Adding `<li>`

I have also no

[2021-09-28 10:51] waclawjacek opened #1988 "[old settings] After enabling UPE but before saving, non-UPE settings are still visible"
**Describe the bug**

Irrelevant settings are not hidden with JS depending on "UPE enabled" state.

This is probably not worth implementing at the moment but I wanted to bring this up just in case it is deemed worth adjusting.

**To Reproduce**

1. Go to WC > Settings > Payments > Stripe.
2. Enable **Try the new payment experience (Early access)** but _don't save settings yet_!
3. Scroll to the to

[2021-09-28 11:01] waclawjacek opened #1989 "Selected payment method and bank account not preserved on failure"
**Describe the bug**

If a transaction fails, customer is redirected back to checkout page but selected payment method is not preserved.

In addition to that, the bank account number is also not preserved when paying with SEPA.

With pre-UPE checkout, the selected payment gateway is preserved (didn't test with bank account).

**Expected behavior**

Selected payment method and bank account number a

[2021-09-28 11:10] waclawjacek opened #1990 "Modal height too small"
**Describe the bug**

Height of the 3D Secure modal could be increased to accommodate for the modal's entire contents so no scrollbar is necessary.

I do not know if this also happens in live mode.

**Happens regardless of using UPE.**

**To Reproduce**

1. Go to checkout.
2. Use this card `4000002500003155` and any future expiration date and CVV.
3. See that the modal is a bit too short to fit al

[2021-09-28 12:06] waclawjacek opened #1991 "Generic "error" message is sometimes displayed"
**Describe the bug**

A generic `error` message is sometimes displayed.

**To Reproduce**

* Checkout attempt is made after network connection has been disabled on the machine.
* Page is refreshed while the UPE component (and not the entire checkout page!) is loading (at least in Firefox).

This happens only when UPE is enabled.

**Expected behavior**

A more informative message is displayed.

**S

[2021-09-28 13:20] frosso commented on #1899
@harriswong it looks like we should have a pretty good idea of what the link to this new section will be. What are your thoughts on opening a PR to replace the `?TODO` on the settings page, so it's merged in time for the release?

[2021-09-28 15:52] ricardo commented on #1964
Closed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4854

[2021-09-28 15:52] #1964 closed, assigned to ricardo

[2021-09-28 15:52] colmtroy commented on #1248
@allendav it would be great if this was filterable and/or configurable. I couldn't use this plugin right now on some high traffic WC stores purely it force a cache bypass on our product pages. I imagine many other high traffic WC stores wanting to use this plugin and who don't need payment request buttons would love the option of removing the session on product pages.

[2021-09-28 16:15] harriswong commented on #1899
I'm going to use this link that doesn't exist yet: `https://docs.woocommerce.com/document/stripe/#new-checkout-experience` :D

[2021-09-28 16:25] felipevelzani commented on #1630
We also had the same thing on 4017162-zen.

[2021-09-28 17:45] #1975 closed, assigned to ricardo

[2021-09-28 18:46] harriswong commented on #1899
Documentation reviewed. Updated documentation will be published on Sep 29th UTC+1.

[2021-09-29 06:35] dougaitken commented on #1899
[Docs update published](https://docs.woocommerce.com/document/stripe/#new-checkout-experience)

[2021-09-29 07:38] #1931 closed, assigned to Mayisha

[2021-09-29 08:52] lkraav commented on #1248
If `WC_Stripe_Payment_Request::$_this` was refactored to `public`, it would enable @colmtroy to remove this session action like `remove_action( 'template_redirect', [ WC_Stripe_Payment_Request::$_this, 'set_session' ] )`.

Right now https://github.com/woocommerce/woocommerce-gateway-stripe/blob/fade49f410ab83e296ed0ce24e509d5f39f11f4d/includes/payment-methods/class-wc-stripe-payment-request.php#L1

[2021-09-29 09:06] PopCornCommunication commented on #437
I just had the support of woocommerce. They said that the sentence "credit card / debit card" is not translatable. We must find a way to do it in functions.php

[2021-09-29 09:23] waclawjacek opened #1997 ""Refund failure" critical flow instructions mistake?"
**Describe the bug**

When testing [the "Refund failure" critical flow](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-critical-flows#refund-failure), the notes regarding refund failing are never added to the order.

**To Reproduce**

Follow the above critical flow.

**Expected behavior**

Refund failed note is added/critical flows docs are updated.

**Scre

[2021-09-29 11:06] waclawjacek opened #1998 "UPE and non-UPE modes have separate saved card sets"
**Describe the bug**

Toggling UPE results in a different set of saved cards presented.

This does not seem to affect cards associated with subscriptions.

**Expected behavior**

The same list of cards is presented.

**Screenshots**

![Screen Capture on 2021-09-29 at 13-04-25](https://user-images.githubusercontent.com/1759681/135256729-d15c21f0-f3fc-46ed-8827-ab4260a065b6.gif)

**Environment (plea

[2021-09-29 12:41] #1899 closed, assigned to harriswong

[2021-09-29 13:40] frosso commented on #1989
I also noticed this, I think it would be a nice feature to have for customers, in case the payment method fails multiple times 👍

[2021-09-29 13:42] frosso commented on #1988
If we immediately hide the settings when the UPE flag is clicked, does it mean we should also show the UPE settings on toggle of the UPE flag?

[2021-09-29 14:40] waclawjacek commented on #1988
I think so.

I believe the issue might be more complicated than just adding the necessary JS code - we'd probably also have to change the list of settings registered in PHP to always include all of the fields, and then hide them conditionally with CSS.

An alternative could be to display a message like the one displayed next to the OAuth connect button when you toggle "Enable Test Mode" (something

[2021-09-29 15:21] superdav42 commented on #1998
To be clear they are not separate sets. It is possible to use saved payment tokens created before UPE was enabled but not possible to use payment tokens saved when with UPE after UPE is disabled.

This is because  the classic Stripe gateway uses payment sources but UPE uses payment intents. The newer payment intents API is backwards compatible with payment sources but it doesn't work the other way

[2021-09-29 15:53] FangedParakeet commented on #1998
Just wanna add that I specifically added [this](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/class-wc-stripe-payment-tokens.php#L191-L195) and [this](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/class-wc-stripe-payment-tokens.php#L217-L221) in the function that gets the payment tokens for the non-UPE gateway, so that payment met

[2021-09-29 17:42] EvanDotPro commented on #1989
Unfortunately, I'm fairly certain that Stripe does not currently provide a way for us to hint which method should be pre-selected within the UPE, nor what values to pre-populate the inputs with.

[2021-09-29 18:24] joshuatf commented on #2147
@elizaan36 I see this issue was created a while ago.  Just wanted to check if this note is still needed and if it should be prioritized?

[2021-09-29 18:56] #1917 closed, assigned to FangedParakeet

[2021-09-29 20:01] #1976 closed, assigned to nobody

[2021-09-29 20:55] brettshumaker opened #2000 ""Save Payment Method" checkbox not aligned properly with credit card form when UPE is disabled."
Borrowing (and paraphrasing) from @FangedParakeet as this came up in his review of #1999 :

With the UPE disabled and the Twenty Twenty-One theme activated, the saved payment method checkbox is sitting in a slightly odd, offset position.

![Wonky saved payment checkbox](https://user-images.githubusercontent.com/1558827/135346246-1af18ea6-45c6-4dd2-baad-501315ec8a69.png)
_Slightly offset saved paym

[2021-09-29 21:08] ricardo opened #2002 "[Old settings] Incorrect message: Please save changes before selecting this button"
**Describe the bug**
In a fresh Stripe installation, the message "Please save changes before selecting this button" appears under "Stripe Account Keys" in the old settings page, even when there's no button next to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to **WooCommerce > Settings > Payments > Stripe**.
2. Copy your current publishable and secret keys.
3. Click "Clear al

[2021-09-29 21:40] #1998 closed, assigned to diegocurbelo

[2021-09-29 23:59] frosso opened #2005 "[settings] "Disconnect" functionality"
## Description

The "Disconnect" button deletes the account keys stored in the Stripe settings.

![Screen Shot 2021-09-29 at 6 59 07 PM](https://user-images.githubusercontent.com/273592/135364383-7892b6f3-748b-4996-a00a-37670e1d071e.png)

(use `wp/data` implementation from https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2004 ).

Show a confirmation dialog upon clicking.
![Screen Sho

[2021-09-30 00:12] frosso opened #2006 "[settings] "Missing currency" notice"
## Description
Notice is displayed next to payment method when payment method requires currency added to the store.
Please note that some merchants might be using multi-currency plugins or even WCPay.

Notice should be displayed during UPE onboarding flow and on the settings.

Please consult with UX in regards of functionality.

[2021-09-30 00:18] frosso opened #2007 "[settings] Account setup wizard"
## Description

When an account needs to be connected, we need to show [a wizard](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/807cc10d5febb0c02e232d6add0eba2c333c60c1/client/upe-onboarding-wizard/wizard/README.md) to guide the merchant through the activation.

This will replace [the modal created here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1835) _only_

[2021-09-30 02:25] elizaan36 commented on #2147
I'll close this issue! There a problem with targeting Stripe users so don't think this will ever happen.

[2021-09-30 04:52] gglobalstep commented on #1976
@waclawjacek We are not able to reproduce this issue on new zip file of WooCommerce Stripe Gateway 5.6.0-test.

Sorry for late reply.

[2021-09-30 05:52] #1876 closed, assigned to Mayisha

[2021-09-30 15:49] bborman22 opened #2010 "UPE: Save non-card payment methods from a setup intent"
As we were experimenting with UPE and different combinations of payment methods and paying for free trial subscriptions, it was discovered that we were unable to pay for a free trial subscription using Bancontact. This was alleviated by marking Bancontact as not reusable which was not a problem as this matched the original gateway's functionality. Ultimately it was determined that the issue with t

[2021-09-30 16:24] frosso opened #2012 "SPIKE: get test mode oauth keys"
## Description

The current design shows a desire to automatically fetch the test mode keys when going through the OAuth flow.
Or to automatically fetch the test mode keys when the merchant connected their Stripe account through the OAuth flow.

![2021-09-30 11 34 15](https://user-images.githubusercontent.com/273592/135495412-b3be2878-9494-43fe-86b9-a392c21353e5.gif)

## Questions
- Does the conne

[2021-09-30 16:27] frosso commented on #2012
At first glance it looks like the connect server allows to only get "live" keys depending on a static configuration parameter.
In order to get "test" keys, the configuration would need to be tweaked.

See https://github.com/Automattic/woocommerce-connect-server/blob/master/lib/stripe-client/index.js#L14 & https://github.com/Automattic/woocommerce-connect-server/blob/master/lib/stripe-client/index.

[2021-09-30 16:31] frosso commented on #1827
Added to the board as a spike, might be good to figure this scenario out with UX.

[2021-09-30 16:32] frosso commented on #1809
Added a spike: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2012

[2021-09-30 16:37] frosso commented on #1805
Closed in favor of https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1835

[2021-09-30 16:37] #1805 closed, assigned to nobody

[2021-09-30 16:42] frosso commented on #1827
I just realized - in the original requirements we'll want to show the modal to enter the keys when test mode is enabled and the keys are not present: pc4etw-i9-p2

![2021-09-30 11 40 59](https://user-images.githubusercontent.com/273592/135496533-266bfb5a-1206-4819-80b1-b7a0b1aa0473.gif)

@waclawjacek does this sound acceptable?

[2021-09-30 16:43] waclawjacek commented on #1827
Yep! This prevents the situation where the extension acts as if the user's never used it.

[2021-09-30 16:48] frosso commented on #1809
Closing in favor of the spike

[2021-09-30 16:48] #1809 closed, assigned to nobody

[2021-09-30 16:50] frosso commented on #1827
Thanks for confirming - I'll close this for now.
We'll tackle the account keys form UI here: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1835

[2021-09-30 16:50] #1827 closed, assigned to nobody

[2021-09-30 17:06] waclawjacek commented on #1976
@gglobalstep No worries! Great to hear that. Thanks for giving it another look!

[2021-09-30 18:45] FangedParakeet opened #2014 "UPE - Unit Tests: Saving Payment Methods as Tokens"
**Is your feature request related to a problem? Please describe.**
A journey of 100% test coverage begins with a single assertion. This is one small step towards complete unit test coverage for the UPE gateway and its recently created dependencies.

**Describe the solution you'd like**
Specifically, these functions on `WC_Stripe_UPE_Payment_Method` and its inheritors are missing test coverage:
 -

[2021-09-30 18:50] FangedParakeet opened #2015 "UPE - Unit Tests: Subscriptions"
**Is your feature request related to a problem? Please describe.**
A journey of 100% test coverage begins with a single assertion. This is one small step towards complete unit test coverage for the UPE gateway and its recently created dependencies.

**Describe the solution you'd like**
I would like to have some unit tests that cover Subscription flows with the UPE. I would assume this will largely

[2021-09-30 18:57] FangedParakeet opened #2016 "UPE - Unit Tests: Regular Checkout Edge Cases"
**Is your feature request related to a problem? Please describe.**
A journey of 100% test coverage begins with a single assertion. This is one small step towards complete unit test coverage for the UPE gateway and its recently created dependencies.

**Describe the solution you'd like**
Specifically the following functions on `WC_Stripe_UPE_Payment_Gateway` could use some more comprehensive unit te

[2021-09-30 20:48] ricardo commented on #1820
@superdav42 Have you started with this issue? And if so, do you plan to resume it? Otherwise I could assign myself.

[2021-10-01 12:48] superdav42 commented on #1820
@ricardo I did start before but basically everything I did is no good now. So feel free to take it.
The current work done with subscription free trials is basically the some thing we need to do for pre-orders so it should be easier now.

[2021-10-01 13:24] #1956 closed, assigned to nobody

[2021-10-01 15:49] frosso opened #2019 "Fatal error in `WC_REST_Stripe_Settings_Controller::__construct()`"
**Describe the bug**
Reported in the forums:

[code]

https://wordpress.org/support/topic/version-5-6-critical-error-with-elementor/

**To Reproduce**
Seems to be possibly related to Elementor.
Error is happening when editing pages in Elementor.

**UPDATE:** this is an issue when using "WooFunnels Funnel Builder" together with Elementor, not an issue with Elementor itself.

**Expected behavior**
N

[2021-10-01 15:50] #1765 closed, assigned to frosso

[2021-10-01 20:54] ricardo opened #2021 "Payment Request Button shipping label inconsistency"
**Describe the bug**
If there are no shipping methods configured and a product requires shipping, the "Shipping:" label will appear on the product page, but not on the checkout page. The expected behavior is for the shipping label to not appear at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure there are no shipping methods configured under **WooCommerce > Settings > Shipping**.

[2021-10-01 21:51] frosso commented on #2019
Initial investigation suggested Elementor being problematic.
Installing Elementor alongside with Stripe isn't causing issues to Elementor pages.

Initial reports also included "WooCommerce Conditional Shipping and Payments".
But subsequent reports didn't.

As reports came in, they all had in common a few plugins developed by WooFunnels. More specifically:
[code]

I am looking into this new lead, n

[2021-10-03 13:32] thuautp commented on #2019
also reported in 4343732-zen

[2021-10-04 11:18] wpniall commented on #2019
Also reported in:

- 4341850-zen
- 4341609-zen
- 4341475-zen

[2021-10-04 15:58] #1873 closed, assigned to frosso

[2021-10-04 17:14] frosso commented on #1835
Hey @tommyshellberg , I noticed you picked up this ticket. A few days ago (before https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2004 was getting merged ) I started adding a confirmation modal for test mode here: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2024

Just pointing it out, since it's going overlap with part of the requirements of this ticket :)

[2021-10-04 18:09] #2019 closed, assigned to frosso

[2021-10-04 20:18] voxtermen commented on #1424
Hello!

If I only have cus_ID, can I renew subscriptions?

[2021-10-04 20:22] voxtermen commented on #1424
@dechov Hello! If I only have customer_id (stripe), can I renew woocommerce subscriptions?

[2021-10-04 22:24] NickGreen opened #2029 "Woo Subscriptions with no `src_` token specified are not able to process renewals"
**Describe the bug**
Since approx Oct 1st, WooCommerce subscriptions which don't have a `src_` token specified are unable to process payments. Stripe is returning this message:
[code]
![](https://d.pr/i/wcsdbD+)

**Expected behavior**
In the past, when a subscription doesn't have a `src_` token specified, Stripe will simply charge the default payment method for that customer.

**Environment (pleas

[2021-10-04 23:05] NickGreen commented on #2029
It's my theory that prior to 5.6.0, when that Source token is empty, the plugin simply didn't pass the `payment_method` method parameter. In those cases, Stripe will choose to charge the default payment method.

Some change happened with 5.6.0 where if that field is empty, the plugin passes the `payment_method` parameter with the payment request, with an empty value instead.

I know that there are

[2021-10-04 23:10] NickGreen commented on #2029
We have now verified that rolling back to 5.5.0, with no other changes, results in successful renewal charges for Woo subscriptions with no src token.

[2021-10-04 23:45] harriswong commented on #2012
@superdav42 previously did an OAuth spike (https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1695)/ pc4etw-hW-p2 around Stripe. Following that spike and some testing locally. I think it is not possible to fetch both "live" and "test" keys together. Both would require their own onboarding flow; as in, both would need to go through separate onboarding with 2 different redirect URLs.

[2021-10-05 10:47] #1991 closed, assigned to superdav42

[2021-10-05 12:51] colmtroy commented on #1248
Just some more follow up on this.
Quick aside - I'm seeing quite a few deprecated notices related to `wc_stripe_hide_payment_request_on_product_page` when running 5.6.1 (see below).

If I've just selected that the Payment request button appears on the Cart e.g.
![](https://i.imgur.com/02Gp94W.png)

Why would the plugin need to set a session at all on the product page?

`[05-Oct-2021 14:39:49 Europ

[2021-10-05 16:52] ricardo opened #2033 "Remove rotating credit card brand logos from checkout page"
Internal discussion: p1633447195109500/1633383549.107300-slack-CHG7MTCAF

Some merchants [complained](https://wordpress.org/support/topic/remove-animation-for-stripe-plugin-revert-to-previous-version/) about the recent change in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1979, so we want to revert that and remove the credit card icons altogether.

[2021-10-05 19:05] brettshumaker opened #2035 "`create_payment_token_for_user()` visibility and parameters mismatch."
In [`class-wc-stripe-upe-payment-method-cc.php`](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-stripe-upe-payment-method-cc.php#L112-L124) it's `public`, but in [`class-wc-stripe-upe-payment-method.php`](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-stripe-upe-payment-method.php#L2

[2021-10-05 22:09] frosso commented on #1874
Split this work in multiple PRs:
- Checkbox alignment fix: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2028
- Manual capture in settings payment methods list: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2034
- Manual capture in onboarding: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2026
- Payment method capability status (both onboarding an

[2021-10-05 22:24] harriswong commented on #2012
@jarekmorawski, I am still waiting for a response from Stripe, but I think "live mode" and "test mode" need their own redirection. If this is the case, "Enable test mode" won't be able e to fetch the keys underneath. Should "Enable test mode" open up a `<div>` which has a button to redirect user to onboarding? Similar to this one:
![image](https://user-images.githubusercontent.com/572862/136110631

[2021-10-05 22:35] frosso commented on #2012
FWIW, at this time we're showing a modal to enter the missing account keys when the merchant wants to enable test mode and the test keys are not present (we're showing the same modal when the merchant wants to enable "live" mode and the "live" keys are not present).

Confirmation modal skeleton implementation: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2024
Account keys form im

[2021-10-05 22:38] harriswong commented on #2012
Popping open a modal with instructions on how to get the test key may be less confusing to redirect them to the "Stripe connect"'s onboarding flow page again.

[2021-10-06 05:50] asumaran opened #2039 "Stripe's payment method title is cleared after submitting the Stripe settings form *after* disabling UPE."
**Describe the bug**
Stripe's payment method title is cleared after submitting the Stripe settings form *after* disabling UPE.

**To Reproduce**
- Go to WooCommerce > Payments > In "Stripe – Credit Card (Stripe)" row click "Manage"
- Check "New checkout experience" option then click "Save changes"
- Without refreshing the page. Uncheck "New checkout experience" then click "Save changes"
- Without

[2021-10-06 15:14] LevinMedia commented on #2005
@frosso @Mayisha

Whether the page should be refreshed upon confirmation, to show the onboarding again (I'm assuming so, but better confirm)

Yes to both of these questions

cc: @jarekmorawski

[2021-10-06 15:55] #1997 closed, assigned to superdav42

[2021-10-07 04:03] jkohlbach commented on #2033
Hi @ricardo "and remove the credit card icons altogether." was going too far ...

From the original complaint thread people just didn't appreciate the switcharoo of going from static icons to animated without having a say in it or an option to revert. It caused checkout display issues.

Can you please re-instate the static icons as they were?

[2021-10-07 13:50] frosso opened #2045 "fix: tooltip component on small screens"
**Describe the bug**
When the tooltip component is positioned at the edge of the screen, it can get cut off

![Screen Shot 2021-10-07 at 3 44 57 PM](https://user-images.githubusercontent.com/6723003/136396808-cf0e9f18-78a1-4ba1-99bf-8ef270e94d67.png)

**To Reproduce**
- Ensure you have the `_wcstripe_feature_upe_settings` flag enabled
- Go to http://localhost:8082/wp-admin/admin.php?page=wc-settin

[2021-10-07 14:18] #1676 closed, assigned to tommyshellberg

[2021-10-07 14:28] pjv commented on #2033
Yes please. Static icons were not broken, didn’t need to be fixed.

[2021-10-07 15:30] #2016 closed, assigned to FangedParakeet

[2021-10-07 16:19] #1875 closed, assigned to frosso

[2021-10-07 16:23] frosso opened #2046 "fix: console error on the payments settings screen"
**Describe the bug**
There is a console error on the "Payments" settings screen generated by our plugin.

**To Reproduce**
- Ensure you have the `_wcstripe_feature_upe_settings` flag disabled
- Ensure you have UPE checkout enabled and also a couple of payments methods enabled there
- Go to http://localhost:8082/wp-admin/admin.php?page=wc-settings&tab=checkout
- In the console there is an error `Un

[2021-10-07 16:33] frosso opened #2047 "fix: validation error on settings save"
**Describe the bug**
Settings are not saved when I _don't_ provide a "short" statement descriptor and the "Add customer order number to the bank statement" checkbox is un-checkeched, the validation fails.

![Screen Shot 2021-10-06 at 2 15 31 PM](https://user-images.githubusercontent.com/273592/136268340-184ded6c-f385-4f17-b425-79ac879eb57b.png)

**To Reproduce**
- Ensure you have the `_wcstripe_fe

[2021-10-07 16:47] simonkoehler commented on #2033
Same here. Bring them back. They are important for the shops conversion rate.

[2021-10-07 19:46] frosso commented on #1874
All merged, closing

[2021-10-07 19:46] #1874 closed, assigned to frosso

[2021-10-07 21:45] jkohlbach commented on #2033
**Another reason:** It might also be breaking terms with payment processors to not be displaying the icons as someone pointed out in this thread: https://wordpress.org/support/topic/static-icons-not-showing-on-5-6-2/

I've also added code there to re-add in case any store owners stumble across this ticket.

[2021-10-07 21:53] #1812 closed, assigned to waclawjacek

[2021-10-07 22:12] frosso commented on #1727
I come from the future. It looks like there's no "dev mode" equivalent.

[2021-10-07 22:12] #1727 closed, assigned to nobody

[2021-10-08 11:27] ilearnio opened #2057 "Google Pay button doesn't work because sends incorrect POST request"
**Describe the bug**

When I try to pay from product page using Google Pay button, I see 2 kinds of errors:

1) `"The Payment Request button is not supported in Ukraine because some required fields couldn't be verified."` and `"Billing Street address is a required field."`.

   These are shown because you are sending POST request that contains all the needed data for shipping address, but not send

[2021-10-08 14:16] #2046 closed, assigned to frosso

[2021-10-08 14:25] jbouganim opened #2058 "Added filters to swap out credentials/webhook details based on cart/order data"
**Is your feature request related to a problem? Please describe.**
We would like the ability to add a separate plugin that allows us to use multiple stripe accounts within one site. Currently, this cannot be achieved without modifying the original Stripe plugin.

**Describe the solution you'd like**
Add a couple of filters added to allow the swap of headers/webhook.

**Describe alternatives you've

[2021-10-08 14:43] #2015 closed, assigned to FangedParakeet

[2021-10-08 16:57] #1783 closed, assigned to harriswong

[2021-10-08 17:07] harriswong commented on #1863
@jarekmorawski Should the text `Connect or create a Stripe account to accept payments directly onsite..` be different since there is no "connect" or "create" when the user manually entering keys?

[2021-10-08 17:52] #2010 closed, assigned to FangedParakeet

[2021-10-08 17:52] #2035 closed, assigned to nobody

[2021-10-08 19:55] #1863 closed, assigned to harriswong

[2021-10-08 20:02] brettshumaker commented on #2014
Updating this to say that since #2052 was merged in, the only method left out of this list to test is `create_payment_token_for_user`.

[2021-10-08 20:16] #2000 closed, assigned to rafaelzaleski

[2021-10-08 20:46] frosso opened #2063 "[settings] UPE feature flag design update"
## Description

In the newest designs, it looks like the UPE feature flag changed from being displayed in a banner to being displayed as a chackbox.
(please confirm with UX) checking the checkbox should redirect to the UPE onboarding wizard.

![Screen Shot 2021-10-08 at 3 46 48 PM](https://user-images.githubusercontent.com/273592/136622977-4ed6f250-16a7-4aac-b2fd-b5203a219b7c.png)

## Questions
-

[2021-10-08 20:55] frosso commented on #1889
Looks like I implemented this in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1937 and forgot to link this.
Closing.

[2021-10-08 20:55] #1889 closed, assigned to nobody

[2021-10-09 03:24] galbaras opened #2065 "Unnecessary resources and HTTP requests on product and/or cart pages"
v5.6.2 loads an external script from Stripe, as a well as several "local" scripts and a "local" stylesheet on product pages and on the cart page. These all load synchronously.

When the page loads, there are additional requests for documents and GIF images.

When disabling the `Payment Request Buttons` options, some of these requests disappear, but not all of them.

When enabling the `New checkout

[2021-10-09 03:31] ricardo commented on #2033
Also copying my response from the forum thread here:

Thanks for the feedback and apologies for the inconvenient change.

This change was mainly introduced because of the (early access) new checkout experience, which can offer multiple Stripe payment methods under the same payment gateway option on the checkout page.

Other than the inconsistency with that, we also had another issue where the icon

[2021-10-11 07:28] Hamody78 commented on #2033
Hi
Please, I copied the code and paste it in css option on customization page but it did not work,
Please tell me, where I could put this code?
thank you

[2021-10-11 08:18] joashrajin commented on #2065
Just adding that I am able to replicate this behaviour on a site with just StoreFront (3.9.1), WooCommerce (5.7.1) and WooCommerce Stripe Gateway (5.6.2). I also have the Payment Request Buttons and New checkout experience disabled. Not sure if this is the intended behaviour.

https://user-images.githubusercontent.com/16253818/136756182-2b54eb63-8d22-4a45-8e53-12df37b83913.mp4

[2021-10-11 13:02] melindahelt commented on #1095
Requested at https://wordpress.org/support/topic/activar-opcion-de-cobro-pro-medio-de-oxxo/

[2021-10-11 19:28] frosso opened #2066 "Add Oxxo & Boleto to UPE"
**Is your feature request related to a problem? Please describe.**
Add Oxxo & Boleto payment methods to the UPE.

Please ensure that:
- They work with the "new" and "old" settings (the new settings need to be configured with some icons & descriptions @ https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/payment-methods-map.js )
- They work when enabling/disabling the UPE

[2021-10-11 19:57] jrick1229 opened #2067 "Alipay should support MYR"
**Describe the bug**

Alipay supports 11 currencies, but our integration is missing **MYR**: https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-gateway-stripe-alipay.php#L97-L120

Stripe documentation: https://stripe.com/docs/payments/alipay#supported-currencies

**Expected behavior**

In line with Stripe's documentation, we should also be allo

[2021-10-12 12:55] luismgl commented on #1294
Hi Kai,
thanks for developing this plugin. Although it's not an ideal solution since we need to trust the client, this would work for us right now.

Just one thing, we installed the plugin and it didn't have any effect when purchasing a subscription via SEPA. The subscription is still On Hold. I see the code hasn't been updated since 2018, is there any chance you could update it or give me some in

[2021-10-12 13:22] kmindi commented on #1294
THe code is still working, no update needed. You need to make sure autocomplete orders plugin (from woocommerce) is already set up to really autocomplete orders at all (in my case for subscriptions I set it to autocomplete virtual orders). I'm happy if you create a ticket at my plugin repo to not create a discussion here.

[2021-10-13 07:38] #1987 closed, assigned to superdav42

[2021-10-13 09:02] jerne36 commented on #1167
Any news about this issue??

[2021-10-13 21:24] #2014 closed, assigned to brettshumaker

[2021-10-14 12:38] BrentOzar opened #2069 "Payment failing with error"
**Describe the bug**
My payments are going through fine, including renewal payments, except for one user.

When one of my users tries to check out with an early renewal of a WooCommerce subscription, using a different credit card than they'd initially used, they get an error:

"Sorry, we are unable to process your payment at this time. Please retry later."

In the Stripe plugin debug logs and in m

[2021-10-15 03:58] Poolee commented on #1905
@juliaamosova, please review!

[2021-10-15 13:24] aheckler commented on #1601
4367478-zen, though my understanding is that this is probably due to a server or load balancer configuration, not so much anything wrong with our code?

[2021-10-16 18:20] PaulSchiretz commented on #2065
Hi there,

I have the same issue on my site, just a quick look into the code shows the issue very clearly:

File: /includes/class-wc-gateway-stripe.php Lines 405 to 416

[code]

! is_product() basically means whatever option is set is not taken into account just continue to enqueue the scripts on the product pages.

From my understanding it should be something like this:
[code]

Would be really ni

[2021-10-17 22:44] reykjalin commented on #1830
I've started looking into this but haven't found a solution. I think I've tracked down _why_ this is happening though. The key is this console error:

<img width="1694" alt="image" src="https://user-images.githubusercontent.com/13835680/137647440-65e4cb76-1bdc-471d-9a50-a4608671cf27.png">

In essence; we can't recreate the payment request unless we also destroy and recreate the `PaymentRequestButt

[2021-10-18 08:36] neilmccreadie commented on #1196
another instance in 4371241-zen

**which payment method was being used**

SOFORT

**was there a chargeable source? what's the timestamp?
was the chargeable source later cancelled? what's the timestamp?**

Order was cancelled exactly 6 hours after initial order.

**were there any failed webhooks related to the charge?**

Uncertain

**does the merchant use a webhook signing secret?**

Yes, have sugg

[2021-10-18 11:03] tommyshellberg commented on #1835
This is about 90% done but could use some polish and another test before a PR review is done. Pushing up what I have as a Draft PR.

[2021-10-18 15:05] tommyshellberg opened #2075 "Settings App Doesn't Refresh After Disconnecting(clearing) or saving Account Keys"
**Describe the bug**
Two scenarios can see this bug:

1. You disconnect the Stripe account by clearing the keys (being implemented in #2005)
2. You add keys to a previously disconnected setup (being implemented in #1835)

The problem seems to be here:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/settings/index.js#L32

The logic to show/hide the Stripe connection m

[2021-10-18 20:40] FangedParakeet commented on #1857
Re-opening this mysterious issue, because I have been able to repeat this scenario again slightly more reliably while testing #2071. This bug occurs when a user has saved SEPA payment methods and adds a new payment method. For some reason the SEPA payment methods are duplicated beyond the `posts_per_page` threshold, which causes us to [exit before querying Stripe for new saved payment methods](htt

[2021-10-19 02:36] galbaras commented on #2065
That's a good idea. Thank you, @PaulSchiretz .

In addition, you could also include a filter, so that theme/plugin developers can add or remove conditions. So basically this:

[code]

Plugin team, please action this soon.

[2021-10-19 03:39] ricardo opened #2078 "UPE - Fatal error when changing payment method for subscription"
Internal ref: p1634091616216900-slack-C7U3Y3VMY

**Describe the bug**
When changing the payment method as a shopper for a subscription with UPE enabled, a fatal error occurs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure you have WooCommerce subscriptions installed.
2. Ensure you have UPE enabled.
3. As a merchant, create a subscription product.
4. As a shopper, purchase the

[2021-10-19 03:40] reykjalin commented on #2078
Proposed fix is to re-introduce the `create_token_from_setup_intent()` function that was removed in https://github.com/woocommerce/woocommerce-gateway-stripe/commit/66ecaa434d556c0e47cf9e1e44a04006a9ebac8d.

[2021-10-19 04:24] reykjalin opened #2081 "[GlobalStep - 5.7.0] "Sign Up Now" button becomes disabled after enabling UPE and "Bancontact" as payment method."
# Bug Description:
"Sign Up Now" button becomes disabled after enabling UPE and "Bancontact" as payment method.

# Environment:
Woocommerce Version : WooCommerce 5.8.0
WooCommerce Stripe Payment Gateway: 5.7.0-test
Wordpress version: 5.8.1

# PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.81)
Firefox(Version 93.0)
Safari: v14.1.2

# Test Instruction link:

https://github.com/woocommerce/wooc

[2021-10-19 04:34] reykjalin commented on #2081
I was able to reproduce this and see the following error in the JS console when I click the "Sign up now" button:

[code]

<img width="1704" alt="image" src="https://user-images.githubusercontent.com/13835680/137844376-d9559fda-6e66-4043-9a84-12d8ca3050c0.png">

My guess is that this is related to the options we pass in to the UPE element created here:

https://github.com/woocommerce/woocommerce-g

[2021-10-19 16:41] #1846 closed, assigned to nobody

[2021-10-19 18:50] cesarcosta99 opened #2082 "[settings] Provide accurate info about webhook monitoring date"
## Description

Under the new Stripe's Gateways UI, the webhook monitoring date/time is hardcoded and needs to match the information from the server.

![image](https://user-images.githubusercontent.com/10233985/137972169-336b65a6-8fe8-42a1-b6b4-8ca0dabd4e9c.png)

[2021-10-20 05:26] #1630 closed, assigned to nobody

[2021-10-20 20:43] cesarcosta99 opened #2083 "[settings] Add fraud prevention section"
## Description

Create the new Fraud prevention section in the settings to allow the merchant to manage their security options.

![image](https://user-images.githubusercontent.com/10233985/138168891-c14923a3-f513-4536-a8ff-962320d26891.png)

## Questions

- Where links should point to?
- What are the tooltip messages?

## Acceptance criteria

- UI matches designs (screenshots above might be outdat

[2021-10-20 21:01] cesarcosta99 opened #2084 "Add CAPTCHA to prevent fraud"
## Description

Add CAPTCHA to protect UPE transactions from fraudulent activity.

Must be addressed after #2083, refer to it for more context.

## Questions

- What CAPTCHA solution to use?
- Where the CAPTCHA should be displayed (e.g. checkout)?

## Acceptance criteria

- Display it only if it's enabled in UPE settings **and** corresponds a suspicious activity.

[2021-10-20 21:10] cesarcosta99 opened #2085 "Limit transactions per day"
## Description

Add threshold of transactions per day based on what the merchant informs in the settings.

Must be addressed after #2083, refer to it for more context.

## Questions

- What's the messaging to the shopper when the limit is reached?

## Acceptance criteria

- Apply limitation when it's enabled in the settings only
- Allows transactions until it reaches the amount of transactions inf

[2021-10-21 04:32] csmcneill opened #2087 "Cart prices for tax-inclusive product and shipping is not reflected in Apple Pay or Google Pay"
**Is your feature request related to a problem? Please describe.**
When a site has taxable shipping and product prices that include tax, there is a separate `Tax` line item in Apple Pay and Google Pay. Because this line item is not present on the cart, this creates a discrepancy between the two screens, which can cause confusion for merchant and customer alike.

Cart prices where a product price i

[2021-10-21 10:26] mikejolley commented on #2088
I've done some debugging and this appears to be a bug in the Stripe extension. With that option disabled, this should return false:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/8ffd22aff3b06eda02a1ae2fd8368b71450b36a9/client/blocks/payment-request/index.js#L26-L28

But it does not. For some reason, it's not using the correct configuration. As far as Express Payments are aware, S

[2021-10-21 17:58] cesarcosta99 opened #2089 "[settings] Design inconsistency in modal"
## Description

There's some inconsistency with the spacing between the design and the UI of the modal that confirms whether the merchant wants to disable the specified payment method on checkout. The button color should also reflect the "dangerous" behavior.

<table>
<tr>
<td>Current</td>
<td>Expected</td>
</tr>
<tr>
<td>

![image](https://user-images.githubusercontent.com/10233985/138330569-e6ce

[2021-10-21 18:46] LevinMedia commented on #2063
@frosso @RafaelFunchal

Affirmative 👍

[2021-10-21 18:47] frosso commented on #2063
@LevinMedia thanks for confirming!

- Does the redirect happen immediately after saving or immediately after checking it?
  - If it happens immediately after checking the checkbox, is it acceptable to _not_ save the pending changes on the settings?

[2021-10-21 18:55] #2005 closed, assigned to Mayisha

[2021-10-21 19:50] #2078 closed, assigned to nobody

[2021-10-21 21:48] cesarcosta99 opened #2090 "[settings] Add pending activation flow/notice"
## Description

Add the pending activation notice to the payment methods list. Notice should be displayed during UPE onboarding flow and in the settings. The pending activation status is based in the account capabilities.

The flow/notice consists in:

1. Show a modal when the merchant tries to enable the payment method that requires activation
![image](https://user-images.githubusercontent.com/10

[2021-10-21 21:56] LevinMedia commented on #2063
On second thought - that doesn't really make sense, it seems like the first time around it should be a button that launches the experience, then after it's set up, it can be toggled on or off with the check mark - cc @jarekmorawski

[2021-10-21 22:28] cesarcosta99 opened #2091 "[settings] Add payment fees pill"
## Description

Add the payment fees pill to the payment methods list. Pill should be displayed during UPE onboarding flow and in the settings.

![image](https://user-images.githubusercontent.com/10233985/138365178-a1989949-c64d-406d-8ea8-cb9790c2643f.png)

## Questions

- Is there a reference for all the payment methods fees values?
- Do we need to provide a tooltip or something else to make the

[2021-10-21 23:16] cesarcosta99 opened #2092 "[settings] Fix all "todo" links"
## Description

Add a useful link to all links that are broken and need a valid URL. Here's a list (amount of links that need to be repaired in `()`):

1. UPE opt-in banner (1)
"Learn more"
![image](https://user-images.githubusercontent.com/10233985/138368270-324b2065-fb80-4dfe-bfa2-626d3f1760e6.png)
2. Onboarding flow (2)
http://localhost:8082/wp-admin/admin.php?page=wc_stripe-onboarding_wizard
!

[2021-10-21 23:50] cesarcosta99 commented on #2012
Closing it since all the acceptance criteria seem to have been accomplished 👍 Feel free to re-open it if there's still research/work to be done.

[2021-10-21 23:50] #2012 closed, assigned to harriswong

[2021-10-22 07:25] jarekmorawski commented on #2063
@LevinMedia I've thought about it hard while workin on this part of the experience and couldn't figure out how to fit in there a button that would later turn into a checkbox. It seemed logical to me to let folks enable and disable the new experience in exactly the same way. Also, checking a box shows an intent ("I want to enable the new UX") and after the stepper, people will see the end result (t

[2021-10-22 08:25] reykjalin opened #2093 "Blocks: Errors during checkout are duplicated"
## Describe the bug

When errors happen during checkout in the Checkout Block the errors are duplicated.

## To Reproduce

1. Add a product to your cart.
2. Go to a Checkout page that has the Checkout Block
3. Checkout with `4000000000003220`
4. Fail the 3DS authentication
5. Note that the error is duplicated

Alternatively checkout with a failure card (e.g. `4000000000009987`) and when checkout f

[2021-10-22 08:30] reykjalin opened #2094 "UPE: Failing 3DS authentication with a saved card and retrying the payment results in an incomplete payment"
## Describe the bug

When you fail the 3DS authentication and try the payment again with the same 3DS card; the second payment will always fail and not go through 3DS, resulting in the payment having a status of `incomplete` in the Stripe dashboard.

This happens both in Block-based and Shortcode-based checkouts.

## To Reproduce

1. Save `4000000000003220` as a payment method to your account
1. A

[2021-10-22 14:18] frosso commented on #2063
@jarekmorawski it's no problem to convert the experience to a checkbox.
But when does the stepper come into play? Does the user get redirected after checking the checkbox?

If that's the case, are there concerns that the redirect would "break" the user's expectations when checking a checkbox? (i.e.: the user is _just_ checking a checkbox, not clicking on a link)
What would happen to the rest of th

[2021-10-22 14:46] #1802 closed, assigned to diegocurbelo

[2021-10-22 20:02] cesarcosta99 opened #2098 "[settings] Remove provide feedback option"
## Description

Remove the provide feedback option in the payment method list. Once we don't have a feedback-specific survey, keeping the current survey only for when disabling UPE.

![image](https://user-images.githubusercontent.com/10233985/138515778-ef02d8dc-c621-46a3-93cd-9d6075168235.png)

## Acceptance criteria

- Provide feedback option is no longer displayed

[2021-10-22 21:57] helgatheviking opened #2099 "Undeprecate wc_stripe_hide_payment_request_on_product_page"
**Describe the bug**
The Name Your Price plugin needs this filter to exist in order to disable the payment request buttons conditionally on products where Name Your Price is enabled. The admin UI feature that has been introduced cannot account for this.

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/68d94d8886507c2620dff5a3b1df3112836dbad6/changelog.txt#L31

**To Reproduce**
Steps

[2021-10-24 23:11] nerrad commented on #2102
Whoever picks this up, it'd be good to investigate if this is something that should be fixed at the Checkout block level or in a payment method extension. I'm thinking the latter, but it's still possible there are some needs the payment method will have from the Block payment method API.

[2021-10-25 15:44] opr commented on #2102
I am unable to reproduce this - https://www.loom.com/share/be53bf44a49c4cbb9d03115a36d5eff9

@Aljullu please would you try again with checkout i2 and see if this is solved now?

I notice the error notices are doubled up though so I will investigate this.

[2021-10-25 16:02] Aljullu commented on #2102
That's weird, I can consistently reproduce in Firefox and Chrome:

https://user-images.githubusercontent.com/3616980/138730211-aad9073c-e25b-48b7-ab97-f4e220cd0f3e.mp4

I tested in `trunk` and uploading the Stripe Payment Gateway, with a virtual and a physical product, and in all cases it happened. :confused:

[2021-10-25 17:00] #2045 closed, assigned to rafaelzaleski

[2021-10-25 17:04] #2047 closed, assigned to cesarcosta99

[2021-10-25 22:42] reykjalin commented on #2099
Hi @helgatheviking! Thank you for bringing this to our attention!

First of all, I just want to make one thing clear; we do not plan to remove the filters any time soon, even though they are deprecated. You don't need to worry about the Name Your Price plugin losing this functionality to hide the PRBs.

The filters are intended as a way for merchants to choose general locations to display the PRBs

[2021-10-25 23:24] helgatheviking commented on #2099
The current filters are a short term patch for me, but they work perfectly for what I need right now.

The front-end scripts do not support me dynamically setting a custom price that can be sent to Google/apple so for now it's better for me to remove the buttons entirely via filter.

I think there's always going to be a need for conditionally disabling the buttons based on the specific _$product_

[2021-10-26 04:46] #1830 closed, assigned to reykjalin

[2021-10-26 09:31] jacoswan opened #2100 "When editing orders Stripe shows as a duplicate of other methods"
**Describe the bug**

Not entirely sure if a Stripe or PayPal Payments bug, because it needs both to reproduce. When editing an order that was paid with PayPal Payments the Stripe option in the Payment Method dropdown is also named PayPal.

**To Reproduce**

Steps to reproduce the behavior:
1. Make sure Stripe and PayPal Payments are active
2. Complete a purchase with PayPal Payments
3. Go to the

[2021-10-26 10:37] nabeel-s commented on #457
Today Stripe announced on Twitter that Klarna is available on Stripe now. Will this be available in the WooCommerce Stripe plugin soon?

[2021-10-26 13:12] opr commented on #2102
I've been debugging this, and I can see that _sometimes_ the  Stripe `source` that gets `POST`ed to the Checkout endpoint is the same for both `4000000000000101` and `4000002500003155` - if you follow the testing instructions, but manually input the card numbers rather than copying and pasting, then the card requiring 3DS works perfectly every time.

For some reason, the `sources` endpoint at stri

[2021-10-26 15:11] sodecos commented on #1207
+1

[2021-10-26 15:25] colmtroy opened #2101 "Deprecated notice in debug logs for `wc_stripe_show_payment_request_on_checkout`"
**Describe the bug**
Deprecated notice in debug logs for `wc_stripe_show_payment_request_on_checkout`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable `WP_DEBUG_LOG`
2. Configure Payment Request locations in WooCommerce -> Settings -> Payments -> Stripe
3. Select "Cart" from available options

**Expected behavior**
No noise in debug logs

**Actual behavior**
[26-Oct-2021 17:18:30 Europ

[2021-10-26 15:31] Aljullu commented on #2102
You're right! It looks like waiting for some time or updating the numbers manually solves the issue.

I didn't research it, but if you think the issue is in Stripe, I would say go for it and transfer the issue.

[2021-10-26 17:14] #2085 closed, assigned to nobody

[2021-10-26 17:14] #2084 closed, assigned to nobody

[2021-10-26 17:17] cesarcosta99 commented on #2083
Closing it because this is actually part of a WooCommerce Payments project. If this becomes part of the roadmap, we can reopen it, including the related issues above.

[2021-10-26 17:17] #2083 closed, assigned to nobody

[2021-10-26 21:51] csmcneill opened #2103 "Tax information not passed to Stripe dashboard"
**Describe the bug**
When a taxable purchase is made in Stripe, only the order total is passed to Stripe. This does not include any separation of tax values that are included in the order total.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new taxable product.
2. Navigate to WooCommerce > Settings > Taxes and set a tax rate.
3. Ensure the WooCommerce Stripe Payment Gateway is ins

[2021-10-27 01:41] ricardo opened #2104 "Non-UPE pre-orders with charge upon release have a blank payment method name"
**Describe the bug**
Non-UPE pre-orders with charge upon release have a blank payment method under the edit order page.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure [WooCommerce Pre-Orders](https://woocommerce.com/products/woocommerce-pre-orders/) is installed and active.
2. Create a pre-order product with charge upon release:
  a. As a merchant, navigate to Products > Add new.

[2021-10-27 01:47] #2089 closed, assigned to rafaelzaleski

[2021-10-27 09:59] PPjev commented on #2033
functions.php file of your theme

[2021-10-28 00:42] asumaran commented on #2104
@ricardo after my comment https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2086#issuecomment-953407962 I realized this issue is actually related to https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2039 I was able to reproduce this issue after clearing the Stripe's title and description

<img width="660" alt="Screen Shot 2021-10-27 at 7 42 15 PM" src="https://user-imag

[2021-10-28 05:05] ricardo commented on #2104
Ah gotcha, that's why then!

So related: #2039

[2021-10-28 05:49] reykjalin commented on #2101
This filter is deprecated — the warning in the debug log is there to encourage merchants to use the settings UI instead of the filters.

To reduce the noise in your logs please don't use the filter to control where the payment request buttons are displayed.

This could also be because a theme or plugin is using the filter. That aspect of this is being discussed in #2099 .

I'm closing the issue, b

[2021-10-28 05:49] #2101 closed, assigned to nobody

[2021-10-28 05:51] reykjalin commented on #2100
My gut feeling is that this is a bug in the PayPal extension, but I'm not sure so I'm not closing this issue yet.

[2021-10-28 05:58] reykjalin commented on #1769
Just as an idea on how to potentially solve this:

Could we send a request for the cart and only create the payment intent after we receive that response? We have an AJAX endpoint set up that I believe should be able to do this properly 🤔

[2021-10-28 06:02] reykjalin commented on #2081
I'm no longer able to reproduce this in `develop`. Not sure why. I think I'll close this unless we see this happen again.

[2021-10-28 06:02] #2081 closed, assigned to nobody

[2021-10-28 11:47] colmtroy commented on #2101
hey @reykjalin
I don't use the `wc_stripe_show_payment_request_on_checkout` anywhere.
I see it's still being reference here
https://github.com/woocommerce/woocommerce-gateway-stripe/blob/807cc10d5febb0c02e232d6add0eba2c333c60c1/woocommerce-gateway-stripe.php#L320

Is that the cause of the issue?

[2021-10-28 19:35] reykjalin commented on #2101
That should only be run once at most — whenever the UI settings haven't been configured. The settings are updated after the first run of that piece of code and so this shouldn't be triggered again. You should see no more than 1 logged instance of using the filter from this.

We apply the deprecated filters there to ensure that if a merchant used the filters in the past those settings are preserved

[2021-10-28 21:04] colmtroy commented on #2101
@reykjalin
I reviewed #2099 and I don't use Name Your Price or any other plugin/theme code is calling that filter (i grep'd the entire wp codebase to be 100% sure).

When I load a single product page,`should_show_payment_request_button()` seems to be called each time
https://github.com/woocommerce/woocommerce-gateway-stripe/blob/59cf1d4f19f413cb4e64cad03971adbd081a8e6a/includes/payment-methods/cla

[2021-10-28 21:17] colmtroy commented on #2101
@reykjalin and of course I just realized I'm now reporting issues with a different filter ( `wc_stripe_hide_payment_request_on_product_page` is the one that's relevant to my last comment rather than the original one `wc_stripe_show_payment_request_on_checkout` )

So in addition to the new notice I just spotted in my last comment, I can re-create the original one I reported simply by refreshing the

[2021-10-29 07:25] reykjalin commented on #2091
@frosso I'm picking up this issue and see that the fees were hidden behind a feature flag in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1890. Can we just disable that feature flag? And what I mean by that are the fees correct as soon as we disable the flag or will they have to be corrected? 🤔

[2021-10-29 07:28] reykjalin commented on #2091
🤦‍♂️  I completely missed this part of the code that makes this _very obvious_:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/5d841445e1361848ba0a22acdc25f80d1c2f2828/client/components/payment-method-fees-pill/index.js#L11-L13

So let me turn the question into this:

Can I just remove the following webpack config after the fees have been correctly fetched and displayed?

https://

[2021-10-29 08:02] reykjalin commented on #2091
On retrieving the fees — I'm not sure how to actually accomplish that. I don't see anything in Stripe's API documentation that indicates that you can retrieve the fee associated with each payment method.

I'm not sure how feasible it is to implement this without manually specifying the fees Stripe charges for each transaction. I'll reach out to Stripe to ask about this 👍

[2021-10-29 14:05] frosso commented on #2091
Yes, absolutely! I put it behind a feature flag within Webpack so that the code wouldn't be bundled when the flag was disabled (since, as you found, the fees are hardcoded).

I think this is where we also got stuck.
The last time we contacted Stripe about it, there wasn't an endpoint that returns the fees. But maybe things have changed, now :)
Here's another ticket that might have some information

[2021-10-29 21:26] ricardo commented on #1521
I did some investigation on this, and found that the pre-orders plugin is missing a tweak to make it work with blocks.

I've opened an issue to track this on the pre-orders repository: 317-gh-woocommerce/woocommerce-pre-orders.

Either that ☝️  has to happen, or the blocks API needs to use the same filter from the shortcode checkout in order for this to work. But I think that's very unlikely that

[2021-10-29 21:40] #1820 closed, assigned to ricardo

[2021-10-29 21:52] #2094 closed, assigned to reykjalin

[2021-10-30 00:36] bhound commented on #457
Is this issue still on the roadmap, and if so about how far out is it? Thanks!

[2021-10-31 22:43] reykjalin commented on #2092
I wanted to pick up this issue, but wasn't sure who to consult regarding where the links should point to, so I'm just starting a discussion on that here.

1. UPE opt-in banner (1) — Probably some announcement that introduces the new checkout experience? I'm not sure.
2.  Onboarding flow (2) — I'm not sure what this refers to. What link is this? Where is it located?
3. Express checkouts section (1)

[2021-10-31 22:44] reykjalin commented on #2091
That helps a lot @frosso, thank you!

[2021-11-01 17:48] #1857 closed, assigned to diegocurbelo

[2021-11-01 23:20] ricardo commented on #2104
Closing in favor of #2039

[2021-11-01 23:20] #2104 closed, assigned to nobody

[2021-11-02 12:39] PaulSchiretz commented on #2065
Can please someone have a look at this! I mean this issue might be solved in 10minutes and it would help so many of us, just give us something a filter or anything....
This issue is mentioned so often and i really wish this can be looked at, we don't need a new version with UPE or anthing by tomorrow but a working plugin would be nice!

References of the same issue over and over again:
[https://wo

[2021-11-03 07:50] reykjalin commented on #2101
The `apply_filters_deprecated()` function call that we use to add the deprecation notice will only result in a deprecation notice [when the filter is used in an `apply_filters()` call](https://developer.wordpress.org/reference/functions/apply_filters_deprecated/). If there is no code calling `apply_filters()` with the relevant filter there should be no deprecation notice.

The code in the Stripe p

[2021-11-03 07:59] reykjalin commented on #2101
As a side note; you're using a version of WordPress that is officially not supported by the Stripe payment gateway anymore:

That may be the source of the issue.

As I'm writing that I realize that we failed to update the version in the readme, and apologize for that. I've already opened a PR to address this (https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2109). The main plugin PHP

[2021-11-03 10:47] jarekmorawski commented on #2066
✅ Added Oxxo and Boleto icons to the [Figma library](https://www.figma.com/file/Yy1WqI163cKRcnANjHDb5i/%5BWCPay%2FStripe%5D-Shared-components-library?node-id=3%3A5433).

[2021-11-03 13:06] colmtroy commented on #2101
@reykjalin Re: WP version - sorry I'm actually using 5.8.1 - that was an unfortunate typo in the original report.

Let me setup a clean WP instance and see if I can re-create the problem as it's 100% not some other plugin or theme code causing this. But let's not rule out some other aspect of infrastructure/stack causing this. Will let you know.

[2021-11-03 17:30] #1704 closed, assigned to cesarcosta99

[2021-11-03 17:30] #2082 closed, assigned to cesarcosta99

[2021-11-03 20:24] ricardo commented on #2066
@leonardola it looks like you're working on this issue, so I've assigned you on it.

Let me know if I'm mistaken.

[2021-11-03 20:33] ricardo commented on #1821
The goal of this issue was mostly to inform users about possible unsupported features before we released UPE.

This doesn't seem relevant anymore, since pre-orders, blocks and subscriptions should be fully supported now.

[2021-11-03 20:33] #1821 closed, assigned to nobody

[2021-11-03 23:02] ricardo commented on #2092
Following up on @reykjalin's questions, while waiting for confirmation from others:

Either that, which I also don't have a link for, or this doc section: https://docs.woocommerce.com/document/stripe/#new-checkout-experience

I think it's this "Learn more" link, which right now is pointing to `TODO?`. It should link to [Stripe docs](https://docs.woocommerce.com/document/stripe/#additional-payment-

[2021-11-04 00:58] cesarcosta99 opened #2113 "Update renew subscription manually test instruction"
**Describe the bug**
In the [Renew subscription manually test](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-critical-flows-using-the-classic-checkout-experience#renew-subscription-manually), we are supposed to see two buttons in the subscription view (7th step below), however I saw three (`Cancel`, `Change payment` and `Renew now`).

**To Reproduce**
Step

[2021-11-04 02:58] ricardo commented on #1806
Blocked by https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2073.

I'm not aware of any existing or previous functionality to simply test the connection from the old settings, but one way I see this could work is by implementing two subsequent requests, one for the publishable key and another for the secret key:

1. For the publishable key, we could create a new token, example:
[code

[2021-11-04 04:01] ricardo commented on #2090
Jumping in to help answering some of the questions:

Yes, we can get such information from the [capabilities](https://stripe.com/docs/api/capabilities) API.

[code]

And check the [requirements](https://stripe.com/docs/api/capabilities/object#capability_object-requirements) attribute.

However, some capabilities can't be requested from certain countries, e.g trying to request a requirements status

[2021-11-04 04:26] DeanMarkTaylor commented on #2065
I too found my way here with poor page time load performance on product pages linked to `stripe.js` loading times...

## Current Proposal Undesired? - review Stripe documentation

... however on reading the [Stripe documentation](https://stripe.com/docs/js/including#including_stripe_js)

The documentation explicitly states:

This makes me believe the proposed pull request #2110 would not be desire

[2021-11-04 05:06] #2098 closed, assigned to reykjalin

[2021-11-04 06:11] galbaras commented on #2065
@DeanMarkTaylor This seems very reasonable, and well thought out. Thanks a lot.

Having said that, some people may still not want the extra script(s) on every (shopping) page, so this should at least be an option, maybe via a true/false filter.

[2021-11-04 07:53] reykjalin commented on #2065
Thank you all for the reports and the discussion you've got going on here! We apologize for the issue, and — as has been noted above — we are actively working to address the problem.

Like @DeanMarkTaylor rightly pointed out in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2065#issuecomment-960450052 Stripe recommends we load the Stripe JS on as many pages as possible to help co

[2021-11-04 12:35] PaulSchiretz commented on #2065
@reykjalin Filters sound good to me, i think there is no right or wrong in this case, so let the user decide should be the option of choice 🙂

Could also be a setting of the plugin as  @galbaras mentioned, a checkbox maybe "Stripe fraud protection" on/off... but filters as of your pull request also do the trick for me.

As long as we're able to disable the scripts, if we don't want them, everythin

[2021-11-04 15:31] mdmoore commented on #1990
We're unable to control height with the available appearance parameters offered by Stripe. It seems this will only happen in testing though, as a live 3DS transaction would forward the customer to the card issuers website.

@waclawjacek I'll go ahead and close for now, but feel free to reopen if you feel there's something we can do here :)

[2021-11-04 15:31] #1990 closed, assigned to mdmoore

[2021-11-04 17:11] frosso commented on #1806
The priority on this should be pretty low - it's not something that the current Stripe plugin offers.

From my understanding, it would happen inline with the button (at least that's what the Figma designs propose):
![Screen Shot 2021-11-04 at 12 09 35 PM](https://user-images.githubusercontent.com/273592/140386433-df6e518c-be1e-466a-ab8f-056693cbf088.png)
![Screen Shot 2021-11-04 at 12 09 45 PM](ht

[2021-11-04 17:14] danielbarenkamp opened #2114 "Use Default WP Site language and NOT en-US"
Hello,

our german customers receive English SEPA mails, because the get_user_locale returns empty strings for NEW customers.

Please change the default language here: https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1ecaea47625b2ff4c49190dcf7d9c3c7e8553a84/includes/class-wc-stripe-customer.php#L652

to the original wp site language. You can use "get_locale" functionality and then va

[2021-11-04 18:50] DeanMarkTaylor commented on #2065
## Disable advanced fraud detection
Regarding not loading not loading Stripe.js (`https://js.stripe.com/`) on every page...
I could see an new option being called **"Disable advanced fraud detection"**

This would pass the `advancedFraudSignals=false` parameter (see [documentation here](https://stripe.com/docs/disputes/prevention/advanced-fraud-detection#disabling-advanced-fraud-detection)) on the

[2021-11-04 18:59] ricardo commented on #2092
FYI: p1636037526141700-slack-C07418EA0

All docs.woocommerce.com links now get redirected to woocommerce.com/document, so we might as well update the existing links.

[2021-11-04 19:17] shaunkuschel commented on #2100
We received another report of this happening on 4429571-zen with BACS and I was also able to reproduce the issue with the Check payments method locally as well, so this bug appears to affect any gateway active with Stripe- not just PayPal Payments:

![Markup 2021-11-04 at 14 11 23](https://user-images.githubusercontent.com/10855013/140405066-c37df0f3-6137-4b0c-9c5b-72bda0b9a67c.png)

[2021-11-04 21:04] cesarcosta99 commented on #2092
I updated the description to make the places we need to update more clear.

---

When you disable UPE there will be a section leading you to enable UPE, when you click in the button to enable it, you will be redirected to the onboarding flow. There you'll find two broken links. (added screenshots now)

We can maybe include the `faq` section and make it https://woocommerce.com/document/stripe/#faq

[2021-11-04 21:37] wilstart commented on #2065
I have this issue too on my site, and have had some conversations with WC support staff, who seem to offer only solutions that require turning code of on a page by page basis. This is on a site, where we:
(1) Have no intention of having this "buy now" feature
(2) Have no pages / products on our site with this feature enabled
(3) The Stripe setting: "Enable Payment Request Buttons" is off (and neve

[2021-11-04 21:47] ricardo opened #2117 "Spike: Support other payment methods in the blocks checkout"
Currently, we only support UPE payment methods and the non-UPE credit card on the blocks checkout.

Questions:
- Do we want to support other non-UPE payment methods that are included in UPE? E.g SEPA? If the non-UPE checkout gets deprecated in the future, it might not be worth it.
- Can we add support for payment methods that are not included in UPE? E.g Alipay?

[2021-11-04 22:40] #2067 closed, assigned to ricardo

[2021-11-04 23:49] cesarcosta99 commented on #2090
As a reference, in WCPay that notice is displayed under three capability statuses and contain the following messaging:

1. `pending`: `{method name} is pending approval. Once approved, you will be able to use it.`
2. `pending_verification`: `{method name} won't be visible to your customers until you provide the required information. Follow the instructions sent by our partner Stripe to {store admi

[2021-11-04 23:52] galbaras commented on #2065
We could just treat the new strip.com script as a new feature. This means that it's disabled by default on existing installations, with the option to enable it.

For simplicity and speed of release, though, we can start with adding `async` to the script(s) and introducing a filter to disable it/them completely on product pages with no payment request buttons. I think the cart and checkout pages ar

[2021-11-05 00:42] DeanMarkTaylor commented on #2065
Taking into account [my comments regarding async loading implementation here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2065#issuecomment-960450052)...

I have started a pull request #2118 which is targeting loading the Stripe.JS library asynchronously.

Feel free to code review it over there, the code has not been tested or even executed at-all...
... sharing to save others

[2021-11-05 02:21] #1835 closed, assigned to diegocurbelo

[2021-11-05 08:26] kkarpieszuk commented on #699
Hi @edvinbrobeck as we are getting more and more reports on this issue, I am back on this topic.

I prepared a pull request with proposed changes, could you review and merge?
https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2119

simply, you use `wc_price` function which at some point allows to filter the currency symbol. WCML is hooking in this filter, checks if this is order edit p

[2021-11-05 11:00] jarekmorawski commented on #2063
Hiya! 👋

That's the idea. Ideally, we'd add a loading state to the checkbox to let them know something's going on in the background. We could let them check the box without going through the setup, but that raises concern that they'd never do it. Without the immediate redirection, we're left with similarly unappealing alternatives:

* redirecting people after they save settings
* adding a link/but

[2021-11-05 11:44] jarekmorawski commented on #2090
Interesting issue! My guess is that Stripe will prevent merchants from turning on these methods in the first place. In that case they wouldn't appear in the plugin since we should make sure the list aligns with Stripe's and includes methods that 1) we support in the UPE 2) are available to enable/enabled in Stripe.

That's correct. I've removed this step from the design. To add new payment methods

[2021-11-05 12:47] frosso commented on #2063
The wizard is on a separate page and unfortunately, a page redirect resets the state of a form :(

[2021-11-05 12:59] jarekmorawski commented on #2063
I understand. 🤔 Maybe we could add an affordance to let people know the button is linked to an external flow?

![image](https://user-images.githubusercontent.com/79307566/140513950-dc7dbb3f-c016-4156-b4e9-5c714b3591b9.png)

cc @LevinMedia

[2021-11-05 16:53] cesarcosta99 commented on #2090
Copying recent internal discussion p1636128079031800-slack-C02BHNRN6R1.

[2021-11-05 17:00] leonardola commented on #1095
Hello everyone. I've got great news for you all. I just opened a PR for adding OXXO [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2115).
So we are closer to releasing it. I am still fixing the last few bits to make sure all tests pass.

Next I will be adding support for installments

[2021-11-05 17:26] cesarcosta99 commented on #2063
Jumping in to share an idea, maybe the whole sentence "Try the new checkout experience (early access)" could be a link to the onboarding? Or even turn it into a button? It could be that the user think they just need to tick the box to enable it. We could add a notice/subtitle saying "You will be redirected to the onboarding" or "Your current changes will be discarded" too.

@jarekmorawski can you

[2021-11-05 17:29] melindahelt opened #2120 "Title not respected using new checkout"
**Describe the bug**
When the new checkout experience box is checked, the title added for Stripe is not displayed at checkout.

**To Reproduce**
Steps to reproduce the behavior:
Check this box:

<img width="1224" alt="Screen Shot 2021-11-05 at 1 27 08 PM" src="https://user-images.githubusercontent.com/8306136/140553099-69909aab-0641-4b77-9be0-d14671efcd94.png">

Add a title to Stripe, save, and vi

[2021-11-05 17:53] brianyu28 opened #2121 "Add API endpoint for Stripe account details"
**Description**

For in-person payments, the mobile application will need to call an endpoint to fetch details of the Stripe account attached to the store. This is used to determine if the account is fully set up and eligible for in-person payments.

Sample response:

[code]

**Additional context**

pdfdoF-er-p2

[2021-11-05 18:00] brianyu28 opened #2122 "Add API endpoints to manage Stripe locations"
**Description**

For in-person payments, the mobile application will need to call endpoints to work with [Stripe terminal locations](https://stripe.com/docs/api/terminal/locations), since each card reader needs to be assigned to a physical location.

**Get Default Location** `GET terminal/locations/store`

Sample successful response:

[code]

Sample response if missing store address:

[code]

**Ge

[2021-11-05 18:01] brianyu28 opened #2123 "Add API endpoint to fetch connection token"
**Description**

For in-person payments, the mobile application will need to call an endpoint to get a new connection token used by Stripe Terminal SDK to connect to a card reader.

Sample response:

[code]

**Additional context**

pdfdoF-er-p2

[2021-11-05 18:02] brianyu28 opened #2124 "Add API endpoint to create customer"
**Description**

For in-person payments, the mobile application will need to call an endpoint to create a customer for a given order. This must happen before the mobile application can create a payment intent, so that the customer ID can be set on the payment intent.

Sample response:

[code]

**Additional context**

pdfdoF-er-p2

[2021-11-05 18:05] brianyu28 opened #2125 "Add API endpoint to capture payment"
**Description**

For in-person payments, the mobile application will need to call an endpoint to capture the funds of a Payment Intent created by the mobile app.

Sample request body:
[code]

Sample responses are below, based on what WooCommerce Payments currently returns for these endpoints. The error codes currently all begin with the `wcpay_` prefix. I imagine we will want to change that to a `

[2021-11-05 18:14] waclawjacek commented on #1990
Hmm... Is it an iframe that's loaded? How about resizing the modal once the iframe is loaded?

Or is the entire modal controlled via Stripe's SDK?

[2021-11-05 18:23] rodcul commented on #1095
@leonardola you are a LEGEND 👍

[2021-11-05 18:57] brianyu28 opened #2126 "Docker database image unsupported on ARM"
**Describe the bug**

When running `npm run up` on an ARM Mac, `docker-compose` fails to pull the database image with the following error:

[code]

This is because `image: mysql:5.7` is unsupported for ARM64. A similar issue came up in WCPay (https://github.com/Automattic/woocommerce-payments/issues/1547), and the solution there was to replace the image with `image: mariadb:10.5.8`, which does wor

[2021-11-05 21:21] leonardola commented on #1095
OXXO does not allow installments. Installments are allowed on credit card payments. Because of that I am renaming this issue to handle the installments implementation. OXXO was implemented on #2066. Anyone interested in OXXO should follow that issue and corresponding PR.

[2021-11-08 11:47] jeddey commented on #2057
Hello , i have also this problem , can anyone help us regarding this please

[2021-11-08 12:50] #1342 closed

[2021-11-08 17:54] mdmoore commented on #1990
Yeah, the entire modal is controlled via the Stripe SDK. It might be something to bring up with Stripe though.

[2021-11-08 18:46] mdmoore commented on #2114
Hey @danielbarenkamp! Thanks for the report. I haven't been able to reproduce this with a new customer. `get_user_locale()` returns `false` for a new customer and falls back to `get_locale()` within `get_customer_locale()` [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1ecaea47625b2ff4c49190dcf7d9c3c7e8553a84/includes/class-wc-stripe-customer.php#L664). [get_user_locale()](h

[2021-11-08 18:51] #2126 closed, assigned to brianyu28

[2021-11-08 19:18] danielbarenkamp commented on #2114
Let me check that on client's site! Thanks for coming back to me

[2021-11-09 00:46] reykjalin commented on #2065
We've merged the filter solution and it should be released this coming Wednesday with Stripe v5.8.0.

I'm still going to re-open this issue so we can talk a bit more about optimal solutions aside from the filters we've just added.

I would also like to add that I do plan on replying to the latest comments and keep this discussion going. I'll get back to you all on that this week 🙂

[2021-11-09 00:58] jenfloods commented on #2065
I have deactivated WooCommerce and our Formidable Forms WooCommerce Addon and I am still seeing the js.stripe.com and m.stripe.network loading? Please make sure to not load these if the plugin is installed but not activated, would be truly grateful. Thank you.

[2021-11-09 01:30] galbaras commented on #2065
@jenfloods There may be some caching involved. Also, this seems like a new issue (plugin active when WooCommerce isn't), so do some more investigations and start a new issue once you're done.

[2021-11-09 01:47] galbaras commented on #2065
@reykjalin Thank you for this change. One thing I don't see in it is adding `async` to the scripts when they are included. This should be the last bit to close off this issue.

[2021-11-09 04:29] jenfloods commented on #2065
Can you explain this further?

Sincerely,
Jen Niles

*Jennifer A. Niles*Front-end Web Developer
*ASFPM | *8301 Excelsior Dr.  | Madison, WI  53717
tel: 608-828-3000  | cell: 608-963-5280  | floods.org
<http://www.floods.org/> | *Email Jen ***@***.***>*

On Mon, Nov 8, 2021 at 7:47 PM Gal Baras ***@***.***> wrote:

[2021-11-09 05:04] galbaras commented on #2065
If there's page caching and/or page optimisation on the site, clear it. If there's caching on your browser, clear it. Then, gather all the pertinent information, including relevant setup and steps to reproduce the problem, and open a new issue, because your issue is likely different from this one.

[2021-11-09 08:21] reykjalin commented on #2065
A quick [TL;DR](https://www.merriam-webster.com/dictionary/TL%3BDR):

I agree with all of your conclusions: this issue shouldn't be considered resolved until the Stripe JS is loaded asynchronously. Unfortunately this isn't as simple as just adding the `async` property to the html tag where we load the script. Making this change will take time.

We'll keep working on this, but loading the JS asynch

[2021-11-09 08:43] kkarpieszuk commented on #699
Hi @edvinbrobeck did you have opportunity to check my comment above? :)

[2021-11-09 08:47] jarekmorawski commented on #2063
That's a great idea and after exploring it a little, David and I arrived at a different, but simpler solution. After checking the box and saving settings (which solves us the "Should we discard changes?" dilemma), we'd show a toast message pointing merchants to Settings > Payments where they'd enable/disable and add payment methods.

We skip the stepper entirely in Stripe, because the payment meth

[2021-11-09 11:16] galbaras commented on #2065
@reykjalin Thank you for the considered reply.

Short term, using a filter to add `async` doesn't seem like a big deal. Long term, perhaps everyone in this discussion can support https://core.trac.wordpress.org/ticket/51124, which would make adding script parameters easy peasy.

[2021-11-09 14:24] jenfloods commented on #2065
This js.stripe.com - v3/ still appears after WP Rocket and clear cache from
yesterday.

[image: image.png]

Sincerely,
Jen Niles

*Jennifer A. Niles*Front-end Web Developer
*ASFPM | *8301 Excelsior Dr.  | Madison, WI  53717
tel: 608-828-3000  | cell: 608-963-5280  | floods.org
<http://www.floods.org/> | *Email Jen ***@***.***>*

On Tue, Nov 9, 2021 at 5:16 AM Gal Baras ***@***.***> wrote:

[2021-11-10 07:27] reykjalin commented on #2065
@jenfloods would you be so kind as to open a new issue since what you're facing is unrelated to this issue?

[2021-11-10 09:15] joostzx commented on #457
Dear Developer(s),

I think Klarna is very important because "pay afterwards" is required by some authorities. An important condition of [https://www.thuiswinkel.org](url) is that customers have the option to pay afterwards.

Only when you have this in working condition you can get a certification from [https://www.thuiswinkel.org](url) For many stores this is very important to have. Apart from th

[2021-11-10 09:23] getimo commented on #457
Since it’s over a year since I asked I think you can ask without mercy. :D

no joke: 1 year is like 10 years on the Internet. The development of technologies is so fast that I ask myself if stripe is that top notch payment provider like they promote themselves on their website. I understand not to answer every question but waiting for 1 year without ANY information is just sad.

[2021-11-10 13:10] loge99 commented on #457
Guys, I wouldn‘t worry about them anymore. By now there is a very well rated alternative!
-> https://wordpress.org/plugins/woo-stripe-payment/

Oh and not just Klarna. This plugin above can do everything.

May you never need to come back to this link ever again.
✅

[2021-11-10 15:11] #2006 closed, assigned to cesarcosta99

[2021-11-10 20:14] #2123 closed, assigned to brianyu28

[2021-11-11 20:18] ricardo opened #2145 "[settings] Allow customization of the payment method title"
## Description

Context: p1636014637180500-slack-C7U3Y3VMY

On the old settings (`_wcstripe_feature_upe_settings` option set to `no`), there used to be a way to change the payment method title and description for the credit card payment method. Also, when UPE was enabled, there used to be a customizable title "Popular payment methods".

This behavior is currently missing from the new settings. It'

[2021-11-11 21:22] #2092 closed, assigned to cesarcosta99

[2021-11-12 00:20] fbaio-dev commented on #1134
Hi,

I'm facing the same issue,  I followed the step-by-step described by Kristófer @reykjalin  but it still doesn't work on my side !

Please any fix for this issue?

I'm using the last version of woocommerce.

[2021-11-12 00:23] cesarcosta99 commented on #2063
@jarekmorawski I think that really solves most of the questions we had, thank you!

That lead us to the remaining questions:
1. Should we still display a banner in giropay/Sofort/etc. (other UPE payment methods) when UPE is disabled or non-UPE methods such as Alipay?
![image](https://user-images.githubusercontent.com/10233985/141387613-cc473b34-a443-416c-84dd-26e5bb264d9c.png)
2. Should we also re

[2021-11-12 00:45] cesarcosta99 commented on #2145
Let us please follow-up #2120 closely while working this out, since it's under the same context.

[2021-11-12 01:00] cesarcosta99 commented on #2121
@brianyu28, there's a REST controller that may attend most of what you need. You can find out more in [this file](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/admin/class-wc-rest-stripe-account-controller.php). There's even a [data structure](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/data/account/index.js) built for it. Hope it

[2021-11-12 02:37] ricardo commented on #2090
@jarekmorawski, I have a couple remaining questions, but went ahead and opened a PR with a few suggestions.

**Question 1:** I saw that the "One more step to enable" modal was moved to "Junk" on Figma, and since we can't request capabilities for the merchant on Stripe, this step got removed, right?

Also, the tooltip/popover on Figma had the same copy from WCPay, mentioning that an email would be

[2021-11-12 04:41] ricardo commented on #2120
@melindahelt when you mention that the title does not show up. No title shows up at all or there's a different title on the checkout page?

It's expected behavior that when "new checkout experience" is enabled, a different title shows up.
When multiple local payment methods are available, it should display "Popular payment methods" by default, because of the different payment methods all aggregate

[2021-11-12 17:14] cesarcosta99 opened #2148 "Card icon color on checkout"
## Description

The card icon color should be white when card is the selected payment method on UPE checkout.

In the left side of the screenshot we have the expected color and the actual color on the right.

![image](https://user-images.githubusercontent.com/10233985/141506940-27c43b3c-a391-45b6-ba24-2d6ad7670adc.png)

## Acceptance criteria

- The card icon color is white when card is selected.

[2021-11-12 17:20] cesarcosta99 opened #2149 "Update documentation links"
## Description

`docs.woocommerce.com` links now get redirected to `woocommerce.com/document`, so we should update all the references.

## Acceptance criteria

- Any link that points to `docs.woocommerce.com` should be replaced with `woocommerce.com/document`.

[2021-11-12 17:29] cesarcosta99 opened #2150 "Remove UPE settings redesign flag"
## Description

We're releasing the settings redesign on v5.8.0, and we have only defaulted the feature flag to `yes` for now. Later on we should remove the flag completely.

This change is aimed to be released on v5.9.0 or higher.

## Acceptance criteria

- Have the `_wcstripe_feature_upe_settings` flag removed, including all conditions that make use of it.

[2021-11-12 19:25] #2122 closed, assigned to brianyu28

[2021-11-12 20:28] cesarcosta99 opened #2151 "Add requires currency notice in APMs"
## Description

The requires currency pill has been recently added to Stripe UPE settings. When suits, we also need to display it in APMs (e.g. Alipay, SEPA) as well as when UPE is disabled.

![image](https://user-images.githubusercontent.com/10233985/141529128-66fc8b07-8d84-44ed-957c-e5118c9d52f0.png)

Note: ideally this should be addressed after #2090 is merged or make sure to communicate the ch

[2021-11-12 20:54] cesarcosta99 opened #2152 "Refactor disconnect confirmation modal"
## Description

When we try to disconnect Stripe it works well, but we could tweak a couple of things to make a smoother experience:

1. We don't see a loading state when we make the API call.
2. We're just led to the same UI, whereas we would need to connect before using the plugin again.

![image](https://user-images.githubusercontent.com/10233985/141531706-500e25a3-afc6-4d03-8534-4e1c721c7f49.p

[2021-11-12 22:41] ricardo commented on #1879
An update on this:

There might be a webhook event for when the capabilities change. Or we can check for when the account changed and clear the cache. This might be kinda hard to test, so we can perhaps use [event triggering](https://stripe.com/docs/cli/trigger) from the Stripe CLI.

Another point to consider is that this might not be necessary if the "refresh" action is embedded on the "pending c

[2021-11-12 23:27] #1625 closed, assigned to nobody

[2021-11-12 23:40] reykjalin commented on #1134
@fbaio-dev can you please give us a step-by-step example of how this doesn't work as intended?

[2021-11-13 00:33] fbaio-dev commented on #1134
@reykjalin, Here is what I did :

1- I have chosen one of my orders
2- I clicked on "Refund Order"
3- I have chosen the quantity  in my case it's "1"
4- I made sure I checked the box "Restock Refunded Items"
5- Then I clicked on "Refund The Order Via Stripe"

Here is the scenario from the beginning 👍

1- Before The Purchase
<img src="https://i.imgur.com/uPK3Zu4.png" alt="Before The Purchase">

2-

[2021-11-13 00:39] cesarcosta99 opened #2153 "Refactor account keys modal behavior"
## Description

There are many aspects of the account keys modal behavior that we can polish. Some things were tweaked within the `release/5.8.0` branch so we want to start from there.

The account keys modal is a component that is present both in the onboarding and in the settings tab. This way we need to make sure it works well on both.

## Acceptance criteria

**In the plugin setup:**

<img src

[2021-11-13 00:42] cesarcosta99 commented on #2153
@diegocurbelo, I wonder if you have any thoughts on the behaviors I specified since you were working on that. I may have missed something.

[2021-11-13 01:12] reykjalin commented on #1134
I think the number of sales is something custom in your theme, or possibly provided by a plugin?

I don't think this is a problem with the Stripe gateway because:

1. The refunded item is correctly added back to the available stock (stock is changed from 9 to 10 after the refund).
2. The Stripe gateway doesn't have a way to display the number of sales for items.
3. Moving the order to the trash re

[2021-11-13 22:21] fbaio-dev commented on #1134
@reykjalin,

Thank you so much for pointing me to this,  I've been looking for a day in the wrong place :)
I'll try to figure out what's the issue and I'll update you as soon as I found it.

[2021-11-14 08:50] galbaras commented on #2065
@reykjalin Was that Wednesday the 10th or the 17th of November?

[2021-11-15 17:54] slash1andy opened #2154 "Idempotency issues with new checkout experience."
Twice customers have been charged twice for the same order, user indicated it's since they've enabled the Enhance Payment experience.  User reached out to Stripe who suggested activating the "idempotency" feature.

Grab order notes and logs from the Slack link, as this is a public repo.

[2021-11-15 19:55] lovo-h commented on #2149
@cesarcosta99, after updating the links, I ended up with some links that were not properly directed. Please see below:
* Should `https://woocommerce.com/document/stripe/#styling` be the following, instead: `https://woocommerce.com/document/stripe-styling-fields`
* Should `https://woocommerce.com/document/privacy-payments/#woocommerce-gateway-stripe`, be the following, instead: `https://woocommerce

[2021-11-15 20:37] cesarcosta99 commented on #2149
Both links seem to be unused but let's maybe change them for their own sake.

`https://woocommerce.com/document/stripe/#styling` could be `https://woocommerce.com/document/stripe/#new-checkout-experience` because the messaging is about styling changes in the checkout.

The second sounds good to me.

Perhaps we can address that in #1763.

[2021-11-15 21:26] asumaran commented on #2152
@cesarcosta99 is there a design/figma file for this?

[2021-11-16 08:32] jarekmorawski commented on #2063
Hi @cesarcosta99! 👋

No. I don't think the banner is needed anymore.

No, I'd leave the notification as it. It currently takes you to the stepper, but now it could enable the UPE in the background and display the toast with a link to the payment methods settings.

![image](https://user-images.githubusercontent.com/79307566/141949339-42ccce98-94d7-4afd-832a-b45e09ea8b4e.png)

[2021-11-16 08:46] jacoswan commented on #1671
Just to note another instance mentioned in 4450304-zen

[2021-11-16 09:04] jarekmorawski commented on #2090
Thanks so much for your initiative and input, @ricardo. 🙇

Yes!

That's a good idea. Firstly, AFAIK Stripe sends the emails too when you enable the payments from the dashboard. Secondly, the badge would only appear after the merchant went to the Stripe dashboard and requested activation. We could also display it when someone enabled the payment method in the plugin and we know it's not activated i

[2021-11-16 11:03] martynmjones opened #2156 "Cart total not updated when clicking on Payment Request buttons"
**Describe the bug**<br>*This might be more a feature request than a bug but given the fact that incorrect data is temporarily displayed to users I'm submitting it as a bug report.*

If a user has items in their cart and then clicks on a payment request button on a product page, their cart is emptied and replaced with a single product. If the payment request modal is then immediately closed, the c

[2021-11-16 11:11] martynmjones commented on #2156
4459057-zen

[2021-11-16 14:31] melindahelt commented on #2120
In my test, I only have credit card enabled and there is a title, however the user in this case wanted their custom title to appear
<img width="541" alt="Screen Shot 2021-11-16 at 9 30 34 AM" src="https://user-images.githubusercontent.com/8306136/142004238-ba1b6fff-9340-42d1-b11d-f5569f503562.png">

I'll let them know this is intended behavior

[2021-11-16 15:51] ricardo commented on #2090
Thanks for the responses @jarekmorawski!

Just to clarify, when you first create a new account, some payment methods might still remain in the "pending" status before you provide the necessary information to fully activate the capability. It doesn't necessarily need to be requested first, so the badge would apply in that case too, since there's no way to tell whether the payment was requested or i

[2021-11-16 16:54] #2145 closed, assigned to ricardo

[2021-11-16 17:51] laurendavissmith commented on #1095
Pausing for now while we finish OXXO and Boleto

cc/ @LCmry

[2021-11-16 18:01] #2039 closed, assigned to nobody

[2021-11-16 18:09] slash1andy commented on #1196
another instance in 4456797-zen

**which payment method was being used**

iDeal

**was there a chargeable source? what's the timestamp?
was the chargeable source later cancelled? what's the timestamp?**

Order was cancelled exactly 6 hours after initial order.

**were there any failed webhooks related to the charge?**

none reported

**does the merchant use a webhook signing secret?**

Yes, have s

[2021-11-16 19:17] diegocurbelo commented on #2153
@cesarcosta99 After the changes we still have some inconsistencies after updating keys (or removing them) but not reloading, that would be solved by [Invalid keys notice #1807](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1807); I'll add that in the same PR so we can test the entire flow.

[2021-11-17 04:17] dechov commented on #2063
Will there still be a "Disable" option from the menu of the "Payment methods" view? If so, we may want to word it more clearly: "Disable new checkout experience"?

Also, when disabling using that option, I'm seeing a potentially misleading message about payment methods requiring UPE:

<img width="536" alt="disable-new-checkout-experience" src="https://user-images.githubusercontent.com/1867547/1421

[2021-11-17 09:41] joashrajin commented on #1682
+1 4218298-zd-woothemes

[2021-11-17 14:19] leonardola commented on #1838
OXXO integration is being handled on #2115 closing this issue in favor of that PR

[2021-11-17 14:19] #1838 closed, assigned to nobody

[2021-11-17 14:34] diegocurbelo opened #2161 "Buttons in the "Get started with Stripe" view aren't spaced apart"
**Describe the bug**

The buttons in the "Get started with Stripe" view aren't spaced apart (at certain screen widths)

<img width="568" alt="Screen Shot 2021-11-16 at 6 58 30 PM" src="https://user-images.githubusercontent.com/407542/142219628-909bb0cd-2ec0-490e-b376-02e8c72415ec.png">

**To Reproduce**

1. Go to **WooCommerce > Settings > Payments > Stripe**
2. Make sure no Stripe account is conn

[2021-11-17 15:34] #2152 closed, assigned to asumaran

[2021-11-17 18:07] #1580 closed, assigned to lovo-h

[2021-11-17 20:09] reykjalin commented on #2065
Sorry for the confusion around the release date everyone! We were aiming for Wednesday last week (November 10) but decided to delay the release because of issues we discovered while testing the release.

We are currently aiming to release version 5.8.0 tomorrow, November 17.

[2021-11-17 20:49] ricardo commented on #1879
Another update:

The "refresh" action was removed in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2143/commits/3f38a52ff890a124d20fbd01b09445375dfa5a41 and was replaced by an instruction to "check back soon".

The `_transient_wcstripe_account_data_test` transient which serves as the capabilities cache is set to expire in just 2 hours, so it's not a big deal to instruct the mercha

[2021-11-17 21:04] asumaran commented on #2150
@cesarcosta99 do we still going to use the `_wcstripe_feature_upe` flag? For example here it's being used to determine UPE is enabled.

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/71cbd0a4a8585084e3b707ebfae56b652ec6075c/includes/class-wc-stripe-feature-flags.php#L15-L17

[2021-11-17 21:18] leonardola commented on #1769
This also happens with [Boleto and OXXO](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2115#discussion_r750701224)

[2021-11-17 22:25] ricardo opened #2163 "UPE pay for order page displays "Use a new payment method" radio even if there are no other payment methods saved"
**Describe the bug**
UPE pay for order page displays "Use a new payment method" radio button even if there are no other payment methods saved.

If the radio is not selected, this causes an error when trying to pay:

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have no payment methods saved to your account.
2. Add any product to cart.
3. Go to checkout.
4. Add this credit card

[2021-11-17 22:35] #2090 closed, assigned to ricardo

[2021-11-17 22:36] #2149 closed, assigned to lovo-h

[2021-11-17 23:26] #2151 closed, assigned to cesarcosta99

[2021-11-18 02:22] asumaran commented on #2150
@cesarcosta99 if we remove all traces of `_wcstripe_feature_upe_settings` flag, that means the new Settings UI will be active by default, right? Also, does that mean that should we also remove all traces of the old settings view?

[2021-11-18 11:38] colmtroy opened #2167 "4.0.2 changelog repeated twice in changelog.txt"
Very very minor bug :)
See https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1fcf10d063cd97813644f195e463cf3e76a4f50e/changelog.txt#L451

4.0.2 changes are listed twice.

[2021-11-18 12:29] jrick1229 opened #2168 "Support for UnionPay International"
**Is your feature request related to a problem? Please describe.**

Stripe announced support for UnionPay International on Aug 31, 2021: https://stripe.com/newsroom/news/stripe-unionpay
Since UnionPay cards do not have an expiration date, this makes them impossible to use with this plugin.

**Describe the solution you'd like**

If a card is a UnionPay, no expiration date should be required.

**Des

[2021-11-18 12:33] colmtroy opened #2169 "Required fields breaking Apple Pay"
**Describe the bug**
Setting some fields to be required in WooCommerce (e.g. Company name field) triggers a js error in the console and prevents a transaction from being completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance -> Customize -> WooCommerce -> Checkout and make Company name field required
2. Go to WooCommerce -> Settings -> Payments -> Stripe -> Payment Reque

[2021-11-18 15:17] #1807 closed, assigned to diegocurbelo

[2021-11-18 15:39] cesarcosta99 commented on #2150
@asumaran thanks for bringing those concerns up.

No, but that removal is being addressed in #1948.

Yes for both questions. However, I'd say that removing all traces of the old settings doesn't seem a trivial change. For that reason, I'd suggest the we address that in a different issue/PR so we can perform a complete test on it.

[2021-11-18 15:42] #2161 closed, assigned to diegocurbelo

[2021-11-18 15:42] #2075 closed, assigned to diegocurbelo

[2021-11-18 15:43] #2153 closed, assigned to diegocurbelo

[2021-11-18 18:05] asumaran commented on #2150
@cesarcosta99 I went ahead and already [started](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2166/files) removing everything related to the old settings UI. Hope that's not a problem. Removing the `_wcstripe_feature_upe_settings` was quite simple and I think it's better to have it reviewed as a whole in my opinion.

[2021-11-18 22:28] cesarcosta99 opened #2173 "Additional payment methods"
## Description

Add a list of the payment methods that are not included in the merchant's capabilities.

![image](https://user-images.githubusercontent.com/10233985/142506511-a4e8e69f-7c7d-415e-bb18-7b27e1bb0a18.png)

## Acceptance criteria

- We can see a list of payment methods next to the "Get more payment methods" button, if there is any

[2021-11-18 22:36] cesarcosta99 commented on #1808
@frosso do you know if there is a design for that (I couldn't find it)? Otherwise we should close this issue.

[2021-11-18 22:52] ozidrice commented on #2065
I am the only one who still have the same problem with the last release ? :/
Or did I just haven't understood something ? 😅

When on 5.5.0 it's fine, but on 5.8.0 I still have these unwanted files on product page 🙄
(Apple/Google pay are disabled, I even removed the product page from the button's location)

[2021-11-18 22:54] frosso commented on #1808
@cesarcosta99 here it is:

![Screen Shot 2021-11-18 at 4 53 41 PM](https://user-images.githubusercontent.com/273592/142509711-91629b01-a2e6-4c41-9364-991107f270bb.png)

To be confirmed with UX whether the preview should display unsaved or saved settings.

[2021-11-18 23:41] dechov commented on #1763
The new settings were released today in 5.8.0, and @ricardo and I have updated the documentation, covering the bulk of what was listed above, though not precisely every item. It will likely need some more tweaks over the next release or two.

[2021-11-18 23:46] wilstart commented on #2065
No, I'm seeing it as well. If anything the page I am testing on is worse now than it was previously. ApplePay/etc, are all disabled on the site (just CC checkout on the "Checkout" page). No "Buy Now" options. Using the update today (5.8.0)

[2021-11-19 09:59] demaya commented on #2120
I see the same thing. I have a german page and cannot change the credit card payment option to a german value. Tried on different devices with different language settings, stays english.
![image](https://user-images.githubusercontent.com/1875832/142603377-476424db-6fdd-4b81-b2b8-69f9157e17d3.png)

Earlier this morning upgraded to 5.8.0 but the new setting doesn't change anything. (well I have only

[2021-11-19 17:52] ricardo commented on #2120
cc @LevinMedia / @jarekmorawski

Currently there's no way to customize individual UPE payment method names.

When UPE is enabled, the default name which appears in the checkout page is "Popular payment methods", it can be customized in the screenshot @demaya shared, but when there's just one payment method available, e.g credit card. it will display a non-customizable translated string for the pay

[2021-11-19 18:26] leonardola commented on #2117
Boleto and Oxxo will need support too if we decide to add support

[2021-11-19 19:56] reykjalin commented on #2065
@ozidrice @wilstart have you enabled the new filters that we've included to disable any extra JS on the cart and product pages?

You can enable them with this snippet:

[code]

[2021-11-19 20:07] wilstart commented on #2065
I just added this, and Google page load is still detecting 2 different callouts to
https://js.stripe.com/v3/

I don't see any difference in the page ranking with or without these "add_filter" added.

So, I'd have to see this issue it not fixed. And, while I may not appreciate the difficulties involved in the coding here, it still seems fundamentally flawed that I have to add code to disable a feat

[2021-11-19 21:22] ricardo commented on #2150
@asumaran we might want to wait a bit more and check for issues in #woo-devs to see if we don't need to force the old settings again for some merchants depending on issues with the new settings.

If we remove the option completely, it won't be possible to switch back to the old settings.

[2021-11-20 06:51] galbaras commented on #2065
I would normally agree, but this is not clear cut, considering Stripe recommends it, and it's generally good when the plugin implements Stripe recommendations.

Sadly, I also see both the local and external Stripe assets being included in the page, despite both of the filters being in effect 😞

I'm wondering about this code:

[code]

Should the filter not apply when `product` IS in the array? In f

[2021-11-20 10:52] demaya commented on #2120
Maybe a question can help you answering your question: do you have non-english speaking customers at Stripe? If yes: those texts should be translated for end consumers.

[2021-11-20 18:18] Petbeginners opened #2175 "Payments displayed as “disabled” under account setting when upgrading from 5.7.0"
Hi,

There seems to be a bug with the payments displaying as “disabled” under account settings when updating the plugin from 5.7.0 to 5.8.0, with all the Stripe credentials properly filled in.

Under Settings -> Account details -> Payments: Disabled
Deposits: Enabled
Webhooks: Enabled

The Payments icon still appears as disabled even after everything is filled in correctly – see screenshot https:/

[2021-11-22 08:24] jarekmorawski commented on #2120
AFAIK, UPE will translate payment method names by default. Even if it's not available now, it should be in the future. I'll reach out to Stripe to double check. As for the issue, it looks like it can be solved by the adding translatable fields for payment method name and description.

[2021-11-22 08:28] jarekmorawski commented on #2063
Yup! In Stripe, the message has been tweaked a little.

![image](https://user-images.githubusercontent.com/79307566/142827916-43a3ce3d-8f6b-427a-8181-b4756598f953.png)

[2021-11-22 14:27] ricardo commented on #2120
Yes, Stripe should translate UPE fields, but the string highlighted in [this screenshot](https://user-images.githubusercontent.com/1875832/142603377-476424db-6fdd-4b81-b2b8-69f9157e17d3.png) comes from the plugin. It's a localized string, but still needs to be translated by the community.

[2021-11-22 15:09] aheckler commented on #2175
The UI here does seem suboptimal, even in Test Mode. Before:

![Screenshot taken on 2021-11-22 at 15 05 20 UTC](https://user-images.githubusercontent.com/5512652/142885340-16926f11-1aa5-4407-bea6-8d5f9ed48f4a.jpeg)

I see no real warnings, and my site works fine in test mode. I can accept test payments and so on.

After:

![Screenshot taken on 2021-11-22 at 15 06 11 UTC](https://user-images.github

[2021-11-22 15:45] demaya commented on #2120
What do you need to make progress here? Translation to german?

[2021-11-22 16:11] ricardo commented on #2120
@demaya yes, since there's no way to add a custom title for the gateway, we need the title translated to German. You are welcome to contribute to the German translation project:

German `de_DE`:
https://translate.wordpress.org/locale/de/default/wp-plugins/woocommerce-gateway-stripe/

German (Austria) `de_AT`:
https://translate.wordpress.org/locale/de-at/default/wp-plugins/woocommerce-gateway-strip

[2021-11-22 16:22] jarekmorawski commented on #2120
Yup! Stripe confirmed that the UPE supports 42 locales. Regarding the string, it's basically the payment method name. We've discussed on Slack adding fields for the name and description (issue #2145). If we wanted to go the extra mile, we could add [Google-powered machine translation](https://cloud.google.com/translate) for the default string. I think that should solve the problem!

[2021-11-22 16:47] billrobbins opened #2176 "Paid orders are marked "pending payment" when a new account is created at checkout using the "early access" payment methods."
**Describe the bug**
With the new "early access" payment method enabled, if a customer creates an account at checkout, the order status remains "pending payment" even though the order is paid.  The Stripe metadata is not saved to the order as it typically is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WooCommerce > Settings > Payments > Stripe.
2. Click on the "Enable in your stor

[2021-11-22 20:02] diegocurbelo opened #2178 "Update minimum WC supported version to 5.7"
With the release of WooCommerce `5.9.0` we need to update the minimum WC supported version to: `5.7` and WC tested up to: `5.9` to align with the L-2 support policy.

**Additional context**
https://developer.woocommerce.com/2021/08/26/developer-advisory-woocommerce-stripe-support-policy-change/

[2021-11-22 23:16] cesarcosta99 commented on #1808
Thank you, @frosso!

@jarekmorawski do we have a flow or idea on how we would like to display that preview for the user? Would that be on a modal? On a new page? Or simply redirecting the user to the checkout page?

[2021-11-23 18:09] asumaran commented on #2150
@ricardo I agree, but this is going to be released on 5.9.0 which should happen in a at least a couple of weeks. If something happens by that time we could revert the PR.

[2021-11-23 20:48] reykjalin commented on #2065
Hi all,

Thank you for reporting the issues you've had with getting the filters to work! I've looked into this, and it seems I made a mistake when creating the filters we introduced in version 5.8.0; they don't take into account whether the PRBs are enabled or not. I've opened a PR to fix the issue in #2179.

There's currently no easy way to work around the issue so we're aiming to get a patch rel

[2021-11-23 20:49] reykjalin commented on #2065
@galbaras That would make it so that the scripts can be disabled when the PRB is supposed to be shown on the product page 🙂 The code works as intended _when the PRBs are enabled_. The mistake I made was not running the filters when the PRBS are disabled (see https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2065#issuecomment-977157365).

[2021-11-23 21:39] cesarcosta99 commented on #1690
@jarekmorawski is this overlay something we still would like to display in this screen?

[2021-11-23 22:11] cesarcosta99 opened #2180 "Update full bank statement field description"
## Description

In "the legal entity name or website address", there's inconsistent spacing around the dashes before and after.

~We need to add a note in the description that it will just use what's on the account if blank. Idea for the copy in the end (please confirm with UX):~ No longer applies. For more info, [see comment](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2180#i

[2021-11-23 22:32] cesarcosta99 opened #2181 "Change deposits > payout"
## Description

"Deposits" is a WCPay term. We need to update all "deposits" references to "payout".

Ideally, we would change the code references too, while there's only a few of them.

[2021-11-24 06:05] galbaras commented on #2065
I can confirm that v5.8.1 doesn't load Stripe resources on product and/or cart pages when the respective filters are used.

[2021-11-24 08:38] jarekmorawski commented on #1690
Yes! Ideally, it'd be part of a larger spotlight component described in detail here: pbIJXs-RO.

[2021-11-24 08:40] niccolobusato commented on #2120
Still having some problems with the italian translation.. ![image](https://user-images.githubusercontent.com/44100360/143205271-ccdeefdf-3ef9-469a-b116-903f76990e83.jpeg)

as u can see only the title isn't translated to italian out of the box

[2021-11-24 08:42] jarekmorawski commented on #1808
If you have time, we'd display the preview in a modal per the design below (the same design was used in the multi currency settings). If you don't have time, we could open checkout in a new tab.

![image](https://user-images.githubusercontent.com/79307566/143203903-60cd1412-06f4-4405-a877-e0a4c0719ee4.png)

I assume it'll be easier to display saved settings.

[2021-11-24 13:09] ozidrice commented on #2065
I confirm it too, it's working perfectly with the two filters mentioned earlier
Perfect, thanks a lot ! 💯

[2021-11-24 13:12] #2178 closed, assigned to nobody

[2021-11-24 14:59] FunkyCss opened #2183 "Custom name is not working after upgrade to 5.8"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Payments - Settings '
2. Click on 'Click on new checkout experience and after you enabled it and saved , unckeck it and save again'
3. Go to settings and try to change the name ( one field is missing )
4. Go to checkout page and you will see that your new custom nam

[2021-11-24 15:02] FunkyCss commented on #2183
After the upgrade for 5.8 my custom text on the checkout page is not working anymore.

There is a default ( not translated  ) -  " Pay with credit card / debit card "

Also the field input seems to have disapeard. inside the dashboard.

To replicate that issue please upgrade to 5.8 or 5.8.1 ,

Pick the Use the new checkout experience - after disable it again.

Try to change the custom name for the

[2021-11-24 15:11] FunkyCss opened #2184 "Inline checkout field is not working with the new update of 5.8"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Go to your plugin settings , and choose the new checkout experience, save it . After you have save it enable it again.

2. After you have NOT enabled anymore the new checkout experience ( Go to  Enable separate credit card form ) and DO NOT select that field,

3. Go to checkout page and notice that it sh

[2021-11-24 15:11] FunkyCss commented on #2183
In the first visit seems that they work OK , but my guess is that the new checkout experience brakes things up when first has been selected. So keep this on mind that in the first sight you will see everything fine , but it is not.

[2021-11-24 16:18] jenfloods commented on #2065
With the latest update, do we still need to add in those filter codes?

Sincerely,
Jen Niles

*Jennifer A. Niles*Front-end Web Developer
*ASFPM | *8301 Excelsior Dr.  | Madison, WI  53717
tel: 608-828-3000  | cell: 608-963-5280  | floods.org
<http://www.floods.org/> | *Email Jen ***@***.***>*

On Wed, Nov 24, 2021 at 7:10 AM ozidrice ***@***.***> wrote:

[2021-11-24 16:24] PaulSchiretz commented on #2065
@jenfloods Yes you would still need to add them. Cheers

[2021-11-24 16:29] colmtroy commented on #1248
Polite bump on this issue - sessions are still being set on single product pages in 5.8.1 when payment request buttons (or express checkouts as they're now called) are disabled single product pages
![](https://i.imgur.com/O02UPMR.png)

This is a significant issue for high volume WooCommerce stores in that product pages cannot be delivered from cache.
Any way this can be prioritized given the sever

[2021-11-24 17:29] amElnagdy commented on #2120
With 5.8.1, when I change the name in the display settings, it does not affect the name on the checkout page.

It turned out that disabling the new checkout experience as shown
![https://d.pr/i/Uf0v50](https://d.pr/i/Uf0v50+)
Full Size: https://d.pr/i/Uf0v50

will bring back the old (working) experience.

Ref: 4541964-zen

[2021-11-24 18:50] csmcneill opened #2186 "Google Pay does not appear as an option on Google Chrome (iOS)"
**Describe the bug**
When accessing a site using Google Chrome on an iOS device, Google Pay is not displayed on the cart or checkout pages.

Identified in 4406789-zen. I experience the same issue with WooCommerce Payments, so this may be an issue on Stripe's end.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a site to accept Google Pay.
2. Access the site using Google Chrome.
3.

[2021-11-24 18:50] wilstart commented on #2065
I don't understand this as a fix. You have UI that explicitly lists where to activate Stripe wrt payment on non-checkout pages. Yet we have to add PHP filters *as well* to disable Stripe code on pages where no payout options are offered to the user?

So, this isn't really a fix from what I understand, but rather a workaround? If so, when will this actually be properly fixed?

Why can't the plugin

[2021-11-24 19:48] cesarcosta99 opened #2187 "Update "Stripe docs" copy"
## Description

We're replacing both references of "Stripe docs" with "Stripe plugin docs" so that the users don't get confused about those links directing to Stripe's docs itself.

![image](https://user-images.githubusercontent.com/10233985/143303835-449d15a5-9166-4757-94e7-08c7b90e3b14.png)

![image](https://user-images.githubusercontent.com/10233985/143303970-9f045b84-718e-4ed1-94d0-b831cfa8be4

[2021-11-24 21:35] cesarcosta99 opened #2188 "Tweaks in the account keys modal"
## Description

This issue is a continuation of #2153. Since there will be a wizard to set up the keys (#2007), we won't be tweaking the experience of the modal instance in the plugin setup.

The modal should follow most of the behaviors indicated in the previous issue with a few differences indicated in the criteria list below.

![image](https://user-images.githubusercontent.com/10233985/14330750

[2021-11-24 21:58] cesarcosta99 opened #2189 "Update bank statement validation"
## Description

Let's make sure we apply the same validation rules [determined by Stripe](https://stripe.com/docs/statement-descriptors#requirements) to both full and short bank statement fields.

While working on this, let's also consider validating against the list of blocked strings (see pc4etw-bL-p2 and the referenced issue below).

The validation error for that setting:

could be adjusted to:

[2021-11-24 22:24] apmwebdev commented on #2175
Another user running into the same issue here: https://wordpress.org/support/topic/bug-payments-disabled-after-updating-to-5-8-0/#post-15100602

[2021-11-24 22:38] cesarcosta99 opened #2190 "Hide separate credit card setting if UPE is enabled"
## Description

It looks like this setting was removed from the UPE case:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1fcf10d063cd97813644f195e463cf3e76a4f50e/includes/payment-methods/class-wc-stripe-upe-payment-gateway.php#L170

We need to investigate whether [UPE](https://stripe.com/docs/payments/payment-element) offers any customization on that. If we can't confirm, we need

[2021-11-25 05:37] galbaras commented on #2065
The plugin now implements new Stripe recommendations. As such, we should all be loading the Stripe scripts on every page, and the plugin is now compliant with that.

Those of us who think they know better than Stripe, or don't need the extra protection, can now prevent those scripts from loading. The filters only block resource loading when payment buttons are disabled. When they are enabled, the

[2021-11-25 05:44] wilstart commented on #2065
Why? Surely you would expect better than "so and so tells us so" - this is religion, not science, and given the absolutely noticeable and deleterious effects it has on every product page, we deserve a better explanation than "because Stripe says so".

How is this serving our customers who just want to look at what we are offering, but not buying (at least not today) and so there is NO transaction

[2021-11-25 06:25] galbaras commented on #2065
This plugin was written precisely to facilitate Stripe payments. On one hand, it "listens" to WooCommerce. One the other, to Stripe. You wouldn't want it to continue using an old API, for example, and this is a kind of new API, which you would have to use if you used Stripe directly.

You now have a way to make things work for you, and the new feature has already rolled out. Let's give it a rest.

[2021-11-25 06:25] #2065 closed, assigned to reykjalin

[2021-11-25 06:44] wilstart opened #2192 "Stripe Plugin loads unnecessary resources"
The full details of this can be found here:<br>[https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2065](<https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2065>)

The original issue has not been fixed, but a rather ugly, and potentially conflicting "workaround" has been implemented.

Concerns raised about the issue have been met with "because Stripe said so", which gi

[2021-11-25 15:22] leonardola opened #2195 "Cached information is being sent to stripe during retries on blocks checkout"
**Describe the bug**
If you try to place an order using blocks checkout with an invalid card, update checkout fields and try to place the order again with a valid credit card the outdated information is sent to stripe

**To Reproduce**
Steps to reproduce the behavior:
- Activate UPE
- Go to WooCommerce > Settings > Payment > Activate Boleto
- Add any product to cart
- Go to Blocks checkout
- Fill

[2021-11-25 17:47] #2124 closed, assigned to brianyu28

[2021-11-25 19:29] leonardola opened #2196 "error shows up when using invalid card on pay order non upe"
**Describe the bug**
When using invalid card on pay order non upe error on includes/class-wc-gateway-stripe.php on line 570. This is happening because this [line](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/ab57b136f211333cc9e97e47ed4c2d3b9465db2a/includes/class-wc-gateway-stripe.php#L570) is before the error [check](https://github.com/woocommerce/woocommerce-gateway-stripe/blob

[2021-11-25 19:33] leonardola opened #2197 "Duplicate errors show up on Blocks checkout"
**Describe the bug**
When trying to checkout with an invalid card the message "Your card was declined." shows up twice
<img width="538" alt="Screen Shot 2021-11-25 at 4 30 34 PM" src="https://user-images.githubusercontent.com/6342964/143493140-6b858769-b85e-486e-8bf0-2ddbb971f2ec.png">

**To Reproduce**
Steps to reproduce the behavior:
- try to checkout with invalid card (4000000000000002) on bloc

[2021-11-25 19:38] leonardola opened #2198 "Add settings for expire date on boleto"
Only after #2115 gets merged.

Add settings for how long it takes for a Boleto to expire. Default to 3 days.

Docs:
https://stripe.com/docs/payments/boleto/accept-a-payment?platform=web#additional-payment-method-options.

[2021-11-25 19:42] leonardola opened #2199 "Remove html inside translatable string"
Remove html inside translatable strings.

Look inside the languages/woocommerce-gateway-stripe.pot file for strings with html inside.
To add html to a string use sprintf instead [like here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/fe0d2951ebdc236ebc18302ab161b15f3451b48f/includes/class-wc-stripe-apple-pay-registration.php#L396-L401)

[2021-11-25 19:44] leonardola commented on #2197
closing in favor of #2093

[2021-11-25 19:44] #2197 closed, assigned to nobody

[2021-11-25 21:00] lkraav commented on #2192
As I thought, main reason for loading stripe.js everywhere is better fraud detection, see https://stripe.com/docs/js/including (or so they claim).

Depending on your specific site, it may or may not be optimal.

I have not yet measured the performance impact of their script, but am not loading it everywhere thus far.

[2021-11-25 21:08] wilstart commented on #2192
My product pages take twice as long to load as other pages on the site which have much heavier payloads. with nearly 1sec spent in calls out to stripe - and from the previous comments many others are seeing this with similar problems.

Ok - so we are on a product page, with no "pay now" buttons. What happens when Stripe "detects suspicious behaviour that maybe indicative of fraud".

Given the MAY

[2021-11-25 21:17] lkraav commented on #2192
Valid questions, but it may make more sense to discuss this at https://github.com/stripe/stripe-js

[2021-11-27 12:30] ahfant commented on #2175
Facing the same issue as well - would be keen to know if there is an expected resolution time for this? Thanks in advance!

[2021-11-28 11:24] rashedripon opened #2201 "Translation for the incorrect card error message is missing"
**Describe the bug**

The error message "Your card's security code is incorrect." is not translated on the **My account > Payment cards** page.

**To Reproduce**
Steps to reproduce the behavior:
1. Change site's language to something else other than English
1. Go to **My account > Payment Cards** page
2. Try to add a new payment method
3. Use the test card number `4000000000000101` to get the CVC

[2021-11-29 12:47] cesarcosta99 opened #2202 "Enable Stripe after plugin setup"
## Description

We need to enable the Stripe gateway after the merchant completes the connect flow, either via OAuth or the account keys.

![image](https://user-images.githubusercontent.com/10233985/143870707-81b37270-28ad-4ff5-8abf-73e74fd00d52.png)

## Acceptance criteria

- After completing the plugin setup, Stripe is enabled.

[2021-11-29 12:55] cesarcosta99 opened #2203 "Add prompt when leaving with unsaved changes"
## Description

We can make use of a prompt to confirm leaving the page with unsaved changes.

Implementation example:

https://github.com/Automattic/woocommerce-payments/blob/3fa326bfbca4a4609db2bc02a21dbe1b07b04906/client/disputes/evidence/index.js#L380-L389

## Acceptance criteria

- When leaving the page with any changes, a prompt pops up asking if the user really want to leave.

[2021-11-29 13:01] cesarcosta99 opened #2204 "Fix payment methods' capitalization"
## Description

We have a few payment methods with wrong capitalization:

- iDeal should be **iDEAL**;
- SOFORT should be **Sofort**;
- Giropay should be **giropay**.

## Acceptance criteria

- All non-code references of those payment methods are correctly capitalized.

[2021-11-29 13:37] cesarcosta99 opened #2205 "Revert hide short descriptor fields"
## Description

We need to bring back the short descriptor fields (revert #2172). However, in order to do that, we must confirm (or fix) that the shortened statement descriptor is passed to the payment intent.

## Acceptance criteria

- Short descriptor fields are back to the settings.
- The value set in the short descriptor field gets passed to the payment intent in the checkout.

[2021-11-29 13:39] #2066 closed, assigned to leonardola

[2021-11-29 13:51] cesarcosta99 opened #2206 "Fix copy of CTA on express checkout customization"
## Description

In the [express checkout customization page](http://localhost:8082/wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe&panel=settings&area=payment_requests), we should replace the CTA option "Only icon" with "Default".

![image](https://user-images.githubusercontent.com/10233985/143879696-1b45d748-b8a1-462d-8cd4-2794acefc806.png)

[2021-11-29 18:46] aheckler commented on #2176
I have a similar case in 4546839-zen. Upon testing on my own site as described above, the order has the correct metadata and status, but I still see errors in my Stripe logs.

[code]

[2021-11-29 19:21] #2150 closed, assigned to asumaran

[2021-11-30 14:41] aheckler commented on #1548
Same thing here: https://wordpress.org/support/topic/apple-pay-not-displaying-when-safari-set-to-show/

Having them try this: https://woocommerce.com/document/stripe/#section-46

[2021-11-30 15:00] #2196 closed, assigned to leonardola

[2021-11-30 17:47] cesarcosta99 commented on #2180
Blocked due to p1638293368433600/1637246174.324800-slack-C01BZUL57SQ.

[2021-11-30 17:49] cesarcosta99 commented on #2189
Blocked due to p1638293368433600/1637246174.324800-slack-C01BZUL57SQ.

[2021-11-30 17:49] #2195 closed, assigned to leonardola

[2021-11-30 17:49] cesarcosta99 commented on #2205
Blocked due to p1638293368433600/1637246174.324800-slack-C01BZUL57SQ.

[2021-11-30 18:53] #2181 closed, assigned to rafaelzaleski

[2021-11-30 19:06] ricardo commented on #1627
Unlike in WCPay, it's not possible to use the Stripe API to save the statement descriptor to the account, and therefore we can't use the Stirpe API to validate the statement descriptor.

More about this here: p1638293368433600/1637246174.324800-slack-C01BZUL57SQ

[2021-11-30 21:31] #2121 closed, assigned to brianyu28

[2021-12-01 04:04] WillBrubaker commented on #2184
A Stripe user stopped in to chat with us in 32103387-hc and the issue that they are encountering seems very closely related to this, if not the same issue. On checkout, they are seeing the following:
![see screen shot](https://d.pr/i/P0pbVX+)

And they discovered that deselecting the box to enable separate forms fixes it for them.

[2021-12-01 05:12] rafaelzaleski commented on #1878
@frosso

1. Should we show the message only after the settings are saved? or is checking the checkbox for the payment method enough to trigger the message?
2. If the user marks the checkbox, but the payment method requires activation and/or requires currency, should we show the message anyway? They wouldn't be able to use the payment method in this scenario.

[2021-12-01 13:42] nagpai commented on #2175
I was seeing a similar view as @aheckler on my test site. Using this option

![image](https://user-images.githubusercontent.com/4162931/144244699-a6bce3cc-da61-42d0-9993-6f9c3f25a851.png)

I disconnected the account, and reconnected it. When I clicked `Edit account keys` The keys fields were blank. I had to enter them again and I now see
![image](https://user-images.githubusercontent.com/4162931/1

[2021-12-01 13:56] nagpai commented on #2175
Sorry deleted my earlier comment. I had accidentally connected another live account I had and was unable to replicate the issue on that. I was able to change the status by a disconnect and reconnect, and adding the keys again

In case of my test account (US as country) , I am getting same results as @aheckler  (sorry tagging you too much today ;) )

[2021-12-01 17:05] #2173 closed, assigned to lovo-h

[2021-12-01 18:27] daniyalahmadk commented on #799
Requested in 4561326-zen.

[2021-12-01 18:33] #2184 closed, assigned to diegocurbelo

[2021-12-01 18:33] #2190 closed, assigned to asumaran

[2021-12-01 18:38] diegocurbelo commented on #2184
In the New checkout experience the CC form fields are always displayed separately.
The old settings did not have the option enable/disable it when the new experience was enabled.

[2021-12-01 19:11] #2125 closed, assigned to brianyu28

[2021-12-01 20:45] rafaelzaleski commented on #2202
@cesarcosta99

What if I want to save the account keys or connect my account, but I don't want to enable Stripe on my store right now?

This situation will be particularly annoying if we don't show a message that we enabled the payment gateway and the merchant doesn't see it was enabled automatically.

IMO, a warning on the top of the settings page when the gateway is disabled would provide a bett

[2021-12-01 21:08] fevered commented on #2176
Also reported in 4561735-zen

[2021-12-02 02:12] #1663 closed, assigned to nobody

[2021-12-02 12:01] colmtroy commented on #2169
Gentle bump on this one - any thoughts on it?

[2021-12-02 18:51] diegocurbelo opened #2214 "Custom payment method name is empty in checkout for UPE"
**Describe the bug**
When the New checkout experience is enabled, the "payment method name" field is not preloaded with the default value: `Popular payment methods`, and field accepts an empty value, resulting in just a checkbox with an empty label in the checkout page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **WooCommerce > Settings > Payments > Stripe > Payment Methods**
2. M

[2021-12-02 20:51] cesarcosta99 commented on #2202
Good call! We can maybe consider, after the plugin setup, **if** Stripe **is not** enabled already (they may have just disconnected), redirect the user to the Settings tab, where they can straight enable Stripe if they want. If we don't do anything people may assume it gets automatically enabled after the plugin setup.

[2021-12-02 21:22] leonardola commented on #2198
Discussion of where to add the settings at p1638469434100600-slack-CHG7MTCAF

[2021-12-02 22:08] dsvwilson commented on #2175
Issue reported in 4535436-zd

[2021-12-02 22:31] rafaelzaleski commented on #1878
Hey @jarekmorawski, can you help us with the questions above? Thank you!

[2021-12-02 22:42] rafaelzaleski commented on #2202
That's a good idea! Thank you.

[2021-12-03 07:50] jarekmorawski commented on #1878
Hi there! Thanks for the ping. 🤗

Immediately after returning to Woo from the Stripe dashboard and refreshing the payment methods list (illustrated here: pc4etw-lh).

Great question. We would only show the message when the payment method's status is active. In other cases we'd add it to the list and check the box, but also show the requirement pill and hide the method on checkout. If someone adds

[2021-12-03 16:31] gglobalstep opened #2217 "[GlobalStep] In checkout failure testing, different error message is displayed for card no. "4000000000009995"."
## Bug Description:
In checkout failure testing, different error message is displayed for card no. "4000000000009995".

## Environment:
Woocommerce Version : WooCommerce 5.9.0
WooCommerce Stripe Payment Gateway: v5.9.0-test

PC:
Windows 10
Chrome(Version 96.0.4664.45)
Firefox(Version 94.0.2)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plu

[2021-12-03 21:24] cesarcosta99 commented on #2188
This is being addressed in #2213.

[2021-12-04 14:19] supernrm commented on #2192
**It's ridiculous to load it on every page.** Not everyone is interested in fraud detection and giving free data to Stripe. That is quite high cost for it. This should be an option.

[2021-12-04 14:42] billrobbins commented on #2176
Another report: 4565782-zen

[2021-12-05 02:07] WillBrubaker commented on #2176
4569758-zen

[2021-12-06 16:33] mwmatter commented on #1147
Is there any roadmap or update on this feature request? It would be a huge benefit to us to be able to add dynamic data about the given order for customers to more easily identify why they are being charged.

[2021-12-06 20:44] Baribj commented on #1799
Are there any updates on this issues ?