[2021-12-07 02:56] ricardo commented on #1799
@ritwaldev Unfortunately Stripe is still not supported in Saudi Arabia.

https://stripe.com/global

[2021-12-07 07:05] Baribj commented on #1799
Hi @ricardo Stripe's Apple Pay is supported in Saudi Arabia as per your comment above.  I was actually referencing the second issue where the Apple Pay would throw an error due to state field not being passed.

Apple Pay doesn't require a State field for users in SA.

Its been almost 3 months now and I think this ticket should get a bit more attention since payment with Apple Pay accounts to almos

[2021-12-07 11:39] amElnagdy commented on #2120
Another report where the customer can't edit the payment method title: 1263201-hc

[2021-12-07 20:42] aheckler commented on #2176
Pretty sure 4547608-zen is this.

[2021-12-07 20:56] asumaran commented on #2206
@cesarcosta99 it seems the "Default" option has been renamed to "Icon Only" ([Ref](https://wcpay.wordpress.com/2021/05/05/stripe-call-payment-request-buttons-and-digital-wallets-in-woocommerce-payments/)).

Closing this issue now /cc @frosso

[2021-12-07 20:56] #2206 closed, assigned to asumaran

[2021-12-07 23:37] #2187 closed, assigned to lovo-h

[2021-12-08 01:00] #2204 closed, assigned to lovo-h

[2021-12-08 16:22] #2063 closed, assigned to cesarcosta99

[2021-12-08 19:25] ricardo commented on #1799
@ritwaldev, I see what you mean. Apple Pay is supported, for customers, but Saudi Arabia is not supported as the store country by Stripe.

For clarification, the second issue is because WooCommerce requires a state field while Apple Pay does not provide it. Ideally WooCommerce should provide better ways to handle express payments.

One way you could fix the second issue is by overriding the WooCom

[2021-12-09 12:34] wpniall commented on #2176
Another report in 4579434-zen

[2021-12-09 15:54] diegocurbelo opened #2223 "Missing translations for strings in transpiled js files"
**Describe the bug**

Some translations strings are missing in the generated POT file, particularly those added with the new settings.

If the compiled files are not minified we can extract the strings directly, if minified we will need to use source-maps like WC Payments: https://github.com/Automattic/woocommerce-payments/pull/3486

The generated POT files has a reference to some of compiled file

[2021-12-09 18:02] ricardo commented on #2189
When UPE is enabled, the value is not passed to the payment intent. This is a bug, perhaps unrelated to this issue, but seems easy to fix.

Unfortunately, it's not possible to validate the common terms requirement (Issue https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1627): "Contains more than a single common term or common website URL...".

More about this here: p163829336843360

[2021-12-09 21:22] thelogicwizards commented on #1396
4579950-zen

[2021-12-09 23:07] ricardo commented on #2186
The plugin uses Stripe's [Payment Request Button](https://stripe.com/docs/stripe-js/elements/payment-request-button) integration for Apple Pay and Google Pay.

Unfortunately, Chrome's support of/commitment to the PaymentRequest web standard is not great, so the Google Pay button is not supported on iOS devices. AFAICT, it's fully supported on Chrome + Android, and on Chrome + desktop devices which

[2021-12-10 02:58] mouligreenlaw commented on #838
Another instance: 4579950-zen

[2021-12-10 03:59] asumaran commented on #2203
@cesarcosta99, which page precisely?  I assume the page you are referring to is the Stripe settings page?

I understand the confirmation should be displayed every time the user tries to navigate away from the stripe settings page but should it also be displayed when switching tabs (Payment Methods/Settings)?

[2021-12-10 14:19] cesarcosta99 commented on #2203
Yes, that's correct, it's the settings page. Perhaps we can make an extra effort to implement this in the payment gateways page (e.g. SEPA, Alipay etc). Since the payment gateway screen logic is unique for all gateways, I think it's not a big deal.

IMO, it shouldn't. The changes we make don't get lost when we switch tabs, therefore, when we save, all changes made regardless the tab we have curren

[2021-12-11 16:45] a-danae opened #2227 "Doc: The #new-checkout-experience anchor doesn't take the user to any specific section"
**Describe the bug**

We're using URL `https://woocommerce.com/document/stripe/#new-checkout-experience` in several places to refer to the documentation of the new checkout experience, but the anchor `#new-checkout-experience` doesn't take the user to any specific section.

This is happening with a few other anchors we link to in the docs as well. These are the ones I found:
`#additional-payment-m

[2021-12-11 16:55] billrobbins commented on #2176
One more 33036722-hc

[2021-12-11 17:00] a-danae opened #2228 "Doc: There are links in the public documentation pointing to WP's edit post URL"
**Describe the bug**
In [our Stripe docs](https://woocommerce.com/document/stripe), there are links that point to `https://woocommerce.com/wp-admin/post.php?post=8828148&action=edit`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://woocommerce.com/document/stripe/, in incognito to make things simpler
2. Open the browser inspect tools
3. Search for `action=` within the page's el

[2021-12-11 17:41] a-danae opened #2229 "Links within the plugin are pointing to inexistent anchors in the docs"
**Describe the bug**
There are some links in the plugin that are supposed to go to a section in the docs but they leave you at the beginning of the docs instead.

**To Reproduce**
This is one example:
1. Go to `/wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe`
2. Under "Express checkouts", notice that "Learn more" links to https://woocommerce.com/document/stripe/#payment-request-bu

[2021-12-12 21:23] lovo-h commented on #1763
An [issue that came up in a separate thread](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2149#issuecomment-969265678) and that [we may want to address here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2149#issuecomment-969299485), is the following:
- In the Stripe docs, we could rename the link `https://woocommerce.com/document/privacy-payments/#section-3`

[2021-12-12 23:11] brettnzl opened #2231 "5.9 Issue BlockUI Blocking checkout"
**Describe the bug**
I don't have a clear description of this bug, but since installing 5.9, there has been an issue with the checkout payment gateway being blanked out blocked by woocommerce. making it impossible to make transactions. generally refreshing the page, or being logged in will prevent this from happening, but in incognito and non-logged-in users. the issue is present.

I have reverted

[2021-12-13 01:10] brettnzl commented on #2231
The issue, resolved. seemed to be unrelated.

[2021-12-13 01:10] #2231 closed, assigned to nobody

[2021-12-13 03:39] ricardo commented on #1763
@lovo-h I've made the suggested change, but probably due to cache it's still not showing up. I'll check later.

[2021-12-13 09:25] chestnutbak commented on #1034
Please add support for WeChat Pay... as stated by multiple people above, this is the most widely used payment platform in China and the fact that the Stripe integration for WooCommerce doesn't have it is a huge hole in the market that needs to be filled ASAP (also based on my understanding of Stripe and the integrations this shouldn't be too hard to do)

[2021-12-13 09:29] chestnutbak commented on #873
WeChat has been out of Public Beta for quite a while now and should be added to the plugin ASAP to support the community in China

[2021-12-13 12:16] dmallory42 commented on #2223
I had a German customer in my support rotation who raised what seems to be a related concern regarding the "Pay with credit/debit card" string in the UPE checkout.

Screenshot:
<img width="922" alt="Screenshot 2021-12-13 at 11 56 41 (1)" src="https://user-images.githubusercontent.com/11770181/145810613-83dcfd8c-5ab5-40d4-a0eb-d83ca63e92ae.png">

This was in version 2.8.1, however I checked the `po

[2021-12-13 13:41] cesarcosta99 opened #2232 "Update disable UPE modal wording"
## Description

When disabling UPE and using the disable option present in the payment methods list, the wording is not consistent and clear. We need to tweak it to have the wording from the new design:

![image](https://user-images.githubusercontent.com/10233985/145822238-a3ffc238-9978-4c34-aa72-3c43f106ff92.png)

## Acceptance criteria

- The disable UPE modal looks like the screenshot above.
-

[2021-12-13 15:10] leonardola opened #2233 "Add conditional to prevent applying mask on non existing element"
**Describe the bug**
@areoimiles commented [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2115#issuecomment-991856005) that When Boleto is disabled an error can happen and block the use of other payment methods. The error happens at https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/assets/js/stripe.js#L279.
I could not simulate the error but a validation

[2021-12-13 15:23] ricardo commented on #1763
Update: There's actually a compatibility problem between the new WooCommerce documentation and blocks, which makes it impossible now to assign custom anchors to headings.

This should be fixed here 11997-gh-Automattic/woocommerce.com

[2021-12-13 15:41] lovo-h commented on #1763
@ricardo, thanks for looking into this.

Will we need to update the `#woocommerce-gateway-stripe` anchor links in [woocommerce-gateway-stripe](https://github.com/woocommerce/woocommerce-gateway-stripe), for the meantime?

Or should we wait for [the issue](https://href.li/?11997-gh-Automattic/woocommerce.com) to be resolved, leave the links as-is in the meantime, and update the docs to coincide wit

[2021-12-13 16:03] ricardo commented on #1763
I'd say we can wait for a fix in woocommerce.com. We still have some time until the next Stripe release, so either way we wouldn't have an immediate fix.

[2021-12-13 17:15] cesarcosta99 opened #2234 "Refactor UPE feature flag sources"
## Description

With the PR #2220 merged, we have introduced in the client codebase a new way to handle the UPE feature flag.

We had the context/provider already:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/15f3006c8950409d128f514f6e4effc2668e251f/client/settings/upe-toggle/provider.js#L16-L19

And the recently introduced setting dealt by the settings API endpoint:

https://gi

[2021-12-14 04:28] diegocurbelo opened #2239 "IP address not saved in Stripe when customer pays via payment request button (Apple or Google Pay)"
**Describe the bug**
There seems to be an issue with the WooCommerce Stripe plugin where it does not send an IP address to Stripe if a customer pays via payment request button (Apple or Google Pay).

Slack thread: p1639084056207200-slack-C7U3Y3VMY

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots

[2021-12-14 05:24] diegocurbelo opened #2240 "Add a filter call when updating an intent (wc_stripe_update_existing_intent)"
**Describe the bug**

Currently there is a filter "wc_stripe_generate_create_intent_request" when creating a new intent, but there is no filter when updating an existent intent.

Function with the filter:
https://github.com/woocommerce/woocommerce-gateway-stripe/blob/fe881c4c271fcbe0457[…]2150c/includes/abstracts/abstract-wc-stripe-payment-gateway.php

Function that should have an equivalent filte

[2021-12-14 12:05] joashrajin opened #2241 "Update Now button to update business information does not go to the correct page"
**Describe the bug**

When you see the `Payments/payouts may be disabled for this account until missing business information is updated.` message, the `Update Now` button links you to https://stripe.com/support which seems incorrect

**To Reproduce**
Steps to reproduce the behavior:
1. You would need to have a Stripe account that has Payments or Deposits disabled. This can be done on an account th

[2021-12-14 12:36] joashrajin commented on #2241
I have made my first PR for this and hope it is correct 😅

[2021-12-14 14:56] #2202 closed, assigned to rafaelzaleski

[2021-12-15 02:06] shaunkuschel commented on #2240
Reported via 4609846-zen

[2021-12-15 05:31] ricardo commented on #2186
This is Xiao's (Stripe) reply to my query about an ETA for Google Pay to be available as a native implementation:

This has dependency on both Google and Apple’s own product supportability, and will require significant undertaking engineering wise.
Sorry that it’s not the answer you are looking for. We will keep you in the loop if anything changes on this front.

So unfortunately it doesn't look l

[2021-12-15 10:54] devvnawaz commented on #1563
We got a user in Happychat [#32673388](https://mc.a8c.com/support-stats/happychat/transcript.php?id=32673388) who is reporting the similar issue. They reported this issue back on January 28, 2021, and now they want to know if we have any update regarding this.

[This is the bug report](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1459) created in favor of them which is merged,

[2021-12-15 14:40] neilmccreadie commented on #838
Another instance in 25341799-hc

[2021-12-15 16:40] #2241 closed, assigned to joashrajin

[2021-12-15 17:13] #2233 closed, assigned to leonardola

[2021-12-15 17:16] leonardola commented on #2233
@areoimiles I could not reproduce the error but added the conditional you suggested so the next release should not cause that error anymore.

In the meantime. Does the jquery-mask.min.js file gets loaded without errors on checkout page? Because if it does not load correctly that could generate the error you mentioned. Not just the element not existing.
Many things can cause it to not load on your

[2021-12-15 19:12] #1878 closed, assigned to rafaelzaleski

[2021-12-15 19:33] wyter commented on #2175
Also reported in 4611979-zd

[2021-12-16 01:15] iguanamom commented on #2033
Can someone help me out here? I apologize in advance for being a coding idiot. I've used that workaround in my functions.php and after fiddling with it to get it right, replacing ' . WC_STRIPE_PLUGIN_URL . ' with the actual URL and testing that URL to be sure it actually goes there (it does), no cards are showing on checkout. I thought maybe it's because I'm in test mode for the credit cards...nop

[2021-12-16 08:18] areoimiles commented on #2233
@leonardola thanks very much for looking in to this. Yes, I can confirm the jquery-mask.min.js is loaded without error. I'll look out for the next release!

[2021-12-16 10:13] raifd commented on #2163
The same issue was mentioned here: 4611643-zd-woothemes

[2021-12-16 13:14] leonardola commented on #2163
@raifd I just asked for another review on the PR so this should be fixed ASAP. It will probably be shipped on the next release.

[2021-12-16 16:08] ricardo commented on #2033
@iguanamom, I noticed the URL you mentioned is not quite right. There's no `/cards/` folder.

If you add the code snippet [above](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2033#issuecomment-939216545) as is into the theme functions.php file (**Appearance > Theme Editor > functions.php**), it should bring back the previous behavior.

No need to change `WC_STRIPE_PLUGIN_URL`,

[2021-12-16 20:12] iguanamom commented on #2033
@ricardo thank you for your help here! Figures, I'm trying to make things more complicated. HOWEVER, this still didn't work for me. I can definitely confirm I have a 'cards' folder where the images are stored, but even putting that in there (without the full URL as I was doing before, just adding it onto the path) it still won't show up. So trying both ways, as written and adding in the 'cards' fo

[2021-12-16 21:32] ricardo commented on #2033
@iguanamom I just noticed another weird thing in your URL: `woocommerce-payments` 😅.

This repository is for a different plugin (`woocommerce-gateway-stripe`), so the code snippet I sent you above will ultimately only work for the Stripe plugin, not WooCommerce Payments.

WooCommerce Payments doesn't seem to provide a way to customize the gateway icon, so I'm afraid you can't do that with WooComme

[2021-12-16 21:38] iguanamom commented on #2033
@ricardo ahhhhh ok, thanks for noticing that. Dumb there are two very similar plugins for this. I wonder what the actual difference is!? I'll get on the plugin support page and ask there. Thanks again for your time!!

[2021-12-16 22:24] ricardo commented on #2033
@iguanamom Both plugins use Stripe for payment processing and both plugins offer an extensive set of features.

There are small changes in terms of features, fees and supported countries, but the main difference is that WooCommerce Payments offers a more streamlined approach to start collecting payments - You don't need to configure API keys or do pretty much anything via the Stripe dashboard, whi

[2021-12-16 22:35] iguanamom commented on #2033
@ricardo oh ok, thank you for the explanation and going out of your way to help, I do appreciate you! Have a nice holiday season!

[2021-12-17 16:25] thisissandip commented on #2175
Another report in 4618847-zd

[2021-12-17 19:41] templeman opened #2247 "Custom Stripe styles ignored when UPE enabled"
After upgrading WooCommerce Stripe Gateway to 5.8.0 and enabling the 'New checkout experience', custom Stripe styles are lost.

**To Reproduce**
1. Before enabling UPE, add some custom Stripe styles using the documented filter `wc_stripe_elements_styling`. Here's a basic example based off of the [official docs](https://woocommerce.com/document/stripe-styling-fields/)
[code]
2. Observe the custom :

[2021-12-17 21:18] aheckler commented on #2175
4573201-zen

[2021-12-18 14:09] wpniall commented on #2175
4618760-zen

[2021-12-18 16:53] sukafia commented on #2175
Payout disabled for 33268381-hc. Stripe confirmed everything is fine on their end & referred to us.

[2021-12-18 22:46] phillipcornwell commented on #2175
Deposits disabled for 4576515-zd-woothemes. Stripe tells them that side of things are okay and referred the to us.

[2021-12-19 00:50] nicdwilson commented on #2175
4621189-zen

[2021-12-19 12:09] WhoopDav commented on #2192
Agreed. It is rediculous that Stripe says it needs to load these JS page blocking scripts on every page for "Fraud Detection". Stripe managed fine their fraud protection system before, without loading their JS scripts on every page.

Today with so much focus on lowering page speed, how on earth do they think they can get away with this, adding so many scripts to pages where there are not even thei

[2021-12-20 00:35] WillBrubaker opened #2249 "webhook failure resulting in payment failure"
**Describe the bug**
In 4617767-zen the user reports that they are experiencing failed payments. The Stripe logs indicate that:

[code]

I'm not clear if this is the same as #1196

**To Reproduce**
Steps to reproduce the behavior:
1. I guess use Bancontact

**Expected behavior**
That a valid payment results in an order marked as paid rather than canceling for non-payment.

**Screenshots**
If appli

[2021-12-20 02:04] Snaacks commented on #2175
Another user in https://wordpress.org/support/topic/bug-payments-disabled-after-updating-to-5-8-0/#post-15178917 reporting this issue.

[2021-12-20 21:41] asumaran commented on #2239
@diegocurbelo asked to Stripe internally. They say it's an issue currently with Google Pay. No ETA provided p1639784148291000/1639705570.286400-slack-C9976E5MJ. Unassigning myself from this issue.

[2021-12-21 12:27] cesarcosta99 commented on #2249
@WillBrubaker I've performed a [checkout with Bancontact test](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-critical-flows-using-the-classic-checkout-experience#checkout-with-bancontact) on a fresh WP and plugin installations with both the [new checkout experience](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-cri

[2021-12-21 17:14] cesarcosta99 commented on #2189
As a result of the p1638293368433600/1637246174.324800-slack-C01BZUL57SQ discussion, we're going forward with option (a) Ricardo described. We need to make sure the validation rules are being applied to the statement descriptor fields, with exception to the common terms; and the error message is accurate.

Not necessary to tackle both things above while working on this, I'll be addressing that on

[2021-12-21 17:37] cesarcosta99 commented on #2180
After further discussion, we'll be adding a tooltip to make the requirements clearer.

![image](https://user-images.githubusercontent.com/10233985/146972237-715a8370-9e53-4127-bcb6-b36426f38784.png)

In the acceptance criteria we can ignore the following:

I'll be adding a placeholder to indicate that on #2205.

[2021-12-21 17:51] #2163 closed, assigned to leonardola

[2021-12-21 18:54] ricardo commented on #1627
Closing this since it's not possible to address this on our end.

More details in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2189#issuecomment-998954529

[2021-12-21 18:54] #1627 closed, assigned to ricardo

[2021-12-21 18:54] ricardo commented on #2189
@cesarcosta99, I closed https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1627.

[2021-12-21 20:33] #2203 closed, assigned to asumaran

[2021-12-22 12:53] martynmjones commented on #2175
4619899-zen

[2021-12-22 16:37] fevered commented on #2176
I am pretty sure 4630589-zen is experiencing this issue

[2021-12-22 16:58] #2223 closed, assigned to diegocurbelo

[2021-12-22 19:51] #2188 closed, assigned to rafaelzaleski

[2021-12-23 09:55] anant1811 commented on #2175
Also reported in #4619615-zen

[2021-12-23 12:26] rafaelzaleski commented on #1634
This issue was reported in today's testing session again.

[2021-12-24 10:07] sukafia commented on #2175
4635279-zen

[2021-12-24 16:17] cjnewbs opened #2254 "Stripe module loads methods at start of app bootstrap causing `is_checkout()` to return wrong values"
**Describe the bug**
When the `woocommerce-stripe-gateway` plugin is enabled calls to the `wc-ajax=checkout` and `wc-ajax=update_order_review`. endpoints, payment methods loaded via the `woocommerce_payment_gateways` filter the `is_checkout()` function returns `false`
This is because `add_action( 'wp', [ $this, 'maybe_process_upe_redirect' ] );` is run from `\WC_Stripe_Intent_Controller::__constru

[2021-12-27 07:11] priyanka-cedcoss opened #2255 "Add filter calls to make it compatible with other plugin"
We are making stripe plugin compatibility with others plugin
so we need some filters in following places to handle handle payment option.
In your plugin file /include/class-wc-stripe-upe-payment-gateway.php

1. we need a filter withing ‘get_upe_enabled_at_checkout_payment_method_ids’ function
like` return apply_filters(‘wc_stripe_upe_enable_payment_method’, $available_method_ids, $order_id );`
For

[2021-12-27 07:18] #2255 closed, assigned to nobody

[2021-12-27 07:25] priyanka-cedcoss opened #2256 "Add filters to make it compatible with other plugins"
We are making stripe plugin compatibility with others plugin
so we need some filters in following places to handle payment option in stripe on checkout.
In your **plugin file /include/class-wc-stripe-upe-payment-gateway.php**

1. we need a filter within ‘**get_upe_enabled_at_checkout_payment_method_ids**’ function
like `return apply_filters(‘wc_stripe_upe_enable_payment_method’, $available_method_

[2021-12-27 14:06] raifd commented on #2175
4639946-zd also

[2021-12-29 18:29] darcie commented on #2175
33405806-hc

[2021-12-29 20:26] namiokuzono commented on #2175
4642065-zen

[2021-12-30 13:15] chrism245 commented on #2175
33415565-hc

[2021-12-31 00:54] kvvsi commented on #2175
4647453-z

[2021-12-31 15:40] iMazed commented on #1248
Also mentioned in 4649958-zen.

[2021-12-31 15:46] chrism245 commented on #2175
4647690-zen

[2021-12-31 19:33] diegocurbelo commented on #2175
This `Disabled` status is displayed when the `card_payments` account capability is not `active` in Stripe:
<img width="222" alt="Screen Shot 2021-12-31 at 16 01 20" src="https://user-images.githubusercontent.com/407542/147836378-bf8eb952-6dcb-4213-bef2-c4d72ebee706.png">

Those account `capabilities` are obtained (and [cached for 2 hours](https://github.com/woocommerce/woocommerce-gateway-stripe/b

[2021-12-31 20:11] yapofire commented on #1248
Is there any update on this or a way around it?

Running WC 6.0 and Stripe Plugin 5.9

If you have express checkout turned off on product pages, then no session should be started by default on Product Pages

This is killing my google pagespeed score right now, as cloudflare etc will obviously skip any pages with an active session cookie

Any workaround code I can add?

[2021-12-31 20:16] melek commented on #1682
I've added a 'High' priority tag, as the card management functions should really behave for customers as expected. 4218298-zen still looking for a response.

[2022-01-03 18:53] rafaelzaleski commented on #1634
I tested again today on 2 distinct servers and cannot reproduce. It probably failed on the Stripe side in the last testing session.

Working as expected:

<img width="268" alt="Screen Shot 2022-01-03 at 15 52 42" src="https://user-images.githubusercontent.com/4153905/147968227-4fd920e4-ef53-4cac-ac52-dfd7efd78ae0.png">

[2022-01-04 05:51] nataib commented on #2175
I checked my Stripe account API and it looks like the capabilities are all active.
<img width="279" alt="Screen Shot 2022-01-04 at 1 30 40 PM" src="https://user-images.githubusercontent.com/89171666/148014195-986de59e-54a3-4137-8421-d214ee4ab623.png">

When I go to Stripe Payment methods page, Card payment hasn't been turned on. At the top of the page there's a warning about switching to the lates

[2022-01-04 07:16] EjayhanFernandes commented on #2175
Similar issue here: 4653932-zen. Asked the merchant to verify if they have the Cards payments information complete. Update: The user decided to proceed with WooCommerce Payments instead and seems to work fine for them.

[2022-01-04 11:07] joashrajin opened #2259 "New Checkout Experience adds 'Incomplete' payments"
**Describe the bug**

When you enable the New Checkout Experience and then view the Checkout Page, an incomplete payment is added to Stripe even if the visitor is not logged in. I am unsure if this is intended, but this never happened with the regular checkout experience and seems like a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Stripe > Settings > Advanced Settings > Enable

[2022-01-05 13:50] brianyu28 opened #2262 "Add `is_live` and `test_mode` to account summary API"
**Is your feature request related to a problem? Please describe.**
For in-person payments, the account summary endpoint needs the parameters `is_live` (whether the underlying Stripe account is an actual account connected to a bank) and `test_mode` (payment gateway extension should use test keys instead of live keys).

**Additional context**
See #2200.

[2022-01-05 16:32] brianyu28 commented on #2262
@allendav `test_mode` seems very straightforward to add, but I had a clarifying question about the below comment:

Do you know if there is a property that exists somewhere in the Stripe account's metadata that would tell us this, or if it's something we have to infer from other information (for example, [`details_submitted`](https://stripe.com/docs/api/accounts/object#account_object-details_submit

[2022-01-05 20:30] a-danae opened #2265 "Failing JS unit tests when the node modules are installed from scratch"
**Describe the bug**
A couple of JS unit tests that normally pass, fail when `package-lock.json` and `node-modules` are removed locally and added again.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the latest `develop`. It's at `4f47751f` as of now
2. Run `npm run test:js`
3. Notice that all tests pass. All good until here
4. Now delete the `package-lock.json` file
5. Delete the `nod

[2022-01-05 22:03] allendav commented on #2262
So, to give context, although web payments (i.e. through WooCommerce checkout) work for is_live true (activated accounts) for both test_mode true and test_mode false, attempting to get a token to connect a card reader using test secrets will not work for is_live true accounts - e.g. see https://github.com/woocommerce/woocommerce-ios/pull/5358

So, in our mobile apps, we want to avoid attempting to

[2022-01-06 00:02] ricardo opened #2267 "Outdated Payment Element (UPE) 'payment_element_beta_1' notice"
Related in WCPay: https://github.com/Automattic/woocommerce-payments/issues/3448

The Payment Element was launched publicly in October 2021. We must follow [the above guide](https://stripe.com/docs/payments/payment-element/upgrade-from-beta) to upgrade.

**To reproduce:**
1. Make sure UPE is enabled.
2. Add a product to the cart.
3. Head to the checkout page.
4. Notice the above warning in the con

[2022-01-06 09:06] joashrajin commented on #2259
As per: p1639064338199800/1638712253.111900-slack-C7U3Y3VMY, the `payment_intent` is created when the page is loaded. That means that there will be "incomplete" payments every time a user visits the checkout, even if they don't end up using Stripe. This seems to be the intended behaviour when using the New Checkout Experience and an explanation will be included in our documentation soon. I am clos

[2022-01-06 09:06] #2259 closed, assigned to nobody

[2022-01-06 19:19] allendav opened #2268 "Please wrap get_account_summary return value in new WP_REST_Response"
**Describe the bug**

Props @joshheald for [noticing this](https://github.com/woocommerce/woocommerce-ios/pull/5799#discussion_r779646571). Unlike other endpoint response functions, the return value of get_account_summary is not wrapped in WP_REST_Response:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/13b254d7e16f5123c3e1110f48c78ddda586adab/includes/admin/class-wc-rest-stripe-a

[2022-01-06 20:18] brianyu28 commented on #2268
Good catch, thank you! I've opened a PR for this in #2269.

[2022-01-07 18:29] asumaran opened #2270 "Update `@woocommerce/eslint-plugin` to the latest 1.3"
_Originally posted by @harriswong in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2252#issuecomment-1007635705_

[2022-01-07 21:14] rafaelzaleski opened #2271 "Error when paying with a saved card in the checkout block (UPE)"
**Describe the bug**
Error `payment_data[0][value] is not of type string,boolean.` when paying with a saved card in the checkout block (UPE)

**To Reproduce**
With UPE enabled:

1. Add a product to the cart, go to the checkout, choose to save the card for future purchases, and complete the order.
2. Add a product to the cart and go to a page with the checkout block from `WooCommerce Blocks`
3. Cli

[2022-01-08 15:21] dave-meyer commented on #1167
Are there any news about this issue?

[2022-01-09 05:17] zahansafallwa1511 commented on #403
What a way to close a bug without much information. What is 1797904-zen? At least leave some reference link which peasants like us can follow and probably understand

[2022-01-10 02:03] csmcneill commented on #1229
Reported in 4673427-zen

[2022-01-10 17:35] nicholasjeberlin commented on #2176
33583151-hc

[2022-01-10 19:00] #2240 closed, assigned to nobody

[2022-01-10 22:31] rafaelzaleski commented on #2271
This is a bug in the checkout block. I'll close this issue and transfer it + my investigation results to the WooCommerce Blocks repository.

[2022-01-10 22:31] #2271 closed, assigned to rafaelzaleski

[2022-01-11 15:10] yuumgo commented on #2175
I have managed to correct this notice by creating a new API secret key, however the site (new installation) still does not receive payments showing the error: **The card was declined**

I have also verified that the cards are activated on the stripe desktop as suggested by diegocurbelo

[2022-01-12 08:21] thisissandip commented on #2175
4679768-zen

[2022-01-12 11:16] pauljacobson commented on #2176
@billrobbins Do we have any feedback that we can share with our merchants who are affected by this issue?

[2022-01-12 13:30] brianyu28 opened #2274 "Incorrect response from account summary API when no Stripe account connected"
**Describe the bug**

The `wc_stripe/account/summary` endpoint currently incorrectly returns a `status` of `complete` when there's no account data. Additionally, when there's no account, the `country` and `store_currencies` fields don't match the defaults that WCPay uses when there's no account data.

**To Reproduce**

1. Remove any live/test keys from Stripe Extension settings.
2. Make an API cal

[2022-01-12 14:46] Hans-101 opened #2276 "OXXO voucher per email"
Hello,

This is not a bug report, it's a feature request, as per WooCommerce customer support:

Currently, the OXXO voucher barcode and ref. number are not included in the order confirmation email (to customer). The voucher only appears as a (Stripe hosted) pop-up after order completion, and there’s no more reference to it, or way to retrieve it.

A logic step would be: as the customer has to go p

[2022-01-12 16:15] asumaran commented on #2270
The idea to update the `@woocommerce/eslint-plugin` dependency in our project was to remove the "no global event" rule that was added recently. The PR that removes it has been merged but has not been included in the `@wordpress/eslint-plugin@8.x.x` package.

Unfortunately, `@woocommerce/eslint-plugin` is still [using](https://github.com/woocommerce/woocommerce-admin/blob/main/packages/eslint-plugi

[2022-01-12 16:19] skullo27 commented on #2192
We use a great plugin called Perfmatters, it is a performance plugin for WP that has a load of things, but what is relevant here is the ability to block unnecessary scripts from loading on whatever page you like or globally etc.

My question is, given that I "can" stop this script from loading site-wide, should I? I mean, does it affect the actual checkout with stripe or payment request buttons at

[2022-01-12 16:31] billrobbins commented on #2176
@pauljacobson I have not seen any movement on this issue yet.  The only workaround that I'm aware of is to disable the early access payment methods.  That should allow this to work as expected for the merchants.

[2022-01-12 16:37] WhoopDav commented on #2192
Hi @skullo27

The answer which you will get back from Stripe (I believe) is that you need the scripts to load on every page as without it their fraud detection does not work as it should. However I have a similar plugin to yours and I disabled all these JS scripts from Stripe (apart from on the Checkout, Basket, order-success pages etc)... The plugin still was able to take payments with no issue a

[2022-01-12 16:47] calebmcelroy opened #2277 "Shipping not updated when quantity updated (Google Pay Only)"
**Describe the bug**
If you open the Google Pay payment dialog, then close it and change the quantity, reopening the payment dialog will result in the shipping being incorrect. This only happens with Google Pay not Apple Pay.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup shipping cost that is different based on quantity.
2. Go to product page.
2. Set desired quantity.
3. Click Google

[2022-01-12 16:58] asumaran commented on #2265
I'll take a look at this one

[2022-01-12 18:40] skullo27 commented on #2192
Thanks for the info @WhoopDav. I think I will probably leave active for now but it seems ridiculous they need this kind of overhead on sites when they already have the Radar rules and other fraud prevention stats. I do not see how they will draw much from anything other than product, cart and checkout pages.

It seems many devs do not care for page speed when building their plugins!

[2022-01-12 18:46] WhoopDav commented on #2192
Totally agree

[2022-01-12 21:27] lovo-h opened #2279 "Prompt message when switching tabs with unsaved changes, in account-keys modal"
Description
---

When switching between **Live** and **Test** tabs in the **Edit live account keys & webhooks** modal (see image below), if data has been entered it will be lost upon switching tabs.

![image](https://user-images.githubusercontent.com/6844516/149221962-402d1874-995a-4e82-b9ad-38e41ec97b79.png)

Possible Solution
---
Prompt a message if unsaved changes exist, before switching tabs.

[2022-01-13 18:58] aheckler commented on #1548
4684545-zen

EDIT: This user said:

[2022-01-13 18:58] aheckler commented on #2186
4684545-zen

[2022-01-13 19:24] aheckler commented on #1601
4650405-zen is this.

[2022-01-13 23:01] dechov commented on #1627
Ah, I didn't realize this was closed – we can still consider validating against a list of blocked strings (see pc4etw-bL-p2).

[2022-01-13 23:28] phillipcornwell commented on #1824
4684886-zen

[2022-01-13 23:33] asumaran commented on #2279
I've tried to do the same in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2243 without success. The problem is that we can indeed show an alert **before** ~clicking~ switching the tab (we could use the internal WooCommerce's history library for that) but we can't prevent switching tabs **after** clicking the tab. The `TabPanel` doesn't expose a way to stop the click event.

[2022-01-14 04:32] ricardo commented on #1627
cc @cesarcosta99 who is working on this right now.

[2022-01-14 08:46] AashikP opened #2281 "Don't save failed cards when purchasing a Subscription based product"
**Describe the bug**

While attempting to purchase a Subscription-based product, the card is saved as a payment method even though the transaction fails.

**To Reproduce**

1. Attempt to purchase a simple product using the [test card](https://stripe.com/docs/testing#regulatory-cards) that's supposed to fail with `insufficient funds` error: `4000008260003178` while having `Save this card` option ch

[2022-01-14 13:29] aheckler commented on #1601
The user in 4650405-zen thinks that this might be due to some WP cron job using HTTP. That theory led me here:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/abstracts/abstract-wc-stripe-payment-gateway.php#L1729-L1765

Maybe we should add another check there for `DOING_CRON`? cc @zmaglica

[2022-01-14 14:52] chrism245 commented on #2175
4683702-zen

[2022-01-14 15:49] lovo-h commented on #2279
@asumaran, [that's correct](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2273#discussion_r783245194). An alternative solution would be to create a custom tab panel component that can prevent switching tabs after clicking the tab. This could be a component that would be specifically used for the Stripe extension. I am not a big fan of this approach.

Ideally, we could update the t

[2022-01-14 15:58] ricardo commented on #2279
Alternatively, we could use [this](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2273#discussion_r784130932) approach and keep two active tab states. That may also require a custom tab panel component.

[2022-01-14 16:11] #1806 closed, assigned to lovo-h

[2022-01-14 16:47] lovo-h opened #2282 "Notification message is hidden behind account keys modal"
**Describe the bug**
Upon attempting to test the connection status of an invalid account key, the error notification appears behind the modal.

**To Reproduce**
1. As a merchant, go to `WooCommerce > Settings > Payments > Stripe` and click on the `Settings` tab (at the top).
2. Click on the `Edit account keys` button in order to open the **Edit test account keys & webhooks** modal.
3. Enter invali

[2022-01-14 19:04] dechov commented on #1147
Hi @mwmatter, apologies for the delay – there is an option to add the order number to a shortened static descriptor slated for the next release on Jan 26.

[2022-01-14 19:47] aheckler commented on #1563
Also related: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1745

[2022-01-14 19:51] aheckler commented on #1745
4666245-zen

[2022-01-16 17:43] cesarcosta99 commented on #2189
It seems we can still consider to include the wording validation (#1627) in the scope of this issue. See https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1627#issuecomment-1012595461

[2022-01-16 18:34] cesarcosta99 commented on #1627
I'm keeping this issue closed. I've referenced this in #2189 so it can be assessed over there once it's under the same scope. Feel free to reopen it if you judge necessary.

[2022-01-16 21:10] #2180 closed, assigned to lovo-h

[2022-01-17 06:32] johntunnel commented on #1167
Does Stripe support Maestro payments in woocommerce? and working normally?

[2022-01-17 08:07] aydenbottos commented on #799
It is now 2022 and yet no progress? Anyone trying to sell to Europe can’t use this plugin AT ALL. It has been 3 years since this was first proposed. Come on, WooCommerce.

[2022-01-17 09:02] rvola opened #2285 "Translation not loaded in admin (UPE / JSON)"
**Describe the bug**
New version using JSON translation loading is not loaded/called for translations in plugin settings

**To Reproduce**
Steps to reproduce the behavior:
1. Configure WordPress in French or Spanish (only 100% complete translation on translate.wordpress.org)
2. Update translations
3. Go to the settings of the Stripe Gateway extension
4. See that all text strings are untranslated

[2022-01-17 11:27] lkraav commented on #799
Wdym "sell to Europe, can't use this plugin at all".

We're selling worldwide just fine. What am I missing?

[2022-01-17 13:04] chrism245 commented on #2192
13076882-hc

[2022-01-17 18:27] ricardo commented on #1601
As we received a follow up from 4650405-zen - p1642308955053900/1640857483.018700-slack-C7U3Y3VMY

Apparently the problem is generated by search engine bots crawling the site over HTTP.

Since they don't have an automatic HTTP to HTTPS redirection rule on their server, whenever a bot crawls a HTTP product page, Stripe will generate that log. Stripe not only runs on checkout, but also on product pa

[2022-01-17 18:37] #2268 closed, assigned to brianyu28

[2022-01-17 20:01] MoonshotMG commented on #1824
We are having the same issue on our website as well - www.phyts-usa.com

All orders over $75+, after discount, qualify for Free Shipping. The Free Shipping zone is setup in WooCommerce and displays as the first shipping option in WooCommerce.

![Screen Shot 2022-01-17 at 1 57 49 PM](https://user-images.githubusercontent.com/97914799/149830566-cfd09ad9-f72a-4b32-b592-fd004d3f9ed1.png)

But for some

[2022-01-17 20:52] asumaran commented on #2282
I'll see what I can do 👍

[2022-01-17 21:21] #2265 closed, assigned to asumaran

[2022-01-17 22:13] ghost commented on #2175
https://wordpress.org/support/topic/payouts-disabled-3/

[2022-01-17 22:57] chrism245 commented on #2175
4692433-zen

[2022-01-18 01:07] arichardsmith commented on #2175
We have this issue too. In our case both test payments and live payments work fine.

Despite card payments working fine, calling `https://api.stripe.com/v1/account` with both test and live keys doesn't show `card_payments` in the capabilities list.
Calling `https://api.stripe.com/v1/accounts/{account_id}/capabilities/card_payments` shows the capability is unrequested along with some required infor

[2022-01-18 06:59] aydenbottos commented on #799
The plugin doesn't support SCA, which is necessary for anyone selling to
consumers in the European Economic Area.

On Mon, Jan 17, 2022 at 10:27 PM Leho Kraav ***@***.***>
wrote:

[2022-01-18 09:59] dougaitken commented on #799
@aydenbottos - This Stripe integration fully support SCA/PSD2 and has since this was launched - https://woocommerce.com/document/stripe/#sca-psd2 / https://woocommerce.com/posts/introducing-strong-customer-authentication-sca/

[2022-01-18 10:34] aydenbottos commented on #799
Oh makes sense, sorry about that I believed that the new checkout flow was
required. Still, it is something that needs to be done after 3 YEARS.

On Tuesday, January 18, 2022, Doug Aitken ***@***.***> wrote:

[2022-01-18 13:43] ServusNL commented on #774
Any update on this? I seem to experience the same problem with Apple Pay in combination with Litespeed caching, where first the right amount is shown then it turns to 0. Tried to add these:
wc-stripe-payment-request
wc-stripe-payment-request-shipping
wc-stripe-update-shipping-method
woocommerce-process_checkout
wc-stripe-add-to-cart
wc-stripe-get-selected-product-data
wc-stripe-log-errors
wc-strip

[2022-01-18 16:27] brianyu28 commented on #2262
Merged in #2272

[2022-01-18 16:27] #2262 closed, assigned to brianyu28

[2022-01-18 16:27] brianyu28 commented on #2274
Merged in #2275

[2022-01-18 16:27] #2274 closed, assigned to brianyu28

[2022-01-18 16:55] sukafia commented on #2175
4697529-zen

[2022-01-18 17:30] #2285 closed, assigned to diegocurbelo

[2022-01-18 17:31] Hastibe commented on #2033
I came from [this support thread](https://wordpress.org/support/topic/static-icons-not-showing-on-5-6-2/page/2/), after [opening my own](https://wordpress.org/support/topic/missing-credit-card-images-on-checkout-page/), wondering why the credit card brand images had been removed from displaying at checkout, and I notice that the response was that "This issue is still open and being discussed on Gi

[2022-01-18 17:41] allendav commented on #2262
Thank you! fyi @ctarda

[2022-01-18 18:13] rvola commented on #2285
thanks @diegocurbelo

[2022-01-18 18:31] allendav commented on #2268
Thank you!

[2022-01-18 19:15] ctarda commented on #2262
Thanks @brianyu28 ! Pinging also @AnirudhBhat and @malinajirka

[2022-01-18 19:33] #2282 closed, assigned to asumaran

[2022-01-18 19:42] asumaran commented on #2281
Probably related to https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1362

[2022-01-18 20:09] asumaran commented on #2279
@ricardo how that approach would allow us to display a message and prevent switching to the other tab?

[2022-01-18 21:14] ricardo commented on #2279
We wouldn't need to display a message or prevent switching tabs because we would allow saving both tabs at the same time, with a "Save keys" button. This was probably the original idea behind the design.

[2022-01-18 22:30] asumaran commented on #2277
@calebmcelroy, Thanks for opening an issue reporting this. It seems you have already figured out what's happening. In order to update the payment sheet, we need to wait for the response [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/assets/js/stripe-payment-request.js#L621) (which return the exact amounts from the backend).

The problem is that we can't make asynchro

[2022-01-19 00:52] asumaran commented on #2254
@cjnewbs this is the expected behavior. `is_checkout()` doesn't work for AJAX requests. You should be using `wp_doing_ajax()` instead.

[2022-01-19 01:07] iguanamom commented on #2033
@Hastibe I just updated to that beta version ("early access") which shows the cards instead. Worked for me. They said they were eventually moving to that version of it anyway so it will be a non-issue. They pointed out in the one you're having problems with that once they start to enter the card number, the CC icon that corresponds to their card appears. Not a great solution IMHO as people want to

[2022-01-19 01:31] calebmcelroy commented on #2277
After submitting this issue, I did run into that Safari doesn't like the asynchronous calls after the click event. I plan on just doing a browser check and implementing async call only for Chrome until you complete an official fix. Thanks for your help and reply!

[2022-01-19 01:31] #2277 closed, assigned to nobody

[2022-01-19 10:34] thuautp commented on #2175
4700420-zen

[2022-01-19 11:30] EjayhanFernandes commented on #2175
4700533-zen

[2022-01-19 19:40] #2205 closed, assigned to cesarcosta99

[2022-01-19 20:48] cesarcosta99 opened #2290 "DIsallow empty statement descriptors"
## Description

We aim to revert changes from #2140. The validation of the statement descriptors are partially being bypassed because of a UX problem while trying to save the settings.

In short, the problem is that the user can save the settings from whatever tab they are (`Payment Methods` or `Settings`), and both tabs share the same state. With that behavior, if there's a validation error in th

[2022-01-20 06:25] orhanfernandes commented on #2175
Another one on 4703208-zen

[2022-01-20 14:38] cesarcosta99 commented on #823
Closing this since we're now letting the merchant know about an acceptable input for the statement descriptor field (via #2283).

[2022-01-20 14:38] #823 closed

[2022-01-20 17:17] leonardola opened #2292 "Make transaction description use blog name for Boleto and OXXO"
**Describe the bug**
Other payment methods use the blog tittle instead of "Stripe" and the order number instead of order ID in the description field [[source](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/ace1b9f93a950a62d20d194ce44a74286e99ed2b/includes/abstracts/abstract-wc-stripe-payment-gateway.php#L421)]

Boleto and OXXO should follow the same standard. See [this comment](htt

[2022-01-21 09:43] joashrajin commented on #2175
+1 33477760-hc

[2022-01-21 13:40] gglobalstep opened #2294 "[GlobalStep] For Boleto/OXXO, order status does not change to "on-hold" and sets to "pending payment" even if order is placed successfully with completed payment."
## Bug Description:
For Boleto, order status does not change to "on-hold" and sets to "pending payment" even if order is place successfully with completed payment

## Environment:
Woocommerce Version : WooCommerce 6.1.1
WooCommerce Stripe Payment Gateway:  v6.1.0-test
PC:
Windows 10
Chrome(Version  97.0.4692.71)
Firefox(Version 96.0.1)

## Test Instruction link:
Checkout with Boleto:
https://githu

[2022-01-21 17:10] leonardola commented on #2294
I tested it and it works on my end. I noticed that in the documentation that @gglobalstep was following one of the webhooks events was missing. I added that webhook to the docs now. Also @lovo-h told me he did some more testing and could also get it to work. He'll post here some more details

[2022-01-21 18:57] #2292 closed, assigned to leonardola

[2022-01-21 19:22] lovo-h commented on #2294
As @leonardola mentioned above, the [Stripe Extension documentation on Webhooks](https://woocommerce.com/document/stripe/#webhooks) had a missing event which was preventing the order status from reaching an `On hold` state.

After adding the missing event (e.g. `payment_intent.requires_action`) and initializing a new WordPress installation, I was able to get the order to reach an `On hold` state.

[2022-01-21 19:22] #2294 closed, assigned to lovo-h

[2022-01-21 20:30] lvidal1 commented on #1062
Hey @melzaren @lkraav, did you find any workaround for this? It seems my store is facing the same issue. Not really sure why this is happening.

This is a screenshot I took from one of my current subscription order
![image](https://user-images.githubusercontent.com/6495076/150595944-d6de625d-c64c-4e36-96b2-91d7dd576eb1.png)

[2022-01-22 12:04] lkraav commented on #1062
I don't have this problem, just participating in diagnosis.

You should post your plugin list, as there could be multiple things involved with status changes.

[2022-01-24 09:08] sukafia commented on #2175
4714402-zen

[2022-01-24 10:59] sukafia commented on #2175
4714581-zen

[2022-01-24 11:52] Filippo-Marcel-Lisuzzo opened #2295 "Traduction woocommerce-error box"
Hi all, i have a problem width  some error box, i trying many plugin for auto translate without positive result.
I need to translate it in italian, can you help me?

![image](https://user-images.githubusercontent.com/8947019/150776960-3ea836c9-2ed1-4272-a75e-c40254563c46.png)
![image](https://user-images.githubusercontent.com/8947019/150777065-9d39cff4-518b-4aa4-a038-3451aae16acb.png)
![image](htt

[2022-01-24 18:42] #2295 closed, assigned to nobody

[2022-01-24 19:42] #2214 closed, assigned to diegocurbelo

[2022-01-24 22:34] EricaKuschel commented on #2175
21947998-hc

[2022-01-25 00:00] allendav opened #2296 "Account endpoint returns status "complete" after deleting keys"
**Describe the bug**
- I deleted my pk_test_... and sk_test_... keys from the plugin settings (plugin was in test mode). I then used the iOS mobile app to fetch `wc/v3/wc_stripe/account`
- I was surprised to receive status "complete" in the response body.
- Subsequent attempts to connect my card reader failed (as one would expect with no keys, but we test the account in the app to avoid the mercha

[2022-01-25 00:01] allendav commented on #2296
Was testing my latest onboarding PR for iOS and ran into this unexpectedly today. Please fix :)

https://github.com/woocommerce/woocommerce-ios/pull/5958

cc @ctarda @malinajirka

[2022-01-25 04:31] AashikP commented on #2176
Heads up that this can only be replicated on those stores without a correctly configured webhook secret (HT @cesarcosta99) :

![https://d.pr/i/kkNLWU+](https://d.pr/i/kkNLWU+)

As per [Webhooks - Documentation](https://woocommerce.com/document/stripe/#webhooks) we need to configure the webhook secret.

[2022-01-25 10:40] amElnagdy commented on #2175
4717664-zen

[2022-01-25 10:41] malinajirka commented on #2296
@brianyu28 I haven't tested it, but it might have been fixed as part of https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2275, wdyt?

[2022-01-25 13:09] brianyu28 commented on #2296
Yes, this was fixed in #2275 — in this situation, the status will now be `NOACCOUNT` for consistency with how WCPay handles no linked account. This fix will be included in Stripe v6.1.0, but in the meantime the latest `develop` branch should work as expected.

[2022-01-25 14:03] grig-23 commented on #2175
4716996-zen - same with Stripe 6.0.0, there was no upgrade though - version 6.0.0 of Stripe plugin was installed on a fresh WordPress/WooCommerce install.

[2022-01-25 18:08] kvvsi commented on #2175
4716317-z

[2022-01-25 18:32] aheckler commented on #2175
4718873-zen

[2022-01-25 20:16] ArvindKumar08 commented on #838
Does anybody know how these issues were resolved? I am facing the same issue with one of our sites.

[2022-01-25 22:28] allendav opened #2297 "Statement descriptor value is not present in accounts REST API response - blocks mobile intent creation"
**Describe the bug**
Even when set in the plug-in settings:

<img width="1505" alt="descriptor" src="https://user-images.githubusercontent.com/1595739/151070174-5feadbfc-f40e-4f1c-b793-348ed7f93456.png">

the statement descriptor in the accounts REST API response is empty:

![IMG_0301](https://user-images.githubusercontent.com/1595739/151070134-66666f36-0749-4429-aa07-168162485ca5.PNG)

**This is

[2022-01-25 22:42] brianyu28 commented on #2297
Hi @allendav! Thanks for opening this.

The descriptor returned by the REST API should be pulling from the Stripe account's "Statement descriptor" in Stripe settings. If you visit https://dashboard.stripe.com/settings/account (when signed in to the account linked to your test site), is there a value for the "Statement descriptor"?

I am noticing that when I update the statement descriptor in the e

[2022-01-25 23:02] cesarcosta99 opened #2298 "Create a tool to update pending orders that have been paid"
**Is your feature request related to a problem? Please describe.**
This feature request is related to #2176. When merchants don't have the webhooks set up correctly, the problem described in the issue happens.

**Describe the solution you'd like**
Since the aforementioned issue has no fix, a workaround for it would be to create a script to be placed within `WooCommerce > Status > Tools`. See simil

[2022-01-25 23:24] cesarcosta99 commented on #2176
Closing this issue in favor of the issue mentioned above, which will provide a tool to fix the orders affected by this problem. As @AashikP commented, the webhooks needs to be (re)configured and the problem will go away. The new checkout experience can be re-enabled as well.

[2022-01-25 23:24] #2176 closed, assigned to cesarcosta99

[2022-01-25 23:46] allendav commented on #2297
Hey @brianyu28 - definitely blank at Stripe's end:

<img width="939" alt="Screen Shot 2022-01-25 at 3 43 29 PM" src="https://user-images.githubusercontent.com/1595739/151078343-8ff9b31d-79bb-4b0a-90d6-654ec0ad8be6.png">

To minimize the amount of hunting around for settings that merchants need to do, it would be ideal if the merchant could set it in the plugin and have it 1) sync to stripe and 2)

[2022-01-25 23:48] brianyu28 commented on #2297
I agree. Once (1) happens, (2) will happen as a result, since the REST API is pulling from Stripe's data (which is why you're getting a blank response right now). I'm not sure why changing the statement descriptor in WC isn't changing the statement descriptor in Stripe settings, but I'll look into that.

[2022-01-25 23:51] brianyu28 commented on #2297
As a temporary workaround, setting the statement descriptor in Stripe settings should let you get the statement descriptor via the REST API and therefore create payment intents.

[2022-01-26 00:08] brianyu28 commented on #2297
After looking through the [documentation](https://woocommerce.com/document/stripe/), I think it's actually intended behavior that these two aren't in sync: the Stripe account statement descriptor is used as a fallback if there's no statement descriptor provided in the extension settings.

I'll update the REST API to follow the same logic: default to providing the WC settings statement descriptor a

[2022-01-26 09:30] polp6880 commented on #838
@ArvindKumar08 my project is actually built on Roots Bedrock/Sage and all I had to do from my end was rebuild and redeploy. The issue hasn't resurfaced since. Definitely a strange one :/

[2022-01-27 17:50] allendav commented on #2297
I'd suggest a default default too, if both settings and Stripe have empty strings. Perhaps the default default could be a sanitized length-limited string based on the site title or something. That way we set up our merchants for success by default :)

[2022-01-27 17:52] allendav commented on #2296
Thank you!

[2022-01-27 22:29] brianyu28 commented on #2296
This should be fixed now in Stripe 6.1.0

[2022-01-27 22:29] #2296 closed, assigned to nobody

[2022-01-28 17:51] allendav commented on #2296
Thank you!

[2022-01-28 19:01] aheckler commented on #1548
4718808-zen

[2022-01-29 19:24] jonas-hoebenreich opened #2304 "Express Checkout: amount displayed does not match charged amount"
**Describe the bug**
I am currently trying to make a plugin of mine (https://wordpress.org/plugins/wc-donation-platform/) compatible with Stripe Express Checkout. In the process, I've stumbled across an issue that is causing an incorrect amount to be charged.

When Express Checkout is enabled on the product page, every time the product selection field is changed, the total amount is calculated usi

[2022-01-30 16:55] aheckler opened #2305 "Pay button in My Account > Orders doesn't include `wc-stripe-confirmation=1`"
**Describe the bug**

If a subscription renewal needs 3DS auth, the user is sent an email with a link to do so. However, the order is also shown under My Account > Orders as needing payment. Clicking the Pay button there does *not* open the 3DS modal though!

**To Reproduce**

Steps to reproduce the behavior below. This might not be the most minimal set of steps, but it does show the issue.

1. WC

[2022-01-30 16:59] aheckler opened #2306 "Thank You page shown when cancelling out of 3DS modal"
**Describe the bug**

If a subscription renewal needs 3DS auth, the user is sent an email with a link to do so. Clicking the link but then cancelling out of the model shows the Thank You page.

**To Reproduce**

Steps to reproduce the behavior below. This might not be the most minimal set of steps, but it does show the issue.

1.  WC test site + Stripe + Subscriptions + a test subscription product

[2022-01-30 16:59] aheckler commented on #2305
4733189-zen

[2022-01-31 04:30] AashikP opened #2307 "Level 3 data - Orders initially fail and then succeed"
**Describe the bug**

The order initially fails and then completes. The level 3 data fails for every transaction even though there should be a transient set to disable this feature. [The transient](<https://github.com/woocommerce/woocommerce-gateway-stripe/blob/b875bdebd50d8b44b04df6b0bb27f74f54524b24/includes/class-wc-stripe-api.php#L246-L249>) isn't set.

**To Reproduce**

We haven't been able t

[2022-01-31 19:18] allendav opened #2309 "Please display test mode somewhere on the default tab for the extension settings"
When the extension is in test mode, it isn't immediately obvious this is the case on the default tab for the extension. (You have to switch to the settings tab to see it.) Perhaps a small pill indicating test mode is active?

<img width="1414" alt="Screen Shot 2022-01-31 at 11 16 43 AM" src="https://user-images.githubusercontent.com/1595739/151858033-723e935e-07e9-4ea8-ae61-f6a9f786149a.png">

[2022-01-31 19:33] allendav opened #2310 ""Error disconnecting account" displayed on deleting test keys"
Observed on a test store running 6.1.0 with only (developer account) test keys. When I delete the keys, I get an error message in the lower left corner. Refreshing the page works to "reset" the flow back to the beginning of onboarding:

![error](https://user-images.githubusercontent.com/1595739/151860150-5ca28ef9-f4ba-49d4-be5d-07b86ddb5a70.gif)

@joshheald also observed this recently

fyi @ctarda

[2022-02-01 00:38] reykjalin commented on #2305
I'm unable to reproduce this. No matter whether I choose to pay with the saved payment method or a new payment method in step 9.

I always see the 3DS modal.

Is there something else that could be interfering? Have we done a conflict test?

[2022-02-01 00:45] reykjalin commented on #2306
I can reproduce the redirect after failing the 3DS verification, but there's a clear message there that prompts the customer to go pay for the order:

<img width="824" alt="image" src="https://user-images.githubusercontent.com/13835680/151896330-8cb14bba-2f6c-4954-8bf4-ce8dfcf04b28.png">

I don't see a problem with this since the customer is clearly informed that the payment did not go through, an

[2022-02-01 03:21] dechov commented on #2307
The transient is set if level3 data isn't supported, not if the data itself is invalid, which appears to be the case here, due to negative amounts or non-integer quantities. With the understanding that WC doesn't specifically _not_ support cases like those, we should probably aim for better handling than a failed request on each payment.

[2022-02-01 04:55] Ratsbew commented on #2306
There is one important step missing in the description above, to reproduce this issue:
**The "Retry Failed Payments" must be enabled in the subscription settings!**

On the template woocommerce/checkout/thankyou.php there is a condition to show the "Thank you. Your order has been received." message for all order-statuses except for "failed"-order-status
`<?php if ( $order->has_status( 'failed' ) )

[2022-02-01 06:47] Ratsbew commented on #2305
The description above doesn't address the real issue clearly.

Although the subscription renewal **just awaits the authorization of the payment**, the missing `wc-stripe-confirmation=1` argument for the pay button forces the customer to unnecessarily complete the checkout including payment method selection again (or even worse: If the "Enable payments via saved cards" option is not enabled in the

[2022-02-01 10:39] SirDarcanos commented on #2175
4738948-zen

[2022-02-01 16:49] rvola opened #2311 "WPML custom permalinks + Settings Stripe WP-JSON make a 404 request"
**Describe the bug**
It is not possible to configure the Stripe Gateways extension with WPML a customize permalinks mode

**To Reproduce**
Steps to reproduce the behavior:
Install plugins:
* WooCommerce
* Woocomerce Stripe Gateway
* WPML Multilingual CMS
* Multilingual WooCommerce
* WPML String Translation

- Configure WooCommerce (basic)
- Configure WPML (basic) just one language
- Configure WooC

[2022-02-02 13:33] dsvwilson commented on #2175
25642600-hc

[2022-02-02 17:02] englishincourbevoie opened #2312 "Cannot add GB sepa Direct Debit payments (intermittent)"
**Describe the bug**
UK IBANs (country code GB) are not accepted by Woocommerce Stripe Gateway on add payment methods page.

Error message is

    Unable to save this payment method, please try again or use alternative method.

On Stripe's end, the logs show that the POST request doesn't contain a required field, that is the address

{
  "type": "sepa_debit",
  "owner": {
    "name": "Mr Redacted"

[2022-02-02 22:03] reykjalin commented on #2305
This is intended behavior. Payments can fail for reasons other than failed 3DS verification, e.g. insufficient funds, suspected fraud, and trying to pay with a card that's been reported as stolen. It's essential that the customer is offered the option to choose a different payment method when going through the **My Account > Orders** page instead of retrying a payment method that might fail again

[2022-02-03 02:45] reykjalin commented on #2306
The "Retry Failed Payments" must be enabled in the subscription settings!

Ah yes, I can reproduce the issue now, thank you @Ratsbew! You're definitely right in that this is very confusing for customers that run into this.

I think the way we fix this is by applying a [Custom Individual Retry Rule](https://woocommerce.com/document/subscriptions/develop/failed-payment-retry/#section-6) to check if

[2022-02-03 05:06] reykjalin commented on #2306
It seems none of what I suggested works so we're going to have to take a better look at this down the road.

For now, the workaround would be to disable the "retry failed payments" setting and retry the payments manually through the **Edit Order** page. It's inconvenient, I know, but I'm not so sure there's a quick and easy solution to this.

[2022-02-03 08:36] Ratsbew commented on #2305
@reykjalin
Isn't it also crucial to require only the minimum customers effort needed for the respective action(specially in relation with payment processes) to prevent any confusion which could lead to transaction abandonments?
**Especially the friction from 3DS authentication results in high abandonment rates!**

In this particular case it is clear that the reason why the payment fails is the awa

[2022-02-03 16:57] brianyu28 opened #2313 "Add API endpoint for charges"
For the WooCommerce mobile app to process refunds correctly, the app needs access to payment details on the charge object for a particular order. The Stripe charge id appears to be stored as `_transaction_id` on the order object, but there's currently no way to get details about the charge itself.

We should add a `wc_stripe/charges/<charge_id>` endpoint that behaves similarly to [how WCPay handle

[2022-02-04 05:05] thenbrent opened #2314 "Enable Stripe as a payment method after connecting account"
**Describe the bug**

After completing on-boarding and connecting an account, Stripe does not appear to be enabled for card payments by default. It requires an additional action.

For more details, and a demo see here: p58i-c2s-p2#comment-53598

**To Reproduce**

Steps to reproduce available in the video here: p58i-c2s-p2 starting at 18 minutes 48 seconds in.

**Expected behavior**

Stripe would b

[2022-02-04 12:26] jacoswan commented on #1824
Another case similar to the OP reported in 33846991-hc

[2022-02-04 15:28] drwpcom commented on #2099
Noting here that this filter is also used by Gift Cards for WooCommerce as discussed in p1643984760975669/1643979837.488689-slack-C7U3Y3VMY.

[2022-02-04 15:28] aheckler commented on #1548
4749764-zen

[2022-02-04 15:48] helgatheviking commented on #2099
I would still like to see this notice removed. It's just going to generate support tickets. There are established use cases for hiding/showing the buttons on a per-_product_ basis and the settings can't handle that level of conditional logic.

[2022-02-04 18:28] namiokuzono commented on #2175
4749582-zen

[2022-02-04 22:03] melek commented on #2175
4750560-zen
4745661-zen

[2022-02-05 10:32] RiaanKnoetze commented on #2175
@diegocurbelo - It seems this issue, despite not affecting underlying payments (test or live), is generating a lot of seemingly unnecessary support interactions. Is there anything we can do from Happiness' side to resolve these or do you have a fix in the works already? Maye it needs a higher priority based on the confusion it is currently causing for merchants?

[2022-02-05 18:51] tijosh opened #2315 "UPE: Payment intent sent upon Checkout page load"
**Describe the bug**

When using the New Checkout Experience / UPE, the extension sends a payment intent to the Stripe API immediately upon page load, before any customer billing information or credit card is added to the checkout form. This results in unwanted `Incomplete` payments listed in the Stripe dashboard.

Reported 4752785-zen and https://wordpress.org/support/topic/incomplete-transaction

[2022-02-06 00:04] emailgeeks commented on #1824
Is there an ETA on when this will be fixed?
I have multiple clients using Stripe, that want to enable Apple Pay but with it not working correctly with delivery options I can't enable it for them. It's very frustrating. I have been watching this for months now and still no solution. I expect better from Woocommerce.

[2022-02-07 07:50] jimjasson commented on #2099
I agree with @helgatheviking on this one.

Stripe quick pay buttons do not currently parse nor validate any extra fields that may exist in the single product page.

In Gift Cards, these fields are the recipient e-mail, the sender, the gift card message and delivery date. Gift Cards adds these fields on Simple and Variable Products -- these are product types for which the quick pay buttons show up

[2022-02-07 12:59] rvola commented on #2311
Hello world!
Anyone for this bug?

[2022-02-07 15:11] helgatheviking commented on #2099
Phew yes. Can't believe I forgot to say the PRB on incompatible products all customers to _bypass_ validation!! In Name Your Price a customer can "buy" a product for $0 even though the minimum price is meant to be $100. Or in Mix and Match Products a customer can buy a product and their chosen configuration isn't passed along.

[2022-02-08 04:01] Hotpuppy commented on #2249
I have the same issue where a small number of orders timeout and the payment fails to post back.

In reviewing the transactions there is a pattern.  The customer has a payment failure.  Either bad CVC, bad AVS, or just a charge decline.  They typically correct this in a couple of minutes and the charge completes successfully on Stripe.

In WC the transaction shows as "pending payment" and then "fa

[2022-02-08 20:25] dechov commented on #2314
@lovo-h has addressed this in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1569 – is it correct that it should enable it for both the Connect / OAuth flows and the manual input? And in the latter case, would it be worth verifying that the keys work before auto-enabling the gateway?

[2022-02-09 01:11] #2314 closed, assigned to lovo-h

[2022-02-09 01:21] lovo-h commented on #2314
Should we extend this to storing the account keys, as well? That is, would it be worth verifying that the keys are valid before storing them (and auto-enabling the gateway)?

[2022-02-09 19:42] jrick1229 opened #2317 "UPE: cus_ and src_ tokens are not saved in subscriptions when creating an account during checkout"
**Describe the bug**

When checking out with a subscription product as a new user, creating an account (whether manually or automatically) during checkout, both the `cus_` and `src_` tokens are not saved within the subscription.
This makes any subsequent renewals fail, as there are no tokens available to use for the charge:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Set Stripe

[2022-02-10 11:26] thisissandip commented on #2175
4765303-zen

[2022-02-10 13:38] #2297 closed, assigned to brianyu28

[2022-02-10 16:50] daniyalahmadk opened #2319 "Chrome throwing warning in debug tool which says basic card payment method is deprecated."
**Describe the bug**
Chrome debug tool showing deprecation warning about the basic card. The “basic card” is a payment method that is typically built into the browser to help users easily enter credit card numbers without remembering and typing them.

`[Deprecation] The 'basic-card' payment method is deprecated and will be removed in M100, around March 2022.`

This warning is coming from the strip

[2022-02-11 21:30] EricaKuschel commented on #2175
During my review of this report, I noticed that both `Test` and `Live` were enabled at the same time in the initial screenshot. If test is enabled, one would hope that `live` payments were disabled, no?

4686488-zen

[2022-02-14 11:03] ZgrK commented on #2311
I have same problem with last version

[2022-02-15 01:49] reykjalin commented on #2099
I think based on the discussions we're seeing here we'll want to do 3 things:

1. Undeprecate the filters.
2. Introduce three new filters:
    - `wc_stripe_show_payment_request_for_product`: Will receive a Product ID as a parameter; returning `false` will hide the PRB on that product's page.
    - `wc_stripe_show_payment_request_on_cart_for_cart`: Will receive an array of Product IDs; the products

[2022-02-15 01:52] reykjalin opened #2321 "Create new filters to control PRB visibility"
I think based on the discussion in #2099 we'll want to introduce 3 new filters to replace the current PRB visibility filters:

- `wc_stripe_show_payment_request_for_product`: Will receive a Product ID as a parameter; returning `false` will hide the PRB on that product's page.
- `wc_stripe_show_payment_request_on_cart_for_cart`: Will receive an array of Product IDs; the products currently in the ca

[2022-02-15 02:03] helgatheviking commented on #2099
So `wc_stripe_show_payment_request_for_product` would be exactly the inverse of `wc_stripe_hide_payment_request_on_product_page`?

At least on the single product display, yes... please pass the product object.

[2022-02-15 09:07] rashedripon commented on #2175
Reported 4772491-zen

[2022-02-15 11:41] wpniall commented on #1404
Reported in 4777973-zen. I can also confirm that with the new checkout experience (early access) feature enabled, it's not possible to display SEPA only, as the credit card option can't be turned off without turning off Stripe entirely at checkout.

As such, both options have to be enabled, which allows the credit card and SEPA options to display; the IBAN field works correctly too:

![https://d.p

[2022-02-16 13:10] TeemuSuoranta commented on #2103
As an user, I can confirm this bug in here too. This is an issue with accounting at the moment that requires some manual work each month so it would be great to have this done in near future.

[2022-02-16 23:18] bhound commented on #1497
This would really be a useful feature. As it stands other plugins are advertising that they can handle this, but the "official" plugin can't. Would prefer not to have to develop a standalone solution or have to switch to a third party plugin just to use a service that is already integrated with Stripe.

[2022-02-17 00:34] reykjalin commented on #2093
This is no longer happening with the latest version of `develop` so I'm going to close this issue.

[2022-02-17 00:34] #2093 closed, assigned to nobody

[2022-02-17 05:31] thisissandip commented on #2175
4763129-zen

[2022-02-17 07:12] kaushikasomaiya commented on #2175
Reported in 4776519-zen

[2022-02-17 15:55] csmcneill commented on #1601
4788261-zen, recommended forcing HTTPS

[2022-02-18 10:37] neilmccreadie commented on #2175
34260185-hc

[2022-02-18 11:06] mredodos commented on #457
some news? +1 for add klarna

[2022-02-18 13:55] PoeHaH opened #2322 "Payment request buttons on product page do not support custom field/pricing extensions such as WooCommerce Product Add-ons"
**Describe the bug**

The payment request buttons on the single product page (Google Pay/Apple pay) don't integrate with other official WooCommerce extensions such as WooCommerce Product Add-ons.

**To reproduce**

1. Make sure the Stripe gateway plugin is configured and your site runs HTTPS so the apple pay/google pay button appears on product pages.

2. Install the official 'product addons' plug

[2022-02-18 18:50] kimerlin81 commented on #2175
And another one - 4792295-zd-woothemes

[2022-02-18 19:14] #2199 closed, assigned to leonardola

[2022-02-19 01:34] reykjalin commented on #2305
After discussing this internally with our UX designers we're going to see if we can add another button when 3DS authorization is required to allow customers to immediately try to authorize the payment.

So instead of the **Pay** button there will instead be two buttons:
1. **Authorize Payment**: will immediately try to authorize the payment method that requires 3DS verification; and
2. **Pay anoth

[2022-02-21 05:27] wyter commented on #1548
4793814-zen

[2022-02-21 07:32] Ratsbew commented on #2305
@reykjalin

I do not really understand why there should be two buttons? Like I've mentioned before the required action in this case is the authorization of the payment - nothing more. Just in case the authorization fails, the option to choose a different payment method should be offered (Exactly like it's done by following the link in the email!). Adding the `wc-stripe-confirmation=1` argument to

[2022-02-21 08:40] Ratsbew commented on #2306
Would't it be an easy solution to just change the condition on the template woocommerce/checkout/thankyou.php from:
`<?php if ( $order->has_status( 'failed' ) ) : ?>`
to
`<?php if ( $order->has_status( ['failed', 'pending'] ) ) : ?>`
?

[2022-02-21 11:20] mgascam commented on #1396
This issue seems to be duplicated with https://github.com/woocommerce/woocommerce-gateway-stripe/issues/838

[2022-02-21 15:32] jrick1229 commented on #2317
Seen in: 4761919-zen

[2022-02-22 12:07] PoeHaH commented on #2304
This issue is related to the one I describe here: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2322

[2022-02-22 20:37] senff commented on #2175
4792230-zen

[2022-02-22 23:11] reykjalin commented on #2305
So the customer can choose to either:

1. Authorize the payment immediately; or
2. Immediately choose a new payment method

Not necessarily, but it's certainly something we'll think about adding. Changing the email have to links along the lines of "[Authorize this payment method] or [choose a new payment method]" is a good idea 👍

I'm not sure how this applies to subscription payments. You can't p

[2022-02-22 23:17] reykjalin commented on #2306
No that wouldn't work. The order status can be set to pending for other reasons than the payment method needing authorization, e.g. while waiting for asynchronous payments to process.

[2022-02-23 09:24] Ratsbew commented on #2305
@reykjalin
Sorry, but I still don't understand why there is the need for the [choose a new payment method], when only an authorization for the payment is required - but anyway - two buttons, then.

You're right, for recurring payments the credit card data is stored in relation to ongoing contracts, such as for subscription services. But when a merchant also sells non-recurring payment products, cu

[2022-02-23 09:44] Ratsbew commented on #2306
@reykjalin
I've tested asynchronous payment methods (e.g. SEPA Direct Debit, Sofort,...) and I only can see that the status of the payment’s Charge object is initially set to "pending", until the payment has been confirmed as successful or failed **but the order status on the thank-you page is "on-hold"** in this case. Also with Direct bank transfer the order status on the thank-you page is "on-ho

[2022-02-25 22:39] serenityinchains commented on #457
The fact that the Developers are no longer responding means I'll be leaving this plugin. For them to not implement something so vital to our businesses, that has been available for YEARS on other plugins is ludicrous.

[2022-02-26 05:07] reykjalin commented on #2099
Almost; we're planning on passing a product object as a parameter to the filter instead of the `global $post` object.

[2022-02-26 13:17] stuartduff commented on #2175
33401790-hc

[2022-02-28 04:10] LileniM commented on #2276
Hi! I have no code experience so, how can I do that with my woocommerce web? Could you offer some guidance?

[2022-02-28 06:34] SirDarcanos opened #2324 "Payments accepted on checkout does not show"
**Describe the bug**
The section "Payments accepted on checkout" in WooCommerce > Settings > Payments > Stripe does not show anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WooCommerce > Settings > Payments > Stripe
2. See error

**Expected behavior**
Show the payment accepted.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![](https://d.pr/i/ri

[2022-03-01 09:42] SirDarcanos commented on #2324
Reported in 34416779-hc as well

[2022-03-01 10:32] amElnagdy commented on #2175
12910857-hc

[2022-03-01 19:21] csmcneill commented on #1548
This issue also affects merchants using WooCommerce Payments. Separate issue created in that repo here: https://github.com/Automattic/woocommerce-payments/issues/3876

[2022-03-01 23:15] orhanfernandes commented on #2175
34252504-hc

[2022-03-02 07:38] pauljacobson commented on #1682
Given that we don't have a time estimate for when this issue will be addressed, just adding a request to update us when this is addressed so we can create a follow-up ticket to 4218298-zen

[2022-03-03 15:43] aheckler commented on #2169
4802352-zen

[2022-03-03 21:50] addedlovely opened #2325 "maybe_process_upe_redirect runs on every page load."
**Describe the bug**
Have been looking at our site performance with New Relic and noticed that the '`maybe_process_upe_redirect`' function below runs on page load ( well every request ).
https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1cff7dd463f165354e7ef665a75b7eb9c72b853f/includes/payment-methods/class-wc-stripe-upe-payment-gateway.php#L753

This is added to the `wp` action, and

[2022-03-04 05:11] #2099 closed, assigned to nobody

[2022-03-04 15:13] anasbouz commented on #2241
Hello, this is a problem caused by a glitch in the plugin and not in the strip. I have the same problem, but everything is fine. I have paid strip settings that pass despite the presence of the yellow message in the payment settings, even with the update of WordPress to the latest version 5.8.2. Good payments

[2022-03-04 15:35] joashrajin commented on #2241
@anasbouz This sounds different from the bug mentioned here. Please make a ticket about it at https://woocommerce.com/my-account/create-a-ticket/

[2022-03-05 10:21] kaushikasomaiya commented on #2175
4826709-zen

[2022-03-06 22:05] eltipografico opened #2326 "Invalid shipping address in Express Checkout"
Hello!

I've got a problem with Apple Pay express checkout. I live in north of Spain. Here we speak Spanish and Basque. My region can be write in two different ways: Guipúzcoa (in Spanish) or Gipuzkoa (en Basque).

As I read in this comment https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1198#issuecomment-749037075 shipping addresses must be listed to allow this payment method. My

[2022-03-07 05:02] anant1811 opened #2327 "Same card is saved multiple times when paid via Google Pay"
Reported in #4835572-zen

**Describe the bug**

The same card is saved multiple times when a subscription is paid via Google Pay:

![](https://uploads.linear.app/f629fcde-6f9b-48e8-8af3-60eed8823bff/f9d11f03-c4e3-4484-8ad5-8aec5792c514/14bbc7f8-4eaa-4d10-a22a-ea78477f061b?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXRoIjoiL2Y2MjlmY2RlLTZmOWItNDhlOC04YWYzLTYwZWVkODgyM2JmZi9mOWQxMWYwMy1jNGUz

[2022-03-07 09:06] raindeer commented on #281
Has this been fixed or is it still an issue?

[2022-03-07 10:17] Entretoize commented on #281
Sorry I can't tell...

[2022-03-07 17:23] amElnagdy commented on #2175
4836736-zen

[2022-03-08 19:45] aheckler commented on #2175
4811630-zen

[2022-03-08 20:08] thracefulton commented on #2317
Another instance in 4840163-zen.

[2022-03-09 09:36] kovshenin commented on #1248
Bumped into this problem today, ended up disabling the entire Express Checkout option as a workaround. I briefly looked over the codebase there and I really don't understand why the need to initiate a unique session, given that an anonymous user has merely visited a product page.

Perhaps we can do it on a redirect, or an XHR when the user actually clicks the Buy/Checkout button?

[2022-03-09 17:43] nburch commented on #1248
Yeah this is still a BIG issue. If you have a high-traffic site page cache is a _must_. As it is now, you essentially have to choose page cache _OR_ express payment (e.g. Apple Pay, etc.) but you can't have both. It's a real bummer and seems like an unnecessary compromise.

[2022-03-09 22:22] rafaelzaleski commented on #2326
@eltipografico,

- The link on step 1 isn't working.
- Please add screenshots of the error messages.

[2022-03-10 08:14] rvola commented on #2311
Hi
Still the same problem with version 6.3.0.

I must clarify to administrators that this configuration is absolutely not exotic, but common.
WooCommerce + Stripe Gateway + WPML

The use of language of the type domain.com/**fr**/ is extremely common.

Thank you for your return, I have 10 sites blocked in version 5.7 for the moment.

[2022-03-10 10:58] wyter commented on #2175
4846936-zen

[2022-03-10 12:44] Baribj commented on #1799
@ricardo This is a nice workaround. Thanks for sharing this.

[2022-03-10 15:32] chrism245 commented on #2175
4840807-zen

[2022-03-11 16:48] Ratsbew commented on #2306
@reykjalin Any news on this?

[2022-03-11 16:48] Ratsbew commented on #2305
@reykjalin Any news on this?

[2022-03-11 19:44] rafaelzaleski commented on #2322
The deprecation was reverted on version 6.3.0.

[2022-03-11 20:01] rafaelzaleski commented on #2324
I cannot reproduce this on:

- WordPress 5.9.2
- WooCommerce 5.3.1
- WooCommerce Stripe Gateway 6.3.0
- Active theme: StoreFront

Please recommend a [conflict test](https://woocommerce.com/document/how-to-test-for-conflicts/) to the site owner to investigate if other plugins or themes are causing this issue.
They can also check on the Stripe account if there is anything wrong with enabled payment

[2022-03-11 20:01] #2324 closed, assigned to nobody

[2022-03-11 21:43] rafaelzaleski commented on #2327
I was able to reproduce it. The product needs to be a subscription. Otherwise, we don't save the payment method for express checkouts.

[2022-03-12 10:03] EjayhanFernandes commented on #2175
4851206-zen

[2022-03-14 04:06] PoeHaH commented on #2322
Thanks for pointing that out! It's a start but doesn't really fix the original issue.

[2022-03-15 00:22] sokulski commented on #2175
Howdy. I know y'all have this marked as high priority, but I was having an unrelated Stripe issue and this sent me on a red-herring journey for a nice chunk of time.

While it is a cosmetic issue, it sure was annoying to discover that it was leading me astray.

[2022-03-15 17:26] amElnagdy commented on #2175
4841413-zen

[2022-03-16 10:27] thuautp commented on #2317
4864269-zen

[2022-03-17 11:52] toupper commented on #2175
4862650-zen

[2022-03-17 21:22] cesarcosta99 commented on #2189
Updated the description to reflect the removal of some requirements and include new details.

[2022-03-18 10:12] haroldparis commented on #1167
Hi WooCommerce Team ! Having the same issue here. Is it patched ?

[2022-03-18 11:30] johntunnel commented on #1167
According to Stripe Meastro works in most EU countries, but is limited to Maestro cards which have also PIN code. Some older cards do not have PIN. Need to check for each country with Stripe.

[2022-03-19 16:28] peterDeOW opened #2329 "Order details (SKU etc) sent to Stripe with Order Number"
We have a Stripe webhook for paid orders that links to another site for fulfilment.  The current WC plugin only sends to Stripe the WooC order number without details of the products ordered (unlike the Paypal equivalent).

Please add the additional product data, in particular the SKU's, so it can be saved in the Stripe system and sent out with an order paid webhook.

Thanks

[2022-03-22 13:21] chrismask commented on #2327
Yes, is a fix coming? I know its priority is low but a fix is two lines of code

[2022-03-22 16:48] rafaelzaleski commented on #2327
Yes, it is in our backlog. If you already know how to solve it, you can submit the fix in a PR and assign me to review it.

[2022-03-22 18:54] helgatheviking commented on #2099
@reykjalin Is there a timeline for adding the `wc_stripe_show_payment_request_for_product` filter?

[2022-03-23 10:00] vyskoczilova opened #2330 "How to hook into React settings – compatibility with Pay for Payment plugin"
**Is your feature request related to a problem? Please describe.**
I’m the developer of [Pay for Payment for WooCommerce plugin](https://wordpress.org/support/plugin/woocommerce-pay-for-payment/) and the new React settings don’t support extending the [from_fields](https://github.com/vyskoczilova/woocommerce-payforpayment/blob/master/inc/class-pay4pay-admin.php#L233) (or at least doesn’t render the

[2022-03-23 22:41] csmcneill commented on #2317
4850713-zen

[2022-03-24 08:59] glagonikas commented on #838
in case it helps, the duplicates are getting assigned to the root user instead of the person who actually processed the refund.  I assume this will be the case for all other examples, but it goes unnoticed because it's the same user.

<img width="1543" alt="image" src="https://user-images.githubusercontent.com/10516403/159877931-3582e844-2380-4fbf-830e-86356fab3d94.png">

There is a 1s difference

[2022-03-26 06:52] EtiennePoolman commented on #768
One more report in 4890509-zen

[2022-03-27 16:15] SivaArkwell commented on #1380
Is this still not a feature? Literally every single Woocommerce store in the entire world is insecure, all you need to be is an Admin and you can just login as anyone and use their saved credit card info to bill them for anything. That is absolutely outrageous, bordering on negligence to be honest.

[2022-03-27 17:35] felipevelzani commented on #2175
34915829-hc

[2022-03-29 08:11] grig-23 commented on #2175
4888380-zen

[2022-03-29 09:00] shohanhossainnab commented on #2175
Another report: 4891735-zen

[2022-03-30 19:45] aheckler commented on #2175
4903333-zen

[2022-03-31 00:07] EjayhanFernandes commented on #2175
4907990-zen

[2022-03-31 14:17] aheckler commented on #2317
25868718-hc

[2022-03-31 14:22] go6media commented on #2317
This is a real pain as renewals are unable to process

requires_payment_method & payment_intent_unexpected_state are not stored

[message] => You cannot confirm this PaymentIntent because it’s missing a payment method. You can either update the PaymentIntent with a payment method and then confirm it again, or confirm it again directly with a payment method.
[type] => invalid_request_error

Please

[2022-03-31 15:05] aheckler commented on #2317
One way to find potentially affected subscriptions would be a search in phpMyAdmin, or an equivalent query:

![image](https://user-images.githubusercontent.com/5512652/161086893-16d4cdd5-9aad-4946-9a4f-f410fcf12d1d.png)

![image](https://user-images.githubusercontent.com/5512652/161086919-2387af5b-bf9d-4fd1-a2ba-42147c19102c.png)

Some possible workarounds:

- Disable Stripe's new checkout experie

[2022-04-02 23:05] ryanr14 opened #2331 "Potential duplicate webhook actions"
**Describe the bug**
This issue already exists within [WooCommerce Payments](https://github.com/Automattic/woocommerce-payments/pull/3975), could the same thing also be happening in the Stripe extension itself?

I worked on a ticket this morning( 4902272-zen ) where they have said most of their recent Stripe orders have these duplicate order notes from Stripe regarding the charge. For example they

[2022-04-03 15:06] devvnawaz commented on #2175
4914441 - zen

[2022-04-03 19:25] demaya commented on #2120
Any updates on this?

[2022-04-04 12:45] #1396 closed

[2022-04-04 12:46] felipevelzani commented on #838
Reported on 4579950-zen.

[2022-04-04 12:47] felipevelzani commented on #1396
Closing this issue as it is indeed duplicated of #838.

[2022-04-04 15:34] dreamtooloud commented on #2331
The user from zd-4902272 mentioned that they have the same plugins set up on a different server and they don't see the duplicate notes problem. I've asked for some additional information about the configuration and if they've reached out to their server at all (on the problem site we are currently troubleshooting) to see if it's a server related issue.

[2022-04-04 16:14] frosso commented on #2007
Looks like this is old and can be closed

[2022-04-04 16:14] #2007 closed, assigned to nobody

[2022-04-04 17:22] mordeth opened #2332 "Uncaught Error: Call to a member function update_status() when Stripe SCA authentication fails"
Reported in #4920289-zd-woothemes

**Describe the bug**
The following error is logged when Stripe SCA authentication fails:
`Uncaught Error: Call to a member function update_status() on null in /wp-content/plugins/woocommerce-gateway-stripe/includes/class-wc-stripe-intent-controller.php:665`

The error is logged with the following order note `Stripe SCA authentication failed.
Reason: The provided

[2022-04-04 19:20] chrism245 commented on #2175
35004254-hc

[2022-04-05 14:43] tarunvijwani opened #2336 "Empty box for express checkout"
## Describe the bug

After disabling the express checkout option, the Checkout block is displaying the Empty box for express checkout.

<img width="695" alt="image" src="https://user-images.githubusercontent.com/11503784/161778910-290be537-29c6-49da-b7ed-6000bea636f7.png">

## To reproduce

Steps to reproduce the behavior:

1. Install and activate WooCommerce Stripe
2. Enable the Express checkout

[2022-04-05 17:24] dreamtooloud commented on #2331
Another update from the same user. I had suggested (as a work around for their downloadable content issue) turning on the function to access download upon purchase, but they corrected what they said before about the payment statuses:

"Seems the status is not in "Processing" after the Stripe payment is finished. It is in "Waiting for payment"."

That means second status is triggering a push back t

[2022-04-05 18:59] MarcGuay commented on #2175
Running into this with v6.3.0.  API calls to fetch my account data do not show `card_payments` in the list of `capabilities`.  Spoke to Stripe support and they said that there is no way to change this after account creation.

[2022-04-06 14:41] rashedripon commented on #2175
4923243-zen

[2022-04-07 07:26] snandos commented on #838
We have the same problem:
![grafik](https://user-images.githubusercontent.com/42617635/162143506-a845b5ff-a5cf-4ed4-81d1-0ebae5aad7cf.png)

Funny enough, that we have the exact same problem with the PayPal integration too: https://github.com/woocommerce/woocommerce-paypal-payments/issues/522
Might this be a problem with WooCommerce itself?

[2022-04-07 20:22] jffaria commented on #1096
Hello, I think this can be closed, I see boleto has been pushed now.

[2022-04-07 20:23] jffaria commented on #1096
tho not with support for woo subscriptions

[2022-04-08 13:17] caseymilne commented on #2175
I think what @MarcGuay mentions there sounds right because my Stripe account is also from many years ago and I see a range of these notices also. I see "payments off" in test mode, and in live mode I see both "payments off" an "payouts off".

I also contacted Stripe and they found all aspects of account working including webhooks, but the plugin reports webhook failures as well.

In total the inst

[2022-04-08 17:33] cesgarma commented on #2276
Upvote this feature request. Having the Oxxo reference number on the order email is a must have, not a nice to have.

We won't even integrate oxxo with stripe until we can have a way to retrieve the reference number easily. No customer will save the link or print the voucher in the pop up. I can see this can easily become a nightmare for store managers because the only way I found to retrieve that

[2022-04-09 18:58] thekingsprojects commented on #2175
Another case here: 4935141-zen

[2022-04-09 20:04] jamestc989 commented on #2332
Also experiencing this problem for the past 8 weeks. Causing no end of headache and thousands per week in lost revenue. Any body able to shed some more light on the issue?

[2022-04-09 20:18] jamestc989 commented on #2332
Also worth noting I think this is 3D Secure related. Contacted stripe support about having 5+ failed orders with this issue per day and they mentioned it was the authorizing bank’s fault, said they were aware and had no ETA on when it would be fixed. This was weeks ago it was raised

[2022-04-10 15:32] yukikatayama opened #2333 "Postal code address validation errors for Hong Kong region paying with Apple pay"
**Describe the bug**

Hong Kong customers checking out with Apple Pay see an address validation error. This is an ongoing issue that is still happening after this [pull](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1593).

Creating this new bug report for 4925266-zen as they state the issue still seems to affect all districts.

[2022-04-10 19:59] shaunkuschel commented on #2331
I took a look at 4902272-zen and noticed that there are quite a fatal errors occurring around when this duplicate note/status change is happening:

[code]

I suggested that they address that fatal error and see if that resolves the issue.

[2022-04-11 09:03] sukafia commented on #2175
4918390-zen

[2022-04-11 14:47] tharmann opened #2334 "Filter Shipping Options For Express Checkouts"
**Is your feature request related to a problem? Please describe.**
Some shipping methods require more than just a simple choice on the cart/checkout page.  A shipping method that allows you to choose the delivery date, for example would require you to choose that shipping method plus a date.  Another common one is a shipping method that allows for local pickup and requires you to choose a date and

[2022-04-11 17:00] theandrew168 opened #2335 "Occasional manual capture method despite plugin settings"
Firstly, thanks for the great plugin and hard work being done!

**Describe the bug**
A small number of payment intents (maybe 10% or so) are reaching Stripe with `"capture_method": "manual"` despite ensuring that the setting "Issue an authorization on checkout, and capture later" is NOT enabled. When this occurs, the orders are sitting on-hold until someone updates their status in WooCommerce (cau

[2022-04-12 10:42] opr commented on #2336
I'll add this to the data stores project as a bug to look out for - we should be able to solve this when moving to data stores.

[2022-04-12 13:36] neilmccreadie commented on #2175
4938542-zen

[2022-04-13 16:53] melek opened #2338 "Incorrect/Contradictory UX when partially refunding authorized, uncaptured orders"
**Describe the bug**
Right now, a partial refund on an authorized, uncaptured order results in the whole order being cancelled. While we've [made it somewhat more clear](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1481) to the merchant that this happens when they attempt that partial refund via notes, the refund button remains unchanged. This is bad UX, because there are contrad

[2022-04-14 13:12] jrick1229 commented on #2317
4940677-zen

[2022-04-14 14:21] shaunkuschel commented on #2186
35159469-hc

[2022-04-15 09:53] PoeHaH commented on #2322
Any news on this @rafaelzaleski ? Is it being looked at or will it not be fixed at this time? Thanks!

[2022-04-16 11:51] Mingendahl commented on #1566
Can confirm this annoys me, too ;-)
It's super simple to fix. Would be happy, I you find the time

[2022-04-16 21:49] darcie commented on #2175
4951097-zen

[2022-04-17 20:31] thracefulton commented on #2331
Another possible case in 4940814-zen.

[2022-04-18 14:44] rafaelzaleski commented on #2322
@PoeHaH
It's on our product backlog, and we intend to fix it as soon as we get availability for that.
If you know how to fix this issue and want to contribute, you're welcome to submit a pull request with this fix, and we'll review it.

[2022-04-18 18:46] ryanr14 commented on #2331
I was working again on 4940814-zen and they don't have any fatal error logs available as in @shaunkuschel's case. Just as an FYI. They enabled Stripe logging once they noticed this happening, but I don't believe it's happened again since April 8th for their site.

[2022-04-19 17:22] shaunkuschel commented on #2322
The ticket fields added by the Box Office plugin are not included in Express Checkout purchases from the product page as well, causing compatibility issues with the default behavior of that extension.

Reported on 4950082-zen

[2022-04-19 18:24] thracefulton commented on #2312
A merchant in 4950500-zen has encountered this as well. WP 5.9.3 / WC 6.4.0 / Stripe 6.3.0

When trying to add a real or test account with the `GB` country code, the Stripe logs show the `parameter_missing - owner.address.country` error.

(See StripeDocs here: https://stripe.com/docs/sources/sepa-debit#custom-client-side-source-creation)

[2022-04-19 19:47] thracefulton commented on #2312
I was able to replicate this on a fresh test site (only Woo/JP/Stripe installed). I tested with `GB82WEST12345698765432` and then `AT611904300234573201` with the following results:
<img width="605" alt="Screenshot on 2022-04-19 at 12-42-00" src="https://user-images.githubusercontent.com/88570946/164083642-83bd8584-cf84-48ff-8785-5180b2e36668.png">
<img width="1171" alt="Screenshot on 2022-04-19 at

[2022-04-19 19:50] dougaitken commented on #2312
Details from 4950500-zen via @rupole1185 in https://github.com/woocommerce/woocommerce/issues/32590

### Describe the bug

Error when saving SEPA DD on stripe using WOOCOMMERCE.
Stripe replies that a "_Parameter missing: owner.addresss.country_”.

I investigated a bit more and I found in Stripe documentation that:

`Creating a SEPA Direct Debit PaymentMethod requires that you include the customer'

[2022-04-19 19:52] dreamtooloud commented on #2175
4958276-zen

[2022-04-19 23:13] thelogicwizards opened #2339 "Idempotency keys not preventing duplicate charges in all cases"
**Describe the bug**

We’re doing POST `/payment_intents` and the code only set Idempotency Key for `/charges` API.

@shendy-a8c says: "I see that [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blame/trunk/includes/class-wc-stripe-api.php#L120-L126) idempotency key is set only for charges API. Why only that specific API? I also see [request()](https://github.com/woocommerce/wooco

[2022-04-19 23:37] thelogicwizards commented on #2339
4927886-zd-woothemes is also affected by this bug

[2022-04-21 12:09] wyter commented on #2175
4964000-zen

[2022-04-21 21:49] joaodante commented on #2331
Another case here: 4965600-zen

The merchant commented it's not happening with ALL orders (but with most of them).

[2022-04-22 12:27] takaacstamaas commented on #2311
I have the exact same issue :(

[2022-04-22 18:59] thelogicwizards commented on #2331
4940814-zen reports that the issue persists, but they recently shared that:

[2022-04-24 02:19] devvnawaz commented on #2175
4949847-zen

[2022-04-24 21:16] csmcneill commented on #1548
35269229-hc

We resolved this by:

1. Going to Apple Pay management in Stripe dashboard: https://dashboard.stripe.com/settings/payments/apple_pay
2. Removing the existing Apple Pay domain.
3. Adding it again inside the dashboard.

We did not need to re-upload the domain verification file. The only issue is that their browser was caching their site. Viewing in a private Safari browser or on a mobil

[2022-04-25 17:02] jaxr commented on #2175
4966972-zen

[2022-04-25 19:28] aheckler commented on #2331
12595841-hc which led to 5083355-zen was this. Merchant solved it by disabling this in the Stripe settings:

<img width="1253" alt="Screenshot taken on 2022-04-25 at 19 27 07 UTC@2x" src="https://user-images.githubusercontent.com/5512652/165160028-36a4e4c8-a7c6-4564-846a-d7b47d028e1d.png">

[2022-04-26 00:11] thracefulton commented on #2331
Another instance in 5167773-zen. I confirmed that this user did **not** have the Experimental "new checkout" active.

[2022-04-27 17:11] NathalyaVides commented on #2175
5165591-zen

[2022-04-27 17:31] wpniall commented on #1116
Another case in 5165578-zen

[2022-04-27 18:48] lovo-h commented on #2331
Just to clarify, this is not a case of duplicate webhook actions. Instead, it's the following:
1. The webhook action `payment_intent.succeeded` being called.
2. `add_action( 'wp', [ $this, 'maybe_process_upe_redirect' ] )` being called when UPE is enabled.

That's why the merchant that @aheckler brought up had success in solving the issue when they disabled UPE: they removed pathway 2 (i.e. `maybe

[2022-04-28 01:04] senff commented on #2175
5169895-zen

[2022-04-29 13:33] neilmccreadie commented on #2175
5173252-zen

[2022-04-30 03:46] namiokuzono commented on #2175
35332765-hc

[2022-05-01 16:30] therealgilles commented on #2169
Same problem here. Also this bug should be fixed:

[code]

[2022-05-01 17:09] therealgilles opened #2343 "Clarify usage of Apple/Google Pay and custom required fields on checkout page"
**Is your feature request related to a problem? Please describe.**
It is not clear if custom required fields are compatible with the Apple/Google Pay Express Checkout flows on the checkout page.

**Describe the solution you'd like**
It would be great to have documentation on whether this is supported and if so, how (does it require custom validation code? what hooks are available?).

If it is not

[2022-05-01 17:39] therealgilles commented on #2169
This code in assets/js/stripe-payment-request.js

[code]

does not seem to support the checkout page or at least not the one-page checkout (provided by the woocommerce-one-page-checkout plugin).

[2022-05-01 18:42] therealgilles opened #2344 "Add way to pass custom field values to Apple/Google Pay create_order data on checkout page"
**Is your feature request related to a problem? Please describe.**
All the fields for Apple/Google Pay create_order POST data are currently hardcoded. This does not allow to pass custom field values that could be used and validated when going through the order creation process on the checkout page.

**Describe the solution you'd like**
The simplest way would be to have an option (hook/filter) to a

[2022-05-02 04:38] thisissandip commented on #2331
5175398-zen

[2022-05-02 10:28] newtlabs commented on #1207
+1

[2022-05-02 12:37] enoch85 commented on #1207
@sodecos @newtlabs Please use the '👍'-button in the first post.

Thanks!

[2022-05-02 14:03] selectedselections opened #2345 "Express Checkout Buttons Missing on Pay for Order screen"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When following the `Customer payment page` link from an unpaid order to the `Pay for order` checkout page, no Express Checkout buttons are offered by either Stripe or WooCommerce

[2022-05-02 18:25] tijosh commented on #2175
5184921-zen

[2022-05-04 00:06] darcie commented on #1196
5174763-zen

**which payment method was being used**
iDeal

**was there a chargeable source? what's the timestamp?
was the chargeable source later cancelled? what's the timestamp?**

Not all information was provided, but a charge appeared on the customer's bank account and was later cancelled. The transaction was not recorded in Stripe.

**were there any failed webhooks related to the charge?
does

[2022-05-04 01:23] namiokuzono commented on #2175
5184836-zen

[2022-05-04 08:16] scholary-tim commented on #2103
+1

From digging deeper into this issue, the PaymentIntent is not passed Level 3 data (which contacts line items, including tax rates).

For US-customers, you can request that Stripe support enables L3 data on your account (as this is a gated feature - on request only), but this is not a solution for non-US customers.

One option is to write some custom functions to pass billing data to the 'metad

[2022-05-04 11:37] felipevelzani commented on #2175
35376672-hc

[2022-05-05 15:26] stuartduff commented on #2175
5190241-zen

[2022-05-06 12:06] stuartduff commented on #2175
5192977-zen

[2022-05-06 20:40] Kuhreez commented on #1111
For Posterity in case anyone is running into the issue where you HAVE to disable the "Allow websites to check for Apple Pay" in Safari settings to get the Apple pay button to show up, here were my issues and how I got around it:

I was doing the domain verification thorough Stripe's API (instead of doing it on the dashboard).
The problem was that the account that I was verifying the domain for was

[2022-05-09 11:36] stuartduff commented on #2175
5180416-zen

[2022-05-09 18:35] csmcneill commented on #1601
In 5174939-zen, the user is seeing a similar error with WCPay on an AT site.

[2022-05-09 19:28] selectedselections commented on #751
reported in 32527600-hc

[2022-05-09 20:03] diegocurbelo opened #2347 "Support WordPress 6.0"
### Description
Test and validate the plugin compatibility with WordPress 6.0.

Adding `WordPress 6.0-RC1` to the Compatibility workflow testing matrix (in [this PR](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2346)) results is one error:
https://github.com/woocommerce/woocommerce-gateway-stripe/runs/6356923902?check_suite_focus=true

[code]

**Expected behavior**
All tests shou

[2022-05-09 21:32] namiokuzono commented on #2175
5184836-zen

[2022-05-10 09:37] AashikP commented on #2317
Another possible report in 5202276-zen

[2022-05-11 13:36] EvanDotPro commented on #2347
For context, this is a compatibility issue with WC 6.5.0, not WP 6.0.

The "primary" property [was removed](https://github.com/woocommerce/woocommerce-admin/pull/8474/files#r829672400) from `Automattic\WooCommerce\Admin\Notes\Note` in WC 6.5.0.

Fixed in #2348.

[2022-05-11 13:40] stuartduff commented on #2331
5202573-zen The particular customer within this support ticket is finding that due to the duplication stock quantities are being reduced twice.

[2022-05-11 14:26] amElnagdy commented on #2175
5205408-zen

[2022-05-11 18:00] joshuatf opened #2349 "Deprecation tags still refer to WooCommerce Admin feature plugin versions"
**Is your feature request related to a problem? Please describe.**
Since WooCommerce Admin has been merged into WooCommerce core, deprecation tags and notices refer to versions that don't match the plugin they are in.

For example, `WC_Admin_Note` says deprecated since `1.7.0` referring to the previous WCA version, not the core version number.

**Describe the solution you'd like**
Update deprecati

[2022-05-11 20:02] #2347 closed, assigned to EvanDotPro

[2022-05-12 02:21] mouligreenlaw commented on #2317
Possibly also on 5202047-zen

[2022-05-12 03:57] mouligreenlaw commented on #838
Another instance: 5206513-zen

[2022-05-13 12:37] wyter commented on #2175
5205398-zen, asked them to await the fix to be shipped

[2022-05-13 13:59] jcanales commented on #449
Same issue here, when payment method exists in a users profile and trying to add new one I get this error, any toughts?

Notice: Undefined property: stdClass::$id in /var/www/html/wp-content/plugins/woocommerce-gateway-stripe/includes/abstracts/abstract-wc-stripe-payment-gateway.php on line 1118

Notice: Trying to access array offset on value of type null in /var/www/html/wp-content/plugins/woocom

[2022-05-15 06:56] ziodave opened #2351 "Add Payment Method > Credit Card fails with an error"
**Describe the bug**

I am testing the Add Payment Method form. When I try to add a Credit Card I get a "There was a problem adding the payment method." error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/my-account/payment-methods/'

![image](https://user-images.githubusercontent.com/11438/168461000-e3651da2-721b-48a8-991e-312409d7edbf.png)

2. Click on 'Add Payment Method'

![im

[2022-05-15 07:02] ziodave commented on #2351
It looks the stripe.js file wasn't loaded.

[2022-05-15 07:02] #2351 closed, assigned to nobody

[2022-05-16 13:39] stuartduff commented on #2175
5216770-zen

[2022-05-16 19:01] diegocurbelo opened #2352 "Stripe charge shows as completed but not charged"
**Describe the bug**

Customer paid order 55205 but Stripe charged the customer for order 54777 (the previous successful order which the customer placed on the site).

The order amounts differ, because the customer edited their subscription. The Stripe amounts do not.

Order 55205 is marked as complete, but payment was never received.

**Additional context**

According to the logs, a payment inten

[2022-05-16 20:06] diegocurbelo opened #2353 "3DS modal is not showing"
### Describe the bug

The 3DS modal is not showing, and he following error is present in the browser console:
`The client_secret provided does not match the client_secret associated with the Payment Intent`

<img width="2330" alt="Screen Shot 2022-05-07 at 16 56 13(1)" src="https://user-images.githubusercontent.com/407542/168672521-78487ae4-6ccb-417a-9410-de9d148da05e.png">

The 3 different ticket

[2022-05-17 20:54] Gabriel-Denys commented on #2331
I am actually experiencing the exact same issue. It happened to me exactly after I deleted a webhook and configured a new one.

I get duplicate order notes, duplicate emails, and stock being reduced twice.

The issue does not occour when a customer pays via Apple Pay. I have the new checkout experience enabled.

I can share the logs if needed.

Are there any solutions other than switching back to

[2022-05-18 15:49] johndcoy commented on #2175
5221707-zen

[2022-05-18 21:33] ZgrK commented on #2311
Still same issue

[2022-05-19 01:48] AashikP commented on #1548
Another example in 5220976-zen. In my test site, using a simulator, I had to disable this option for Safari (iOS) to view the payment button:

![image](https://user-images.githubusercontent.com/17475174/169186306-b9a0d48e-fad0-4a96-860e-079b08957c9e.png)

[2022-05-19 15:57] chrism245 commented on #2175
5224970-zen

[2022-05-20 07:06] thisissandip commented on #2175
5227233-zen

[2022-05-20 14:01] rvola commented on #2311
Part of the solution is here: https://wpml.org/forums/topic/urgent-woocommerce-multilingual-breaks-stripe-gateway-in-woocommerce/

However the problem is caused by WPML and not Stripe.
Too bad to have broken a plugin using native features such as fields provided by WooCommerce for a JS/API solution that does not provide any additional comfort.

[2022-05-20 15:56] Ratsbew commented on #2305
@aheckler
@reykjalin
It's not very nice to ignore my comments!
Would be great if someone could read my comment from 23 Feb.
Thank you!

[2022-05-20 15:57] Ratsbew commented on #2306
@aheckler
@reykjalin
It's not very nice to ignore my comments!
Would be great if someone could read my comment from 23 Feb.
Thank you!

[2022-05-20 18:47] spigotdesign commented on #2317
Reporting this issue on a client site. Disabling the New Checkout Experience fixed it, and we will be manually adding customer and source ID info into subscriptions.

[2022-05-23 14:01] rvola commented on #2311
the problem has been fixed with the WPML WooCommerce Multilingual 5.0.0 version.
It's fully functional
https://wpml.org/version/woocommerce-multilingual-5-0-0/

[2022-05-23 14:01] #2311 closed, assigned to nobody

[2022-05-23 16:15] amElnagdy commented on #2175
The issue is Closed and I might not be able to locate the related PR that fixes the issue with the **Payouts** - not the Payments being disabled while they're working.

In #2342, it says

What am I missing here?

Another report with the **Payouts** (Stripe 6.4) in 5236366-zen

[2022-05-24 13:25] kgeorgee commented on #2335
5237473-zen

[2022-05-24 14:59] ValueErr commented on #2353
Hi, is there any update on this? This is fairly critical as it's causing loss in sales.

[2022-05-24 17:55] spraveenitpro commented on #2333
Hi @reykjalin , just wanted to check on https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1593 as this behaviour persists. Thanks

[2022-05-24 19:48] reykjalin commented on #2333
We're trying to work with the Apple Pay team to fix the issue, but it's a complicated one. The most reliable way to address the issue is for customers to change the way they enter their address into the Apple Pay dialog such that they pass the built-in WooCommerce validation. Unfortunately all the address fields in the Apple Pay dialog are simple text boxes with no form of validation so there's on

[2022-05-25 00:44] haszari opened #2355 "Order charge incorrect – items missing (one-off issue on merchant site)"
## Describe the bug
We've had a report of an order which was incorrectly charged. The order total was ~$437, and the amount charged via Stripe was $166. This total matches the cost of the first order item($159.86) + Stripe fee ($6.14), so there might have been an error calculating the total to charge. Merchant provided screenshots and logs to confirm the Stripe charge (`POST /v1/payment_intents` l

[2022-05-25 08:35] ChristophGeier commented on #1566
+1

[2022-05-25 15:24] stuartduff commented on #1248
Mentioned in 5232103-zen

[2022-05-25 16:12] selectedselections commented on #751
Reported in 35568545-hc

[2022-05-25 18:51] dashnak commented on #2276
This would be tremendously useful! Trusting a user to take a screenshot is a recipe for disaster.

[2022-05-26 10:21] grig-23 commented on #2175
Re-opening since the PR only fixes half of the bug, although let us know if the "payouts are disabled" part requires a separate bug report.

[2022-05-26 18:20] aaronsilber commented on #1563
Hi @asumaran - we are still experiencing this issue. Do you or the WC team have any update on when this issue is planned to be addressed?

[2022-05-26 18:27] helgatheviking commented on #1563
Thinking about this again...  both my plugins calculate/determine the price on the front-end already. If there was a standardized way for us to tell the PRB script what that amount is we could handle compatibility on our side. I did this with the old WooCommerce PayPal Payments plugin.... which pulled price from some kind of data attribute. On my side, I updated that attribute when my product's co

[2022-05-27 13:25] wyter commented on #916
I've tested this with the latest Subscriptions version (4.3.0) and can confirm that the issue still exists.

When the Stripe payment gateway is set to authorize and capture later, if the manual capture fails when changing the order status to processing, the customer will still get a Processing email.

[2022-05-27 22:24] darcie commented on #1824
5250423-zen reported this as well.

[2022-05-30 13:00] thuautp commented on #1548
Also reported in 5248116-zen

[2022-05-30 14:46] nixiack commented on #2353
Hi @diegocurbelo, this still has an open option of `needs reproduction` on it, was @EvanDotPro able to replicate?  Let us know :)

Thanks!

[2022-05-30 19:43] asumaran commented on #1563
@aaronsilber unfortunately, we won't be able to deliver this soon. We've found multiple issues while implementing this approach.

The original approach doesn't work on Safari and the workaround will require major implementations in WC core (like the ability to create multiple carts). So, to answer your question: No, there's no updates to share regarding this issue.

[2022-05-30 23:47] chrismask commented on #2345
I have this issue for long time but cannot fix it without problems. I have tried to add to cart the same order that gets into form-pay.php (pay for order template) but it creates a duplicate order instead of paying for the original. On default, express checkout is completely absent from pay for order page

[2022-05-31 19:14] brianyu28 opened #2356 "Terminal location creation fails if site title missing"
**Describe the bug**

The `wc_stripe/terminal/locations` endpoint uses the site title for the `display_name` property for the location. If the site has no  title, attempting to get the store terminal location fails with the following error from Stripe:

We should instead fallback to a non-empty identifier (e.g. the site URL).

**To Reproduce**

- In **Settings > General**, set the **Site Title** f

[2022-05-31 19:38] brianyu28 commented on #2356
This will follow the approach taken in https://github.com/Automattic/woocommerce-payments/pull/4304 once it's been reviewed and merged.

[2022-06-01 04:06] helgatheviking commented on #1563
@asumaran Rethinking this a bit today and I don't think we have to get as complex as separate carts. If we look at the current ajax add to cart.... I think the biggest barrier to compatibility is that [only some form data is serialized and posted](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/assets/js/stripe-payment-request.js#L275-L297).... it looks like only the variati

[2022-06-01 05:13] helgatheviking commented on #1563
As an update... the above changes get the correct price into the cart! But in the gpay modal they are still displaying the wrong price.... 🤔

[2022-06-01 12:37] sun commented on #2114
We are facing the same symptom.  I believe you have formal German (de_DE_formal) configured as site locale.

PR https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2357 fixes this by including formal German in the locale mapping.

[2022-06-01 19:50] helgatheviking commented on #2343
I believe you could use the [`wc_stripe_show_payment_request_on_checkout` filter](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/includes/payment-methods/class-wc-stripe-payment-request.php#L947)

[2022-06-01 20:07] helgatheviking commented on #1563
Apologies for the slightly stream of consciousness... I have it about 50% of the way I think... see [demo site](https://mnm.kathyisawesome.com/product/simple-nyp/)

If you enter a price and then tab out or click outside (this part is not complete but based on current Name Your Price functionality where validation doesn't happen until the `.change()` event).

You should see the payment request butt

[2022-06-01 20:38] asumaran commented on #1563
@helgatheviking I was planning to respond with a much larger comment which  I'll do anyway later/tomorrow. But for now I'd suggest you to try your demo on Safari. Also, the product data (amount, requires shipping?, etc) **must be added to the cart and come from the backend** that way we ensure that plugins that modify the product (e.g. the price) will work with PRBs.

[2022-06-01 21:03] helgatheviking commented on #1563
@asumaran I don't have Safari so that's going to be tough for me. But the product data _will be_ coming from the backend.. and the price is reflected correctly in the cart if I cancel the checkout and go look at the cart.

By [relaying the custom form fields](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2359/files#diff-73c011ce1388f1432621c0fb207e47201e82f70fdf7e4a9b0d44eb47a9cb5

[2022-06-05 06:12] therealgilles commented on #2343
@helgatheviking Thanks for the pointer. This is not quite my request though.

[2022-06-06 14:08] demaya commented on #2120
[Added the translation](https://translate.wordpress.org/projects/wp-plugins/woocommerce-gateway-stripe/stable/de/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=12571385&filters%5Btranslation_id%5D=95327630). Can you please approve @ricardo / @jarekmorawski. Thanks in advance.

[2022-06-06 18:35] ricardo commented on #2120
Thanks @demaya. That should be reviewed and approved by the German .org translation team.

[2022-06-07 03:58] asumaran commented on #1563
@helgatheviking, sorry for the late response. I'll try to respond to your comments. Also, I will try to explain why as of today we failed to deliver this new approach.

With the new approach, we don't want to get the product's data from the frontend. There are many issues with getting the right amount the user has to pay using PRBs. We figured out that the best and only way to get the most accurat

[2022-06-07 18:17] #2356 closed, assigned to brianyu28

[2022-06-07 19:17] helgatheviking commented on #1563
@asumaran Hi Alfredo. Thank you so much for this very thoughtful and detailed reply. I appreciate the effort. It does help clarify what some of the limitations are and it's clearly well beyond what I want to get into while just tinkering around. :) I guess I just have to stay patient then. Cool to see the Store API tackle the temp cart situation... they will also need to support adding custom prod

[2022-06-08 17:33] qas1 commented on #1434
For anyone still stuck on this, this seems to only work when you set the add_filter before the plugin is loaded. I've manged this by adding the code to the mu-plugins directory and it works fine.

https://wordpress.org/support/article/must-use-plugins/

[2022-06-08 18:32] EvanDotPro commented on #2353
@nixiack I have not been able to reproduce this yet. :(

[2022-06-08 21:57] ValueErr commented on #2353
Hey,

That's no worries at all! If you would like, you can get in contact with myself and I can give you a staging site which has the above issue present.

Many thanks

[2022-06-09 05:50] iamkrunalprajapati commented on #1434
@qas1 Yes with mu-plugins it has been resolved, Thank you!

[2022-06-09 17:03] EvanDotPro commented on #1688
I think this can be closed now. :)

[2022-06-09 17:03] #1688 closed, assigned to EvanDotPro

[2022-06-09 22:36] asumaran commented on #1563
@helgatheviking, we are not actively working on this plugin right now. Although, we'll happily review any contribution that works for everyone and doesn't break compatibility with others plugins.

I quickly looked at your PR and think it's very dangerous to populate super globals dynamically with user-provided data. It'd be best if you could create an issue with your requirements so we can discuss

[2022-06-09 22:40] mouligreenlaw commented on #2331
Hi there!
I'd like to update the merchant on 4940814-zen as to a possible release of this fix.
Is there anything I can tell them?

[2022-06-10 01:08] helgatheviking commented on #1563
Are there any plugins with request buttons that woo _is_ working on? Seems like at least one plugin ought to be compatible with marketplace plugins... or at least extensible. I won't able to to do this on my own. It's way too big a project for me to take on as a non-employee.

My requirement has already been documented in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1515. I nee

[2022-06-13 02:46] kaushikasomaiya commented on #2192
5291826-zen

[2022-06-13 14:59] billrobbins commented on #2353
Hey @ezdreamzy are you able to reproduce this readily on the staging site?  If so we would be very interested in taking a look at it.  Can I get you to open up a ticket at WooCommerce.com for us?  Please include a link to this issue so we can keep this all together.  Thanks!

[2022-06-14 08:06] ValueErr commented on #2353
I can indeed readily reproduce this on the staging site. My ticket ID is - 4906383. @billrobbins

[2022-06-15 07:56] iamdharmesh opened #2363 "Manual order for a pre-order product immediately charges customer; it must charge upon release instead"
**Describe the bug**

When a pre-order product has `upon release` as it's type of charge, a manual order from the WordPress wp-admin dashboard sends an invoice to the customer, which when paid immediately charges their card.

**Note: Original issue is reported [here](https://github.com/woocommerce/woocommerce-pre-orders/issues/273) by @arunsathiya.**
Based on the initial findings([here](https://gi

[2022-06-15 10:36] aydenbottos commented on #799
Any updates on this? It's June 2022, nearly 3 AND A HALF YEARS since it was first asked for.

[2022-06-16 05:06] thisissandip commented on #1548
33410688-hc

The [workaround](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1548#issuecomment-1107920101) from @csmcneill worked for the merchant.

[2022-06-20 12:27] dpaun1985 opened #2365 "StripeLink: Add Stripe Link option in admin"
We need to add an option to enable/disable Stripe Link payment method when Stripe ( credit card ) payment is enabled.

Add a checkbox option under `Settings -> Stripe ( Credit Card  ) -> Payment methods` section to enable / disable Stripe Link payment method.

<img width="1465" alt="Screenshot 2022-06-20 at 15 20 31" src="https://user-images.githubusercontent.com/82826872/174600465-499e3aa2-e364-4

[2022-06-20 12:40] dpaun1985 opened #2366 "StripeLink: Add beta headers for Stripe requests"
If StripeLink payment method is enabled, we should add `link_beta=v1` to the `Stripe-Version` header request on Stripe, when the payment intent is created and on confirmPayment.
So, the request header will be: `Stripe-Version: 2020-08-27;link_beta=v1`

[2022-06-20 13:23] dpaun1985 opened #2367 "Add Stripe Link payment method on checkout form"
Stripe Link payment method should be added on checkout form.

If the Stripe Link option is enabled, on checkout page, when you start to complete the email address, a new option "1 click checkout" will be visible

[2022-06-20 13:38] dpaun1985 opened #2368 "StripeLink: Move billing email field to top"
When Link payment method is enabled, on checkout page, the billing email field should be displayed the first input field in the form.

[2022-06-20 13:45] dpaun1985 opened #2369 "StripeLink: Add Stripe Link button if email is pre-filled"
If the email field is already pre-filled, display a button that triggers Stripe Link payment method

[2022-06-20 17:14] nicholasjeberlin commented on #2353
Hi @ezdreamzy,

We reached out to you last week but haven't heard back. I reached out again today but just wanted to make sure you received our emails?

It would be a great help for us to be able to take a look at your staging site and troubleshoot this further.

Thanks in advance!

[2022-06-20 22:06] asumaran commented on #1563
[WooCommerce Payments](https://wordpress.org/plugins/woocommerce-payments/) is actively supported and works with PRBs too, but they both likely share the same issue about PRBs on the product page – On the other hand, I just learned we would be back working on WCStripe soon. Hopefully, we can address this issue as it's required to fix multiple existing issues.

[2022-06-20 22:16] asumaran commented on #2254
Closing this since this is a not a bug and there's no new reports of this being a problem.

[2022-06-20 22:16] #2254 closed, assigned to nobody

[2022-06-20 23:09] asumaran commented on #2247
@templeman customization is not compatible with the new checkout experience. That filter only applies to the original checkout form.

[2022-06-20 23:09] #2247 closed, assigned to nobody

[2022-06-21 11:14] simplysaru commented on #2353
@ezdreamzy came back on ZD to confirm that they managed to fix the issue by disabling all the webhooks and enabling the only required minimum webhooks and that fixed the issue for them.

[2022-06-21 15:47] EvanDotPro commented on #2353
@ezdreamzy Glad to hear you resolved your issue! Was the issue simply due to webhook misconfiguration and thus this issue can be closed? That could certainly explain the struggle to reproduce this one!

[2022-06-21 17:30] nicholasjeberlin commented on #2353
Our other merchant experiencing this issue in 5175030-zen does not believe that the webhooks are the issue for them, but they are going to double-check what they have configured and let us know. We'll provide an update once we hear back!

[2022-06-21 17:35] EvanDotPro commented on #2353
@nicholasjeberlin Thank you!

[2022-06-22 14:27] ValueErr commented on #2353
It is a little strange as all was working up until March 15th. I'm unsure if any updates were released around this time which caused our webhook configuration to break but all is indeed now well.

The thing I believe which made it very hard to diagnose was the fact 3d secure test cards were working with no issue and displayed the 3d secure modal but live cards didn't. This inconsistency I reckon c

[2022-06-22 19:55] EvanDotPro commented on #2175
@grig-23 I did update the PR to address both "charges" and "payouts" before it was merged, so I'm going to close this again. I'm going to close this again for now but please feel free to re-open it and clarify if I'm missing anything. Thanks!

[2022-06-22 19:55] #2175 closed, assigned to EvanDotPro

[2022-06-25 07:55] jacoswan opened #2371 "The Automattic\WooCommerce\Admin\API\Options::get_options function is deprecated since version 3.1."
## Describe the bug

The error above is recorded in server-level logs when accessing Stripe settings. The notice above are recorded in server error logs when using specifically Stripe, hence reporting it here. If it's still a core issue, I'm happy to move it or reopen the original report.

I could not recreate it on a local development site, but in addition to the user's report from Siteground sit

[2022-06-26 08:52] maltfield commented on #799
Any update on this? I want to add fiat payments to my woocommerce site without having to poke a hole in my firewall to permit my web server to be able to communicate to api.stripe.com.

My understanding is that Stripe Checkout is a "client-only" solution, which -- among other benefits -- is more secure for the customer (the whole payment transaction is done on stripe's servers, not the merchant's

[2022-06-27 02:54] bcalmeil opened #2383 "Strip Integration of Alipay payment option is not showing"
Hi all

The integration of Alipay with Stripe is not appearing in the payment method.

![alipay option is missing](https://user-images.githubusercontent.com/29054379/175851306-48d2aec8-0225-46d5-8a55-446cd1990fa9.jpg)

[2022-06-28 07:28] maltfield commented on #634
@roykho

I'd like to request that this ticket is-reopened as it's a very important security concern to configure API keys based on the [principle of least privilege](https://en.wikipedia.org/wiki/Principle_of_least_privilege) when we're talking about a payments API...

The Stripe API keys can be restricted by [a] Resource Type and [b] None/Read/Write.

Stripe docs explain Restricted API Keys here:

[2022-06-28 07:28] maltfield commented on #634
See also https://wordpress.org/support/topic/minimum-api-permissions-needed-restricted-api-keys/#post-15772256

[2022-06-28 07:32] maltfield commented on #634
@Calrion did you ever get this plugin to work with a Restricted API Key?

[2022-06-28 11:41] EjayhanFernandes commented on #2371
The user here is experiencing the same issue 5331858-zen.

[2022-06-28 13:13] felipevelzani commented on #457
Hi everyone, our team is still considering adding Klarna support to our WooCommerce Stripe extension.

We will let you know when we have updates on that. We appreciate your patience.

_(For reference, I deleted a comment that was spam for a different WordPress plugin.)_

[2022-06-28 16:53] getimo commented on #457
Still „considering“? I’m sorry but that’s not enough and too late. We switched already.

[2022-06-28 17:42] aheckler commented on #634
Reopening per @dmvrtx in Slack: p1656271314127419-slack-C7U3Y3VMY

[2022-06-28 18:01] LazVegas commented on #1824
5250423 here - spouse-ly.com.  We are seeing the same issue with Google Pay as well.

[2022-06-29 07:16] loge99 commented on #457
But the real DICK move is, they removed the comment with the plug-in that does a better job than theirs calling it SPAM.
That‘s what I call spitting on your own community.

[2022-06-29 13:02] felipevelzani commented on #457
Hi @loge99!

It's important to remember that WooCommerce Stripe is a free and open-source solution. Anyone can create pull requests (with proposed new features), fork the repository to create their own version of the plugin, or even use a different independent plugin. All these are valid options and are part of the open-source freedoms.

Still, commenting on our repository with links to other proj

[2022-06-29 13:06] loge99 commented on #457
Yo Felipe, you can make up whaaaaatever you feel good with, but it’s not gonna change facts or how anyone following this thread is starting to view this.

[2022-06-29 15:26] aheckler commented on #1548
5330148-zen

[2022-06-29 20:51] serenityinchains commented on #457
@felipelousantos
While I understand that this plugin is free and open source, not including the pay-in-4 in your plugin is simply unacceptable. It's been available for years, it's been requested multiple times. Not having that option for our clients during checkout is leaving money on the table for those of us using it, and I would have gladly paid a subscription fee to ensure that it (and other n

[2022-06-29 21:12] jnineb opened #2373 "Updating to 6.4.2 causes a CRITICAL Uncaught Exception: The "Live Secret Key" should start with "sk_live" or "rk_live", enter the correct key."
**Describe the bug**

After upgrading to Stripe v. 6.4.2 a fatal error is intermittently present on some sites. Stripe settings are not accessible as the error is present once Stripe is activated on the site.

[code]

**To Reproduce**
Steps to reproduce the behavior:

Either upgrade or install Stripe v 6.4.2. The error occurs intermittently on some sites, and it seems that it may be caused by havi

[2022-06-29 23:47] bhound commented on #457
Ok, but it's gone from "on the roadmap" to "still considering" - as others have mentioned this is becoming a serious compliance issue as in some places pay over time functionality is legally required. I'd highly suggest bumping up the priority otherwise your plugin is going to become irrelevant since it won't meet business' statutory obligations.

[2022-06-30 02:47] #2373 closed, assigned to lovo-h

[2022-06-30 23:57] LazVegas commented on #1824
Express Pay (Google Pay and Apple Pay shipping) is not properly syncing with WooCommerce.

You can see this issue live on our [staging site](https://wordpress-618231-2068638.cloudwaysapps.com/).

Express Pay shipping is not syncing with WooCommerce.

[2022-07-01 18:07] ricardo commented on #2371
Found out the problem comes from [this snippet](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/9a30800f2aab8e280b61a4f7ed97885f5ba81a56/client/settings/customization-options-notice/index.js#L19-L50) which tries to get/update an option using WooCommerce Admin's store. Apparently that's the only place we're doing that in the plugin, and it's for displaying a UPE notice introduced in

[2022-07-01 20:54] clintonb commented on #1105
My site only allows purchases from authenticated users, so this feature would be ideal.

[2022-07-01 21:17] KennyStier opened #2376 "SEPA Orders Not "Processing" once payment clears"
**Describe the bug**
After a customer places an order using SEPA, the order status is set to "On hold", which is correct. But even after the payment clears, the Woocommerce order does not change status to "Processing" without manual intervention.

**Expected behavior**
Once SEPA payment is complete, order is set to "Processing" so that it can be fulfilled.

**Screenshots**
![Screenshot from 2022-0

[2022-07-04 04:34] cesarcosta99 opened #2377 "Implement Jetpack Changelogger"
## Description

After the last releases remind me the changelog entries are still manually handled, I believe we can leverage the Jetpack Changelogger to manage that and automate the process as done in WCPay.

## Acceptance criteria

- [ ] Add [jetpack-changelogger](https://github.com/Automattic/jetpack-changelogger) to composer and configure it.
- [ ] Gather log entries during the release process

[2022-07-04 08:39] Shahbazhassan opened #2378 "PayNow Singapore payment method not an option in this plugin"
#### Affected ticket(s)
Local Payment Method not showing. I'm using Stripe inline form with saved card function but local payment methods that i enable in my stripe account not showing. My Store Currency is SGD.

#### What I expected
I'm expecting all my local payment methods that i enabled in my Stripe Account will show up on WooCommerce checkout.

#### What happened instead
Only Card option is s

[2022-07-04 18:33] ricardo commented on #2376
Hi @KennyStier. SEPA payments rely on webhooks to update the order status. Can you please confirm if your webhooks are properly set? See the [Stripe webhooks documentation](https://woocommerce.com/document/stripe/#webhooks) for further details.

If your webhooks are configured correctly, but SEPA orders still don't update, please send us a snippet of your Stripe logs from **WooCommerce > Status >

[2022-07-05 08:22] dpaun1985 opened #2379 "StripeLink: Remove feature flag"
Before release, we need to remove the `_wc_stripe_feature_link` feature flag implemented in #2370 .
This was needed to hide the Link features from regular customers until all features are fully implemented.

[2022-07-05 15:18] tarunvijwani commented on #2383
Hi there @bcalmeil  👋

Thanks for taking the time to make us aware that Stripe Alipay isn’t working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it’s expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

I have a few follow-up questions:

1. Did you [enab

[2022-07-05 16:53] KennyStier commented on #2376
Ah, I see. For some reason I was using the wrong webhook secret. Thanks for your assistance!

[2022-07-05 16:53] #2376 closed, assigned to nobody

[2022-07-06 08:47] #2366 closed, assigned to dpaun1985

[2022-07-06 09:10] #1974 closed, assigned to EvanDotPro

[2022-07-06 15:14] #2365 closed, assigned to dpaun1985

[2022-07-06 18:36] Hastibe commented on #838
We're also encountering this issue. I see that this was originally opened several years ago, and is still open--is there any workaround for this, until it is fixed? And/or any timeframe for it to be fixed?

[2022-07-07 11:29] CGA8C commented on #1497
Feature Requested in Chat: 35996389-hc; suggested they use a stand-alone Klarna Gateway for now.

[2022-07-07 13:19] bcalmeil commented on #2383
Hi

Thanks for your feedback

1./ I have enabled Stripe in both WooCommerce and stripe platform
2./ I have followed the WooCommerce steps, and it used to appear before I activated the block cart/
3./ This is the WooCommerce status report

[2022-07-07 13:21] bcalmeil commented on #2383
Hi

Thanks for your feedback

1./ I have enabled Stripe in both WooCommerce and stripe platform
2./ I have followed the WooCommerce steps, and it used to appear before I activated the block cart/
3./ This is the WooCommerce status report

[2022-07-07 21:24] ericfri commented on #2345
Also in 6448163-hc

[2022-07-08 07:34] solstudioim commented on #2331
It was reported in 5334483-zen and 5339700-zen too.

[2022-07-08 19:50] dreamtooloud commented on #2331
Have another report of this here: 36018895-hc and follow up here: 5202573-zen

Got creds to confirm relation to this bug--but I'm 99% sure it is connected base on the information the user provided.

[2022-07-09 14:29] nicholasjeberlin commented on #2331
5360179-zen

[2022-07-10 06:37] clintonb commented on #1105
I am now able to re-use my existing Stripe customers via filter. My site uses a [custom plugin](https://gitlab.com/mitcnc/wordpress-stripe-plugin) to create customers and memberships (subscriptions), but the [event ticketing plugin](https://theeventscalendar.com/products/wordpress-event-tickets/) we are currently integrating uses WooCommerce.

Again, this works for me because my users are always a

[2022-07-11 12:39] dpaun1985 opened #2381 "StripeLink: integrate Stripe Link with blocks"
Implement StripeLink into WooCommerce blocks.

[2022-07-13 08:29] AlexWebLab commented on #2330
Hello, I need this to be fixed as well.

[2022-07-13 10:13] dpaun1985 opened #2384 "StripeLink: Check input field styles"
Stripe will introduce some missing styles for Link when using `payment_element_beta_1` meta.
We need to check if all elements are in good shape when the styles will be present.

[2022-07-13 10:15] dpaun1985 commented on #2384
This item is blocked until Stripe will introduce the styles for `payment_element_beta_1`

[2022-07-13 11:27] kalessil commented on #2384
The discussion thread: p1657209230573929-slack-C9976E5MJ

[2022-07-13 17:07] wyter commented on #892
I tested with Stripe version 6.4.3. There is no longer an option for `Inline Credit Card Form` in Stripe settings. Thus, this bug can be moved to a close.

![No inline setting](https://user-images.githubusercontent.com/11092629/178790807-74ca3e1d-e842-4d61-8498-b5fa5af7f657.png)

[2022-07-13 17:57] wyter commented on #1019
I tested this on Stripe version 6.4.3 and I was able to replicate it.

![SEPA, SOFORT](https://user-images.githubusercontent.com/11092629/178799503-60b0b9ec-369d-4dc0-bf96-f4f9078bb957.png)

[2022-07-14 02:15] #1579 closed, assigned to asumaran

[2022-07-19 05:58] #2367 closed, assigned to dpaun1985

[2022-07-19 07:50] sverleis commented on #1413
WooCommerce.com ticket with this as a request: #5404108-zen

[2022-07-19 10:05] #2368 closed, assigned to mordeth

[2022-07-19 19:44] bmccotter commented on #2378
Hi @Shahbazhassan - appreciate the feedback! We do not yet have PayNow built into the Stripe plugin for WooCommerce. We will take your feedback and evaluate how and when we can implement it into our roadmap.

[2022-07-19 19:44] #2378 closed, assigned to nobody

[2022-07-20 13:46] diegocurbelo commented on #2317
Hey @EvanDotPro I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/fractal-62a0f7b955648b001e1f5e1f/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-07-20 14:37] diegocurbelo commented on #1945
Fixed in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2166

[2022-07-20 14:37] #1945 closed, assigned to ricardo

[2022-07-20 14:41] diegocurbelo commented on #2033
Fixed in #2038

[2022-07-20 14:41] #2033 closed, assigned to nobody

[2022-07-20 14:41] #2029 closed, assigned to nobody

[2022-07-20 14:44] diegocurbelo commented on #1441
Stripe Checkout spike was cancelled, and superseded by UPE and Stripe Link

[2022-07-20 14:44] #1441 closed

[2022-07-20 19:16] diegocurbelo commented on #2267
Removed in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2375

[2022-07-20 20:45] #2369 closed, assigned to mordeth

[2022-07-20 22:30] #2379 closed, assigned to dpaun1985

[2022-07-21 01:25] #2381 closed, assigned to mordeth

[2022-07-21 01:33] dpaun1985 commented on #2384
The styles were added, so we can close this issue.

[2022-07-21 01:33] #2384 closed, assigned to dpaun1985

[2022-07-21 07:12] roux1max commented on #1424
Hello everyone!

Thanks for the awesome work on this plugin. Just wanted to bring back this thread to life because we hit cases where credit card were refused using the Sources API.

I checked directly with Stripe before coming to you guys but they ensured me it was because the plugin didn't us the PaymentIntent API (thread with the plugin support : https://wordpress.org/support/topic/error-saving

[2022-07-21 19:59] ricardo commented on #2267
@diegocurbelo Seems like it's still there: https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/api/index.js#L72

[2022-07-23 08:52] nuart73 commented on #1404
Verified today, the issue is still present.

[2022-07-25 15:17] michael-sumner commented on #1322
We have a large customer with this request and it would benefit Stripe greatly to have this feature.

[2022-07-25 22:59] Brianmitchtay commented on #2353
Seeing another case of this in 5371932-zen, going to ask them to check their webhooks and make sure that only the essential ones are in place.

[2022-07-27 01:13] essentique opened #2392 "WC session cookie is being set on product pages even when not loading scripts. Cache buster."
**Describe the bug**
A woocommerce session cookie is set when on a product page even though prbs is disabled on it and the wc_stripe_load_scripts_on_product_page_when_prbs_disabled filter returns false.

**To Reproduce**
Steps to reproduce the behavior:

1. Disable express checking on product pages.
2. add_filter( 'wc_stripe_load_scripts_on_product_page_when_prbs_disabled', '__return_false' );
3.

[2022-07-27 06:34] solstudioim commented on #2378
Another merchant in 5427028-zd-woothemes using WooCommerce Stripe gateway enquired about PayNow payment method integration.

[2022-07-27 12:23] dpaun1985 opened #2393 "Change Express checkouts section in admin"
Link payment method is displayed in "Payment methods" . As this is an express checkout payment method e need to:
- Move Link payment method from "Payment methods" section to " Express checkouts"

We also need to change the "Express checkouts " section to have the UI similar to
<img width="1066" alt="wcpay_express_checkouts" src="https://user-images.githubusercontent.com/82826872/181245579-480d9e55

[2022-07-27 18:28] darcie commented on #1073
5425574-zen This store is using authorize and capture to edit line item totals based on stock, and the fee and net are not updating to reflect the amount captured.

[2022-07-28 16:08] #1629 closed, assigned to nobody

[2022-07-28 16:13] dougaitken commented on #1631
Reported to docs guild internally. p1659024751531819-slack-CSP74N77C

[2022-07-28 16:13] #1631 closed, assigned to nobody

[2022-07-28 16:15] #1703 closed, assigned to nobody

[2022-07-28 18:17] maxlaf commented on #2353
Possibly another case of this in 5427804-zen. Asking them to use only the required webhook events.

[2022-07-28 22:23] csmcneill opened #2394 "[6.5.0] Fatal Errors Related to get_upe_enabled_payment_method_ids()"
**Describe the bug**
After updating to Stripe 6.5.0, a user in 36234977-hc reported an issue that specifically affected some other extensions, like WP Fusion.

Some elements of other extensions were inaccessible unless they reverted to 6.4.3. Some of this was due to odd styling errors, but others were replaced with the following fatal error:

[code]

Note: Redacted their site URL since this is a p

[2022-07-29 00:59] mattallan opened #2395 "Synchronized Subscriptions Requiring Shipping Can't Be Purchased with Apple Pay/Google Pay"
Copy of https://github.com/Automattic/woocommerce-payments/issues/3742 as the same issue exists in Stripe.

**Describe the bug**

If a customer tries to purchase a synchronized subscription that requires shipping with Apple Pay or Google Pay, the transaction will be canceled and an "Invalid recurring shipping method" notice added.

This works as expected for virtual subscription products.

**To Re

[2022-07-29 01:50] maxlaf commented on #1196
5424675-zen

**which payment method was being used**

iDeal

**was there a chargeable source? what's the timestamp?
was the chargeable source later cancelled? what's the timestamp?**

Order was cancelled 6 hours after the source was started. A charge appeared on the customer's bank account but there's no transaction recorded in Stripe.

**were there any failed webhooks related to the charge?**

`C

[2022-07-29 02:09] user-1138 opened #2396 "6.5.0 Stripe Link payment method option in admin - I'm not seeing it..."
**Describe the bug**

Just upgraded (Dev/Staging/Prod) and I'm not seeing any of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WP Dashboard > WooCommerce > Settings > Payments'
2. Ensure 'Stripe - Credit/Debit Card' payment option is enabled, click 'Manage'.
3. Then under the 'Express checkouts' section, only the 'Enable express checkouts' tick box is displayed with Stripe, Appl

[2022-07-29 05:53] kaushikasomaiya commented on #2394
5432676-zen

Following plugins were found common

- PixelYourSite: by PixelYourSite – 9.1.1
- SiteGround Optimizer: by SiteGround – 7.2.0
- Yoast SEO: by Team Yoast – 19.4

Looks like coming from SiteGround Optimizer

[2022-07-29 11:47] kaushikasomaiya commented on #2394
5432486-zen

[2022-07-29 12:15] Wqrld commented on #2394
Can confirm this issue without wp-fusion or siteground. I am unable to login to wp-admin and this same error showed up in the logs.

[2022-07-29 12:21] Wqrld commented on #2394
If i'd have to make a wild guess i'd look at https://github.com/woocommerce/woocommerce-gateway-stripe/commit/c1fc945489db06be9925166269591d05ff2b9adf#diff-e1e5e9b442c2b5d4105edbdc3787651333c1923dd623677025f72d25796900d6R664

[2022-07-29 14:51] dougaitken commented on #1620
hey @edequalsawesome

I appreciate some time has passed since the original comment, thanks for your patience. I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

As I’m unable to reproduce this, I’m marking this Issue as Closed. Please

[2022-07-29 14:51] #1620 closed, assigned to nobody

[2022-07-29 14:56] dougaitken commented on #2396
Hey @user-1138

You're totally correct, being based in Australia is a factor. Link by Stripe requires USD as a store and Stripe account currency  - https://stripe.com/docs/payments/link

This documentation is about Link by Stripe in the [WooCommerce Payments plugin](https://woocommerce.com/payments/) specifically.

I'll pass this to my documentation colleagues to update the [Stripe Documentation](

[2022-07-29 14:56] #2396 closed, assigned to nobody

[2022-07-29 15:10] dougaitken commented on #1626
Hey @peterwilson86

I appreciate this is now over a year old, we're working to speed up the Issue discussions and resolution.

As there hasn’t been any activity on this Issue after your initial post, I’m going to close this Issue.

It reads like you're looking for functionality that falls outside the current or future functionality of the plugin, and would require customization to fit your needs.

[2022-07-29 15:10] #1626 closed, assigned to nobody

[2022-07-29 15:21] dougaitken commented on #1664
Hey @cguweb-com

I appreciate some time has passed since the original comment, thanks for your patience. I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

If this is still showing for you, I would check that your Stripe account is in

[2022-07-29 15:21] #1664 closed, assigned to nobody

[2022-07-29 15:24] dougaitken commented on #1728
Duplicate of #1034 - please keep all discussion there.

It would be great to have you add your ideas and enhancement requests to the [Stripe Feature Request Portal](https://woocommerce.com/feature-requests/stripe/), which is where developers go to look for future plugin features and improvements.

I've found a corresponding feature request here - [Enable WeChat Pay in WooCommerce Stripe Payment Ga

[2022-07-29 15:24] #1728 closed, assigned to nobody

[2022-07-29 15:28] dougaitken commented on #2088
It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue described using the latest release of the core WooCommerce plugin, WooCommerce Blocks feature plugin, and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/)

As I’m unable to reproduce this, I’m marking this Issue as Closed. Please do op

[2022-07-29 15:28] #2088 closed, assigned to nobody

[2022-07-29 15:32] dougaitken commented on #1793
Hey @malmualla

I appreciate some time has passed since the original comment, thanks for your patience.

It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

<img

[2022-07-29 15:32] #1793 closed, assigned to nobody

[2022-07-29 15:42] dougaitken commented on #1905
Hi @Poolee

I appreciate some time has passed since the original comment, thanks for your patience. As you mentioned in a later reply, this issue was a conflict with the `'Stripe Payment Gateway for WooCommerce ( Basic )' by WebToffee` plugin.

If you're able to still replicate this and it happens using a default theme, this other Stripe plugin, and the latest core WooCommerce plugin, then one opt

[2022-07-29 15:42] #1905 closed, assigned to nobody

[2022-07-29 15:43] dougaitken commented on #1868
I appreciate some time has passed since the original comment, thanks for your patience.

It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

As I’m unable to repr

[2022-07-29 15:43] #1868 closed, assigned to nobody

[2022-07-29 15:49] dougaitken commented on #1870
It reads like you're customizing the core functionality of the Stripe plugin and WooCommerce so we cannot offer advice about this specific Issue.

I did take a quick look for similar and found this comment - https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1011#issuecomment-536646700 that might be of interest.

As there hasn’t been any activity on this Issue recently, I’m going to

[2022-07-29 15:49] #1870 closed, assigned to nobody

[2022-07-29 15:50] dougaitken commented on #1941
Hey! As there hasn’t been any activity on this Issue recently, I’m going to close this Issue.

It reads like you're looking for functionality that falls outside the current or future functionality of the plugin, and would require customization to fit your needs.

For assistance with customization or development with your site, we recommend reaching out to someone on our [customizations page](https

[2022-07-29 15:50] #1941 closed, assigned to nobody

[2022-07-29 15:53] dougaitken commented on #2057
Hey @jeddey @ilearnio

As there hasn’t been any activity on this Issue recently, I was going to close this Issue but wanted to check if this was still a problem when using the most recent releases of WooCommerce and the WooCommerce Stripe plugin?

Thanks,

[2022-07-29 16:24] kaushikasomaiya commented on #2394
@Wqrld I guess 5432486-zen is without WP fusion or Siteground. In fact, they are using WooCommerce Checkout Field Editor, which triggered the error.

[2022-07-29 16:35] seffect commented on #2394
Having same issue only with Ninja Forms, I commented out the check on line 664 and just set it to false:

[29-Jul-2022 16:20:40 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get_upe_enabled_payment_method_ids() on null in /var/www/bsr/wordpress/wp-content/plugins/woocommerce-gateway-stripe/woocommerce-gateway-stripe.php:664
Stack trace:
#0 /var/www/bsr/wordpress/wp-includes/clas

[2022-07-29 16:54] seffect commented on #2394
Fixed it by adding  $this->get_main_stripe_gateway(); to  line 662 in woocommerce-gateway-stripe.php as suggested in the code comment for the stripe_gateway() function declaration, probably should have been there to begin with?

54                         /**
655                          * Move the email field to the top of the Checkout page.
656                          *
657

[2022-07-29 18:09] dannyschwantes commented on #1633
I appreciate some time has passed since the original comment, thanks for your patience.

It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

As I’m unable to repr

[2022-07-29 18:09] #1633 closed, assigned to nobody

[2022-07-29 18:11] dannyschwantes commented on #1689
I appreciate some time has passed since the original comment, thanks for your patience.

It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

As I’m unable to repr

[2022-07-29 18:11] #1689 closed, assigned to nobody

[2022-07-29 19:57] dougaitken commented on #2069
Hey @BrentOzar

I appreciate it has been some time since you posted, we're working our way through older GitHub Issues to ensure we catch up and keep up.

This would fall under a support requests and this is handled by the Happiness Engineers for the WooCommerce Stripe plugin. If you post this in the [WooCommerce Stripe Support Forums](https://wordpress.org/support/plugin/woocommerce-gateway-strip

[2022-07-29 19:57] #2069 closed, assigned to nobody

[2022-07-29 20:02] dougaitken commented on #2339
Possibly related #2154

[2022-07-29 20:03] dougaitken commented on #2154
There is a possibly related issue in #2339 about fixing this but as there has been no further updates since this was opened, I'm closing this for now.

[2022-07-29 20:03] #2154 closed, assigned to nobody

[2022-07-29 20:10] dougaitken commented on #2183
I appreciate some time has passed since the original comment, thanks for your patience.

It is possible that this issue has been fixed by a more recent release as I’ve been unable to replicate the issue you described using the latest release of the core WooCommerce plugin and the [WooCommerce Stripe Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-stripe/).

As I’m unable to repr

[2022-07-29 20:10] #2183 closed, assigned to diegocurbelo

[2022-07-29 20:14] dougaitken commented on #2192
Hi all,

I appreciate some time has passed since the original comment, thanks for your patience.

I'd be interested to find out the difference people are seeing when product page loads with and with the Stripe plugin active. Also if Payment Request buttons (Apple Pay etc) are enabled or not.

Thanks,

[2022-07-29 20:21] dougaitken commented on #2228
I've fixed this one and I'll comment on the others but documentation queries are best handled by the docs guild or Payment Ops.

[2022-07-29 20:21] #2228 closed, assigned to nobody

[2022-07-29 20:27] dougaitken commented on #2227
[#additional-payment-methods](https://woocommerce.com/document/stripe/#additional-payment-methods) is fixed
[#new-checkout-experience](https://woocommerce.com/document/stripe/#new-checkout-experience) is fixed
[#does-stripe-support-authorization-and-capture](https://woocommerce.com/document/stripe/#does-stripe-support-authorization-and-capture) is working
[#test-mode](https://woocommerce.com/docum

[2022-07-29 20:27] #2227 closed, assigned to nobody

[2022-07-29 20:29] dougaitken commented on #2229
It looks like at some point `#payment-request-buttons` has been rewritten to be the [Express checkouts](https://woocommerce.com/document/stripe/#express-checkouts) section, correctly matching the name of this feature with in the plugin.

[#faq](https://woocommerce.com/document/stripe/#faq) is working
[#new-checkout-experience](https://woocommerce.com/document/stripe/#new-checkout-experience) is fi

[2022-07-29 20:32] dougaitken commented on #2306
Hey @Ratsbew I'm sure my colleagues weren't ignoring them but missed the comment here.

This issue is on our backlog and the team will review and investigate in due course.

Thanks,

[2022-07-29 20:35] dougaitken commented on #2256
Hey @priyanka-cedcoss

It reads like you're looking for functionality that falls outside the current or future functionality of the plugin, and would require customization to fit your needs.

For assistance with customization or development with your site, we recommend reaching out to someone on our [customizations page](https://woocommerce.com/experts/) as we're not able to offer that help here.

[2022-07-29 20:35] #2256 closed, assigned to nobody

[2022-07-29 20:36] dougaitken commented on #2319
Hey @daniyalahmadk

I'm going to close this as that "affected resource" is a Stripe hosted JS file so not something we have control over.

Thanks,

[2022-07-29 20:36] #2319 closed, assigned to nobody

[2022-07-29 20:46] dougaitken commented on #2335
Hey @theandrew168

I've never seen this before, and aside from the example above, I didn't know this was possible.

Why is it happening? I'm unsure but we'd need to have reproducible steps before the team were able to tack this.

I know that isn't the answer you want to read, especially after waiting over three months for a reply so if you've seen any other patterns, please do share them with us.

[2022-07-29 20:49] dougaitken commented on #2355
I appreciate some time has passed since the original comment Rua, thanks for your patience.

Since I don't see other example, I agree it is possible that this issue has been fixed by a more recent release.

I’m marking this Issue as Closed but I welcome anyone to open a new Issue and reference this if they're able to reproduce this, and if so, please [contact WooCommerce.com support](https://wooco

[2022-07-29 20:49] #2355 closed, assigned to nobody

[2022-07-29 20:51] dougaitken commented on #2363
@iamdharmesh - I haven't look at the other discussions but where you able to reproduce this with any other payment gateway? I wonder if this is "as expected" but not intention.

[2022-07-29 20:57] dougaitken commented on #2392
Hey @essentique - can you confirm which specific cookie or cookies are being set, please? You mention `wc session cookie`, that could be a core WooCommerce cookie rather than from the Stripe payment gateway plugin but I wanted to confirm.

[2022-07-29 20:59] essentique commented on #2392
Yes, the core woocommerce session cookie. The plugin is actually setting that via the `WC()->session->set_customer_session_cookie( true );` call above.

[2022-07-29 21:02] theandrew168 commented on #2335
@dougaitken Thanks for the response and no worries about the delay. I knew that there probably wouldn't be many actions to take without a repro. I figured I'd at least check upfront and see if there was some hidden setting or logic path that'd cause an intent to get sent with `"capture_method": "manual"`.

This issue hasn't reappeared in recent months so I'd be okay to call it a fluke. I appreciat

[2022-07-29 21:02] #2335 closed, assigned to nobody

[2022-07-29 21:05] dougaitken commented on #2392
Sorry @essentique I'm having trouble fully understanding your ask - are you looking for a way in which using the filter you've mentioned above would **_also_** stop the core WooCommerce cookie from being set?

[2022-07-29 21:09] essentique commented on #2392
Yes. There's no reason to set the core wc session cookie if the scripts are not being loaded (i.e., there is no express payment functionality on the page). The filter is a way to control whether the scripts should be loaded. So, if the filter returns false, there's also no need to set the wc cookie.

The main point is, for some of us, who decide not to load any stripe payment functionality on our

[2022-07-29 21:18] dougaitken commented on #2383
Hey @bcalmeil

Alipay, along with other Local Payment Methods don't have support for the new Cart & Checkout Blocks yet, only the [Stripe credit card](https://woocommerce.com/document/cart-checkout-blocks-support-status/#section-4) option is available - this is why Alipay doesn't show.

(I've removed your System Status Report from your comment as it isn't currently needed)

[2022-07-29 22:58] Brianmitchtay opened #2398 "Show a warning message when Stripe Webhook signing secret is misconfigured"
**Is your feature request related to a problem? Please describe.**

A frequent problem that we see in support is that users follow the setup instructions, but accidentally grab their webhook id from the Stripe dash instead of the webhook signing secret. They then see the green check and the message that webhooks are active on the setting screen and think that everything is fine, completely missing

[2022-07-30 03:01] ABAbdulelah commented on #2394
hi all i am still having the same issues
i switch off those plugins:

- PixelYourSite: by PixelYourSite – 9.1.1
- SiteGround Optimizer: by SiteGround – 7.2.0
- Yoast SEO: by Team Yoast – 19.4

can someone help pleases!

[2022-07-30 04:10] ABAbdulelah commented on #2394
i find the problem which Payment Plugins for Stripe WooCommerce Version 3.3.24

[2022-07-30 06:00] kaushikasomaiya commented on #2394
Reported on forums: https://wordpress.org/support/topic/php-fatal-error-uncaught-error-call-to-a-member-function-get_upe_enabled_payme/

[2022-07-30 07:40] Buzut commented on #1870
Hi @dougaitken

I am not in any way modifying a core functionality of Stripe's plugin. I am just using a WC hook to smartly handle user account management. Not touching Stripe in any way…

[2022-07-30 08:39] Wqrld commented on #2394
@ABAbdulelah
Apply my change from patch https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2397/commits/0741b991fbe018728954bc364a004d5c8486a0bf
That should fix the issue until an official update comes out.

[2022-07-30 10:07] kaushikasomaiya commented on #2394
25173907-hc

- Incompatibility between Stripe and WC Checkout field editor

[2022-07-30 11:39] kaushikasomaiya commented on #2394
Forum: https://wordpress.org/support/topic/errors-causing-site-to-not-function-correctly/

[2022-07-30 13:16] wyter commented on #2394
Also reported here - https://wordpress.org/support/topic/php-fatal-error-critical-uncaught-error-call-to-a-member-function-get_upe_enab/

[2022-07-30 14:31] jomoweb commented on #2394
I applied this hotfix that worked for me until bug is resolved. @Wqrld has an even simpler fix posted above.

Problem appears to be that `stripe_gateway` can be null.

Is the purpose for the triggering method to move the email field to the top of the checkout page? Curious why that would be needed, especially with so many users who customize their checkout pages?

It didn't seem apparent that this

[2022-07-30 15:06] wpniall commented on #2394
Another report in 5433708-zen

[2022-07-30 20:22] design-getyourmobi commented on #2394
We are experiencing the same issue, the only plugin we have in common with the rest that have commented is Yoast SEO 19.4.

[2022-07-30 21:35] laurendavissmith commented on #2394
I'm one of the developers here at WooCommerce and wanted to pop in and apologize for the rough rollout on this one. We have people including myself looking into these issues and working on a fix. Unfortunately, it may be a bit slower given the weekend but we're working to get a patch release out for this ASAP.

[2022-07-30 22:06] RFMENNECIER commented on #2394
thanks for the answer. be aware that releasing such version is freezing entirely our business and this should never happen. we are waiting for this fix to earn money and this will as well affect credibility for our customers. I lost as well réservations today because the customers were not able to finalize the order. this is really affecting our business and break the vision customers or prospects

[2022-07-30 22:30] yukikatayama commented on #2394
Noting here that 5436225-zen is getting similar error with Stripe + Follow Up Emails + a plugin called Hev Modifiers. In this case a fatal error was logged when a FUE  did not send at its scheduled time, nor did any action occur when trying to manually send it

<img width="1463" alt="Markup 2022-07-30 at 18 27 13" src="https://user-images.githubusercontent.com/24614608/182002202-5eb95c80-aba4-4170

[2022-07-31 01:33] therealgilles commented on #2394
Getting the same issue when my existing checkout page is queried by GatsbyJS (not a real blocked for me).
Comes from this code:

[code]

where `$this->stripe_gateway` is null.

I also use WC Checkout Field Editor and WC One Page Checkout.

[2022-07-31 01:41] therealgilles commented on #2394
Stack trace if it may help:

[code]

[2022-07-31 12:30] rubileandro commented on #2394
Another report in [5435017-zen](5435017-zd-woothemes).

[2022-07-31 18:31] csmcneill opened #2400 "[6.5.0] Stripe Link Not Loading in Test Mode"
**Describe the bug**
When Stripe Link is enabled while [Stripe](https://woocommerce.com/products/stripe/?aff=10486&cid=1131038) is in test mode, some users report issues with the payment fields loading properly.

They will encounter a spinner...

![Screen Capture on 2022-07-31 at 13-20-34](https://user-images.githubusercontent.com/82999806/182039997-f2d87c0a-3d42-41c3-b093-f60dd2d51c43.gif)

...an

[2022-08-01 06:24] iamdharmesh commented on #2363
Hi @dougaitken, I have tried pay manual order with [GoCardless](https://woocommerce.com/products/gocardless/) and [Braintree for WooCommerce Payment Gateway](https://wordpress.org/plugins/woocommerce-gateway-paypal-powered-by-braintree/) and both payment gateways are do not charge immediately, payment has been charged upon release of the product.

[2022-08-01 08:28] kaushikasomaiya commented on #2394
5440323-zen

[2022-08-01 12:37] devvnawaz commented on #2394
5439693-zen

[2022-08-01 12:51] devvnawaz commented on #2394
Another report on forum: https://wordpress.org/support/topic/fatal-error-when-i-try-to-generate-invoice/

[2022-08-01 13:05] devvnawaz commented on #2394
5440450-zen

[2022-08-01 13:33] zoemyers commented on #2394
5441178-zen
None of the referenced plugins are installed, but the merchant does have both WooCommerce Stripe and `Payment Plugins for Stripe WooCommerce: by Payment Plugins support@paymentplugins.com – 3.3.24`

[2022-08-01 15:24] csmcneill commented on #2394
36280094-hc

[2022-08-01 15:30] apmwebdev commented on #2394
33949676-hc

[2022-08-01 18:41] #2394 closed, assigned to nobody

[2022-08-01 19:34] #2400 closed, assigned to nobody

[2022-08-01 20:37] melek commented on #2394
36283762-hc

[2022-08-01 21:02] apmwebdev commented on #2394
11197616-hc

[2022-08-02 00:13] phillipcornwell commented on #2394
5442429-zen
5442177-zen

[2022-08-02 11:38] michiphp commented on #2392
I'm having the exact same problem, when I deactivate the plugin Stripe it is working as expected and not setting any session cookie. Is there a solution to this? I feel this is a fairly new behaviour because in the past I was able to cache my single product pages without any problems.

[2022-08-02 20:14] gabrielbonifacio commented on #2353
Also reported on 5411111-zen.

[2022-08-03 02:16] mouligreenlaw commented on #2333
Hi @reykjalin 4925266-zen came off hold and I'd like to give the merchant an update.
Is there anything I can say to them at this point?

[2022-08-03 04:35] reykjalin commented on #2333
No, we have nothing new to report on this unfortunately :/ .

[2022-08-03 04:46] EjayhanFernandes commented on #1631
Keeping everyone in the loop. I have now added this information to the Apple Pay section of our Stripe doc:
https://woocommerce.com/document/stripe/#requirements

[2022-08-03 11:56] amElnagdy commented on #2394
It was reported here at 5446363-zen - Asking the merchant to update to 6.5.1

[2022-08-03 13:25] zoemyers opened #2404 "New Checkout Experience: Failed Payments Start New Orders with Manual Authorization Even with Option Disabled"
**Describe the bug**
When the Stripe extension is in Live Mode, and New Checkout Experience is enabled under Experimental Features, and `Issue an authorization on checkout, and capture later` is unchecked, a customer makes a purchase and their card is declined.

An order is created, a payment intent is created and authorized to charge, and the order status is "on hold."  The order notes reflect "S

[2022-08-03 13:29] zoemyers commented on #2404
5371817-zen

[2022-08-04 06:33] essentique commented on #2392
I'm fairly new to the plugin and it's been like this since I've been using it. Looks like a year or so ago, the filter mentioned here was put in to disable loading the scripts. I'm not entirely sure why they added a new filter; seems to me that if express checkout is disabled on any page (product or cart) the plugin should just leave the page alone. You don't need another filter for that. But at l

[2022-08-04 10:42] jacoswan commented on #1404
Another in 5451901-zen, WC 6.7.0, Stripe 6.5.1

[2022-08-04 14:10] FangedParakeet opened #2405 "Customers shown incorrect order confirmation when manipulating Stripe intent response"
**Describe the bug**
During checkout, customers can be redirected and shown the Order Received page, when payment is still pending on the order. This can be achieved by manipulating the response from Stripe's API when confirming a payment intent to set the `amount` of the response to `0` and the `status` to `null`.

This was achieved during an attempted exploit on the checkout page while using the

[2022-08-05 07:25] dineshinau opened #2406 "Showing Notice on the Cart when clicking 'Order Again' button"
**Describe the bug**
When we click on the **'Order Again'** button from Thank you page for the completed order then on adding the products to cart showing a notice 'Undefined index: line_total'

**To Reproduce**
1. Place an order using any gateway including stripe also and stay on thank you page.
2. Mark the order status as completed from admin login.
3. Refresh the thank you page.
4. Click on the

[2022-08-06 16:34] salmaniz82 commented on #1073
Hi,
I posted this issue from sam@webential.co.uk and I actually resolved this on my end on 29th July 2022. My solution is isolated from the plugin. Let me share my findings on it.
1. Custom webbook endpoint when event = charge.capture then check if amount_refunded > 0 that means there is a partial refund.
2. $balanceTransactionID = $event['data']['object']['refunds']['data'][0]['balance_transactio

[2022-08-08 08:23] rynaldos commented on #2378
Another merchant asking in 5461916-zd-woothemes

[2022-08-08 23:20] maverick14 commented on #1266
Hi,
I have the issue while using the strip test (Wordpress Woocommerce), after defining the billing & shipping detail, still not able to pass shipping detail in the request..

Your help will be really appreciated.

WooCommerce Stripe Gateway : Version 6.5.1

Check the request:

**Request POST body**
{
  "return_url": "xxxxxxxxxxx",
  "payment_method_data": {
    "billing_details": {
      "name":

[2022-08-09 04:14] asumaran opened #2407 "Make sure our code works without issues with WooCommerce's Custom Order Tables"
For more context visit: p1659937693943169-slack-C9QDV4TL4

As part of [WooCommerce's migration to Custom Order Tables](https://developer.woocommerce.com/2022/01/17/the-plan-for-the-woocommerce-custom-order-table/) (COT) we need to prepare our code to be compatible with it when it's released to everyone.

So far, while testing the [critical flows](https://github.com/woocommerce/woocommerce-gateway-

[2022-08-09 08:39] EjayhanFernandes commented on #799
Requested here: 5464446-zen

[2022-08-09 13:19] LaurenceKay commented on #2331
I am having this issue as well on 2 websites

Have just tried turning off new check out see if that resolves the issue.

[2022-08-09 14:09] jos22 commented on #2331
5453836-zen. User is facing duplicate stock reduction on top of duplicate order notes just as @stuartduff mentioned.

[2022-08-10 00:59] maverick14 opened #2408 "WooCommerce is not sending shipping Address in Stripe.."
**Describe the bug**
Not able to test the stripe payment using woocommerce plugin. Tried different ways to pass the shipping information to the Stripe, but it is not working.

Attached screenshot to the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://webfortesting.in/carrymebags/ (sample)
2. Add product to cart
3. Provide Billing & Shipping information, Enter Test card

[2022-08-10 05:40] asumaran commented on #2407
### Tests run with "Use the WooCommerce orders tables" option enabled

- [x] Merchant - Onboarding - Manual plugin installation and setup
- [x] Shopper - Checkout - Checkout with normal credit card
- [x] Shopper - Checkout - Save card at checkout
- [x] Shopper - Checkout - Checkout with saved card
- [x] Shopper - Checkout - Checkout with SCA card
- [x] Shopper - Checkout - Checkout failures (with

[2022-08-10 18:21] dreamtooloud commented on #2331
Working on 5468298-zen where we have duplicate charge complete order notes plus duplicate points being awarded via WooCommerce Points and Rewards. Trying to confirm if it's related to this or not.

[2022-08-11 02:05] asumaran commented on #2407
Refund related issues seem to be fixed now after @vedanshujain has merged `enhancement/33771` into the `cot-main` branch.

- [x] Merchant - Order - Full refund
- [x] Merchant - Order - Partial refunds (one, several)
- [x] Merchant - Order - Refund failure

[2022-08-11 14:02] hsingyuc opened #2409 "Stripe overwrites payment method name when using Google Pay with other gateways"
**Describe the bug**
Original issue - https://github.com/Automattic/woocommerce-payments/issues/4428
PR - https://github.com/Automattic/woocommerce-payments/pull/4498

We should check if there is a payment request and check if the payment method is not Stripe payments before updating the payment method title.  So we can prevent Stripe from overwriting other payment gateways that might be using Goo

[2022-08-11 14:27] zoemyers commented on #2345
Also in 5465318-zd

[2022-08-11 22:57] mouligreenlaw commented on #2331
Adding to @dreamtooloud comments relating to 5468298-zen
I looked at the orders received today, 11 Aug, and found that duplicate points were only awarded when Stripe was used and the customer had an account.
Out of 5 orders using Stripe, only one did not duplicate the Stripe note, and the two that had points applied show the  duplicate points.
All orders that used PayPal awarded points once as exp

[2022-08-12 09:42] LaurenceKay commented on #2331
I have spent some time looking into this seems 99% sure its some thing to do with the Try the new checkout experience (early access)

i have 4 websites 2 which had this activated had the issue, since turning off haven't seemed to have the problem.

[2022-08-15 03:13] thisissandip commented on #799
5478700-zen

[2022-08-15 18:00] diegocurbelo opened #2411 "Compatibility with PHP 8.1"
Add PHP 8.1 to the compatibility workflow matrix.

Make sure all flows work fine with PHP 8.1

[2022-08-16 15:50] #2409 closed, assigned to hsingyuc

[2022-08-18 00:19] nanoanno commented on #799
Additional request: 5486591-zen

[2022-08-18 01:51] hsingyuc opened #2413 "Eslint should ignore parent .eslintrc configuration"
**Describe the bug**
Eslint uses both the parent and the current repo's eslint config file.

**Screenshots**
<img width="883" alt="Screen Shot 2022-08-17 at 6 26 55 PM" src="https://user-images.githubusercontent.com/56378160/185271950-e684e0d5-3f29-4822-be03-e3cde10a2a25.png">

**To Reproduce**
1. Create a `woocommerce-payments` docker instance
1. Clone the `woocommerce-gateway-stripe` plugin to `

[2022-08-19 08:02] kaushikasomaiya opened #2416 "Large logos for payment methods on some themes like 2022"
**Describe the bug**

5490246-zen

Not sure why the style sheet `stripe-styles.css` isn't loaded on the checkout page.

This is causing logos on some themes like 2022 to appear big:

![image](https://d.pr/i/Qyn7Ij+)

[2022-08-20 17:12] ericfri commented on #1548
5467803-zen

[2022-08-23 21:45] ericfri commented on #1548
5489647-zen

[2022-08-24 03:41] asumaran commented on #2407
So I looked over the code and wanted to see which functions need to be updated or adjusted to work with COT. Here's the list:

- ~no ocurrences - get_post~
- ~no ocurrences - get_post_field~
- ~no ocurrences - get_post_status~
- ~no ocurrences - get_post_type~
- ~no ocurrences - get_post_type_object~
- ~no ocurrences - get_posts~
- ~no ocurrences - metadata_exists~
- **18 ocurrences - get_post_met

[2022-08-24 08:05] samholguin commented on #838
Also encountering this issue. The refund is only processed once on Stripe but showing twice on the website. Once by the user who initiated the refund and the 2nd by the root user.

[2022-08-24 12:24] dougaitken commented on #2186
Since this is a feature gap outside of the plugin offering, I'm closing this Issue. Whenever Stripe update to having Google Pay show on iOS browsers, I believe this will work without any change on our side. We can revisit when that happens.

[2022-08-24 12:24] #2186 closed, assigned to nobody

[2022-08-24 12:27] dougaitken commented on #1636
Testing using latest, there is only the top error message which is generic - `Something went wrong. Please contact us to get assistance.`

Closing as this specific issue has been resolved at some point.

[2022-08-24 12:27] #1636 closed, assigned to nobody

[2022-08-24 12:45] dougaitken commented on #1575
This only happens with the standard (old) payment methods, not UPE.

Still happening with Stripe `6.6.0`

[2022-08-24 12:48] dougaitken commented on #1404
This only happens with the standard (old) payment methods, not UPE.

Still happening with Stripe `6.6.0`.

I think this is related to whatever is causing #1575

My recommendation would be for merchants to enable UPE if they feel that is appropriate.

[2022-08-24 12:54] dougaitken commented on #1651
This only happens with the standard (old) payment methods, not the new experience, aka UPE.

This is still happening with Stripe 6.6.0. One workaround would be to enable the [new checkout experience](https://woocommerce.com/document/stripe/#new-checkout-experience) if that is appropriate for you. I've confirmed that SEPA and other Stripe payment methods show as expected.

I'm unsure about the stat

[2022-08-24 12:57] dougaitken commented on #1763
As all documentation is handled internally, please open a request with Product Operations and/or the documentation guild for any docs updates still required.

[2022-08-24 12:57] #1763 closed, assigned to nobody

[2022-08-24 13:00] dougaitken commented on #1799
I believe this is on the condition that Stripe is supported in that country where the merchant is located.

Closing as the is a workaround provided but also this isn't a Stripe plugin limitation but a Stripe.com limitation.

[2022-08-24 13:00] #1799 closed, assigned to nobody

[2022-08-24 13:06] dougaitken commented on #1877
The workaround here is to delete the Block that contains the Express Payment buttons using the WordPress Editor, but agreed this isn't ideal and the Block shouldn't be rendered at all if the Express Payment button is disabled on the Checkout page.

[2022-08-24 13:14] dougaitken commented on #1988
No longer relevant due to change in settings UI.

[2022-08-24 13:14] #1988 closed, assigned to nobody

[2022-08-24 13:28] dougaitken commented on #2120
I believe this is now resolved, but please reply if this is still a problem and detail steps I can take to try and replicate this.

[2022-08-24 13:28] #2120 closed, assigned to diegocurbelo

[2022-08-24 13:50] dougaitken commented on #2100
I can replicate this with only Stripe payment gateway (6.6.0) and `Direct bank transfer` active.

[2022-08-24 16:43] #2413 closed, assigned to hsingyuc

[2022-08-24 20:53] ricardo opened #2417 "UPE design is not consistent if appearance transient gets created from my account or pay for order page"
**Describe the bug**
UPE design is not consistent if appearance transient gets created from my account or pay for order page.

This is because if you don't have the `wc_stripe_upe_appearance` created before visiting My account or the Pay for order page, it will get created without essential stylesheets derived from elements from the checkout page.

**To Reproduce**
Steps to reproduce the behavior:

[2022-08-25 00:25] ricardo opened #2418 "Pay for order doesn't work with saved credit cards"
**Describe the bug**

An error is thrown if you try to use a saved credit card in the pay for order page:

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you're logged in and have a credit added to your account. Also, try with a 3DS card.
2. Go to wp-admin > WooCommerce > Orders > Add order.
3. Create an order with any simple product item and then go to the "Customer payment page".

[2022-08-25 15:36] c7nj7n opened #2419 "Order not updating upon successful payment - Could not find order via intent ID"
My issue is that a successful Stripe payment does not update the WooCommerce order (anymore, this worked a while ago), despite correct Webhook setup both on WooCommerce (the keys are valid in prod and test, the connection tests successfully). I am on version 6.6.0 that uses Stripe's API version 2019-09-09. I am using the REST API, but this should not play a role here since it's all about Stripe co

[2022-08-26 12:30] amElnagdy commented on #1186
36353385-hc - a merchant is looking forward to this implementation.

[2022-08-29 10:34] c7nj7n commented on #2419
I found the issue, it's been entirely on my end: I have not (anymore) updated the WooCommerce's order with Stripe's payment intent, hence there's no chance for the gateway to make a connection. My bad.

[2022-08-29 10:34] #2419 closed, assigned to nobody

[2022-08-29 10:41] bobhuf commented on #2419
How exactly do you do that? I'm facing the same error but Stripe support says this due too authorisation issues on the client's side.

[2022-08-29 11:01] c7nj7n commented on #2419
I'm using WooCommerce entirely via REST, and all I do is updating the order as follows (it all goes into the order's meta data):

`body.meta_data = [{
            'key': '_stripe_intent_id',
            'value': params.paymentIntentId,
        }];`

[2022-08-29 12:22] bobhuf commented on #2419
Not applicable to me but thanks 👍

[2022-08-30 01:45] asumaran commented on #2407
I went through all the instances where get_post_meta, update_post_meta, delete_post_meta, and clean_post_cache are called and made sure it's working well with COT enabled and "Keep the posts table and the orders tables synchronized" unchecked.

Next step is to create a PR with tweaks for COT compatibility. Unfortunately, all the cases related to subscriptions are not supported for now because COT

[2022-08-30 15:29] alexflorisca opened #2472 "Payment details not updated between failed attempts"
## Describe the bug

If we get a certain type of payment error on checkout, the stripe payment data (including the stripe key) does not get refreshed on subsequent attempts, and stripe fails with a generic error.

For each checkout store API call, we send a payload with a `payment_data` field. This has the details of the stripe payment made (assuming stripe). This `payment_data` comes from a callb

[2022-08-30 21:51] essentique commented on #2392
So, any word on this? Is there a chance to get this in? It's super important for me to have a functioning cache which I pay extra for. Right now, after every release I have to make this mod to your code. I really rather not have to do that, but I will have to unless you fix it or I find something else.

I am sure this is important to many, so it would be really helpful if your plugin could coexist

[2022-09-01 04:48] nicdwilson commented on #1411
5505604-zen, especially digital products.

[2022-09-01 12:33] EvanDotPro commented on #2317
Quick update to say that I've successfully reproduced this issue. The exact reason this is happening for UPE orders hasn't been identified yet, but we should have further updates and hopefully a PR for this soon.

[2022-09-01 13:34] EvanDotPro commented on #2322
I've created a PR which fixes this for the official Product Add-Ons extension **only**. This will not resolve it for any other extensions unfortunately. Further investigation is still required to come up with a more generic solution that will work for all extensions with similar behavior.

[2022-09-01 13:39] PoeHaH commented on #2322
Can you link the PR?

[2022-09-01 13:51] EvanDotPro commented on #2322
@PoeHaH The PR is here: #2422

A more generic solution would likely require wiping out the customer's shopping cart, adding the item with all the add-ons/options/whatever to the now empty cart, then simply triggering the payment request button the same way as on the cart / checkout pages.

Wiping out customers' carts like that may be unexpected / undesired behavior, so further discussion may be ne

[2022-09-01 13:59] PoeHaH commented on #2322
Perhaps we are talking about different things but wouldn't this flow solve it for *all* plugins:

1) Buy now button is clicked
2) An ajax 'add to cart' request is made, much to how Woo already allows it. If you do this the WooCommerce way, any external plugin can hook in and send any data along they need.
3) Product info, including final amount, is sent back to the frontend for the payment button.

[2022-09-01 14:16] EvanDotPro commented on #2322
@PoeHaH We're actually talking about the same thing. :)

The issue with that flow is when the customer already has other products in their cart. [Best practices](https://developers.google.com/pay/api/web/guides/ux-best-practices#product-page) and customer expectations indicate that the payment button on the product pages should trigger the purchase of that single product _only_, not that product +

[2022-09-01 14:23] EvanDotPro commented on #2338
@melek What if for uncaptured orders, the refund button in the screenshot below is simply replaced with a "Cancel Order" button? Perhaps along with some sort of a note like you suggested along the lines of "Refunds are only available after payment has been captured." or similar.

![](https://caps.evan.pro/4d60a0.png)

[2022-09-01 14:30] PoeHaH commented on #2322
Ah, I understand now. Perhaps this is an option:

It's been a while since I dug into your plugin's code but I think now the product price is included in the HTML on page load and then grabbed with javascript and passed to render the Google Pay window. Can you add a jQuery event so other plugin can manipulate the data that is passed to the Google Pay window? Similar to how WooCommerce fires jQuery

[2022-09-01 14:43] EvanDotPro commented on #2322
@PoeHaH Thanks for the response and brainstorming suggestions.

That's a potential option. As you probably understand though, this would require all plugins to individually add Stripe extension specific support for product page payment buttons to work — far less than ideal. I see something like that as more of a stop-gap hack until a more robust/proper solution can be implemented, however I'm hesi

[2022-09-01 14:55] EvanDotPro commented on #2336
This is fixed by #2337, which I've just rebased on the latest develop. Hopefully it will be reviewed and merged soon!

[2022-09-01 15:32] PoeHaH commented on #2322
A few more points for my PoV:

1) Probably, the temp cart will not be implemented in the next years as it requires WooCommerce to build (and sign off on)  this.

2) You are right. It does require other plugins to add support but at least then there is an option to move things forward. Now, they can't do anything and have to disappoint their users (again, I refer to it being the top voted issue on

[2022-09-01 16:45] EvanDotPro commented on #2352
After multiple attempts, we've unfortunately been unable to reproduce this on our end. If any further information or specific steps on how to reliably reproduce this can be provided, that would be very helpful and allow us to proceed.

[2022-09-01 21:44] EvanDotPro commented on #2338
@melek So, I started working on implementing what I said above, but had a thought...

UX-wise, would it make more sense to simply just _not show_ the refund button (nor a cancel button in its place as I suggested) at all for orders where payment hasn't been captured yet? Hear me out... There's already a UI mechanism for cancelling orders that merchants are familiar with. I feel like having a butto

[2022-09-01 22:16] melek commented on #2338
@EvanDotPro Thanks for working on this!

I think that your message in lieu of a 'Cancel Order' / cancel authorization button is just fine. That corrects the basic problem that the current UI lets users think they can refund these orders rather than cancel them, but they can't (since they never collected payment).

The notice may even be better than a cancel button, since the goal of any change sho

[2022-09-02 10:23] saas786 commented on #1145
@gerdneuman Were you able to come up with some solution for your needs?

[2022-09-06 08:24] marklifeboxfood commented on #2395
Hi Team,

Thank you for looking into this bug. Naturally I'm very keen on hearing about any progress, as the ability to use Apple Pay or Google Pay for our subscription service would lead to significantly higher sales conversions as we've had to disable these payment methods across the board for all our sub and non-sub products.

I know always difficult to say, but do you have any idea of when thi

[2022-09-06 20:26] marissaexplores commented on #1548
5526436-zen

Suggesting that the merchant try the [workaround](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1548#issuecomment-1107920101) from @csmcneill

[2022-09-06 23:36] EvanDotPro commented on #2338
@melek I've opened a [pull request](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2423) for this. Please feel free to review and let me know what you think.

[2022-09-07 13:46] hay318 commented on #1207
+1

[2022-09-07 13:46] hay318 commented on #1207
Any updates?

[2022-09-07 13:59] hay318 opened #2424 "Stripe version stuck to 2019-09-09"
Hello, I'm having trouble because my Stripe API is not getting updated. On my Stripe dashboard, I selected the latest (2022-08-01) version for the webhook. However, the payment is only going through using the default set by the plug-in (2019-09-09). Do you perhaps have any instructions on how to update the Stripe version?

[2022-09-08 11:04] stuartduff commented on #1548
5533075-zen

[2022-09-08 11:44] paulostp commented on #1404
Another report in 5540342-zd-woothemes. Site with WC 6.8.2 and Stripe 6.7.0.

[2022-09-08 12:05] amElnagdy commented on #1548
5539171-zen

[2022-09-08 13:55] aaronsilber commented on #1563
@asumaran Glad to hear there may be development on this plugin from the WC team. Our client is still experiencing this issue breaking PRB for them, so we wanted to check in and see if there's any update here? Are you waiting on [PR#5953](https://github.com/woocommerce/woocommerce-blocks/pull/5953) to be able to deliver this?

[2022-09-08 15:30] hsingyuc opened #2425 "Access Stripe payment gateways customization options"
We should be able to acess customization options after check the 'Try the new checkout experience (early access).'  Currently, if UPE is enabled through `WooCommerce -> Payments -> All payment methods -> Stripe -> Settings -> Advanced settings -> Try the new checkout experience (early access)`, we don't display the customization options so we can not access the settings.
<img width="200" height="3

[2022-09-09 15:35] Marc-pi opened #3294 "Email Notifications > Payment Authentication Requested > edit form > empty value"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the list visible at wp-admin/admin.php?page=wc-settings&tab=email, the shop email is displayed (the blue hidden value of my below screenhot), not in the edited form (see § act

[2022-09-11 15:58] amElnagdy commented on #1548
5530251-zen - the workaround from this [reply](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1548#issuecomment-1107920101) fixed the issue.