[2021-03-02 22:05] ricardo commented on #1198
Unfortunately, it looks like there's nothing we can do in Stripe to fix this.

**TL;DR:**

From [Apple](https://developer.apple.com/documentation/apple_pay_on_the_web/applepaysession/1778009-onshippingcontactselected):

We get only the first 3 characters of a postal code when calculating shipping methods for the UK and Canada, e.g. full postal code is `LN10 6SH`, but we only get `LN1` from Apple.

[2021-03-03 02:59] ConSumaConciencia commented on #1095
Ya habrá actualizaciones para incluir Oxxo como forma de pago de Stripe en el plugin? Porfis!!!!

[2021-03-03 04:50] v18 commented on #1113
I'm not able to reproduce this on Chrome (Version 89.0.4389.72) on macOS 10.14.6.

Here's what I see opening the modal:

<img width="506" alt="modal-1" src="https://user-images.githubusercontent.com/11487924/109754355-333aea80-7c27-11eb-9184-58de5158e185.png">

After selecting my address:

<img width="511" alt="modal-2-after-selecting-address" src="https://user-images.githubusercontent.com/1148792

[2021-03-03 04:50] #1113 closed

[2021-03-03 08:58] v18 commented on #1458
Might be related to #1450 - seems similar, but I didn't check to see if they're happening for exactly the same reason.

[2021-03-03 14:56] #1454 closed

[2021-03-03 21:38] ricardo commented on #568
@v18, I was able to reproduce it:

![image](https://user-images.githubusercontent.com/5509901/109871040-84f46c80-7c49-11eb-8932-82546bced171.png)

This error can happen if you have WooCommerce translated (to Chinese in this case).

**Why it happens:**

WC core has this [states.php](https://github.com/woocommerce/woocommerce/blob/trunk/i18n/states.php) file, which provides an array of state codes a

[2021-03-03 21:38] ricardo commented on #568
We have two separate problems in this issue and I don't think any of them should be fixed in Stripe.

**For the missing City field in Japan:**

I don't think we can fix this in Stripe. We should probably open an issue in WooCommerce to see if we can make that field optional if the country is JP.

**For the state inconsistencies in HK and other countries:**

I can think of 2 different approaches:

[2021-03-03 22:14] ricardo commented on #880
When I was working on #1476, I considered matching states without accents, but then I realized this would create a broader match on the current approach, which we don't want. E.g. in Brazil we have this state called `Pará`, but we also have this state where I live, which is called `Paraná`. If we skip the accents, the current algorithm will select `Pará` instead of `Paraná`.

This is because the c

[2021-03-04 00:03] v18 commented on #1338
Hi @dexter-adams 👋 Could you elaborate a bit? Which fields would you like to see collected, and how will you end up using them? If you could also add a list of reproducible steps to see the current problem, that would help a lot. Thank you!

[2021-03-04 00:22] v18 commented on #1459
This is a similar issue to #1411 - see this comment: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1411#issuecomment-788707952

When I update the address on checkout, I get the correct amounts. We should get the correct amounts on the first request, before the Google Pay button is clicked.

[2021-03-04 02:11] Altherbishop commented on #1095
Mejor me pasé a mercado pago.

[2021-03-04 02:12] v18 commented on #880
Thank you @ricardo!

Do you have some idea about what should be done?

[2021-03-04 02:17] #1200 closed

[2021-03-04 02:27] ricardo commented on #880
@v18 as I suggested in #568, I think at least we should have a way to retrieve a list of untranslated states from WC.

But it would be amazing if we could retrieve a list from core that is not translated and is compatible with [libaddressinput](https://github.com/google/libaddressinput) (this is the address library used by Chrome) - many plugins would benefit from that as we have implementations o

[2021-03-04 02:33] v18 commented on #910
I'm going to close this issue since I can't repro. Here are the steps I tried:

1. Use test mode
2. Log in as a customer
3. Ensure that there's a test credit card saved for the account
4. Switch to live mode
5. Add product and go to check out
6. I am able to see the credit card fields

[2021-03-04 02:33] #910 closed

[2021-03-04 02:50] v18 commented on #977
I'm not able to reproduce this issue. When using Firefox for Android 86.1.1 on Pixel 2, Android version 11. I'm able to type this string: `DE0443` and it looks like this:

<img src="https://user-images.githubusercontent.com/11487924/109903839-b3bd2200-7cdf-11eb-80a4-d43cd017f9ea.png" width="200">

I'm going to close this issue for now, but if it's still happening please feel free to re-open.

[2021-03-04 02:50] #977 closed

[2021-03-04 02:52] v18 commented on #978
I'm not able to reproduce this issue, so I'm closing this.

[2021-03-04 02:52] #978 closed

[2021-03-04 15:48] graemeblake commented on #799
Any updates or roadmap? Would *love* to be able to use Stripe Checkout directly

[2021-03-04 20:48] #1425 closed

[2021-03-05 00:01] neilgee commented on #1450
Seeing this error `Invalid or missing payment token fields:`

Using:
WooCommerce 5
WooCommerce Subscriptions 3.0.13
Stripe 4.9.0

When logged in via my-account and user goes to change 'Add Payment Method', fatal error occurs:
[code]

[2021-03-05 04:40] #1450 closed

[2021-03-05 05:27] v18 commented on #981
I am not able to repro the incorrect order status. The order status is correctly `on-hold` for me with these steps:

1. Create a radar rule for placing a payment in review, I used the following:
Review if :amount_in_usd: > 100.00
2. Test an order which would be flagged, total amount in order over $100
3. Observe the order notes
In my case the following order note is shown:

However, the order is c

[2021-03-05 05:34] v18 commented on #1004
When checking out as a guest, the customer email is now seen in the Stripe dashboard. I'm closing this issue for now, but if there are any problems with seeing the customer or the customer details for guest checkouts, feel free to re-open.

[2021-03-05 05:34] #1004 closed

[2021-03-05 08:41] mikkamp commented on #981
I no longer have the same environment setup to retest it. But I wouldn't be surprised if it works differently after these changes: https://github.com/woocommerce/woocommerce/blob/5.0.0/changelog.txt#L722

Maybe a comparison test of WC 4.2 and 5.0 would help. The WC version that matches the timing of the last comment would be 4.1.

[2021-03-05 13:37] renatho commented on #1450
Same happening here. Waiting for the release. =)

[2021-03-05 20:19] #1065 closed

[2021-03-06 04:45] v18 commented on #1081
This is now fixed, closing the issue.

[2021-03-06 04:45] #1081 closed

[2021-03-06 04:52] v18 commented on #1086
This is fixed - the name now shows up in the name field for the customer.

[2021-03-06 04:52] #1086 closed

[2021-03-06 05:15] v18 commented on #1104
Hey @claudiosanches - I have a couple of questions for you about this issue.

The issue happens because the Stripe gateway makes a call to `WC()->payment_gateways->get_available_payment_gateways();` before enqueueing the payment scripts on the "pay for order" page.

Should Stripe be checking that an order exists before calling `get_available_payment_gateways()`? If not, is there a better way to ch

[2021-03-06 05:23] v18 commented on #568
@ricardo - I agree about the JP address issue. And let's try approach # 1 for the other address problems.

[2021-03-06 06:09] v18 commented on #1119
I'm not able to reproduce this. When I check out with SOFORT, I can see that the webhook of the type `charge.succeeded` is correctly handled and the order is marked as `processing`. Here are the order notes I see:

<img width="269" alt="Screen Shot 2021-03-06 at 3 08 40 PM" src="https://user-images.githubusercontent.com/11487924/110197282-de4cdd80-7e8d-11eb-9176-5f81f02bf66d.png">

I'm going to cl

[2021-03-06 06:09] #1119 closed

[2021-03-06 06:11] v18 commented on #1135
Closing this issue since it's been implemented.

[2021-03-06 06:11] #1135 closed

[2021-03-06 09:00] v18 commented on #1258
Closing since this is now fixed. I'm able to see successful test webhooks for both webhook types that we handle and those we don't handle (e.g. `account.application.authorized` and `charge.captured`).

[2021-03-06 09:00] #1258 closed

[2021-03-06 09:07] v18 commented on #1245
I'm going to close this issue for now since it's not clear why `WC_Stripe::__construct()` is being called in this case. If this is still happening I suggest a few things to move forward:
1. Try to update to the latest version of Stripe & WooCommerce - is it still happening?
2. Contact support to help pinpoint the problem
3. If there are steps available to reproduce this problem, feel free to re-op

[2021-03-06 09:07] #1245 closed

[2021-03-06 09:16] v18 commented on #1136
The Stripe gateway returns 400 for all events not validated correctly:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/fade49f410ab83e296ed0ce24e509d5f39f11f4d/includes/class-wc-stripe-webhook-handler.php#L89

[2021-03-06 09:31] v18 commented on #1248
We need to set a session for product pages when displaying product request buttons.

[2021-03-06 10:25] #1384 closed

[2021-03-07 09:19] #1195 closed

[2021-03-07 09:24] vbelolapotkov opened #1496 "Add hints or docs around webhook validation config"
Webhook request validation was updated in #1493. It would be nice to add some docs or hints for merchants with recommended approach.

See https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1493#pullrequestreview-605297580 for more context.

[2021-03-08 06:22] lojel opened #1497 "Add Afterpay and Klarna to the list of payment methods"
**Is your feature request related to a problem? Please describe.**
Afterpay and Klarna are now available on Stripe but the plugin doesn't provide the possibility to integrate these 2 payment methods.

**Describe the solution you'd like**
An easy integration of Afterpay and Klarna via Woocoommerce Gateway Stripe.

**Describe alternatives you've considered**
A dedicated integration for each but that

[2021-03-08 19:14] sun commented on #1136
Yes, aforementioned PR fixes the problem.

[2021-03-09 19:52] claudiosanches commented on #1104
Hello @v18, I agree that we could improve `get_order_total()`, yet this plugin should avoid calling `WC()->payment_gateways->get_available_payment_gateways()`, if it's just for CSS there's no need to check for the payment gateway to be available for that order, it's possible to just check if it's enable or not.

[2021-03-09 20:03] claudiosanches commented on #1104
@v18 I just started a PR to prevent this kind of fatal error: https://github.com/woocommerce/woocommerce/pull/29314

[2021-03-10 10:18] robwynnejones commented on #460
Did anything ever get sorted with this? I have the exact same issue, it seems like the only way is for us to step in and delete the pending payment order, then regenerate the renewal. This requires us to step in which isn't ideal.

[2021-03-11 11:45] theabhig commented on #1196
I just came across this on 3802714-zen.

**Which payment method was being used**

Stripe iDEAL

**Was there a chargeable source? What's the timestamp?**

User didn't specify this.

**Was the chargeable source later cancelled? what's the timestamp?**

User confirmed both of the failed payments were cancelled 6 hours later.

**Were there any failed webhooks related to the charge?**

User didn't spec

[2021-03-11 23:16] cardholdernameissue commented on #1485
I am having this exact problem. For example a user purchases an online course, but the cardholder name could be their spouse. Is there a temporary workaround that I can implement?

Ad option to add the cardholder name to the stripe checkout would be very important for my business.

[2021-03-12 12:20] reykjalin commented on #1455
# Blocks vs. shortcode

Comment will be updated as I find new flows and test features.

✅ Works
❓ Not tested
❌ Doesn't work
🚫 Not supported

Where blocks are 🚫 not supported, that usually means you can't easily modify the page to add a block or the block in question doesn't exist.

Some of the things that ❌ don't work (e.g. payment request buttons, 3DS with saved cards) will be worked on in the ne

[2021-03-13 00:26] v18 commented on #1198
@ricardo - since we're not able to provide a fix for this - it sounds like a good idea to let merchants know about this incompatibility. Probably in the shipping zone area would be best, but could also do it near the payment request buttons.

@LevinMedia - I'd be curious to hear your thoughts about how to best let the users know about this problem: basically when using Apply Pay for shipping addre

[2021-03-13 08:18] v18 commented on #1136
Closing as fixed.

[2021-03-13 08:18] #1136 closed

[2021-03-13 10:32] #1030 closed

[2021-03-13 11:08] davidrgz2021 commented on #1434
Hi!
Anyone could sove this problem?  How to hide "via woocommerce" from Google Pay?

[2021-03-13 12:11] AashikP commented on #1386
Closing as this cannot be replicated in the latest version of [Stripe](https://woocommerce.com/products/stripe/?aff=10486&cid=1131038) + WooCommerce 5.1 + Twenty Twenty-one theme [PHP 8]:

![https://d.pr/i/MqXFu5+](https://d.pr/i/MqXFu5+)

[2021-03-13 12:11] #1386 closed

[2021-03-15 15:41] shendy-a8c commented on #1485
This is definitely a common case where someone uses someone else's credit card. I am curious though, why can't one just put the cardholder name in the billing details instead?

[2021-03-15 20:31] cardholdernameissue1 commented on #1485
The problem is when someone is creating an account with a purchase, the name associated with the account may be different than the cardholder name.
In my use case, a student is purchasing a course but using their parent's credit card. WordPress will set the account name to their parent's name automatically.
Any online or virtual product could use this feature.

[2021-03-17 13:57] #1484 closed, assigned to diegocurbelo

[2021-03-19 04:44] v18 commented on #1077
@thuautp - the issue of not sending receipts to customers was fixed in the latest release of Stripe - 5.0.0. In order to enable sending receipts to customers, please add this filter using a snippet plugin:

`add_filter( 'wc_stripe_send_stripe_receipt', '__return_true' );`

I'm going to close this issue for now. If sending the customer receipt is still not working, feel free to re-open this issue t

[2021-03-19 04:44] #1077 closed

[2021-03-19 22:49] diegocurbelo opened #1502 "Use Payments API for listing saved cards (an SEPA Debit) in my-account and when making a payment"
Replace the Sources API with the new Payments API when listing saved credit cards and SEPA debit IBANs from Stripe.

Stripe recommends using the PaymentsMethods API instead of sources and tokens. See https://stripe.com/docs/payments/payment-methods/transitioning

[2021-03-20 21:10] #1366 closed

[2021-03-21 18:18] nerrad opened #1503 "Stripe Payment request button type not respected"
@senadir commented on [Tue Nov 10 2020](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3387)

## Describe the bug
Payment request button type, an option that allows you to change the text or style of the payment request, is not being honoured on Cart and Checkout (even thou we pass the option to value from stripe settings).

## To reproduce
Steps to reproduce the behavi

[2021-03-21 18:19] nerrad commented on #1503
I've copied this issue into this repo since it makes sense that any work on improving the existing blocks integration for Stripe is done here (now that the code is being migrated over).

[2021-03-21 18:20] nerrad opened #1504 "Checkout Block: Supporting multiple packages in stripe.paymentRequest (express payment)"
@nerrad commented on [Wed Apr 08 2020](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/2166)

This issue surfaced while working on [woo-blocks/2127](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2127). To quote what I wrote there:

It's entirely possible this is something that should be tackled by a different team as well.

Currently, the payme

[2021-03-21 18:21] nerrad commented on #1504
Moved into the Stripe repo as it's a better fit for here.

[2021-03-22 14:49] webdados opened #1505 "Allow associating the payment / Stripe costumer ID for another user instead of the one logged-in"
There might be scenarios (like phone order) where the order is being inserted on WooCommerce by a shop owner or agent on behalf of another client (WordPress user).

For example, by using the Shop as Client plugin, that will associate the order to the final customer profile instead of the currently logged-in user.

Because `WC_Stripe_Payment_Gateway::prepare_source` is always called with `get_curre

[2021-03-25 07:01] shendy-a8c commented on #1505
Thank you for filing this issue. Some questions:

Which part of the code you are referring to? I don't see `WC_Stripe_Payment_Request::prepare_source()` [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/trunk/includes/payment-methods/class-wc-stripe-payment-request.php).

[2021-03-25 08:13] webdados commented on #1505
I'm sorry, it's `WC_Stripe_Payment_Gateway::prepare_source()`. I'm going to edit my original ticket and make that correction.

[2021-03-26 21:21] ricardo commented on #568
Closing this because the issue with Japan will be fixed in [woocommerce#29373](https://github.com/woocommerce/woocommerce/issues/29373) and the issue with Hong Kong is a separate problem which is better described in #1477.

[2021-03-26 21:21] #568 closed

[2021-03-30 13:29] sahil48 opened #1510 "Question: How long can authorization to use credit card be stored?"
We are looking to authorize a charge at checkout for made or order products and it can sometimes take a few weeks to fulfill the order. Can credit cards for a customer be saved for usage on multiple orders? Can a card be authorized without expiring (ex. 1 month) until the order is fulfilled and then charged? If the above are problematic, what alternatives can be considered for this application.

[2021-03-30 15:46] jessepearson commented on #1510
@sahil48 for support inquiries like this, please use the support form found in your dashboard at WooCommerce.com.

To answer your question, though, an authorization will not work for you. Stripe can store a token for the credit card on the site for it to be used later. This happens in one of two ways:
* Customer makes a purchase and chooses to save their card to their account.
* Customer creates a

[2021-03-30 15:46] #1510 closed, assigned to nobody

[2021-04-01 05:17] AashikP opened #1513 "[Stripe] Support Payment gateway details"
## Describe the bug

Some payment gateway extension displays additional details for the customers in checkout page. As of now these are not displayed in the checkout block.

## To reproduce

1. Set up [Stripe](https://woocommerce.com/products/stripe/?aff=10486&cid=1131038) in test mode
2. Access checkout page, and compare it with checkout block page
3. Notice that checkout page displays additional

[2021-04-01 05:30] asumaran commented on #1362
First of all I'm a newbie to the Stripe API and to this repository `woocommerce-gateway-stripe` so bear with me. I've spent considerable amount of time on getting familiar with the code and testing possible solutions to this issue.

This issue happens because we attach the card to the customer before the `payment intent` is finished in the `WC_Stripe_Payment_Gateway->prepare_source()` method.

htt

[2021-04-01 06:01] diegocurbelo commented on #1362
Great job so far!!!, the approach 1 seems correct, the listed payment methods under My account are retrieved from the WC database, not from Stripe (this might change in the near future though).

Did you remove the `add_source` call? or only `attach_source`?
Adding the `setup_future_usage` attribute to the PaymentIntent saves the method in Stripe, but we still need to save it to the WC database, so

[2021-04-01 06:10] v18 commented on #1504
Thanks @nerrad for opening the issue. I'm not sure I understand it - would you be able to add repro steps please?

[2021-04-01 08:48] Aljullu commented on #1513
Thanks for opening this issue @AashikP, I was able to reproduce this as well: in the shortcode there is some extra text (`Pay with your credit card via Stripe. TEST MODE ENABLED. In test mode...`) that is not shown in the Checkout block.

Stripe integration with Cart and Checkout blocks has been moved to its own repository, so I'm moving this issue there as well.

cc @reykjalin for awareness since

[2021-04-01 11:59] nerrad commented on #1504
@Aljullu, the details of this issue when I originally created this in the blocks repo are a bit fuzzy for me too but I know it had to do with the ability for WooCommerce checkout to handle multiple packages in the checkout. Would you be able to help with how to set up a purchase with multiple packages and attempting to checkout using express payments?

[2021-04-01 15:48] Aljullu commented on #1504
Yes, in order to be able to split the order in several packages you need to use an extension. For example, [WooCommerce Advanced Shipping Packages](https://woocommerce.com/products/woocommerce-advanced-shipping-packages/).

These are the testing steps:

1. Install WC Blocks and change the Cart and Checkout shortcodes with the blocks.
2. Install [WooCommerce Advanced Shipping Packages](https://wooc

[2021-04-01 18:14] asumaran commented on #1362
@diegocurbelo Thanks for the suggestion! I had removed the complete `$customer->add_source()` call. I'll test commenting out only the part where we attach the source to the customer `$this->attach_source( $source_id )` in `WC_Stripe_Customer`.

[2021-04-02 05:27] asumaran commented on #1362
@diegocurbelo it seems `setup_future_usage` was the way to go. I was able to save the source **only** after the payment intent has finished for regular and 3DS cards.

You can check [my WIP PR](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1507) if you are interested on the changes I've made so far. Code is not complete yet.

[2021-04-02 18:14] helgatheviking opened #1515 "Provide extensibility to allow for compatibility with marketplace plugins"
**Is your feature request related to a problem? Please describe.**
This is a follow up to #566 at the request of @loranallensmith

There is explicit Product Addons support built in now it seems, but otherwise, there's currently no way for the request buttons to work on the single product page for more advanced product types or customized products. This impacts 2 of my plugins: Name Your Price and

[2021-04-02 22:58] v18 commented on #1489
~As part of this issue, let's remove the hard-coded notes in this repo and add them remotely instead.~

Moved this to a separate issue: #1540

[2021-04-05 08:19] reykjalin commented on #1471
Another solution to this is to force use the inline credit card form, since I don't think the fields will be truncated there.

[2021-04-05 15:34] #1194 closed

[2021-04-05 15:34] #1352 closed

[2021-04-06 05:06] v18 commented on #1455
@reykjalin - hey I wanted to ask you about what happens when the Blocks extension is disabled. Both before any cart or checkout blocks are added, and after. Does it cause an error on someone's site?

[2021-04-06 13:22] reykjalin commented on #1503
I've added support for both the branded Google Pay button and Custom button in #1467 🙂

This will be fixed once #1467 is merged 🎉

[2021-04-06 13:34] reykjalin opened #1516 "Use shared configuration for Block and Shortcode JS"
## TL;DR

- Some configuration we use in the frontend is added twice; once for shortcode and again for blocks.
- We should merge everything that's shared, and add blocks specific configuration in a new variable.

[2021-04-06 13:37] reykjalin opened #1517 "Apply credit card icon filters in Blocks checkout"
We need to somehow [apply the `woocommerce_gateway_icon` filter](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/0c182f1dc17614207c5c559abcae220b9735882e/includes/class-wc-gateway-stripe.php#L206) here.

The non-block parts of the plugin provide a string to this filter that has a **very different structure**, so that's going to be difficult, but I think we need to provide parity her

[2021-04-06 13:39] reykjalin opened #1518 "Fix zip code validation and state matching in Blocks checkout"
@reykjalin I didn't read all comments here, so forgive me if this was already discussed, but I was doing some testing in the Stripe plugin for the Cart block & Payment Request compatibility in WCPay, and I noticed the functions used to calculate shipping options in the Payment Request button are different with this integration.

The functions in `class-wc-stripe-payment-request.php` avoid some err

[2021-04-06 13:55] reykjalin opened #1519 "Show list of items in the order summary when checking out with Payment Request Buttons"
## Describe the bug

The payment request dialog doesn't display the items bought — only the order total — when using the Block Cart/Checkout payment request buttons. The shortcode checkout button does display the list of items, so we should fix this discrepancy between the two.

## To Reproduce

1. Initiate a payment via a payment request button **in the cart or checkout blocks**.
2. Notice that w

[2021-04-06 18:36] Beats24-7 commented on #799
Hello,
any update on this? It has really been a while. Thanks!

[2021-04-07 05:26] reykjalin commented on #1455
@v18 If you change your "Checkout" and "Cart" pages to use the cart and checkout blocks and then disable the blocks plugin you'll just see an empty pages:

| Checkout | Cart |
|:---:|:---:|
| <img width="868" alt="image" src="https://user-images.githubusercontent.com/13835680/113814357-16ed1900-97a4-11eb-911f-3e0b5bc568e2.png"> | <img width="868" alt="image" src="https://user-images.githubusercont

[2021-04-07 08:26] reykjalin commented on #1518
The state matching is solved in #1467 but I'm not sure how to properly fix the zip code validation. I'm not even sure if that's something we have to do. That's going to require some further testing.

[2021-04-07 12:15] reykjalin opened #1520 "Add support for Subscriptions when using Block checkout"
Currently the Blocks Feature plugin doesn't support the Subscriptions plugin. Support will be added in WC Blocks v4.9.0 and Subscriptions v3.1.0 (see pc4etw-8L-p2#comment-518). The PR in Blocks that enables support for Subscriptions is woocommerce/woocommerce-subscriptions#3993.

I'm not sure if this will require us to make any changes to our integration so that will have to be tested once Subscri

[2021-04-07 12:18] reykjalin opened #1521 "Add support for Pre-Orders when using Blocks"
The WooCommerce Blocks Feature plugin doesn't support the Pre-Orders extension at the moment. When you try to buy a pre-order the payment succeeds, the order (`WC_Order`) is created, but no pre-order is created.

This will probably need some work in the Blocks extension itself, and they're not tracking an issue for adding that support at the moment. Support for Pre-Orders will have to wait until t

[2021-04-07 12:27] reykjalin opened #1522 "Use the same normalization functions for shipping addresses in Block and Shortcode checkouts"
## Overview

At the time of opening this issue we're normalizing shipping addresses in 2 different places, depending on whether we're using the Checkout Block or Shortcode Checkout. Maintaining this normalization in 2 different places (and 2 different languages) is a significant maintenance burden so we should try to use only 1 API for this.

## Normalization functions

### PHP Version

https://gi

[2021-04-07 12:32] reykjalin commented on #1518
It seems there is no need to fix the zip code validation. The code we already have in place to do so works properly since it relies on a WooCommerce hook instead of anything fancier than that. Or at least that seems to be the case based on my testing.

@ricardo it'd be wonderful if you could verify that both the zip code validation and state matching have been fixed since you've worked on that in

[2021-04-07 14:54] loranallensmith commented on #1515
Cross linking over to woocommerce/woocommerce#29535 for discoverability and potential coordination.  🙂

[2021-04-07 14:59] ricardo commented on #1518
Yeah, zip code doesn't look like an issue to me.

[2021-04-07 17:04] #880 closed

[2021-04-07 17:04] #1477 closed, assigned to ricardo

[2021-04-07 17:04] boboz commented on #1438
Closing as duplicate of [github.com/woocommerce/woocommerce-gateway-stripe/issues/744#issue-366879966](url)

[2021-04-07 17:04] #1438 closed

[2021-04-07 18:40] rossviviano opened #1523 "Failed refunds showing as successful when using iDeal/ Sofort"
**Describe the bug**

Failed refunds via iDeal/ Sofort due to insufficient funds showing as successfully refunded in WooCommerce.

Order in the Stripe Dashboard: ![Screenshot](https://d.pr/i/q2TMKo+)
Image Link: https://d.pr/i/q2TMKo

We can also see that the Stripe logs show the same `insufficient funds` error:

![Screenshot](https://d.pr/i/HT5moQ+)
Image Link: https://d.pr/i/HT5moQ

However, the

[2021-04-08 09:10] reykjalin opened #1524 "Use the same APIs to populate Payment Requests on Block and Shortcode Cart/Checkout pages"
## Overview

We currently have two separate ways to populate the information shown during a payment request (Apple Pay/Google Pay flow); one for shortcode pages and another for block pages. This results in some discrepancies between what the Shortcode and Block pages show during a payment request.

As an example, the Block flow doesn't respect the `wc_stripe_payment_request_hide_itemization` filte

[2021-04-08 09:11] reykjalin commented on #1522
I'm closing this in favor of #1524 .

We may want to re-open and modify this issue if we want to split #1524 into smaller parts.

[2021-04-08 09:11] #1522 closed, assigned to nobody

[2021-04-08 09:11] reykjalin commented on #1519
I'm closing this in favor of #1524 .

We may want to re-open and modify this issue if we want to split #1524 into smaller parts.

[2021-04-08 09:11] #1519 closed, assigned to nobody

[2021-04-09 05:45] v18 opened #1525 "wc_stripe_payment_request_params not defined on checkout block on non-default checkout page"
Steps to reproduce the behaviour:

1. Install the WooCommerce Blocks extension
2. Check out the branch `feature/support-block-checkout` from https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1467 (this is probably not a required step to repro)
3. Add a checkout block to a page that's not the default checkout page
4. Add a product to cart
5. Go to the non-default checkout page from ste

[2021-04-11 16:07] merajali294 opened #1526 "Need Google Pay Button's Popup render on Onpageload"
**Describe the bug**
I’m trying to modify JS so that the Google Pay Button Popup Automatically loads once user comes to cart Page, but it does not work, can someone here check and fix this?

My use case is,
I want the Chrome PopUp to appear once the user clicks AddToCart in Single Product Page and then goes to Cart Page, and in this page I need Popup to appear so that he does the Payment right awa

[2021-04-12 14:02] #744 closed

[2021-04-12 15:38] jonny-bull opened #1527 "wc_set_time_limit impacts PHP time limit for CLI import"
**Describe the bug**

wc_set_time_limit impacts PHP execution time outside of actions performed by the Stripe gateway plugin.

On running an import via CLI, the command failed consistently after a minute and a half, complaining about a 70 second maximum execution time (see screenshot below).

This was on my local environment, which has max_execution_time set to 0 to prevent timeouts.

[This Stack

[2021-04-12 17:14] ricardo commented on #1526
The Payment Request button was not intended to work this way. That's why the button also appears on the product page, so users can check out faster from there, if they want.

What you're trying to do seems possible, but here are a few things I would consider:

- Isn't the Payment Request button on the product page sufficient to allow users to checkout without going to the cart? Or at least giving

[2021-04-12 20:23] ricardo opened #1528 "3D Secure card + Payment Request support on Block checkout"
There is code for 3DS cards in the Blocks integration, but right now it doesn't work as expected.

When paying with a card like `4000002500003155` ([Testing cards](https://stripe.com/docs/testing#regulatory-cards)), the Payment Request dialog keeps processing until it finishes with a timeout error.

The dialog needs to be automatically closed once the returned redirect URL is for verification. Sim

[2021-04-13 00:46] v18 commented on #1526
I'm closing this issue as answered.

[2021-04-13 00:46] #1526 closed, assigned to nobody

[2021-04-13 08:45] lkraav commented on #1527
Indeed, these sorts of things definitely need to verify whether request context is theirs to modify.

[2021-04-13 11:51] dmvrtx commented on #1523
It looks like it might be the problem for all failed refunds. [This block](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/752db9c62e3511835baaff6e34ace58674678ea0/includes/class-wc-stripe-order-handler.php#L325) clearly indicates that any error returned by `process_refund` is just ignored. It could be that refund on payment methods like credit cards are usually succesful because of

[2021-04-13 14:41] dmvrtx commented on #1488
I wonder if it actually makes sense to tie Giropay (and iDeal as well) to shop currency? Stripe allows to use them for USD shop accounts without any issues and does all the required currency convertion.

**Updated:** So, it's actually more complicated than that. Stripe indeed allows payments to USD account from EUR payment method. But the intent must be created in EUR. If intent will be in GBP or

[2021-04-13 18:24] asumaran commented on #1440
@v18 to be clear the subscription has to be created using the [woocommerce-subscriptions](https://woocommerce.com/products/woocommerce-subscriptions/) plugin right?

[2021-04-13 21:18] asumaran commented on #1440
@v18 First of all, I'm testing with the `trunk` branch.

Can you elaborate on how to renew a subscription? I'm not sure I'm doing the exact steps to reproduce the issue. I'm using the following option to renew a subscription:

<img src="https://user-images.githubusercontent.com/1025173/114621673-99794b00-9c72-11eb-9adc-b8499cde497a.png" width="327" >

I can see the subscription is renewed with **n

[2021-04-14 08:41] v18 commented on #1440
Thanks @asumaran! About this:

Were you able to see this notice when setting the card as the default:

<img width="851" alt="yes-on-blue-alert" src="https://user-images.githubusercontent.com/11487924/114677655-7c617c80-9d45-11eb-80f4-6eba0f14a02f.png">

One way to check which card is the default is by going to My Account > Subscriptions as a customer, you'll see this:

<img width="631" alt="card-f

[2021-04-14 10:17] 0chak commented on #799
Can someone explain why this feature was not implemented yet?
Right now the only way to use stripe is by displaying a credit card form inside the payment method selector, you can't even use the old stripe popup/modal anymore, this is a real issue for me because my theme messes up that form completely, and anyways I don't want to deal with the customer credit card info and **I don't want the custom

[2021-04-14 20:36] asumaran commented on #1440
@v18 thanks for the detailed response. I'll try to reproduce the issue again.

[2021-04-15 00:26] asumaran commented on #1440
@v18 I've tested both cases `#1` and `#2` on my branch `fix/3d-secure-card-saved-fail` and the renewal is successfully finished. I can confirm on Stripe it used the default payment method (3DS card). I'll do another pass and will try to confirm this has been fixed in `fix/3d-secure-card-saved-fail`

[2021-04-15 00:26] #1381 closed

[2021-04-15 00:39] v18 commented on #1440
@asumaran - sounds good! Let me know, and I'll retest to see if I can still repro the original problem.

[2021-04-15 01:07] asumaran commented on #1440
@v18 I double checked and I can see the problem now. When running "Process renewal" the card we use is not the default one. Although the renewal seems to be done successfully, we should be the default card to process the payment.

I can see on the logs on Stripe we are using the original source instead of the default one. I'll work on a fix!

[2021-04-15 01:48] asumaran commented on #1440
@v18 I ran the steps again on my branch and can confirm the payment is done successfully with the 3DS card when is set as default payment method.

---

#### Sources:

`3155`: `src_1IgK2rJ5cIRIG92xbNzf8IS0`
`4242`: `src_1IgK1IJ5cIRIG92xhMNZiMGc`

#### Payments:

subscription product:
  Payment Intent: `pi_1IgK1OJ5cIRIG92xvPAV9NHi`
  Source: `src_1IgK1IJ5cIRIG92xhMNZiMGc` (`4242`)

non subscription

[2021-04-15 01:53] asumaran commented on #1440
@v18 #1507 is ready to merge and it seems it will also fix this issue. Do you want to double check yourself before I merge the PR and close this issue?

[2021-04-15 04:44] v18 commented on #1488
Wanted to note that Stripe supports switching to a different currency using this extension:
https://woocommerce.com/products/currency-switcher-for-woocommerce/

When using this extensions, and the price for the customer is switched to EUR, giropay and the other payment methods requiring EUR are available at checkout using Stripe.

Going to close this issue since Stripe supports the feature request

[2021-04-15 04:44] #1488 closed, assigned to dmvrtx

[2021-04-15 05:41] v18 commented on #1440
@asumaran thanks for double-checking. I'm no longer able to reproduce the bug mentioned above. I found a different bug in #1507 & reported it on the PR.

We can close this issue when PR 1507 merged 🎉

[2021-04-15 11:33] #1523 closed, assigned to nobody

[2021-04-15 14:18] dmvrtx opened #1532 "Authorization redirect is not followed when creating a new payment source."
**Describe the bug**

Some payment sources, e.g. AliPay, require payment source to be authorized by the customer before it can be used for payment. This flow is not clearly stated in the API documentation but still referenced: https://stripe.com/docs/api/sources/create#create_source-redirect

Skipping redirect step makes payment source to be cancelled within 1 hour by Stripe because it lacks autho

[2021-04-15 21:44] #1440 closed

[2021-04-15 21:44] #1362 closed

[2021-04-15 22:42] elizaan36 opened #2147 "New Inbox message: Stripe feedback"
Title: Share your feedback on Stripe
Content: Share your feedback in this 2 minute survey about accepting payments on your store.
Segmentation: Stripe installed / PayPal Standard not installed
Cadence: Once
CTA leads to: http://automattic.survey.fm/stripe-feedback
CTA label: Share feedback

[2021-04-16 01:14] v18 commented on #1198
Related fix in WooCommerce Payments: https://github.com/Automattic/woocommerce-payments/pull/1528

[2021-04-16 01:53] ricardo commented on #1198
@v18 I can sync the changes to this repository.

[2021-04-17 07:44] merajali294 commented on #1526
@ricardo , thank you for your input,

1. Let me explain you my requirement here, Once user does the AddToCart, Im sending them to my Custom Page where I want to render the PayNow PopUp so that he immediately selects Address and does the Payment.

2. Or if woocommerce-gateway-stripe cannot provide the solution, is this something [Stripe](https://stripe.com/docs/stripe-js/elements/payment-request-bu

[2021-04-17 10:35] kimgysen commented on #1167
I'm from Belgium and before using Stripe I want to know if it supports Maestro. Pretty sure many people in Europe are googling the same thing. Is this solved, or why isn't this priority anymore? Seems this misses out on a lot of potential customers.

[2021-04-17 18:52] khristiansnyder commented on #1111
Ran into this in #29071540-hc. Disabling "Allow websites to check for Apple Pay" in Safari settings helped show Apple Pay properly. Otherwise, it would only show in Safari's Private mode.

Domain: https://shaveshop.ie/

[2021-04-19 02:06] lojel opened #1534 "Apple Pay "Payment not completed" when region value is not recognized"
We have multiple online stores and and ship to multiple countries but for this case we will compare our US store to our Hong Kong store. The Apple Pay payments in the US never fail on the user side, however multiple users in Hong Kong reported that the Apple Pay payment failed repeatedly so we investigated and here is what we found:

**1) PAYMENTS FAILS WHEN REGION VALUE IS NOT RECOGNIZED BY APPLE

[2021-04-19 07:52] merajali294 opened #1535 "Google Pay Button's Popup render on Onpageload"
Describe the bug
I’m trying to modify JS so that the Google Pay Button Popup Automatically loads once user comes to cart Page, but it does not work, can someone here check and fix this?

My use case is,
I want the Chrome PopUp to appear once the user clicks AddToCart in Single Product Page and then goes to Cart Page, and in this page I need Popup to appear so that he does the Payment right away,
I

[2021-04-19 16:18] ricardo commented on #1534
@lojel thanks for reporting.

Are you using Stripe Gateway version 5.1.0?

We have fixed some state matching related issues in our latest release.

Unfortunately it's not possible for us to automatically detect and replace these types of inputs, since variations like these can be infinite, customers can use abbreviated values like `KL`, values without accents or some localized variation we cannot

[2021-04-20 00:08] v18 opened #1536 "Add partner ID to partner info in API calls"
Two parts:

- remove ability to filter the partner ID part & related info part of the header - work done in `update/user-agent-header` branch https://github.com/woocommerce/woocommerce-gateway-stripe/tree/update/user-agent-header
- add partner ID info to header

Reference notes: pc4etw-8q-p2

[2021-04-21 01:10] ricardo commented on #1525
Closing as it was merged in #1530. Apparently it didn't get closed automatically because it was merged into a different branch.

[2021-04-21 01:10] #1525 closed, assigned to ricardo

[2021-04-22 03:52] asumaran commented on #950
@v18 I can reproduce this issue consistently. How are we planning to address this?

- ~To add a "default" prop to allow to pass a default value?~
  - ~In the case we do this. We need to confirm if the behavior will play well with the "required" prop since the input will always have a value therefore input validation will never fail in the Cart page. On the checkout page the input will fail only if

[2021-04-22 06:44] v18 opened #1537 "Allow account creation when checking out with Payment Request Button"
Background: We fixed issue #1352 by not showing the payment request button (Apply Pay, Google Pay, etc) when an account is required for checkout.

However, we'd like to be able to allow these buttons to show up, and guide the customer through account creation as part of the checkout flow with the payment request buttons.

This should work for both the shortcode & block checkout flows. Note that pa

[2021-04-22 07:24] v18 commented on #1537
Related: https://github.com/Automattic/woocommerce-payments/issues/1502

[2021-04-22 12:41] aheckler commented on #1461
This affects the button even if you have not set up the plugin yet:

<img width="987" alt="Markup 2021-04-22 at 08 40 57" src="https://user-images.githubusercontent.com/5512652/115715824-889d9900-a346-11eb-913a-abe39e37355c.png">

3920410-zen

[2021-04-22 13:48] contemplate commented on #1194
Would really like to see this request as a solution https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1537 as we desire to allow the customer to set their password at checkout rather than have it auto-generated.

[2021-04-22 20:42] ricardo commented on #1194
@contemplate unfortunately there's no way to do it through the Payment Request API flow. We would need to guide the users to the authentication/account creation page, and then allow them to pay after authentication.

[2021-04-22 21:51] contemplate commented on #1194
Thanks for the quick response @ricardo and hoping the guided Account Creation can become a reality as I have numerous clients looking for this with subscription purchases.  In the meantime I'll have to test the auto generated password approach.

[2021-04-22 21:55] leonclaus commented on #1194
@ricardo Wouldn't it be possible to make the account creation optional? That would mean that users could set their own passwords when doing a manual checkout and if they dont, they would receive it via email. As far as we have looked through the code, that would be really easy to implement, backwards compatible if you would just create another wp_option for passwords being optional and keep the cu

[2021-04-22 22:32] ricardo commented on #1194
There are settings in WooCommerce > Settings > Accounts & Privacy to manage account creation and guest checkout, but WooCommerce Subscriptions overwrites that and makes authenticated checkout mandatory.

I guess it would be an interesting feature for WooCommerce Subscriptions or WooCommerce core, but I don't see this as the payment gateway's responsibility. We must follow what's enabled in Account

[2021-04-23 02:53] v18 opened #1539 "Add new way to block UI during checkout for payment request buttons"
Add the ability to block different parts of the UI differently during checkout - one way for the checkout form, and another way for the payment request buttons.

More details here:
https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1509#issuecomment-819803665

This fix should be built on top of this PR:
https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1509

Once the PR fo

[2021-04-23 15:10] JuliendeGasquet commented on #1485
I have the exact same problem: too many payments declined because of people using a card with a different name on it than the shipping / billing address. An "Name on card" input would be a welcome addition.

[2021-04-24 00:52] v18 opened #1540 "Remove hard-coded inbox notes & add them as remote notes instead"

[2021-04-24 01:04] v18 opened #1541 "Spike: investigate the problem with ThreeDSecurePaymentHandler and open relevant issue"
Issue is described in this conversation: pc4etw-8L-p2#comment-519

[2021-04-27 03:59] lojel commented on #1534
@Ricardo thanks for the feedback. Here is further information:

1. That makes sense. I guess there is nothing we can do for this specific reason but we can probably solve this on the user level by informing that the region is properly typed and not recognized.

2. For this one we will try to add some frontend error handling that lets us know about users having problems with wallet payment methods.

[2021-04-27 05:05] asumaran commented on #1539
https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1509#issuecomment-819803665

@v18 do you mind elaborating this comment? Regarding block/unblock and disable/enable I assume both cases the button behave exactly the same the only difference is that we will hide the spinner for disable/enable events?

[2021-04-27 05:23] v18 commented on #1539
@asumaran - for the payment request button the disable will work the exact same way, but it just won't have a visual spinner showing up. We're trying to avoid this:

<img src="https://user-images.githubusercontent.com/407542/113626538-aaa1d680-9638-11eb-8b1f-9fc8c48cea74.png">

tldr: we still want to disable the payment request button, but not show the spinner

[2021-04-27 18:54] ricardo commented on #1534
Sounds good. Feel free to open a PR if you come up with any improvements.

Ok. I'll close this issue as this is not a problem with the plugin specifically.

[2021-04-27 18:54] #1534 closed, assigned to nobody

[2021-04-27 20:31] asumaran commented on #1539
@v18 the spinner is added via [CSS](https://github.com/woocommerce/storefront/blob/trunk/assets/css/base/icons.scss#L599-L616) on the Storefront theme. Switching to another theme the button is displayed correctly when blocked.

This is how it looks using the Twenty One theme: The button is blocked, faded out and has no spinner.

<img width="613" alt="Screen Shot 2021-04-27 at 2 48 50 PM" src="http

[2021-04-27 22:55] reykjalin commented on #1517
@nerrad made an excellent note about this in https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1467#discussion_r613202948:

I think Darren is right; is this something we want to enable? Is there a better way to get the same effect? What is this filter usually used for?

cc @v18

[2021-04-27 23:27] asumaran commented on #1539
@diegocurbelo what do you think on the suggested approach above?

[2021-04-28 14:58] #1461 closed, assigned to nobody

[2021-04-28 19:52] diegocurbelo commented on #1539
I agree with the solution.. it's what we need to unblock #1509.
@asumaran  We also need to create a PR to the Storefront theme to support both blocked and disabled classes, right?

[2021-04-28 19:54] asumaran commented on #1539
I guess so. I can prepare a PR for the Storefront theme as well 👍

[2021-04-29 03:00] #1198 closed

[2021-04-30 02:49] v18 opened #1546 "Subscription payments should also be able to authorize instead of capture"
I haven't repoed the bug yet, but here are the steps:

1. As merchant, set payments to authorize instead of capture
2. As customer, purchase subscription
3. As merchant, capture the charge
4. As merchant, renew the subscription manually
5. See the charge for the renewal automatically goes through. Expected: the charge is authorized but not captured.

Possible solution: Add checkbox in Stripe setti

[2021-04-30 07:55] ServusNL commented on #457
It has been a while (9 months), is there any update on adding Klarna to the WooCommerce Stripe Payment Gateway?

[2021-04-30 10:29] parvnoor opened #1547 "Email and Name variables aren't properly processed on Stripe"
Hi guys, on the stripe dashboard the Name and Email variables don't fill in, and instead you get the following:

<img width="680" alt="Screenshot 2021-04-30 at 11 19 31" src="https://user-images.githubusercontent.com/62034071/116682264-f16bbd80-a9a5-11eb-83bc-fca97f777ec0.png">

## What happens now

If you go to the frontend checkout as a shopper on Woocommerce Blocks,
Fill in the necessary fields

[2021-04-30 17:17] nerrad commented on #1547
@parvnoor can you confirm a couple things please:

- Were you using Stripe with the shortcode checkout flow (the current default flow for WooCommerce) before trying the checkout block?
- If yes to the above, were you using the [WooCommerce Stripe extension](https://woocommerce.com/products/stripe/) in the shortcode checkout flow as well?

I'm going to be moving this to the Stripe repository becaus

[2021-04-30 17:57] parvnoor commented on #1547
Hey, thanks for the swift response.

I was using stripe with the previous default checkout, yup.

The plugin is WooCommerce Stripe Gateway (https://wordpress.org/plugins/woocommerce-gateway-stripe/) - should I try the WooCommerce Stripe extension instead?

[2021-05-01 04:40] v18 commented on #1120
Hi @mrbeardo  - I wanted to check in with you to see if this issue is still happening.

Here are instructions for updating the order items:
https://docs.woocommerce.com/document/managing-orders/#editing-or-adding-order-items

I'll close this issue for now.

If there is still an issue, please re-open this issue and reply back with the steps you take to see the problem. Thanks!

[2021-05-01 04:40] #1120 closed

[2021-05-01 04:57] v18 commented on #1126
I'm not able to repro this issue using the steps outlined in the main post, so I'm closing the issue.

If there are any other issues related to the reusable source error, please provide steps to repro so we can take a look:

`The reusable source you provided is consumed because it was previously charged without being attached to a customer or was detached from a customer. To charge a reusable sour

[2021-05-01 04:57] #1126 closed

[2021-05-01 05:07] v18 commented on #1159
@SiR-DanieL and @tijosh - are there steps we can follow to reproduce the issue?

[2021-05-01 05:12] v18 commented on #1178
Related: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1187

[2021-05-01 05:15] v18 commented on #1537
Related: #1435

[2021-05-01 05:18] v18 commented on #1535
Hi there - it's not possible to open the dialog to pay before the customer clicks the "pay now" button. I recommend displaying the button on the product page, or adding the "pay now" button where the cart button is displayed to enable quicker checkout.

I'm closing this issue as a wontfix.

[2021-05-01 05:18] #1535 closed, assigned to nobody

[2021-05-03 03:01] SirDarcanos commented on #1159
@v18 try signing-up for a WooCommerce Subscriptions sub in test mode, then switch in live mode and try renewing that sub.

I think that should trigger the issue

[2021-05-03 07:22] igotdes commented on #1532
The user on #3883508-zen has provided us with working creds for their staging site.

[2021-05-03 11:16] Aljullu opened #2102 "Can't pay with a 3DS card after a card which causes a CVC failure in WooCommerce Blocks Checkout"
After a credit card payment that produced a CVC failure error, it's not possible to retry the payment with a 3DS card.

## To reproduce

1. Go to the Checkout block.
2. Try to pay with the card number `4000000000000101`, it should fail (see [Stripe docs](https://stripe.com/docs/testing)).
3. Then, try to pay with a 3DS card (`4000002500003155`).

Expected:

4. It should open a modal to validate th

[2021-05-03 11:24] nerrad commented on #2102
Thanks for creating this issue Albert! Was this happening with the version of the stripe integration that is included with Blocks or with the Stripe integration migration PR in the Stripe repo?

[2021-05-03 12:54] Aljullu commented on #2102
I was able to reproduce it in both implementations. I'm not 100% sure if the issue is in Stripe or in Blocks, that's why I opened the issue in our repo for now.

[2021-05-03 13:48] kalessil opened #1548 "Safari "Allow websites to check for Apple Pay" setting have to be disabled in order Apple Pay button appears."
**Describe the bug**

See https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1111. The issue is still there: p1619724791069000-slack-C7U3Y3VMY (see the thread for sample URLs)

**To Reproduce**

- Use Safari with the setting enabled
- Open the sample URLs in private mode (the button expected to appear on both sites)
- Open the sample URLs in normal mode (the button expected to appear

[2021-05-03 15:59] dechov commented on #1489
We should also change `WC_Admin_Note` to `Note`, is that right? WCPay has compatibility logic for that one [[code](https://github.com/Automattic/woocommerce-payments/blob/e099744fb8cead46fe23ec25d785e40827947c1f/includes/compat/class-wc-payment-woo-compat-utils.php#L19-L30)] – do we need that, or is the last version with only `WC_Admin_Note(s)` no longer supported?

[2021-05-03 16:07] ricardo commented on #1489
@dechov Good question. From the issue description it says `WC_Admin_Note::get_note` is deprecated since version 1.7.0, so if that's correct, I think it makes sense to support only `Note`, because we have `WC requires at least: 3.0` in `woocommerce-gateway-stripe.php`.

[2021-05-04 03:39] asumaran commented on #1539
Submitted a PR to the Storefront theme to hide the spinner when the Payment Request button is disabled https://github.com/woocommerce/storefront/pull/1672

[2021-05-04 07:19] kalessil opened #1549 "Settings: introduce individual toggles for the pay buttons"
In the stripe dashboard under `Settings -> Checkout -> Customize checkout -> Accelerated checkouts` it's possible to enable the pay buttons individually. It would be great to have similar settings on the gateway side as well.

[2021-05-04 08:15] igotdes commented on #1549
Just adding that this feature was requested from #3934134-zen so we can inform the user of any significant updates.

[2021-05-04 12:23] SebKay opened #1550 ""You did not provide an API key" intermittent Stripe error on checkout"
We have a client in Ireland who takes payments via Stripe in WooCommerce. A few times per week he'll get a failed order come through and all customers have been saying they are seeing the following error appear at the top of the checkout:

[code]

**To Reproduce**
It's tricky to reproduce because it only seems to happen to live payments, but here's what our clients customer's have said:
1. Add pro

[2021-05-05 04:39] v18 commented on #1550
Hi @SebKay - thanks for opening an issue. Since it's not reproducible, like you mentioned, I recommend that you contact WooCommerce Support to get their help in troubleshooting the problem. Here's where you can contact them:
https://woocommerce.com/my-account/create-a-ticket

Hopefully they can help find the common thread within the failed requests, and together we can help you and your client in

[2021-05-05 16:56] asumaran commented on #1539
issue was closed by mistake. reopening

[2021-05-05 17:07] #1539 closed, assigned to asumaran

[2021-05-05 17:19] #1228 closed

[2021-05-05 19:04] ricardo commented on #1435
Part of this was fixed in #1498 by hiding the payment request button in cases where authentication is required.

We still need to improve UX by guiding users to authentication. - Related to #1537.

Waiting for design input in [WCPay#1502](https://github.com/Automattic/woocommerce-payments/issues/1502)

[2021-05-05 23:51] dechov commented on #1549
Looks like we could expose a setting that configures the payment request's `disableWallets` property [[API doc](https://stripe.com/docs/js/payment_request/create#stripe_payment_request-options-disableWallets)] 👍

(Those Stripe Dashboard settings appear to control the behavior of Stripe Checkout, which isn't currently supported by the extension.)

[2021-05-06 00:12] weroh commented on #1547
Hi, we're experiencing this same issue on our storefront. I haven't been able to determine whether or not we're using Woocommerce Blocks or not. We were using another payment processor up until recently and switched over to Stripe. This issue happens intermittently for us. It's not all transactions. I can provide more details as needed. If this is a bug, then we'll wait for a fix. If this is an is

[2021-05-06 16:19] #829 closed

[2021-05-07 04:18] v18 commented on #1162
Thanks for the report, @septk. I'm able to check out using the test card `4000000000003220`, and the order is marked as `Processing`. Here's what I see:

<img width="272" alt="processing-order-status" src="https://user-images.githubusercontent.com/11487924/117397239-a407c700-af36-11eb-900f-6b8bf5182134.png">

I'm going to close this issue for now. If there's still any issue with checking out with

[2021-05-07 04:18] #1162 closed

[2021-05-07 04:28] v18 commented on #1201
Stripe's [documentation](https://stripe.com/docs/radar/rules#traditional-bank-checks) states that even though the CVC check fails by the bank, the payment might still be successful:

It's possible to block this at the account level by setting the Radar rule for this: `Block if CVC verification fails`.

If this rule is set, then a failed CVC check will make the payment fail and it will be correctly

[2021-05-07 04:28] #1201 closed

[2021-05-07 06:30] dougaitken commented on #1532
Possibly similar in https://wordpress.org/support/topic/sofort-order-received-ends-in-404-not-found

[2021-05-07 16:31] ricardo commented on #1528
An equivalent issue was fixed in [WCPay#1529](https://github.com/Automattic/woocommerce-payments/pull/1529) by using the same APIs from the shortcode which validate 3DS cards.

[2021-05-08 07:45] v18 commented on #1231
Part of the issue here is that the order status is changed to `on-hold` when the charge is authorized but not captured. [WooCommerce Core allows editing](https://docs.woocommerce.com/document/managing-orders/#editing-or-adding-order-items) an order only when the status is `on hold` or `pending`:

However, the `on hold` order status in general makes sense for the payment status ([doc](https://docs.

[2021-05-08 09:23] v18 commented on #1293
Hi @danielbreves 👋 Have you seen this pop up in your logs recently with the most recent version of Stripe? Does this happen with more than one customer? Are there any clues that would help us figure out how to reproduce this issue?

[2021-05-08 09:29] v18 commented on #1276
Hey @slash1andy - I'm not sure I'm following these repro steps:

1. Enable Stripe in live mode, testing will not produce the error.
2. Go to checkout
3. Cause an error on the checkout, such as no country, etc.
4. See blank error message

In step 3 - what do you do when you cause an error on checkout? Do you fill out all the fields except one required field, fill in a real credit card, and then pre

[2021-05-08 09:48] v18 commented on #1294
Hi there! I tried this scenario out using Stripe's [SEPA test account number](https://stripe.com/docs/testing#sepa-test-account-numbers) `DE08370400440532013003`, for which the payment "status transitions from processing to succeeded after three minutes."

Here are the steps:
1. Check out with Subscription, use `DE08370400440532013003` to check out with SEPA
2. See that Subscription status is `On

[2021-05-08 09:48] #1294 closed

[2021-05-08 09:55] v18 commented on #1315
We now show an error when the refund amount is greater than the amount charged, as a modal in the browser:

<img width="433" alt="error_refunding" src="https://user-images.githubusercontent.com/11487924/117535062-ff1ce500-b02e-11eb-968d-3a0a0b252fcb.png">

Closing as fixed.

[2021-05-08 09:55] #1315 closed

[2021-05-08 10:02] v18 commented on #1314
@dechov - I can't repro scenario B anymore since the Apple Pay button doesn't show up when no shipping methods are available. Do you see the same?

[2021-05-10 07:22] SebKay commented on #1550
OK thanks for the info. I'll open an issue there and see what they say. Thanks!

[2021-05-10 07:22] #1550 closed, assigned to nobody

[2021-05-10 22:59] #1459 closed, assigned to ricardo

[2021-05-11 12:56] kmindi commented on #1294
@v18 I believe it should have worked like that always, and it is nice to have these delayed testing IBANs (they were not available from the beginning). Very important compared to credit card payments is that you have the webhook in place, as the charged information comes in later and not during the purchchase! So that is another part that can prevent SEPA and subscriptions to work as expected.

Fo

[2021-05-11 20:15] luizreis commented on #1532
I wasn't able to reproduce this (https://d.pr/i/pUow5t). I've also taken a look at the code and it seems like the redirect URL is returned and used [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/trunk/includes/payment-methods/class-wc-gateway-stripe-alipay.php#L276).

[2021-05-13 14:35] villav commented on #1546
Hi,

Could you provide where I can hardcoded option to authorize instead of capture on subscription renewal for temporary fix?

Thanks

[2021-05-13 18:39] luizreis opened #1559 "Payment Request incompatibility with All Products for WooCommerce Subscriptions"
**Describe the bug**<br>When using All Products for WooCommerce Subscriptions, the payment request buttons on products calculate an incorrect price — they only reflect the correct price when the cart totals are updated.

**To Reproduce**<br>Steps to reproduce the behavior:

1. Add a subscription plan to a simple product and include a discount
2. On the product page, select the payment plan option

[2021-05-14 08:20] AzRieilStuff opened #1561 "Handle order transitions when payment fails"
Plugin has about 20 scenarios when order status moving to “failed”. Mostly, its about the payment failed on some stage.

The problem is, due to my site functionality, I attach some important data to order & order items at moment of order creation ( pending status ), and if user, at checkout, failed payment for some reason, I want to redirect him back and continue checkout, offering another payment

[2021-05-14 18:20] reykjalin commented on #1517
I'd like to ping both @v18 and @LevinMedia here to ask the question again:

1. Is allowing merchants to add custom credit card icons important enough to allow this in the Blocks checkout?
    - My initial impression is no, but maybe there are some merchants that like to either remove some icons or add their own?
    - Maybe this is important for theme authors that include custom made icons?
2. If

[2021-05-14 18:26] reykjalin commented on #1513
@LevinMedia do we want to reproduce this informative text? We can add similar text to the Blocks payment method area:

<img width="486" alt="image" src="https://user-images.githubusercontent.com/13835680/118312985-b8713400-b4e1-11eb-8c67-b388bb8c48f6.png">

This would clearly need **a lot** of work, but the point still stands; we can add something similar if we think it's appropriate 🙂

If we don'

[2021-05-14 19:52] nerrad commented on #1517
Would there be any harm in releasing with the filter out and see if anyone asks for it? I only ask because we haven't accounted for that in the version included with Blocks and it's been that way for over a year without any complaints (that I know of) from users wanting it.

[2021-05-14 23:12] LevinMedia commented on #1517
@nerrad  No I don't think so - I'm leaning towards that for now. Additional discussion in p1621016731397600-slack-CGGCLBN58

[2021-05-15 02:09] ricardo opened #1563 "Use cart totals for Payment Request Button in the product page"
### Related issues for context:
- #1559
- #1459
- #641
- #950
- #1411
- #1064
- #1146
- #829
- #1113
- #1234
- #1579
- #1401

Because we allow users to start the payment request flow from the product page, the total price and `displayItems` for the Payment Request Button are calculated in three different ways in `WC_Stripe_Payment_Request`. Two of these ways are for the product page.

### This has

[2021-05-15 07:13] v18 opened #1564 "Should show correct message when checking out with subscription for already-existing email"
Steps to repro:
1. As a logged-out user, add subscription product to cart
2. Go to (Blocks) cart page
3. Use the payment request button, enter all details as normal, and make sure to enter email address of a user that already exists on the site
4. See this error:
<img width="373" alt="Screen Shot 2021-05-15 at 4 10 03 PM" src="https://user-images.githubusercontent.com/11487924/118351678-2ed06d80-b

[2021-05-17 01:25] #1455 closed, assigned to reykjalin

[2021-05-17 01:25] #1503 closed, assigned to nobody

[2021-05-17 01:25] #1518 closed, assigned to nobody

[2021-05-17 01:25] #1528 closed, assigned to nobody

[2021-05-17 08:14] #1489 closed, assigned to kalessil

[2021-05-17 09:20] leonclaus commented on #1537
Hi, we are currently working on a fix for this. Please have a look at our proposal here and please provide feedback if possible:
https://github.com/woocommerce/woocommerce/issues/29867
Our solution would also include a fix for #1564.

[2021-05-17 13:14] aheckler commented on #1532
From what the user in 3883508-zen says, and from my previous experience in 3913878-zen, this error only occurs on mobile when trying to pay via the Alipay app.

[2021-05-17 14:49] reykjalin commented on #1524
This issue was fixed with #1545

[2021-05-17 14:49] #1524 closed, assigned to reykjalin

[2021-05-17 19:20] helgatheviking commented on #1563
👀 following

FYI, for Name Your Price.. I would still need to get the price from the cart even for a simple product. (product addons could be impacted by this too)

For Mix and Match, getting the cart would possibly solve everything!

[2021-05-17 19:52] ricardo commented on #1563
@helgatheviking thanks for the note. We will probably need to get the price from the cart in any scenario.

[2021-05-17 19:57] asumaran commented on #1435
related: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1537 and https://github.com/woocommerce/woocommerce/issues/29867

[2021-05-18 01:01] danielbreves commented on #1293
@v18 I haven't noticed this issue recently. Feel free to close. Thanks!

[2021-05-18 08:53] dhafner opened #1566 "php_uname() throwing unnecessary warnings"
**Describe the bug**
If the server has disabled the function _php_uname()_ the following warning is thrown whenever the plugin is called, eg during checkout.

`PHP Warning: php_uname() has been disabled for security reasons in /home/wp/disk/wordpress/wp-content/plugins/woocommerce-gateway-stripe/includes/class-wc-stripe-api.php on line 69`

**To Reproduce**
Disable php_uname() and use the plugin.

[2021-05-18 22:57] #1536 closed, assigned to dechov

[2021-05-19 01:56] #1547 closed, assigned to nobody

[2021-05-19 08:14] v18 commented on #1517
I'm aligned on not adding a way for merchants to turn off the icons. As Darren mentioned we haven't received any interest in this. Going to close this issue as `wontfix` for now and we can revisit this at a later date.

[2021-05-19 08:14] #1517 closed, assigned to nobody

[2021-05-19 15:10] #950 closed

[2021-05-19 17:42] reykjalin commented on #1561
Hi @AzRieilStuff 👋

I'm not sure I understand what the problem is and what it is you're trying to achieve. Can you let me know if any of the following scenarios are what's happening? If not can you give me a better description of what scenario it is that you have in mind?

## Scenario 1

1. Customer pays for order
2. Customer is shown the "Order Received" page
3. Something fails during payment pro

[2021-05-19 20:01] nerrad commented on #1513
This might be a good opportunity to do some explorations at providing some sort of standard place for payment methods to expose testing instructions for those with payment methods "test mode" active.

[2021-05-19 22:04] reykjalin commented on #1520
Now that WooCommerce Subscriptions v3.1.0 has been released we can start working on this issue by simply testing whether Subscriptions work with WC Subscriptions >= 3.1.0. If we don't need to change anything on our end, great!

I think it'd be prudent to make sure we leave Subscriptions out of the support array passed to Blocks if the WC Subscriptions version is older than v3.1.0 — and that's work

[2021-05-19 22:18] reykjalin commented on #1471
As per discussion in p1621455301035600-slack-woo-stripe we _might_ end up tagging this with `category: won't fix` and instead direct merchants to, e.g. change the width alignment in the Block Editor.

@v18 what do you think?

[2021-05-19 22:24] reykjalin opened #1570 "Use fetch instead of jQuery.ajax() for the AJAX API calls in the blocks integration"
Depending on jQuery adds a big dependency that we don't need. While jQuery was initially used because it was easy to copy from the Shortcode implementation we really should just use a plain `fetch` with a `FormData` object to send the AJAX requests.

We can copy the approach [used in WooCommerce Payments](https://github.com/Automattic/woocommerce-payments/blob/develop/client/checkout/blocks/reques

[2021-05-19 22:35] reykjalin opened #1571 "Add logging during checkout with the Cart or Checkout Block"
To help us debug problems that may occur when customers pay on the Block-based checkout pages we should add logging with some information about when a payment is made through the blocks.

This should be possible by checking whether the order being processed has its meta field `_created_via` set to `store-api`.

Possibly with something like

[code]

We should also consider what information would be

[2021-05-19 22:48] reykjalin opened #1572 "Document why we chose to use our AJAX APIs instead of the Blocks API for Payment Request Buttons"
We chose to go with our pre-existing AJAX APIs to add support for Payment Requests instead of properly integrating with the Blocks API for several reasons — some of which no longer apply with the latest version of WooCommerce Blocks.

We should document why we chose to go that route and why other payment gateways might not want to do the same. The ideal is to use the Blocks API — it's well thought

[2021-05-19 23:00] reykjalin opened #1573 "Spike: use the Blocks API instead of our AJAX APIs for the Payment Request Buttons"
The WooCommerce Blocks API has seen significant improvements since #1467 was opened, and we should try to make use of those improvements.

The Blocks API brings with it significant improvements in terms of the Checkout flow, especially in terms of UX; it's more light-weight than the current implementation; and  by using the Blocks API without maintaining our own custom solution for that.

Part of

[2021-05-19 23:14] reykjalin opened #1574 "Use createPaymentRequestUsingCart() when checking whether we can show the Payment Request Buttons"
When checking whether we should show the Payment Request buttons or not we create a "fake payment request" so we can call `canMakePayment()` and figure out if the user can actually make a payment request.

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/e4c7fcfdd56eebc73c90726be9e6b2da4980b7cf/client/blocks/payment-request/index.js#L39-L53

The part that's missing here is country va

[2021-05-20 06:42] AzRieilStuff commented on #1561
hi o/ thx for response
Im talking not about frontend part or behavior, but these backend code parts
![image](https://user-images.githubusercontent.com/54263505/118931290-7c115e00-b94f-11eb-93b3-efbcaf998fb6.png)

scenario 1
So this scenario is about payments that can take some time. Im ok with behavior we have there
 - user confirm payment
 - order become "on-hold"
 - redirect to "order-received"

[2021-05-20 08:13] theabhig opened #1575 "Logos for alternative payment methods misaligned when Credit Card payment deactivated"
**Describe the bug**

Using Stripe, when credit card payment is deactivated but Stripe alternative payment options are active, the logos for the alternative payment methods become misaligned.

This happened on a user site, tested internally in Slack, and also on my own test installation.

**To Reproduce**

1. Activate Stripe as payment gateway on WooCommerce site using Storefront theme.
2. Deactiv

[2021-05-20 21:51] asumaran commented on #1563
I'm going to split this issue in multiple parts. I'll submit separate PRs for every product type so it's easier to review and test.

I'll start testing with simple products and then the other product types we support (Variable Products, Subscriptions, etc). After that I'll start working on support Mix and Match, Composite, etc.

[2021-05-21 00:07] reykjalin commented on #1516
There is a bit of nuance to solving this issue, and we should probably do it in these five steps:

1. Create a function that can create the necessary configuration.
    - The function must be accessible from `WC_Gateway_Stripe` (`includes/class-wc-gateway-stripe.php`), `WC_Stripe_Payment_Request` (`includes/payment-methods/class-wc-stripe-payment-request.php`), and `WC_Stripe_Blocks_Support` (`inc

[2021-05-21 00:13] reykjalin commented on #1504
To make sure customers and merchants don't get tripped up by this, maybe we should just start by making sure the Payment Request Buttons don't show up when the order includes multiple packages?

That might be a decent stop-gap for now. I'm not even sure if this is supported by Payment Request.
I know you can give a payment request a list of shipping options, but I'm not sure if you can choose more

[2021-05-21 00:14] reykjalin commented on #1541
This is related to #1573, and could potentially be handled in the same Spike PR. This is a piece of what's required to look into to properly wrap our heads around #1573.

[2021-05-21 00:17] reykjalin commented on #1513
For an initial version of this we can just add the text (and any required CSS for styling) to the payment element in the Block.

After that we should work with the WooCommerce Blocks team to come up with some standardized way to accomplish this.

[2021-05-21 00:26] reykjalin commented on #1178
After talking directly with Stripe about this issue it seems there is some confusion on our part between validation that Stripe performs and then ultimately what a card issuer might responds with.

The 'invalid_expiry_month' and year aren't validated with the issuer but rather validate whether it is a valid month/year in the future:

Ultimately a card issuer can choose to decline even if the expir

[2021-05-21 00:26] #1178 closed

[2021-05-22 06:24] v18 commented on #1504
@reykjalin for this issue lets:
- verify: can the payment request API handle multiple packages? if not, let's implement stopgap & close this issue.
- research: is there an existing function in WC (et al) to easily create the data we'd need to send to support multiple packages? if not, let's document what's the data we're looking for?
- decide whether to implement stopgap or full solution depending

[2021-05-23 11:56] ServusNL commented on #457
Any update?

[2021-05-24 04:40] MachineITSvcs opened #1579 "Quantity Changes Not Detected by Payment Requests Button on Themes with Increment/Decrement Buttons"
**Is your feature request related to a problem? Please describe.**
This plugin's payment request buttons do not work well with themes that utilize the quantity increase/decrease buttons (outside the quantity input field, not the tiny step buttons in the field available on number inputs nowadays). When these buttons are used on affected themes, it does not trigger a refresh of the payment request b

[2021-05-24 17:15] stephhjacq opened #1580 "Hide Apple Pay button when all variations are out of stock"
4014744-zen

**Describe the bug**
When all variations are out of stock, payment request button is shown even though item cannot be added to cart.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a variable product and set all variations to out of stock
2. Visit product page, see Apple Pay button
3. Select any variation to see out of stock message
4. Click Buy with Apple Pay, error dial

[2021-05-24 17:25] stephhjacq commented on #1580
Issue does not appear to affect Google Pay in Chrome, which is hidden as expected for product with all variations out of stock.

[2021-05-25 01:26] #1293 closed

[2021-05-25 07:02] v18 commented on #1579
Hey @MachineITSvcs - thank you for opening this issue 🙌 Could you tell me which themes you tried this with and saw this problem? We'll take a look.

[2021-05-25 07:21] v18 commented on #1580
<img width="459" alt="unavailable" src="https://user-images.githubusercontent.com/11487924/119456037-356b9b80-bd75-11eb-96fa-1a41fecbd5a4.png">

:trollface:

[2021-05-25 11:05] imclean commented on #1207
This is a year old Open ticket, and Stripe are now on 2020-08-27, is there any news when this will be updated to support the latest API which is almost itself a year old?
Are there any known issues if people update their Stripe API to latest with the plugin? Has this been tested internally?

[2021-05-25 15:48] stephhjacq commented on #1580
@v18 I'm not sure what you mean by this face, could you expand on that?

[2021-05-25 15:50] QuranIslam opened #1583 "Uncaptured Payment Cancelled Bug for Dashboard Review Approval"
Hello

I think there is a very annoying bug with this plugin that will cause preauthorized payments get lost.

If you have manual capture set and payment goes to radar review. This payment will normally be set to On-Hold. Till now everything is fine but things starts to get funny when you approve the open review of the uncaptured payment from the stripe dashboard. Woocommerce will change order to

[2021-05-25 16:36] reykjalin commented on #1561
Ok, I think I understand what you're asking now; you want to prevent the order status from going to `failed` when a payment fails. Let me know if that's not correct 🙂

We will not implement anything like this in the Stripe plugin itself because this is already possible with hooks available in WooCommerce; `woocommerce_order_status_<from-status>_to_failed` and `woocommerce_status_failed`. You can s

[2021-05-25 16:36] #1561 closed, assigned to nobody

[2021-05-25 17:21] AzRieilStuff commented on #1561
almost. I want to catch it and decide should I proceed default scenario or handle it, prevent status change and extra actions

well, no
Indeed, there are some hooks, but actions in `WC_Order::status_transition` are not able to prevent transition I want to avoid.
Its can be used like - just call `set_status` again inside a hook of any  `set_status` actions but its not the best solution, as not a pr

[2021-05-25 17:44] reykjalin opened #1584 "Use webpack to build JS for shortcode checkout"
We currently use `uglify` to build the shortcode version of the required JavaScript for customers to checkout with Stripe. Since #1467 we now have a `webpack`-based build system set up and ready to go so we should take advantage of that and migrate the shortcode checkout JS to the `webpack`-based build system.

This will entail moving the js from `assets/js` to `client/shortcode`. As part of this

[2021-05-25 18:05] #1574 closed, assigned to nobody

[2021-05-25 21:52] reykjalin commented on #1471
As per @LevinMedia's request; once we start working on this let's try to make the default layout use the mobile layout; full-width card number input with the expiry and CVC inputs side-by-side underneath the card number input.

[2021-05-26 06:45] dougaitken commented on #1583
WordPress.org Forum post about the same - https://wordpress.org/support/topic/payment-lost-bug-uncaptured-payment-review/#post-14483709

[2021-05-26 15:10] QuranIslam commented on #1583
Long story short the plugin has a strange behavior with uncaptured payments under review. I've lost money because of this bug and thought it is a good idea to point it out here so people can avoid losing money. I hope you can reproduce and fix this.

If someone approved an open review for uncaptured payment the plugin will mark the associated order to 'pending payment'
This is wrong and the order

[2021-05-28 01:52] MachineITSvcs commented on #1579
Hi @v18 I've seen this issue on several themes, but a few off the top of my head are Avada, Customify, and Responsive eCommerce. I can locate and include additional examples if necessary. I noticed today that this is not just limited to the Stripe gateway but also the Square gateway as well when digital wallets feature (payment request button equivalent of Stripe) is enabled. Neither of these paym

[2021-05-28 18:51] reykjalin commented on #1561
This looks like you want to change the whole order status processing when an order fails. You can already do this through the `set_status` hooks like you already mentioned, although you're right in that you can't prevent the order from moving temporarily to `failed`.

We add order notes when a payment fails, with the information we have available, and those should at least give you an idea of why

[2021-05-28 22:09] melek commented on #1411
Really not sure if this may help, but at least one forum user is seeing very similar behavior in Square with Avatax enabled - tax is not displayed in Google/Apple pay, but it is charged: https://wordpress.org/support/topic/avatax-not-displaying-tax-for-apple-google-pay/

Here are their Tax settings: https://snipboard.io/ilAneE.jpg

[2021-05-29 03:23] v18 commented on #1187
Closing as a `wontfix` - the original wording was flagged as less awkward.

[2021-05-29 03:23] #1187 closed

[2021-05-29 07:05] v18 opened #1586 "Configurable payment request button locations"
Allow merchants to configure payment request button locations using settings instead of using filters.

Related issue in WCPay: https://github.com/Automattic/woocommerce-payments/issues/1475

PR in WCPay: https://github.com/Automattic/woocommerce-payments/pull/1584

[2021-06-01 00:05] yunierescobar commented on #1095
Esta es una solicitud importante para los usuarios de Woocomerce en México, uno de los mercados más grandes de latinoamérica. Por favor ténganlo en cuenta antes que muchos clientes migren a otras pasarelas de pago mejor adaptadas al mercado mexicano.

[2021-06-01 00:19] Altherbishop commented on #1095
Mejor me fui a la plataforma de MercadoPago, especializada en el mercado LATAM

[2021-06-01 21:05] johndcoy commented on #1411
I was able to confirm this is still an issue, especially for digital products. The same problem with GooglePay persists for ApplePay as well.

[2021-06-02 14:15] crazyserb commented on #1458
Has this been fixed and pushed into any of the latest plugin releases yet? As it's still an issue in the latest 5.2.0 version...

[2021-06-03 00:03] reykjalin commented on #1504
From glancing through the Payment Request API spec, I think we may have to combine the chosen shipping options into a custom shipping option made in the frontend for the specific order. The `shippingOption` parameter to a payment request [only accepts one item](https://www.w3.org/TR/payment-request/#shippingoption-attribute). The Stripe API doesn't implement any support for multiple packages, ther

[2021-06-03 01:14] reykjalin commented on #1504
So, after testing this with Stripe I can confirm we sort of handle this but we present the options correctly. Currently we just add the possible shipping rates from all packages to the array of shipping options provided to the Payment Request:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/1fc58853fa3c5c64cf1635faf443ceeaa368ff0e/includes/payment-methods/class-wc-stripe-payment-re

[2021-06-03 09:30] v18 opened #1589 "Payment request buttons: Ensure issues solved in WCPay and Stripe are ported to each repo"

[2021-06-04 00:40] reykjalin commented on #1520
WooCommerce Subscriptions support WooCommerce Blocks as of Subscriptions v3.1.0 and tests well with Stripe.

There's no graceful way for us to disable support for Subscriptions, so we've decided not to handle that in Stripe. See pb0GrA-1ek-p2 for details.

[2021-06-04 00:40] #1520 closed, assigned to reykjalin

[2021-06-04 02:34] v18 commented on #1580
@stephhjacq - sorry for the confusion. I was just pointing out how silly this UX is :)

[2021-06-04 19:20] reykjalin opened #1590 "Pass props to Google Pay Button and Custom PRB Button elements instead of fetching the data inside those lower-level components themselves"
As discussed in <slack> it'd be a nice improvement to pass props to `GooglePayButton` and `CustomButton` instead of reading the configurations inside the components themselves.

So, we remove the configuration reads here:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/34935a0f8a8060efa498baa730325167ec2e5411/client/blocks/payment-request/custom-button.js#L12-L16

and

https://gith

[2021-06-04 22:53] reykjalin commented on #1504
After discussing this in p1622683576178000-slack-C01BZUL57SQ and talking about this with @LevinMedia we decided to hide the Payment Request Buttons when there are multiple packages in the cart because:

1. The [Advanced Shipping Packages extension](https://woocommerce.com/products/woocommerce-advanced-shipping-packages/) is not maintained by Woo and support is not handled by Woo — even though it's

[2021-06-04 23:42] #1572 closed, assigned to reykjalin

[2021-06-06 19:54] memyselfandm commented on #281
I had the same issue. A customer's renewal payment failed, and they updated their credit card information. When I tried to retry the new renewal payment it failed. I found the same information from the same troubleshooting steps above and took the steps above to fix it.

However, it should be stressed that you should **NOT** under any circumstances (including desperation) access your site's databa

[2021-06-07 15:37] ralucaStan opened #1829 "The Express Payments button disappears on quantity change"
## Describe the bug
The Express Payments button in the Cart block disappears every time the quantity of a product is updated.

## To reproduce
Steps to reproduce the behavior first make sure you have an express payment set up via WooCommerce Stripe Gateway.

1. Go to a cart page with the Cart Block
2. Increase the quantity of a product
3. Notice how the Express Payment button disappears and then a

[2021-06-07 22:26] stephhjacq opened #1592 "Payment request method title misleading to customers"
4024365-zen

**Describe the bug**<br>Orders paid via Payment Request buttons now display this title on the invoice.

**To Reproduce**<br>Steps to reproduce the behavior:

1. Make a purchase via payment request button
2. Click on the order to view, or view the order email
3. Payment method is shown as 'Payment request', which can be misunderstood as a request for payment

**Expected behavior**<br>A

[2021-06-08 18:46] reykjalin commented on #1583
I'm unable to reproduce the issue, but I think I know what's happening. Let me go through how I tested this before I get to what I think might be going wrong.

## Testing

Webhook delivery must be correctly set up for this to work.

1. Configure Stripe to not immediately capture payments via **WooCommerce > Settings > Payments > Stripe > Capture**.
2. Use the testing card `4000 0000 0000 9235` to

[2021-06-10 17:45] #1516 closed, assigned to reykjalin

[2021-06-11 10:49] dougaitken opened #1595 "Update `tested up to` more regularly"
**Describe the bug**

With WooCommerce being released on a monthly cadence for some time now, the `tested up to` for Stripe is outdated and is one of the more common plugins that customers ask about compatibility.

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/08362113e6af5f91768c20a94d08ecdbc12c85f3/woocommerce-gateway-stripe.php#L12

The `tested up to` versions have been `4.2`,

[2021-06-14 13:57] ServusNL commented on #1548
Any update on this? I have the same problem. aPay button only showing in private browsers. Is the issue confirmed?

My problem appeared to be in the domains. Deleted all domain mentions, added new for both domain.xx and www.domain.xx, manually added the verification file to the /.well-known/ folder, and now my config is working again.

To be clear, I had the same problem that aPay was working in a

[2021-06-14 15:54] fagworio opened #1598 "Manual order, depending on the product I have in the order"
Hello,

I would like to customize the stripe plug-in so that when an order has a specific product, it is saved but not billed immediately.

In this case, I could analyze the order and if it met my requirements, I would do the direct process in woocommerce to change the status from On-hold to Processing.

I know I have an option on stripe Capture charge immediately, but I don’t want this behavior f

[2021-06-14 19:09] ricardo commented on #1537
@leonclaus We're proposing a different solution in WooCommerce Payments [#1811](https://github.com/Automattic/woocommerce-payments/pull/1811) which later will be brought here in Stripe.

The solution is letting users know they need to authenticate first, then redirect them to "My account" and finally redirect them back to the product page after login.

This is a broader approach which also fixes i

[2021-06-14 22:25] asumaran opened #1599 "Reset Shipping Address on payment dialog every time PR button is clicked"
A Shipping amount is displayed on the payment dialog when the user selects a Shipping address. Sometimes the amount is incorrect. Specifically when the user didn't select a shipping address yet.

This happens because if the user has added a shipping address to the cart either by using the payment dialog or the cart page itself. The address will be present on the user session.

So when the user goe

[2021-06-14 23:14] asumaran opened #1600 "Hide misleading "Shipping: 0" amount while Shipping address is not selected on payment dialog"
Currently, we display `Shipping.  $0.00` on the payment dialog for products that need shipping but the user hasn't selected a Shipping address yet.

<img src="https://user-images.githubusercontent.com/5509901/121979673-038c9a00-cd61-11eb-8632-7df65f0eebfc.png" width="512" />

Showing an amount for "Shipping" when the user hasn't selected a Shipping address is kind of misleading. The user could thi

[2021-06-15 00:31] shendy-a8c opened #1601 "Site is using SSL but gets error in debug log."
**Describe the bug**

Site is using SSL but sees `Stripe Payment Request live mode requires SSL.` error in debug log.
Forum thread is [here](https://wordpress.org/support/topic/stripe-payment-request-live-mode-requires-ssl-5/).

**To Reproduce**
I can't reproduce on my test site but I am guessing user's site might be behind load balancer.

**Expected behavior**
If website is using SSL, plugin shou

[2021-06-15 06:24] igotdes commented on #799
Also requested in #30144948-hc/#4069215-zen.

[2021-06-15 13:33] billrobbins commented on #1601
For a bit more information, I did install Query Monitor and it shows that `is_ssl()` is true for product pages.

![is_ssl](https://user-images.githubusercontent.com/1138631/122061668-5a6f8f00-cdb4-11eb-89e9-d73a19da8b9d.png)

[2021-06-15 19:11] nerrad opened #1605 "Missing product subtotal in for Express Payment method in both block checkout flow and shortcode checkout flow."
**Describe the bug**
I first discovered this while testing the Express Payment method integration for the Cart and Checkout block but discovered it also happens for the express payment method integration in the shortcode checkout flows as well. This _also_ happens with WooCommerce Payments.

The issue is that the payment request modal (Reproduced with Google Pay and Browser Payment Request button)

[2021-06-15 19:37] reykjalin commented on #1605
This is intended behavior; we hide the itemized list of products and their subtotals from the Payment Request dialog by default:

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/ae73978f0012a250f89c377f34b9b89358f1cca1/includes/payment-methods/class-wc-stripe-payment-request.php#L1491-L1507

You can choose to show the itemized list with a filter:

[code]

Since this is not a bug I'l

[2021-06-15 19:37] asumaran commented on #1605
It looks like we were returning a "Subtotal" before but now [it's never used](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/trunk/includes/payment-methods/class-wc-stripe-payment-request.php#L1495).

--

By the way. I'm removing the unused `$subtotal` variable in my PR https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1602

[2021-06-15 19:45] reykjalin commented on #1605
Hmm, we should add the subtotal back actually. That's still supposed to be there — I don't know when it was lost.

So I'm reopening this issue to track the following:

[2021-06-16 01:51] #1504 closed, assigned to reykjalin

[2021-06-16 12:56] QuranIslam commented on #1583
@reykjalin  I don't use Stripe to accept SEPA. I only accept card payments so I can't tell you whether it occurs with SEPA or not.
Sorry for the late reply.

[2021-06-16 19:09] reykjalin opened #1606 "Duplicate shipping options when a Payment Request is generated via get_shipping_options()"
## Describe the bug

While we were working on #1591 @ricardo noticed that if you:
- add a product to the cart that doesn't need shipping (virtual and downlaodable product); and
- add a product to the cart that's part of a shipping package (see testing instructions in #1591) in a quantity greater than 1

The [`get_shipping_options()`](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/b

[2021-06-18 22:48] ricardo commented on #1601
@billrobbins is that website logging `Stripe Payment Request live mode requires SSL.`?

[2021-06-21 04:15] asumaran commented on #1579
@MachineITSvcs Indeed, it seems the problem is in our side. The issue currently happens because the Payment Request button is not updated with the new information that comes from the backend after [adding the product to the cart](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/b31bead3a73d16d2edb9d3e9b5bcdd04274aba1c/assets/js/stripe-payment-request.js#L608).

This will be fixed in

[2021-06-22 03:06] #1537 closed, assigned to ricardo

[2021-06-23 00:27] james-allan opened #1611 "With a trial period enabled, after subscribing via Stripe payment method, the payment method is not saved in my-account"
This is a copy of an issue originally posted to WC Subscriptions 4120-gh-woocommerce/woocommerce-subscriptions by @grig-23

-----

### Describe the bug
With a trial period enabled, after subscribing via [Stripe](https://woocommerce.com/products/stripe/) payment method, the payment method is not saved in my-account.

In other words, if someone subscribes to a product that has a free trial period or

[2021-06-23 04:06] ldr2273 opened #1612 "Twenty Twenty-One: Stripe error messages have styling issues"
**Describe the bug**
When using Stripe with Twenty Twenty-One theme, error messages are displayed poorly.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and activate Stripe with Twenty Twenty-One theme.
2. Add a product to cart/checkout, and enter a test card with a past expiry date to force an error.
3. Notice the poor styling of the error message.
4. Test with Storefront next and

[2021-06-24 16:00] christianblueskylabs commented on #1611
I have a similar issue but it's not from a subscription with a trial period enabled.

I had a chat with WooCommerce Support where I was asking if payment methods (stripe tokens in this case) were being saved in the site when changing payment methods on an on-going subscription. I was told that this is a yes, but this was not happening to me with the same version as yours. I was told that the issue

[2021-06-24 16:07] RFMENNECIER commented on #1611
Hello
I was adviced to wait for a fix or to downgrade the plugin to version 5.1 to fix the problem.
I used this extension to downgrade the stripe plugin : https://fr.wordpress.org/plugins/wp-rollback/

Hope this helps ??

De : ***@***.***>
Envoyé le :jeudi 24 juin 2021 18:00
À : ***@***.***>
Cc : ***@***.******@***.***>; ***@***.***>
Objet :Re: [woocommerce/woocommerce-gateway-stripe] With a trial

[2021-06-24 17:58] RFMENNECIER commented on #1611
Hello
I was advised to wait for a fix or to downgrade the plugin to version 5.1 to fix the problem.
I used this extension to downgrade the stripe plugin: https://fr.wordpress.org/plugins/wp-rollback/

Hope this helps ??

[2021-06-24 21:02] diegocurbelo opened #1614 "Use Payments API for adding/deleting saved cards (an SEPA Debit) in my-account and when making a payment"
Replace the Sources API with the new Payments API when adding/deleting a saved credit card and SEPA debit IBANs to Stripe.

This needs to be changed in `add_source`, `attach_source` and `delete_source`.

We might need to migrate the following dispatched actions:
- `do_action( 'woocommerce_stripe_add_source', $this->get_id(), $wc_token, $response, $source_id );`
- `do_action( 'wc_stripe_delete_sour

[2021-06-26 16:43] dechov commented on #1612
Looks like Twenty Twenty:
<img width="395" alt="stripe-validation-error-twenty-twenty" src="https://user-images.githubusercontent.com/1867547/123519882-db177080-d67b-11eb-9b89-b309d07609ee.png">

…though the overall form has some room for improvement in Twenty Twenty-One as well:
<img width="419" alt="stripe-validation-error-twenty-twenty-one" src="https://user-images.githubusercontent.com/1867547

[2021-06-26 20:23] billrobbins commented on #1601
Hey @ricardo it did log that error several times even while the site was loading via HTTPS.  They were eventually able to get Apple Pay to load by deleting the site from the Stripe dashboard and then manually adding it back in there.

Every time they would trigger its creation from inside the WC settings it would fail.  Once they manually added it, the button worked without issue.

[2021-06-27 22:52] dechov opened #1615 "Payment method not authenticated using Checkout block on free trial"
Payment verification (e.g. via 3D Secure) is not performed when using the checkout block to setup future payments.

Steps to reproduce the behavior:
1. Put (only) subscription products with free trials in the cart
1. Check out with 4000002500003155 test card, which requires SCA on setup but not on recurring payments thereafter
1. Verify that **renewal fails**. Can go to WooCommerce » Subscriptions

[2021-06-28 04:41] AashikP commented on #1601
Just noting that user in 4094572-zen added the recommended code snippet in the forum thread linked above, which didn't fix the problem with Google Pay in HK returning `billing area compulsory` error even though the logs don't display the SSL error at the moment:

[code]

[2021-06-28 05:53] solstudioim opened #1617 "With Subscription product trial enabled, Google/Apple pay button isn't shown"
**Describe the bug**
Initially reported [on the forum](https://wordpress.org/support/topic/apple-pay-google-pay-options-disappear-on-product-with-free-trial-2/?view=all), when the trial option is enabled on subscription product, Google/Apple pay button isn't displayed.

However, when it's not enabled, the button is displayed. Not sure if this is expected or not.

When trial enabled:

![Screenshot

[2021-06-28 07:55] andyb2000 commented on #1612
thanks, and how do I solve this as it's only in the stripe woocommerce that I have this error? If i just need to adjust the css or similar any pointers as I cannot see how to fix?

[2021-06-30 04:14] christianblueskylabs commented on #1611
@RFMENNECIER that definitely helped for now. Thank you!

[2021-07-01 07:32] EquilibriumTechx commented on #1186
When will this be set into motion, it has been 1 year,

[2021-07-01 09:18] v18 opened #1618 "Hong Kong Tai Po address does not work in GPay"
Steps to repro:

1. Ensure you have a GPay credit card available to test
2. Go to product page and click on GPay button
3. Enter a shipping address based in Taipo, New Terrotories, Hong Kong. Here's what that looks like in the form:
<img width="600" alt="GPay address form partial" src="https://user-images.githubusercontent.com/11487924/124099497-8e2b0400-da98-11eb-8467-c72564d7d6c9.png">
4. See th

[2021-07-01 09:22] #1618 closed, assigned to nobody

[2021-07-01 18:54] apmwebdev opened #1619 "Shipping must be selected for virtual variations when using payment request buttons on product pages"
**Describe the bug**
Shipping is required for virtual products under some specific conditions, which means that sites that only sell virtual products cannot have payment request buttons enabled at all.

The conditions are:

1. It only happens with payment request buttons (possibly only Google Pay).
2. It only happens when you click the payment request button on the product page. This doesn't seem

[2021-07-02 20:28] edequalsawesome opened #1620 "Payment Request buttons allowing orders in countries that are blocked from purchases in settings"
**Describe the bug**
When a country has been blocked from store sales from `WooCommerce > Settings > General`, completing orders using payment request buttons will still work in those countries

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `WooCommerce > Settings > General`
2. Under `Selling Options`, choose `Sell to all countries except for`, and block purchases from the United Stat

[2021-07-03 00:19] v18 opened #1621 "Spike: Any issues when switching from current payment method to UPE?"
When a merchant switches from using their current payment methods in the Stripe extension (credit card, Apple Pay, sofort, SEPA, etc) to using them in UPE, are there any issues they can run into for each payment method?

The payment methods we currently support are listed here: pc4etw-9M-p2 (under "LPMs currently supported in Stripe")

What are the considerations to switching to using UPE & switch

[2021-07-03 00:39] v18 opened #1622 "Spike: When UPE enabled, possible to not show payment methods in main payment settings list?"
When a user has UPE enabled, we'd like to remove the usual payment methods from the main payment methods list under WooCommerce > Settings > Payments (`wp-admin/admin.php?page=wc-settings&tab=checkout`):

<img width="696" alt="woocommerce-payments-settings" src="https://user-images.githubusercontent.com/11487924/124338341-5039f700-dbe2-11eb-9c50-e96faaedfe55.png">

Instead, we'll want to add this

[2021-07-03 00:40] v18 opened #1623 "Plan: Steps to bring UPE to Stripe"
What are the next steps to bring UPE to Stripe?

[2021-07-05 21:35] asumaran opened #1624 "Ability to reset Payment Request button on product page"
### The Problem

While working #1563 we found issues (e.g. https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1599, p1624330024334600-slack-C07414X4N) when working on adding support for more complex product types. Currently, the Payment Request button is initialized when the product page loads. So, if the loaded product required shipping the PRB was initialized with `requestShipping:

[2021-07-05 21:35] asumaran commented on #1599
Closing this in favor of #1624

[2021-07-05 21:35] #1599 closed, assigned to nobody

[2021-07-06 01:25] v18 commented on #1621
Additional question:

If a merchant switches back from UPE to legacy payment methods, will we be able to re-enable the previous legacy payment methods for the merchant in the same way they were before?

Reference: pc4etw-ch-p2#comment-689

[2021-07-06 01:27] v18 opened #1625 "UPE Spike: New merchants vs existing merchants"
What methods are available to use to determine whether a merchant is new to the Stripe extension or has been an active merchant? We'll be able to use this information to ensure the UPE experience is smooth for both new and existing merchants.

[2021-07-06 15:14] peterwilson86 opened #1626 "Save Payment Method"
The param: "save_payment_method": "true", doesnt appear in the default Woocommerce - Stripe API.

Can I get help in adding so we can see the customer card details in our Stripe backend and use to recharge on other part of customer payment at a later date once payment terms have lapsed

A screenshot attached showing the param is missing from an earlier transaction

![778fe78c4c78dda9e9b3f996a5cf779

[2021-07-06 17:48] bmccotter commented on #1186
Hello @EquilibriumTechx, we're working to implement more payment methods that require a bit of refactoring work of the plugin. This is in progress and we hope to have support ready by the end of the year. We're partnering with Stripe on this effort and will keep you posted on the availability of FPX as soon as we know.

[2021-07-07 03:50] asumaran commented on #1563
Closed by mistake. Work is still pending to fully address this issue.

[2021-07-07 05:17] v18 opened #1627 "Use Stripe API to save statement descriptor, to catch any blocked words"
Steps to repro bug:
1. Go to Stripe settings (`wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe`)
2. Add "example" to your statement descriptor
3. See that it gets saved (this is a problem - should show an error, ideally coming from the Stripe API)
4. Purchase a product on your store
5. Go to the payment in the Stripe dashboard. See that the payment's statement descriptor contains t

[2021-07-08 01:22] v18 opened #1629 "UPE: Let merchants see how UPE will look like on checkout"

[2021-07-08 04:35] reykjalin opened #1630 "Hong Kong addresses always fail validation via Apple Pay"
**Describe the bug**

Apple Pay currently sends us an address in a format we don't expect; the Hong Kong Region (e.g. "New Territories") is put into the `postalCode` property of the `paymentRequest` object, instead of the `region` like we would expect.

This makes it so that when you try to pay via Apple Pay with a Hong Kong address the payment always fails with a very cryptic error message.

**Th

[2021-07-09 04:21] v18 opened #1631 "Doc: Update with requirements for Apple Pay etc"
Two requirements for registering a domain with Apple Pay are:
- SSL
- port 443 open

If these aren't met, this error is shown:

---

We can add this information to this doc in the Apple Pay section (or a new sub-doc):
https://docs.woocommerce.com/document/stripe/#apple-pay

Inspiration doc - an Apple Pay doc, the requirements section:
https://docs.woocommerce.com/document/payments/apple-pay/#requi

[2021-07-12 06:58] solstudioim commented on #1630
Got an error `Shipping Address Invalid` when using Apple Pay in Hongkong, 4132420-Zen

[2021-07-12 08:32] dougaitken commented on #1631
👋🏻 Hey @v18 - is this something your team will handle or do you want the docs guild to handle?

[2021-07-12 23:54] reykjalin commented on #1630
Thanks for the report! For anyone else that receives news of this bug (through tickets or otherwise), please let us know!

We're in the process of trying to fix this with Apple Pay, but it's going to take some time. This still remains as one of our top priorities, so once we've figured out a fix with the help of Apple Pay it will be implemented ASAP.

More context in pc4etw-bY-p2.

[2021-07-13 02:43] orhanfernandes commented on #1196
Similar issue on 4132892-zen

- Which payment method was being used

Stripe Multibanco (The source was cancelled after 6 hours)

- what's the timestamp for the chargeable source?

05/07/2021 13:05:45

- when the chargeable source was later cancelled, what's the timestamp?

05/07/2021 19:05:48

- were there any failed webhooks related to the charge?

No failed webhooks reported

- do you use a webh

[2021-07-14 21:38] fagworio commented on #1598
Guys I will close this issue, actually my code change works, I found out that a Memberpress Addon was forcing the status change, was nothing related with my customization thanks.

Thanks All

[2021-07-14 21:38] #1598 closed, assigned to nobody

[2021-07-15 20:17] bstonedev commented on #799
I also support adding Stripe Checkout to plugin.

I note that this plugin support forum thread ([wordpress.org/support/topic/stripe-checkout-chargeback-protection-feature/ ](wordpress.org/support/topic/stripe-checkout-chargeback-protection-feature/)) states that Chargeback Protection is possible with existing plugin. My understanding is that this is incorrect.

[2021-07-16 17:47] #1615 closed, assigned to dechov

[2021-07-19 08:33] #1246 closed

[2021-07-19 13:31] reykjalin opened #1633 "Payment failure messages are different in the Shortcode and Blocks checkout flows"
# Describe the bug

The error messages displayed when a payment fails are inconsistent across the Shortcode and Block-based checkout experiences.

# To Reproduce

1. Checkout with any of the card numbers mentioned below using both the Shortcode and Block-based checkout.
2. Note the different error messages on each page for the same card number.

# Expected behavior

- Show the same error message i

[2021-07-19 15:02] gglobalstep opened #1634 "[GlobalStep] Refund failure notes are not updated when the order refund has failed."
## Bug Description:
Refund failure notes are not updated when the order refund has failed.

## Environment:
Woocommerce Version : WooCommerce 5.5.1
WooCommerce Stripe Payment Gateway: v5.3.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 88.0)
Safari: v14.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugin

[2021-07-19 15:07] gglobalstep opened #1635 "[GlobalStep] Paying via Payment Request on a product page asks for a shipping option when no shipping options exist."
## Bug Description:
For Checkout with payment request from the Product page, the Shipping address option is displayed and the user is not able to complete the payment without entering the shipping address.

## Environment:
Woocommerce Version : WooCommerce 5.5.1
WooCommerce Stripe Payment Gateway: v5.3.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 88.0)
Safari: v

[2021-07-19 15:11] gglobalstep opened #1636 "[GlobalStep] For Blocks: Checkout failures, two different error messages are displayed for same card no."
## Bug Description:
 For Blocks: Checkout failures, two different error messages are displayed for same card no.

## Environment:
Woocommerce Version : WooCommerce 5.5.1
WooCommerce Stripe Payment Gateway: v5.3.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 88.0)
Safari: v14.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate a

[2021-07-19 20:19] asumaran commented on #1635
@gglobalstep I need more details on this.

Why Shipping Address should not be present on the payment dialog? was it a virtual product? did the cart have mixed products?

I've tested without any Shipping Options created and a Simple Product. Shipping Address was not required to complete purchase using Payment Request button.

--

Edit: I just noticed the title refers to the Product page. I thought

[2021-07-19 22:25] asumaran commented on #1635
@v18 what should we do to fix this issue? Should we not ask for Shipping Address if no Shipping Zone is defined in WC?

[2021-07-19 22:34] reykjalin opened #1639 "Cards aren't saved during checkout with the Block-based checkout"
# Describe the bug

When checking out using the Block-based checkout and you tick **Save payment information to my account for future purchases.** the card isn't saved when checkout is successful.

# To Reproduce

1. Create a page with the Checkout block
2. Add an item to the cart, and go to the checkout page you just created that contains the checkout block
3. Pay with any card and tick the **Sav

[2021-07-19 22:45] reykjalin opened #1640 "Show Payment Request Buttons in Blocks-based checkout by default"
We currently respect the `wc_stripe_show_payment_request_on_checkout` filter we use in the shortcode checkout, which causes the PRB to be hidden by default on the Block-based checkout page.

I think we should show the PRBs by default, provided they're enabled, especially in the Blocks-based checkout where we're trying to streamline the checkout experience.

## Describe the solution you'd like

Go

[2021-07-20 07:11] gglobalstep commented on #1635
Yes, actually the issue is specific to the product page only. When the shipping zone is not defined still the shipping address option is displayed for payment request on the product page and for the same scenario the shipping address option is not displayed on the cart page.

[2021-07-20 09:41] wieham opened #1651 "Specific payments not showing up in block based Checkout"
I have the problem that the checkout does not show payment options like "Paypal" or "Stripe SEPA Direct Debit".
They are activated and should be supported by Woocommerce Blocks.

![Shown Payments](https://user-images.githubusercontent.com/87698608/126300272-531d9a90-eadd-45b7-842f-6f38bf50b2dc.PNG)
![Activated Payments](https://user-images.githubusercontent.com/87698608/126300275-fc2d62af-c0f0-42c

[2021-07-20 13:26] reykjalin commented on #1635
@asumaran that's how the regular checkout flow works in both the Shortcode and Block-based checkout, so I think that's the right way to fix this. Another option would be to disable the PRBs when there is no shipping zone, but I don't think that's the right way to solve this; if someone is only selling digital products they don't need shipping zones.

cc @v18

[2021-07-20 17:28] asumaran commented on #1635
@reykjalin For virtual products I guess it's ok to show PRB without Shipping Address option if not shipping zones are defined. But what if the product is not virtual and no shipping zone is defined should we still show the PRB or maybe we should hide it?

[2021-07-20 18:01] reykjalin commented on #1635
I think it's fine to fall back to WC defaults and let people checkout anyway 🤔

[2021-07-21 17:27] #1635 closed, assigned to asumaran

[2021-07-22 08:36] grifx opened #1645 "./bin/docker-setup.sh stopped working"
**Describe the bug**
./bin/docker-setup.sh breaks when attempting to activate the woocommerce plugin programmatically.

**To Reproduce**
`$ npm run up`

**Screenshots**
(DEBUG enabled)
![image](https://user-images.githubusercontent.com/1662628/126610505-c1c8b6fc-95bb-4de1-a3fc-853210afaaeb.png)

[code]

**Environment (please complete the following information):**
 - Stripe Plugin Version: master

[2021-07-23 15:23] SIUdesigns commented on #1194
Latest version changelog states the following:

5.3.0 – 2021-07-21

Fix – Disable Payment Request Buttons when order has to be split into multiple packages because Payment Requests do not support that use case.
**Tweak – Payment request button should guide users to login when necessary.**

[2021-07-24 18:23] alexpereztop commented on #1095
¿Cuándo estará lista la conexión Stripe-Oxxo para WooCommerce? Sin duda, Oxxo es la opción más cómoda para pagar en efectivo en México.

[2021-07-26 15:57] EvanDotPro commented on #1622
Yes. :)

[2021-07-26 20:24] EvanDotPro commented on #1622
None encountered so far.

Implemented [here](https://github.com/woocommerce/woocommerce-gateway-stripe/commit/ae9e7b02a0b671d8ea5c964d355510273358b9b0).

Without UPE enabled:
![](https://caps.evan.pro/0c60df.png)

After enabling UPE:
![](https://caps.evan.pro/8129be.png)

[2021-07-28 16:37] mikejolley commented on #1651
This is dependent on whether the payment gateway has built an integration with the new checkout or not.

For Stripe (https://wordpress.org/plugins/woocommerce-gateway-stripe/) only the main Stripe Credit Card method is supported, not SEPA. If you enable that, you'll see it on the new checkout.

[2021-07-28 16:39] wieham opened #1650 "Specific payments not showing up in block based Checkout"
I have the problem that the checkout does not show payment options like "Paypal" or "Stripe SEPA Direct Debit".
They are activated and should be supported by Woocommerce Blocks.

![Shown Payments](https://user-images.githubusercontent.com/87698608/126300272-531d9a90-eadd-45b7-842f-6f38bf50b2dc.PNG)
![Activated Payments](https://user-images.githubusercontent.com/87698608/126300275-fc2d62af-c0f0-42c

[2021-07-28 16:40] mikejolley commented on #1651
I'm transferring this request to the Stripe repository so an integration for the other methods is considered.

Thanks

[2021-07-28 16:49] #1650 closed, assigned to nobody

[2021-07-29 01:38] #1622 closed, assigned to EvanDotPro

[2021-07-29 12:23] theabhig commented on #1196
Similar issue in 4179681-zen

**Which payment method was being used?**

iDEAL

**Was there a chargeable source? what's the timestamp?**

User didn't specify this

**Was the chargeable source later cancelled? What's the timestamp?**

It looks like order was placed at 18:20 on 23 July and was cancelled 2 hours later.

**Were there any failed webhooks related to the charge?**

None reported.

**Does

[2021-07-30 07:28] Buzut commented on #1011
Like @nitras I'm experiencing this issue on an up to date version:
* WP Version: 5.8
* WC Version: 5.5.2
*  WooCommerce Stripe Gateway: 5.3.0

I have the error when I allow users to create an account on the checkout page and hook into `woocommerce_checkout_process`. As it's a conversion killer when a user checks this option and he gets an error message stating his account already exists and he nee

[2021-08-02 13:42] Aljullu opened #1653 "Express payment methods not showing up in the Checkout block"
## To reproduce
1. Install and set up WooCommerce + WooCommerce Blocks + WooCommerce Stripe Gateway.
2. With a device that supports at least one express payment method (Google Pay or Apple Pay), go to the Cart block.
3. Verify that express payment methods show up.
4. Go to the Checkout block.
5. Notice that express payment methods don't show up.

## Expected behavior
Express payment methods should

[2021-08-02 14:15] Aljullu commented on #1653
I initially opened this issue in WC Blocks repo because I thought it was a regression there, but after testing I noticed it's a regression in Stripe gateway introduced between 5.2.3 and 5.3.0.

cc @reykjalin for awareness.

[2021-08-03 08:17] Aljullu commented on #2102
Reopening because I can still reproduce.

[2021-08-03 08:48] tpaksu commented on #1458
I guess it is fixed because I see this error when I follow the repro sequence:

<img src="https://user-images.githubusercontent.com/3295/127986564-d1fb436a-9d39-4e01-9ff0-912479ba7b4f.png" width="400">

And the Stripe logs of the intent request show this:

<img src="https://user-images.githubusercontent.com/3295/127986901-da459fbd-fc0c-4027-9cc9-95ddb4ba2c77.png" width="400">

Can someone else als

[2021-08-03 09:55] tpaksu commented on #1346
I've prepared it on my localhost, with live API keys and web-hook secrets, and this is what's shown on my non-secure localhost:

<img src="https://user-images.githubusercontent.com/3295/127996229-9abfd4bd-eb80-4f48-b888-ed95db6d3ef9.png" width=400>

Stripe shows the form without inputs. When I submit the form as is, It says: "Payment processing failed. Please retry." on the error, and the Stripe l

[2021-08-04 01:48] reykjalin commented on #1653
Hi @Aljullu, thanks for the report!

This is because we currently respect a filter we also use for the Shortcode flow to control where the Express Payment Methods appear; `wc_stripe_show_payment_request_on_checkout`.

I've already opened a different issue to handle this (https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1640) so I'm going to close this issue 🙂

We've talked about th

[2021-08-04 01:48] #1653 closed, assigned to nobody

[2021-08-05 20:20] frosso opened #1660 "SPIKE - Stripe+UPE - UI work"
## Description

We will be fully porting UPE and the new settings design to the Stripe plugin: pc4etw-hj-p2

We will be porting some of the componentry from WCPay to Stripe.
Some of the components are "connected" to `@wordpress/data`, but we will be porting that as well.

The plan is to pretty much copy/paste/adjust the components into the Stripe plugin.

Please report your findings based on the d

[2021-08-05 20:20] frosso opened #1661 "SPIKE - Stripe+UPE - Webpack/Assets compilation"
## Description

We will be fully porting UPE and the new settings design to the Stripe plugin: pc4etw-hj-p2
It sounds like some work has already started to include Webpack in the plugin.

## Questions
- What is remaining to do?
- What approach are we going to follow for the tests?
- What linting rules do we need?

[2021-08-05 20:21] frosso opened #1662 "SPIKE - Stripe+UPE - Settings backend + data layer"
## Description

We will be fully porting UPE and the new settings design to the Stripe plugin: pc4etw-hj-p2
The data layer used by WCPay uses `@wordpress/data` and a PHP controller to save/retrieve the data.

## Questions
- Can/should we use the same approach here?
  - What libraries are we missing?
- What settings do we need to store?

[2021-08-09 04:08] yangyucacaa opened #1663 "WeChat payment support"
Good morning,
I'd like to know if you are going to integrate WeChat payments via Stripe in your plugin anytime soon.

Thank you in advance

Stripe already supports WeChat payment

[2021-08-09 23:50] harriswong commented on #1660
### UI components in the Stripe's settings page

Based on the latest design (Igkr3nOx0UoGDlHrsJ4eux-fi-0%3A1), here are a list of the components we will need:

#### Orders page
-  Inbox notice. We can probably reuse https://github.com/Automattic/woocommerce-payments/blob/develop/includes/notes/class-wc-payments-notes-additional-payment-methods.php.

#### Payment Methods `wp-admin/admin.php?page=wc

[2021-08-10 00:05] cguweb-com opened #1664 "Stripe API Test Keys - no more pk_test prefix"
**Describe the bug**
Settings gives the following errors when setting up test mode for stripe:

The "Test Publishable Key" should start with "pk_test", enter the correct key.
The "Test Secret Key" should start with "sk_test" or "rk_test", enter the correct key.

And this doesn't seem to be the case any longer, as my new stripe test keys just have pk_ prefixes

If I am correct, then your Stripe tes

[2021-08-10 01:01] #894 closed

[2021-08-10 14:54] bborman22 opened #1665 "UPE - Subscription support"
The goal of this issue is to have the UPE checkout flow compatible with subscriptions. This issue is complete when UPE can be used to checkout with a subscription product and have the payment method saved and charged appropriately. Some additional things to confirm:

* Make sure only relevant payment methods are displayed
* Customer is able to update their payment method on subscriptions
* Custome

[2021-08-10 16:40] bborman22 opened #1666 "SPIKE - Sources API and Intentions API"
With the work to add UPE to the plugin, we will need to explore the current implementations of the [Sources API](https://stripe.com/docs/sources) and [Payment Intents API](https://stripe.com/docs/payments/payment-intents). UPE currently is dependent on using the Payment Intents API.

The goal of this spike will be to provide details and a recommendation for how the two APIs can co-exist or if it w

[2021-08-10 16:45] bborman22 opened #1667 "SPIKE - UPE in Blocks Checkout"
Currently the plugin [uses its own APIs to perform a block checkout](https://github.com/woocommerce/woocommerce-gateway-stripe/tree/develop/client/blocks). The goal of this spike is to provide details and a recommendation for building out the UPE block checkout using the plugin's APIs or using the [WC Blocks APIs](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/

[2021-08-10 16:50] bborman22 opened #1668 "UPE - Manage saved payment methods"
The goal of this issue is to provide customer's the ability to manage any relevant payment methods through the UPE. From a high level this involves: mounting UPE with a setup intent on the manage payment methods screen, creating and confirming the setup intent, and creating and saving the token for the newly created payment method. A lot of this flow can be inspired by the [WC Pay implementation](

[2021-08-10 16:57] bborman22 opened #1669 "UPE - Pay for Order page"
The goal of this issue is to make sure UPE is available to pay for orders created by the admin. This implementation can get a little bit tricky as the submit pay for order flow may not allow for the proper redirecting needed from UPE. The [WCPay implementation](https://github.com/Automattic/woocommerce-payments/pull/2274) avoids this by just confirming the intent client-side like usual for UPE and

[2021-08-10 17:05] bborman22 opened #1670 "UPE - Free trial subscriptions"
The goal of this issue is to be able to checkout a subscription with a free trial using UPE. The [WCPay implementation](https://github.com/Automattic/woocommerce-payments/pull/2424) can be used as a reference for this. In short, a setup intent needs to be used while also saving the payment method for the recurring payments.

[2021-08-10 18:47] jrick1229 commented on #1559
Seen in: 4212251-zen

As a workaround, suggested they could disable payment request buttons on product and cart pages, then enable on the checkout page: https://docs.woocommerce.com/document/stripe/#code-snippets (snippet no longer needed on newer versions of Stripe)
Not perfect, but should work until this is resolved, since the cart would have already been validated by the time they reach checkou

[2021-08-10 23:07] ricardo opened #1671 "Replace charges API with payment intents"
Ticket: 4191425-zd-woothemes

Apparently, the old `v1/charges` API is still being used in Stripe, whereas the payment intents API should be used instead.

I was not able to reproduce the issue from the ticket. When paying with credit cards, both regular and SCA cards, it always uses the payment intents API on my local setup, but it looks like the charges API might still be used as a fallback someh

[2021-08-11 01:12] reykjalin commented on #1667
As per our documentation [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/develop/client/blocks/README.md) we should only use the AJAX APIs if there's a limitation in the Blocks API that makes it infeasible to do so.

[2021-08-11 01:19] darcie commented on #799
Requested in 4211218-zen.

[2021-08-11 06:15] v18 commented on #1671
For reference, the docs for accepting SEPA using payment intents is here:
https://stripe.com/docs/payments/sepa-debit/accept-a-payment?platform=web

Note for this issue that SEPA calls made with charges are not non-SCA compliant. All non-compliant SCA calls are for credit card payments only.

[2021-08-11 18:37] emoed commented on #390
I was having this same issue - can't believe Stripe has not fixed this in nearly 3 years. I figured out a workaround via CSS - am posting here in case it helps others. I made a video of the problem and result of the CSS solution - [https://www.youtube.com/watch?v=_raqY2whGHA](url)

Below is the CSS which I believe is specific to Woocommerce vs the theme or Stripe:

`/* fix stripe cc/expiry/cvc fie

[2021-08-11 23:25] harriswong commented on #1660
### Replacing settings page  `wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe`
_Click WooCommerce > Settings > Payments > Stripe_

- We will replace this page with a full React driven page.
- I can see this using the same approach we did previously in WooCommerce Payments https://github.com/Automattic/woocommerce-payments/pull/1551
  - To quickly test this, I was able to get a `<di

[2021-08-12 03:36] nicdwilson commented on #1671
Stripe's reply on this: 4202538-zen

[2021-08-12 14:48] frosso opened #1676 "SPIKE - Docs updates"
## Description

With the launch of UPE, we want to update the public-facing docs.

We need to account for the following changes:
- New UI screenshots
- Update the steps to add payment methods, according to new UI
- Coordinate with UX to determine if new pages are needed
  - If so, what should the merchant be informed of?
- What can we reuse from the WCPay docs? (ensure that there's consistency in

[2021-08-12 20:59] frosso opened #1677 "Opt-out survey definition"
## Description

When a merchant opts-out of UPE, we will display a toast notification. The toast notification links to an optional survey for the merchant to take.
The purpose of this ticket is _not_ to implement that toast notification but to create the final survey for the merchant to take.

UX had some preference on Crowdsignal, but please confirm.

## Acceptance criteria
- Survey platform has

[2021-08-13 00:11] harriswong commented on #1660
### Dependency
- `TaskList` component for wizard
- `NoteTraits` from woocommerce-admin (inbox notification)

[2021-08-13 10:48] tommyshellberg commented on #1661
### Webpack config
It looks like a lot of work has been done already, many thanks to @diegocurbelo for adding webpack to Stripe!

The `feature/upe` branch at this time already has a `webpack.config.js` file using the `defaultConfig` created by `wordpress/scripts`. This provides us with hot reloading, css minification, bundle analyzer, and more. It is my understanding that this feature branch will

[2021-08-13 13:00] #1639 closed, assigned to cesarcosta99

[2021-08-13 16:22] gglobalstep opened #1678 "[GlobalStep] "The Payment Request button is not supported in United States...." error message is displayed for blocks checkout while purchasing subscription product using PRB."
## Bug Description:
When purchasing the subscription product from blocks checkout page using PRB, error message is displayed saying "The Payment Request button is not supported in United States (US) because some required fields couldn't be verified."

## Environment:
Woocommerce Version : WooCommerce 5.5.2
WooCommerce Stripe Payment Gateway: v5.4.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version

[2021-08-13 16:23] gglobalstep opened #1679 "[GlobalStep] For Manual capture, Product stock is reduced before the authorization."
## Bug Description:
For Manual capture, Product stock is reduced before the authorization.

## Environment:
Woocommerce Version: WooCommerce 5.5.2
WooCommerce Stripe Payment Gateway: v5.4.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required pl

[2021-08-13 19:06] frosso opened #1680 "[settings] create React settings page wrapper"
## Description

The new settings will live behind a feature flag.
When the feature flag is enabled, we need to replace the options for the "Stripe" payment gateway with a React page.
The purpose of this ticket is to output an HTML placeholder rendered by React

## Acceptance criteria
- When the feature flag is disabled, the old settings are displayed
- When the feature flag is enabled, the old set

[2021-08-13 19:31] frosso opened #1681 "[all payment methods] "disable Stripe" confirmation modal"
## Description

When the merchant attempts to disable Stripe, a confirmation modal needs to be displayed.

## Acceptance criteria
- Modal is not displayed when UPE is not enabled
- Modal is not displayed when no UPE payment methods have been added
- Modal is displayed when the merchant attempts to disable the Stripe gateway
- Confirming on the modal disables the Stripe gateway
- Cancelling the act

[2021-08-13 19:56] kuldeep3 opened #1682 "Gateway not updating billing address for a saved card when placed an order"
**Describe the bug**
When a user places an order and adds a card as a payment method and saves that card for a future transaction, stripe uses the billing address added by the user while checking out. If the user again places another order using the same card but with a different billing address, then the stripe doesn't update the user billing address from the checkout fields. Instead, it fetches

[2021-08-13 21:21] frosso opened #1683 "[settings] onboarding wizard UI"
## Description
The purpose of this ticket is to port the onboarding wizard mechanism and its UI from WCPay.

Mainly it will be a copy/paste of the wizard componentry + the UI implementation of the wizard with its steps.

There's no need to implement the data layer, clicking on the buttons will just navigate between the steps.

This will allow the backend and the data layer to be implemented separa

[2021-08-13 21:28] frosso opened #1684 "[settings] UPE feature enable/disable controller"
## Description

The purpose of this controller will be similar to the `WC_REST_UPE_Flag_Toggle_Controller` in WCPay.

It will be used to enable/disable the UPE flag, so that it can be used by the different UI elements.

## Acceptance criteria
- REST endpoint is created
- REST endpoint allows to enable/disable the UPE flag

[2021-08-14 09:37] nagpai commented on #1682
Can you confirm if you did these tests with only WooCommerce core plugin and WooCommerce Stripe Payment Gateway plugin active on either StoreFront or TwentyTwenty one theme?

A bug should be logged here in GH only if you are able to reproduce this under the test conditions mentioned above.  If you are unable to replicate it in the test set-up. It would point to a conflict caused by a third party t

[2021-08-14 09:53] nagpai commented on #1682
I am unable to replicate the error on a test site with Storefront theme, WooCommerce 5.5.2 and Stripe 5.3.0.

[2021-08-14 11:58] kuldeep3 commented on #1682
@nagpai I am able to reproduce this with only the WooCommerce core plugin and WooCommerce Stripe Payment Gateway plugin active on the Twenty Twenty-One v1.2 theme.

https://user-images.githubusercontent.com/37093310/129445589-218887a1-f6fa-42fa-aa58-e20d955510f4.mp4

[2021-08-14 13:17] kuldeep3 commented on #1682
@nagpai

For order **142**, the billing address is:
Cleever Street 213
98D
Alaska, AK 95001

For order **143**, the billing address is:
Cleever Street 555
98C
Benton, KY 42025

But you can see in the Stripe logs that the address is the same in both cases (the first order's address)

[2021-08-14 19:21] lobatoreyes commented on #1095
Any news of this implementation?

[2021-08-14 23:59] WillBrubaker commented on #1682
I'm able to reproduce it.

[2021-08-16 13:45] tommyshellberg commented on #1677
Survey can be viewed here:

https://woocommerce.survey.fm/woocommerce-stripe-upe-opt-out-survey

[2021-08-16 17:03] harriswong commented on #1660
Tickets are being created along with other tickets, I'm moving this to the review column.

[2021-08-16 18:57] EvanDotPro opened #1686 "Port token service for UPE"
Port the `WC_Payments_Token_Service` implementation from WCPay to be used by the UPE method classes.

In WCPay, the [UPE payment method classes](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/payment-methods/class-giropay-payment-method.php#L22) take the [token service](https://github.com/Automattic/woocommerce-payments/blob/develop/includes/class-wc-payments-token-servic

[2021-08-16 19:00] EvanDotPro opened #1687 "Admin notices for supported currencies when using UPE"
When a merchant enables a UPE method that does not support the currency being used by the store, notices should be displayed the same way they are for LPMs currently.

[2021-08-16 19:02] EvanDotPro opened #1688 "Investigate handling Stripe account capabilities for UPE"
Some of the UPE methods require that the merchant has specific "capabilities" enabled on their Stripe account. We should check if the required capabilities are missing, and if so, either try to enable them via the Stripe API and/or display some sort of notice / call to action to the merchant.

[2021-08-16 19:09] EvanDotPro opened #1689 "UPE - Look into why additional check is required to prevent UPE from mounting twice."
See discussion [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1646#discussion_r688855800).

[2021-08-16 19:32] frosso opened #1690 "[all payment methods] informative overlay"
## Description

![screen-shot-2021-08-13-at-2 34 56-pm](https://user-images.githubusercontent.com/273592/129619418-f6d97f67-614a-4dbc-a23c-4e2ae033aee5.png)

An overlay is displayed in the "all payment methods" section.
The overlay provides some information about the Stripe gateway.

[2021-08-16 23:11] frosso opened #1692 "[settings] inbox notice"
## Description
![Screen Shot 2021-08-16 at 6 11 18 PM](https://user-images.githubusercontent.com/273592/129640225-eee18454-794c-405e-9cb4-c251ff44c21c.png)

Add an inbox notice to inform the merchant about UPE.

## Acceptance criteria
- Inbox notice is not visible when UPE preview flag is disabled
- Inbox notice is not visible when UPE is enabled
- Inbox notice is not visible when Stripe is not co

[2021-08-16 23:15] frosso opened #1693 "[settings - UPE payment method] UPE opt-in banner"
## Description

Display a banner on the UPE payment methods (excluding Stripe).

The banner will be displayed alongside the "old" UI of the UPE payment methods (giropay/SEPA/etc.).
Later, we will be updating the UI of the UPE payment methods settings.

![payment-details-1](https://user-images.githubusercontent.com/273592/130080975-cf032e16-cdb3-4a9d-a332-4c7c3a6456f0.png)

Updated design: Igkr3nOx

[2021-08-16 23:48] reykjalin commented on #1095
No news yet @lobatoreyes.

We have higher priority issues we're working on at the moment, but we're working on fitting support for OXXO into our plans for the Stripe plugin.

[2021-08-16 23:54] reykjalin commented on #1144
After a discussion in p1628797024071100-slack-CHG7MTCAF I'm marking this as blocked until we've figured out a good way to add support for this in a way that doesn't excessively degrade the merchant's UX.

[2021-08-17 06:20] kuldeep3 commented on #1682
@WillBrubaker Thanks.

Do you think if there is a workaround regarding this issue as customers are facing problems because they can't place an order with the updated address?

Maybe if we could add more labels like priority high/critical for this issue, it will get some more attention, and it can be fixed soon.

[2021-08-17 06:33] #1219 closed

[2021-08-17 06:36] grifx commented on #1645
Still an issue on master

[2021-08-17 11:02] tommyshellberg opened #1694 "Add JS + React Testing capabilities for UPE settings"
### Description
In order to copy over our React component code from WCPay, we will need to make sure that we have the necessary test runners and devDependencies. You can refer to #1661 for more info, but at the very least we need the following:

[code]

### Acceptance Critera
- You can run JS tests using an npm command, preferably `test:js` and `test:watch`
- Create a simple render smokescreen tes

[2021-08-17 13:51] waclawjacek commented on #1662
## Can/should we use the same approach here?

### Can we?

For WCPay, we have replaced the PHP-generated settings page with a React-powered one. Since this approach consists of enqueuing the right scripts on the right page, which then houses the JS talking to REST API endpoints, I do not see any compatibility problems with replicating this approach in this extension.

We will, however, need to mak

[2021-08-17 16:22] frosso opened #1695 "SPIKE - OAuth flow"
## Description

We need to port the oauth flow to the new settings.
In order to provide the best experience for our users we need to understand a few more things.
Please also inform UX of the findings.

## Questions
- Does the existing process gathers both test and live keys from the OAuth flow?
  - If not, can we improve it and obtain both?
- Can the keys change?
  - If so, in which scenarios?

[2021-08-17 18:49] c-shultz commented on #1695
While we're looking at this, I would also like to better understand the dependency on the Connect Server (assuming that dependency still exists)

[2021-08-17 20:54] FangedParakeet commented on #1666
# May the Source be with you: what does it all mean?

The Sources/Charges API is the payments flow that Stripe eventually replaced with the Payment Method/Intent flow. A Source is a secure object used to represent a customer's payment information. It is created from a mounted payment element (not UPE) and maintained--for security and privacy reasons--on the client; a Charge can be created using th

[2021-08-18 00:30] #1640 closed, assigned to reykjalin

[2021-08-18 01:34] grifx commented on #1645
I added this to my docker config and it worked

[code]

[2021-08-18 01:35] #1645 closed, assigned to nobody

[2021-08-18 05:46] ricardo commented on #1678
I couldn't reproduce this issue with the steps above, but I can make it happen in a hacky way.

The error that the Payment Request Button is not supported in a given country happens when we fail to read some required fields like state, city or zip code from the payment request. Both for billing and shipping fields. The error message was introduced in #1508 where we mapped supported countries and p

[2021-08-18 06:09] ricardo commented on #1679
I can reproduce this, but I would say this is expected, based on a couple threads (p1546445194029900-slack-C0E1AV8T0, 26652-gh-woocommerce/woocommerce) and based on some further testing:

If you cancel an "On hold" order, the stock will be restablished.

<img width="247" alt="Screen Shot 2021-08-18 at 03 05 57" src="https://user-images.githubusercontent.com/5509901/129846316-07d1a858-59ee-43a3-aee

[2021-08-18 06:09] #1679 closed, assigned to nobody

[2021-08-18 08:15] waclawjacek commented on #1695
Here's the class making the Connect Server requests: https://github.com/woocommerce/woocommerce-gateway-stripe/blob/38744bb1c4add59869f5067734c0960f726b1228/includes/connect/class-wc-stripe-connect-api.php

[2021-08-18 14:47] superdav42 commented on #1695
pc4etw-hW-p2

[2021-08-18 20:05] dwelch2344 opened #1699 "Additional hooks needed on WC_Stripe_API"
**Is your feature request related to a problem? Please describe.**
Yes. We run a platform that runs sales on behalf of Stripe Connect Accounts and need to customize the HTTP request to Stripe. Unfortunately, it's incredibly difficult to augment the headers + body with the few hooks currently present as they don't provide much context.

**Describe the solution you'd like**
We'd like an additional h

[2021-08-18 22:37] harriswong commented on #1683
Note: The fees in second step would be using the fees from https://www.stripe.com/pricing. Refer to p1628888133149200/1628885390.148700-slack-C9976E5MJ for more info.

[2021-08-19 02:51] asumaran commented on #1564
@v18 this issue doesn't apply anymore. Clicking the PRB asks the user to log in to proceed purchasing the subscription using PRB

<img width="522" alt="Screen Shot 2021-08-18 at 9 45 10 PM" src="https://user-images.githubusercontent.com/1025173/129999653-4dec5cd0-5cd0-493d-8c04-97811cbe1753.png">

[2021-08-19 11:25] melindahelt opened #1703 "Update compatibility to WordPress 5.8"
Stripe is showing unknown compatibility with WordPress 5.8

![](https://d.pr/i/h6R6mp+)Image Link: https://d.pr/i/h6R6mp

![](https://d.pr/i/UFkxAY+)Image Link: https://d.pr/i/UFkxAY

Ref: https://wordpress.org/support/topic/is-wordpress-5-8-supported/

[2021-08-19 14:00] frosso opened #1704 "[settings] Update settings UI of Stripe's gateways"
## Description

Update the UI of Stripe's gateway so that it is consistent with the main Stripe gateway.

It looks like all gateways (excluding the main Stripe one) only need the enabled/disabled status and (possibly) some "description). We can probably just use one controller for all the gateways to save/persist the settings.

Before:
![payment-details-1](https://user-images.githubusercontent.com

[2021-08-19 14:27] frosso opened #1705 "[settings - Stripe] "Payment request" buttons section"
## Description
Implement the UI for the "Express checkouts" section in the Stripe settings.

The data layer and persistence will be implemented separately. The checkboxes don't need to reflect the settings persisted in the backend.

![Screen Shot 2021-08-19 at 9 28 15 AM](https://user-images.githubusercontent.com/273592/130086627-2bfd9630-d299-4b1a-a4cd-f8450aa97f84.png)

## Acceptance criteria
-

[2021-08-19 15:47] frosso opened #1706 "[settings - Stripe] React page layout port"
## Description

Once we have a React wrapper ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1680 ) and some testing capabilities ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1694 ), we can start adding some layout to the Stripe settings page.

The layout consists of:
- Wrapper around the components
- 2 tabs
- Settings sections
- Save button

![Screen Shot

[2021-08-19 15:48] frosso opened #1707 "[settings - Stripe] Tabs behavior"
## Description
The layout of the Stripe's settings page is managed between 2 tabs:
- "Payment methods" tab
- "Settings" tab

Clicking on each tab needs to render different content.
Each tab should be accessible by a URL.

![Screen Shot 2021-08-19 at 10 55 15 AM](https://user-images.githubusercontent.com/273592/130101751-6f594020-fae6-466e-86c0-bef5a01ba21c.png)

## Acceptance criteria
- The Stripe

[2021-08-19 15:56] #1680 closed, assigned to tommyshellberg

[2021-08-19 15:59] bborman22 opened #1708 "UPE - Implement process checkout flow"
The goal of this issue is to implement the [process checkout](https://github.com/Automattic/woocommerce-payments/blob/d8ba70898ddbd7169cb48fc426fb80d82a61b1d3/client/checkout/api/index.js#L430) flow using UPE. The implementation can draw inspiration from the WCPay implementation. The overall goal is to [process a checkout, update the UPE intent, and return the correct redirect URL.](https://github

[2021-08-19 16:02] bborman22 opened #1709 "UPE - Implement save UPE appearance"
The goal of this issue is to implement a [solution to store the UPE appearance values in a transient](https://github.com/Automattic/woocommerce-payments/blob/d8ba70898ddbd7169cb48fc426fb80d82a61b1d3/includes/payment-methods/class-upe-payment-gateway.php#L758) so they don't have to be calculated every time and can be used on pages where it is unable to be calculated (order pay page for example). On

[2021-08-19 18:14] frosso opened #1712 "Determine minimum required version for UPE and UPE settings"
## Description

The current minimum required version for WP is 4.6: https://github.com/woocommerce/woocommerce-gateway-stripe/blob/20fc7b735d300955ac67c0f9bc21e3d0d61cd582/readme.txt#L4

With the addition of the React library dependencies, this might not be accurate anymore.

More details here on the plan: p1629405693041000/1629383980.012900-slack-C02BHNRN6R1

## Acceptance criteria
- Determine th

[2021-08-19 18:53] bborman22 commented on #1688
We had a brief conversation this morning that wandered in to this topic after the experience in WCPay and one thing we found is that certain capabilities require additional information from the merchant, but luckily [there is an endpoint for checking that](https://stripe.com/docs/connect/account-capabilities#viewing)! Just wanted to pass that along as I wasn't aware of that before.

[2021-08-19 20:49] frosso commented on #1712
This needs to be done before September 8th, so that the admin note & version check are part of the release.

[2021-08-19 22:11] frosso opened #1714 "[settings - Stripe] Payment Request customization page UI"
## Description

Create a separate page to manage the states of the "Payment request" buttons.

The persistence of the data is managed separately.

![Screen Shot 2021-08-20 at 3 38 50 PM](https://user-images.githubusercontent.com/273592/130290990-8aa85705-2e98-49de-acba-ad0acc49c29b.png)

## Acceptance criteria
- The page is linked from the "Customize appearance" button on the "Express checkout" se

[2021-08-19 22:15] frosso opened #1715 "[settings - UPE - Stripe] UPE opt-in banner"
## Description

Add a banner to the **main stripe settings** to enable UPE.

Please reuse the banner from https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1693
Use https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1724 to determine whether the UPE flag is enabled or not

![Screen Shot 2021-08-20 at 3 40 02 PM](https://user-images.githubusercontent.com/273592/130291087-

[2021-08-19 22:31] frosso opened #1716 "[settings - Stripe] Enabled payment methods section"
## Description
Display a section to enable/disable the individual UPE payment methods.

Designs: Igkr3nOx0UoGDlHrsJ4eux-fi-1%3A69258

UPE disabled (the banner is tackled by https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1715 ):
![Screen Shot 2021-08-19 at 5 21 50 PM](https://user-images.githubusercontent.com/273592/130152949-81d6fa7c-7825-4018-88f6-f24eadee5613.png)

UPE enabled

[2021-08-19 22:40] frosso opened #1717 "[settings - UPE] Stripe settings persistence"
## Description

We need to save/retrieve the Stripe settings.
Applies to:
- Onboarding wizard
- Main "Stripe gateway" settings (both "Payment methods" and "Settings" tabs)
- "Express checkouts" page

Feel free to split this into multiple PRs, if it makes sense. For example:
- Backend controller + one section of the settings starts saving data
- All stripe settings can save/retrieve data
- Express

[2021-08-19 22:51] frosso opened #1718 "[settings] Onboarding wizard functionality"
## Description

Implement the functionality for the onboarding wizard

## Acceptance criteria
- UI matches designs
- First step shows informative text (done in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1683)
- First step allows enabling UPE (use https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1724 to toggle the flag)
- Second step allows enabling additional av

[2021-08-19 22:52] frosso opened #1719 "[settings] customization options notice"
## Description

![Screen Shot 2021-08-19 at 5 52 11 PM](https://user-images.githubusercontent.com/273592/130154333-b81b92a7-f705-4f4a-8393-d246c5f7f316.png)

## Acceptance criteria
- Notice is displayed when UPE is enabled (use https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1724 to determine state of UPE flag)
- Notice can be dismissed
- If dismissed, on page refresh the notice is

[2021-08-19 23:14] #1684 closed, assigned to harriswong

[2021-08-20 12:21] #1694 closed, assigned to frosso

[2021-08-20 19:51] frosso opened #1723 "[settings - Stripe - settings] Payments & transactions section"
## Description
UI functionality for the "Payments & transaction" section, inclusive of the "advanced settings" section.

![Screen Shot 2021-08-20 at 2 50 57 PM](https://user-images.githubusercontent.com/273592/130286579-c7f5d0e8-4bba-4825-8ae8-e6bc6600e75b.png)

**UPDATE Sept 6:** new designs have been proposed with shortened bank statement: pc4etw-jV-p2

## Acceptance criteria
- Section is render

[2021-08-20 20:45] frosso opened #1726 "[settings - all payment methods] Show count of enabled payment methods"
## Description

Update the description of the Stripe payment method on the "All payment methods" table to show the number of UPE payment methods enabled

![Screen Shot 2021-08-20 at 3 44 18 PM](https://user-images.githubusercontent.com/273592/130291637-4e7e3e12-7400-4366-b45b-a72620716ba0.png)

Consult with UX whether the payment method icons also need to be displayed.

## Acceptance criteria
- Ha

[2021-08-20 20:51] frosso opened #1727 "[settings] ensure dev mode, test mode and debug mode play well together"
## Description

In WCPay, when dev mode is enabled, we update the descriptions of a few settings
When dev mode is enabled:
- "Debug mode" is enabled
- "Debug mode" has a different description
- "Debug mode" cannot be toggled
- "Test mode" is enabled
- "Test mode" has a different description
- "Test mode" cannot be toggled

## Acceptance criteria
- Determine if these updates are necessary (I'm not

[2021-08-20 22:02] FangedParakeet commented on #1689
I just want to add an explanation here, since I was the author of that initial cautionary comment. The crux of the issue is that if we try to mount a payment element to a DOM element that already has a payment element mounted on it, Stripe throws an error with a message that will be displayed to the end user, but which will make no sense to them--so the lesson here is do not mount the UPE twice.

[2021-08-21 03:26] yangyucacaa commented on #1034
@allendav WeChat Pay is now the most popular payment method in China, which has a huge internet user base, and if you can integrate WeChat Pay, it will bring even more interesting things.

[2021-08-23 05:54] bchambers8 opened #1728 "Add Support for WeChat Pay #1034 Open"
Woocommerce -Strip plugin

this has been an open issue for over 2 years - any chance we can have a resolution

[2021-08-23 21:02] diegocurbelo opened #1729 "[UPE - checkout] Metadata not recorded on the Stripe transaction"
Some fields are missing in the Stripe transaction dashboard:
- Customer field
- Description field
- Metadata

They should be added to the transaction login in #1659

[2021-08-23 21:08] diegocurbelo opened #1730 "UPE - Save payment method during classic checkout"
The goal of this issue is to implement the feature `save payment method` during checkout... Code to add a payment method to a customer (and create the customer) will be added in #1668 and should be reused to complete the missing login in #1659

[2021-08-23 21:27] diegocurbelo opened #1731 "UPE - Changing the shipping method unmounts/removes the UPE classic checkout form"
**Describe the bug**
When there are multiple payment gateways enabled, the UPE form gets unmounted/removed when changing the shipping options in the classic checkout

**To Reproduce**
Steps to reproduce the behavior:
0. Make sure that at least 1 legacy payment method is active (ex: Sofort) in addition to UPE Credit card
1. Add a product to the cart
2. Go to the checkout
3. Change the shipping opti

[2021-08-23 21:42] frosso commented on #1693
Feel free to use https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1710 as a base branch. The branch includes some babel configuration and WP components for the UI (that you can use for the links/button).

[2021-08-24 10:58] v18 commented on #1712
Noting here that we'll also want to communicate this in the following ways:

- admin note (in addition to inbox note, as noted above)
- woocommerce blog post

Depending on the version we require for dependencies, would be great to find out the number of merchants affected to make a decision around rollout.

[2021-08-24 15:06] EvanDotPro commented on #1688
## Technical background

First, [the `GET /account` endpoint, which returns a `capabilities` property](https://stripe.com/docs/api/accounts/object#account_object-capabilities) that is an array of the account capabilities currently enabled for that account:

[code]

Then, there is the endpoint @bborman22 mentioned, [`POST /accounts/$account_id/capabilities/$capability_id`](https://stripe.com/docs/a

[2021-08-24 16:33] EvanDotPro commented on #1621
Handled in #1654.

Switching UPE on or off transparently preserves whatever payment methods are currently active.

There _may_ be one tiny edge case, mentioned at the bottom of my comment [here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1688#issuecomment-904725575).

[2021-08-24 16:35] #1623 closed, assigned to EvanDotPro

[2021-08-24 16:41] EvanDotPro commented on #1689
@diegocurbelo @reykjalin ^

[2021-08-24 16:41] #1706 closed, assigned to frosso

[2021-08-24 16:58] #1705 closed, assigned to frosso

[2021-08-24 17:42] harriswong opened #1736 "[settings] onboarding wizard skeleton page"
## Description
Create a placeholder onboarding wizard page used by https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1683. This is behind the `_wcstripe_feature_upe_settings` flag.

[2021-08-24 18:08] FangedParakeet opened #1738 "UPE - Error handling for WC_Stripe_API error response"
**Describe the bug**
The first step in a UPE checkout is to make an AJAX request to create a payment/setup intent with which to load the UPE. This involves making a request to Stripe's API to create the payment intent. Currently there is no error handling on this request, which causes the response to contain PHP errors if Stripe's API returns an error response.

[code]

We should instead catch thi

[2021-08-24 18:22] FangedParakeet opened #1739 "UPE - Filter payment methods at checkout by supported currency"
**Describe the bug**
A clear and concise description of what the bug is.

Some UPE payment methods only support usage with particular currencies (e.g. giropay, Sofort, and SEPA all require EUR). If store owners set their store's currency to a currency that cannot support an enabled payment method, the store owner is shown a warning notice to change their currency in their store's admin section. If

[2021-08-24 18:35] FangedParakeet opened #1740 "UPE - Errors at checkout are not reflected on order status"
**Describe the bug**
A clear and concise description of what the bug is.

This is a mirror of the same WCPay issue at Automattic/woocommerce-payments#2702.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the UPE following the steps in #1659.
2. Add an item to your cart and proceed to checkout and wait for the UPE to load.
3. Select credit/debit card within the UPE and use the details

[2021-08-24 19:08] #1708 closed, assigned to bborman22

[2021-08-24 20:20] LevinMedia commented on #1688
@EvanDotPro thanks for the great outline of the UX considerations here.

One question I wanted to run by you before we start looking at design solutions... Are we only able to check on requirements after a capability has been enabled? Or can we get that info before a merchant attempts to enable a UPE method in their settings?

I'm thinking if we could fetch any missing requirements before a mercha

[2021-08-24 21:27] EvanDotPro commented on #1688
@LevinMedia:

We can check at any time as long as their Stripe keys are set, so what you described _should_ be possible. However, I'm not sure if Stripe will return the requirements list for a capability that hasn't been requested. In their [docs](https://stripe.com/docs/api/capabilities/list) for the `capabilities/list` method, they only show an example where the capability _has_ been requested.

[2021-08-24 21:44] LevinMedia commented on #1688
Okay thanks for looking into it further - my concern with firing a request first then un-requesting would be triggering an email to the merchant noting that they need to provide additional information to meet the requirements.

[2021-08-24 21:49] EvanDotPro commented on #1688
Right, sorry. I just meant that all of the capabilities are already enabled on my particular dev account, so before I can test how the Stripe API behaves in terms of returning requirements for non-requested capabilities (the docs are ambiguous), I'll need to see if I can get then un-requested/disabled.

[2021-08-24 23:50] FangedParakeet commented on #1688
Just poking my nose in to share something we discussed on the call with Stripe the other day: there is a [separate endpoint](https://stripe.com/docs/api/capabilities/retrieve), where we can [preview account capabilities](https://stripe.com/docs/connect/account-capabilities#viewing) that will be required for a particular account. If we provide the account ID and the payment method capability (e.g.

[2021-08-25 09:30] jarekmorawski commented on #1688
That's good! We could check on the requirements when merchant clicks the "Add payment methods" button, before we display the modal. Then, like David suggested before, we'd add a notice to payment methods shown that require setup. I'd, however, allow merchants to add them to checkout in a disabled/hidden state. This way it'd be clear that they've been successfully added, but require further configu

[2021-08-25 13:07] #1729 closed, assigned to diegocurbelo

[2021-08-25 14:46] #1709 closed, assigned to cesarcosta99

[2021-08-25 14:54] #1707 closed, assigned to tommyshellberg

[2021-08-25 14:59] LevinMedia commented on #1688
ah, thanks @FangedParakeet I had just assumed that was the API that @bborman22 had mentioned earlier.

[2021-08-25 15:46] FangedParakeet commented on #1688
Just to be clear, if we add the payment method to checkout in the UPE without the right capability enabled, there will be an error at checkout and the UPE won't load. However, if we enable the capability without updating required fields, the user will get an email from Stripe. So if we were to enable a payment method pending setup, we'd have to leave it in a limbo state to avoid these two scenario

[2021-08-25 16:56] #1736 closed, assigned to harriswong

[2021-08-25 17:02] harriswong opened #1744 "[settings] UPE onboarding wizard layout issue with the wc-admin header"
**Describe the bug**
We added a onboarding wizard page for UPE using the [PHP-powered page](https://github.com/woocommerce/woocommerce-admin/blob/main/docs/page-controller.md) way. We noticed that the header is beneath our React app whereas it should be on top.

More details here: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1737#issuecomment-905705174

**To Reproduce**
Steps to

[2021-08-25 17:17] asumaran opened #1745 "Variable Subscriptions: sign-up fees not included in total"
**Describe the bug**

This bug was previously fixed for Simple Subscriptions [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1555) ([Issue](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1459)). The same fix needs to be applied for Variable Subscriptions.

**To Reproduce**
- Ensure Payment Request Button is enabled under WooCommerce > Settings > Payments > S

[2021-08-25 20:36] #1744 closed, assigned to harriswong

[2021-08-25 20:39] bborman22 opened #1751 "SEPA IBAN field is not loaded when UPE is enabled"
When the new checkout experience using UPE is enabled, the SEPA IBAN field is not rendered. I believe this is due to the fact that the non-UPE gateway is not be instantiated at any point and so the scripts are not registered and localized with the proper parameters. As a quick test I tried just adding the register script call to the UPE gateway, but realized I would have to duplicate the parameter

[2021-08-25 20:45] LevinMedia commented on #1688
@jarekmorawski they are - however, as @FangedParakeet mentioned, eventually this will no longer be an issue when universal payment capabilities are rolled out in full. Until then however, we'll need to account for this issue.

[2021-08-25 21:43] frosso commented on #1712
Blog entry: 199-gh-woocommerce/woocommerce-developer-advocacy
Code: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1749

[2021-08-26 00:33] #1731 closed, assigned to bborman22

[2021-08-26 13:27] jarekmorawski commented on #1688
@LevinMedia, maybe it'd make sense to rethink how merchants add payment methods to checkout? Given that some options require extra steps, perhaps we should go back to square one and let merchants select methods from all available.

In the future, when payment methods will move to a separate tab in settings like in Stripe, the list shouldn't overwhelm.

![image](https://user-images.githubuserconten

[2021-08-26 14:57] frosso commented on #1695
Thanks @superdav42 !

[2021-08-26 14:57] #1695 closed, assigned to superdav42

[2021-08-26 14:58] #1661 closed, assigned to tommyshellberg

[2021-08-26 14:58] #1662 closed, assigned to waclawjacek

[2021-08-26 14:58] #1660 closed, assigned to harriswong

[2021-08-26 14:58] #1677 closed, assigned to tommyshellberg

[2021-08-27 11:04] martynmjones opened #1756 "Payment not recorded in WC for 3DS transaction if completion takes longer than hold stock value"
**Describe the bug**
When using a card that's 3D secure, if a customer takes longer than the value of hold stock to `Complete Authentication` in the Stripe pop-up then the payment is successful and they are taken to an order confirmation screen, however, the order in WC will show as canceled and not have a record of the Stripe transaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Set

[2021-08-27 11:04] martynmjones commented on #1756
Reported in 4249788-zen

[2021-08-27 11:05] martynmjones commented on #1756
I'm assuming other payment gateways could have the same results so I will run additional tests and open bug reports on other repos if required.

[2021-08-27 19:37] #1712 closed, assigned to frosso

[2021-08-27 20:42] frosso opened #1757 "[settings] "new account" onboarding UI"
## Description
When the account is not connected, replace the settings view with a different component that allows the merchant to  either:
- Enter the Stripe keys
- Follow the OAuth flow

![Screen Shot 2021-08-27 at 3 37 03 PM](https://user-images.githubusercontent.com/273592/131186371-534f1882-9f79-4df8-85f3-c2cfddac4f48.png)

## Acceptance criteria
- Feature is behind the `_wcstripe_feature_upe

[2021-08-27 20:49] frosso opened #1758 "[settings] "Account details" section UI"
## Description
Display a section on the "Settings" tab of the main Stripe gateway that shows information about the connected account.

You don't need to account (HA!) for the "disconnected" status (for now).
You don't need to make the hamburger menu items "functional" (but they should be visible)

![Screen Shot 2021-08-27 at 3 50 26 PM](https://user-images.githubusercontent.com/273592/131187100-87

[2021-08-27 20:55] frosso opened #1759 "[settings] OAuth flow"
## Description
Ensure the OAuth flow is functional and stores the API keys.

## Acceptance criteria
- Clicking on the "Create or connect account" button in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1757 starts the OAuth flow
- At the end of the process, keys are stored in the plugin and settings page is displayed

[2021-08-27 20:59] frosso opened #1760 "[settings] "General" section UI"
## Description

Add a section to the "Settings" tab on the main Stripe gateway

![Screen Shot 2021-08-27 at 3 59 32 PM](https://user-images.githubusercontent.com/273592/131187981-ac31a5fc-183a-4384-8431-ff4521e8b48d.png)

## Acceptance criteria
- Section is displayed under the "Settings" tab
- UI matches the designs
- The checkboxes/modal is not functional (yet), will be done separately - but the

[2021-08-30 10:02] #1693 closed, assigned to Mayisha

[2021-08-30 13:34] ghost opened #2088 "Cart Block : -------OR----- is displayed above the "Proceed to checkout" button even if payments buttons are disabled in Stripe"
## Describe the bug

When using the Cart and Checkout blocks, "-------OR-----" is always displayed, even if payments requests buttons are disabled in Stripe.

## To reproduce
Steps to reproduce the behavior:

1. Add the cart and/or checkout block to a page, and make sure you have Stripe installed and active;
2. Disable payments buttons requests in Stripe;
3. Add a product to cart and proceed to ch

[2021-08-30 13:40] tommyshellberg opened #1763 "Update Documentation for New Checkout Experience(UPE) Release"
Fixes #1676

For the release of the new Checkout Experience, we'll need to make quite a few updates to the [existing Stripe plugin documentation](https://docs.woocommerce.com/document/stripe/).

There are essentially two parts to this: the new Settings page updates and actual UPE implementation at checkout. Since they could technically be launched separately and they're handled by different squads

[2021-08-30 17:18] harriswong opened #1765 "Add "Select all" to UPE onboarding wizard second step"
## Description
Add "Select all" so that when user clicks it, all payments are selected.
![image](https://user-images.githubusercontent.com/572862/131378519-2d03d9fc-8dd7-4851-9a25-2806d8f0d86f.png)

relates to https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1683

## Acceptance criteria
- Clicking "Select all" should select all payments.

[2021-08-30 22:37] harriswong opened #1766 "[settings] Implement fees structure"
## Description
Each of these fees should be based on https://stripe.com/pricing. Should we based on US' pricing (https://stripe.com/en-us/pricing)?
![image](https://user-images.githubusercontent.com/572862/131414423-b9e733f5-35ef-4f72-bd95-b37d54dbae61.png)

For SEPA Debit, Sofort, etc, their fees are also different, check under https://stripe.com/pricing/local-payment-methods.

Ref: p163035911103

[2021-08-30 22:53] harriswong commented on #1683
I split this ticket into 2 more tickets:
- Adding "Select all" in step 2: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1765
- Update "missing fees": https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1766

[2021-08-31 14:25] #1687 closed, assigned to EvanDotPro

[2021-08-31 14:26] jarekmorawski commented on #1688
@EvanDotPro @FangedParakeet I've run into a few issues while working on the design for account capabilities.

- In WCPay, how merchants can manually edit capabilities if they don't have a regular Stripe account? Can we do it automatically for them?
- Can we provide merchants a link to a setup flow that will ask them for information required for a specific payment method?
- Can we identify missing

[2021-08-31 15:13] EvanDotPro commented on #1688
The closest I've found is the [`POST /accounts/$account_id/capabilities/$capability_id`](https://stripe.com/docs/api/capabilities/update) method, but as mentioned above, it will only actually enable a capability if it has no pending requirements.

Doesn't look like it. Seems like the "Request access" buttons don't link to a page with a distinct URL, but rather trigger a modal popup on https://dash

[2021-08-31 16:48] FangedParakeet commented on #1688
As far as I'm aware, there is no route for a user to log into their connected Stripe account from within WCPay.

Once again as far as the dwarfish reach of my awareness can grasp, I don't think this exists anywhere on Stripe's end.

Within the domain of our existing power, we are able to check what capabilities a user's account has enabled, what information is missing, and what information will be

[2021-08-31 17:15] #1605 closed, assigned to asumaran

[2021-08-31 20:02] bborman22 opened #1769 "UPE - Checkout with cart total under 50 cents"
**Describe the bug**
This is a reference to the [WC Pay issue](https://github.com/Automattic/woocommerce-payments/issues/2700) and any solutions or thoughts on it could be valuable here as well. When trying to checkout with a cart total under 50 cents USD, UPE throws an error when trying to mount. When this was experienced by merchants using WC Pay with UPE they called out that this 50 cent limit

[2021-08-31 20:15] bborman22 opened #1770 "UPE fails to process payment if some checkout fields are missing"
**Describe the bug**
This is a reference to a similarly discovered bug from a [WCPay issue](https://github.com/Automattic/woocommerce-payments/issues/2785). When using a plugin that allows editing the checkout fields such as [Checkout Field Editor](https://woocommerce.com/products/woocommerce-checkout-field-editor/), it is possible to remove a field that gets referenced during a UPE checkout. When

[2021-08-31 22:47] #1751 closed, assigned to cesarcosta99

[2021-09-01 00:09] ricardo commented on #1730
We need to make sure saving a payment method also works in the pay for order page #1669.

If that can't be done with the same changes when closing this issue, let's create another issue to make sure this works with #1669 as well.

[2021-09-01 01:42] EvanDotPro opened #1771 "Add SEPA UPE method"
- [ ] Create SEPA UPE class.
- [ ] Load SEPA UPE class file.
- [ ] Add SEPA UPE class to UPE gateway constant of available UPE methods.

[2021-09-01 01:42] EvanDotPro opened #1772 "Check Stripe capabilities API when toggling UPE methods"
- [ ] Check Stripe account capabilities when turning UPE on or off (and auto-toggling the relevant gateways/UPE methods).
- [ ] Check Stripe account capabilities when toggling UPE methods on or off.
- [ ] Check Stripe account capabilities when rendering the UPE method table in current/legacy settings UI.

See #1688 for detailed discussion.

[2021-09-01 01:42] EvanDotPro opened #1773 "Add UPE methods' metadata (localized names, descriptions)"
- [ ] Add readable names, short, and long descriptions for all UPE methods.
- [ ] Ensure all names/descriptions are localized with `__( )`.
- [ ] Verify the `reusable` attribute is correct on all UPE methods.

[2021-09-01 01:57] #1621 closed, assigned to EvanDotPro

[2021-09-01 09:43] jarekmorawski commented on #1688
Thanks for looking into this, folks. It seems like our hands are pretty much tied at the moment, which is unfortunate given how important this part of the setup is (especially for new users going through the onboarding).

New users, even if we enable all capabilities for them during onboarding, will need to provide additional information for payment methods like iDeal. To my best knowledge, Stripe

[2021-09-01 13:25] #1738 closed, assigned to bborman22

[2021-09-01 13:45] dougaitken commented on #1404
Can confirm.

Ref: 14718985-hc

[2021-09-01 13:47] dougaitken commented on #1404
Possibly related? https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1751

[2021-09-01 14:30] MachineITSvcs opened #1775 "Getting Subscription Customer ID from User instead of Subscription Order"
Since the last update, the prepare_order_source() function in the file:
includes/abstracts/abstract-wc-stripe-payment-gateway.php
has been updated to set the $stripe_customer_id variable by user option instead of the Customer ID as defined in the Subscription.

Before the line read as:
`$stripe_customer_id = get_post_meta( $order_id, '_stripe_customer_id', true );`

But now it reads as:
`$stripe_c

[2021-09-01 14:50] marcinbot opened #1776 "Payment request buttons - if one word is entered as a name in the payment request modal, the checkout fails"
### Describe the bug
See pca54o-19H-p2

When opting to pay with Google or Apple Pay, if one word is entered as `Name on card`, the checkout will fail because only the first name will be filled in in the backend and the last name is still required by default in Woo core.

This could be affecting mostly test requests, since the names usually have two or more words, but maybe we could detect that and

[2021-09-01 18:05] sisaacrussell commented on #1775
Woke up to the same: dozens of subscription renewals that failed with an error in the order log as "Sorry, we are unable to process your payment at this time. Please retry later."

The debug logs show:

[code]

Thanks for sharing the temporary patch, @MachineITSvcs

[2021-09-01 21:21] reykjalin commented on #1775
Thank you for the report and testing instructions @MachineITSvcs!

We're working on releasing a fix for this as we speak, we hope to have it out in the next several hours 🙂

[2021-09-01 22:11] reykjalin commented on #1689
Let's solve this issue by linking to @FangedParakeet's comment here in code so we have ready access to an explanation for why we want to do that extra check 🙂

[2021-09-02 00:47] diegocurbelo commented on #1775
Hey @MachineITSvcs 👋🏼.. We have released version 5.4.1 with the fix you suggested. Thank you again for reporting the issue! 😄

[2021-09-02 01:58] MachineITSvcs commented on #1775
Great! Thanks! 😄

[2021-09-02 05:18] FangedParakeet commented on #1730
@ricardo, I'd recommend creating a new issue to resolve this, since we're locked in a little Mexican standoff right now, as we're both working on implementing these new features that need to support each other at the same time. 😄

[2021-09-02 13:25] tommyshellberg opened #1783 "Better control of enqueuing new react settings JS files"
At the moment, too many unused Stripe settings JS files are being enqueued within the WooCommerce settings pages.

To test, go to `http://localhost:8082/wp-admin/admin.php?page=wc-settings&tab=checkout` and open up the Debugger to see the loaded JS files from the Stripe plugin:

![Screen Shot 2021-09-02 at 15 18 53](https://user-images.githubusercontent.com/6723003/131850908-a5e824de-4262-48ae-81a

[2021-09-02 14:12] senff commented on #1775
I just noticed a customer reporting the same issue even though they do have 5.4.1:

[code]

Ref: 4267603-zen

[2021-09-02 14:39] MachineITSvcs commented on #1775
I can confirm the new version 5.4.1 works for me. He should check his Stripe Dashboard and make sure both the customer exists by the ID and the source is linked to the customer, and not a single-use source (has to be recurring).

[2021-09-02 15:35] ricardo opened #1784 "UPE - Make sure saving a payment method works with pay for order page"
The goal of this issue is to make sure saving a payment method and using a saved payment method works with the the pay for order page.

Since both features are being delivered separately in #1669 and #1730, we need to make sure they can both work together.

[2021-09-02 15:40] ricardo commented on #1730
👍 Sounds good! Created a new issue: #1784

[2021-09-02 15:48] ricardo opened #1785 "UPE - Make sure subscriptions work with the pay for order page"
The goal of this issue is to make sure purchasing subscriptions and subscription renewals work with the pay for order page. This depends on #1665 and #1669.

[2021-09-02 17:14] ricardo opened #1786 "UPE - Support manually capturing a charge"
Currently, UPE payments don't respect the "Capture charge immediately" setting under **WooCommerce > Settings > Payments > Stripe.** All orders currently go from "pending" to "processing" or "completed".

If "Capture charge immediately" is disabled, payments should not be immediately captured and the order status should change to "On hold".

[2021-09-02 19:16] ricardo commented on #1667
As per the above [documentation](https://github.com/woocommerce/woocommerce-gateway-stripe/tree/develop/client/blocks#why-we-chose-to-use-our-pre-existing-ajax-apis-instead-of-the-woocommerce-blocks-apis-for-payment-request-buttons):

The plugin uses its own APIs for the express checkout block (payment request buttons), but it uses the Blocks API for the credit card checkout. Other payment methods

[2021-09-02 19:30] ricardo opened #1787 "UPE - Block checkout support"
The goal of this issue is to bring support for UPE in the [block checkout](https://docs.woocommerce.com/document/using-the-new-block-based-checkout/).

The implementation will probably look similar to WCPay - 2429-gh-Automattic/woocommerce-payments.

Things to keep in mind:
- Make sure the existing express checkout block (aka payment request buttons) still works in the checkout flow.
- If #1730 is

[2021-09-02 19:36] ricardo commented on #1667
@bborman22 As an additional question, should we support other payment methods in the blocks checkout as part of this issue? Since only credit card is supported with the non-UPE block checkout right now.

[2021-09-02 21:52] melek commented on #1770
Also encountered in 4269213-zen

[2021-09-02 22:52] EvanDotPro commented on #1787
Related: #1667

[2021-09-03 01:16] reykjalin commented on #1144
More discussions and designs in pc4etw-jV-p2

[2021-09-03 01:26] #1775 closed, assigned to diegocurbelo

[2021-09-03 01:26] reykjalin commented on #1775
I'm closing this since it seems the issue has been fixed. I'll keep an eye on the ticket @senff and we'll re-open the issue if this is still a problem 🙂

[2021-09-03 01:48] ricardo commented on #1787
@EvanDotPro this is related, but the other is intended to be a spike. This would be for actually implementing UPE in the block checkout.

[2021-09-03 13:25] StefYuluma commented on #551
are there any updates yet? i have got the same problem...

[2021-09-03 17:41] jrick1229 commented on #1775
_redacted_

[2021-09-03 18:36] MachineITSvcs commented on #1775
@jrick1229 please read above message on what to try next

[2021-09-03 19:33] jrick1229 commented on #1775
Sorry @MachineITSvcs - can't believe I missed that 😁

[2021-09-03 22:57] cesarcosta99 opened #1790 "Refactor Stripe's response processing"
https://github.com/woocommerce/woocommerce-gateway-stripe/blob/5b6f881e4d904fd64038f772e8d55c6b83d06b16/includes/abstracts/abstract-wc-stripe-payment-gateway.php#L472

As pointed out [here](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/977b7dbdd8139cde3f68be131a62bfc12d4e884d/includes/payment-methods/class-wc-stripe-upe-payment-gateway.php#L464), the method above can be refactored

[2021-09-04 19:22] shaunkuschel commented on #1671
4273283-zen reported that they received a message about SCA compliance in their Stripe dashboard, which I suspect is related to this issue. The merchant contacted Stripe and confirmed that their account is SCA compliant but the Stripe team mentioned that the message was related to our Stripe gateway integration.

The message shown to the customer in their Stripe dashboard is the following (which w

[2021-09-06 04:00] #1715 closed, assigned to Mayisha

[2021-09-06 19:50] ricardo commented on #1671
cc @EvanDotPro for visibility - This is related to the SCA gaps project (pc4etw-8a-p2), which is currently paused. We're still making use of the non-compliant `charges` endpoint in certain circumstances.

[2021-09-06 20:06] #1669 closed, assigned to ricardo

[2021-09-06 22:17] frosso opened #1792 "[settings] Customer bank statement preview"
## Description

Add a preview for the "Customer bank statement" and "Shortened customer bank statement" inputs to the "Payments & transactions" section.

Suggestion: create a component where you can just pass the statement title, icon, and text.
Please don't use capital letters in the descriptions, but use `text-transform: uppercase;` for a11y reasons (otherwise some screen readers might read the

[2021-09-06 22:17] frosso commented on #1723
Created a separate issue for the statement preview, since it wasn't included in the initial designs: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1792

[2021-09-06 22:19] malmualla opened #1793 "Shipping cost not applied while checking out with Apple Pay"
**Describe the bug**
When using Apple Pay to check out, while loading Shipping cost shows as ( 30.00 ) which is correct and perfect, suddenly it changes to ( 0.00 )

**Screenshots**
While Loading:
![IMG_7A3B7AFDB7C3-1](https://user-images.githubusercontent.com/81653743/132263149-ace82a94-6bcd-4b0b-b0e1-c0c7c8dcf5cb.jpeg)
After Loading
![IMG_150FA2DB2DA3-1](https://user-images.githubusercontent.com

[2021-09-07 07:01] waclawjacek commented on #1718
@jarekmorawski I have two questions for you! :)

## "X new methods are now live"

A message in the last step says "X new methods are now live on your store!"

Since some of the payment methods might have already been supported on a store using traditional payment gateways rather than UPE, what should we display here?

E.g. let's say a merchant had Sofort enabled and during UPE onboarding, they sel

[2021-09-07 07:59] jarekmorawski commented on #1718
Hi there! 👋

Great question. Now when I think of it, perhaps it makes more sense to remove the "new" part and only say "X payment methods are now live on your store!". The X would be the number of all selected payment methods, both previously enabled and new ones selected during the UPE setup.

I will update the designs.

Yes. If I had giropay and Sofort enabled in Settings > Payments, these two s

[2021-09-07 08:03] waclawjacek commented on #1718
Awesome, thank you! Great idea with the "X payment methods are now live" messaging.

[2021-09-07 09:13] waclawjacek commented on #1718
This issue has to wait for design decisions due to some extra setup being necessary on merchants' side: p1631001920004300-slack-C01RTUVR81K

[2021-09-07 15:00] aheckler opened #1799 "Apple Pay should work in Saudi Arabia"
**Describe the bug**
Apple Pay not available for stores in Saudi Arabia, but it should be.

**To Reproduce**
Steps to reproduce the behavior:
1. WC test site with Stripe active.
2. Set shop address to `Al-Khobar, Saudi Arabia 31952`
3. In Stripe settings, turn on payment request buttons.
4. Open shop in Safari and navigate to a product page.
5. Apple Pay doesn't appear. Console error:

<img width=

[2021-09-07 18:05] #1683 closed, assigned to harriswong

[2021-09-07 21:52] ricardo commented on #1799
Saudi Arabia isn't supported as the store country by Stripe and therefore it's not possible to initialize payment request buttons with the store based in `SA`.

There's a second problem where even if the store country is supported, there's no way a customer can checkout with Apple Pay, because Apple Pay doesn't provide the necessary fields for WooCommerce when checking out in Saudi Arabia or other

[2021-09-08 11:37] Hans-101 commented on #1095
Wonder how much more interest must be shown in order for WC to put this on radar...

[2021-09-08 14:31] #1770 closed, assigned to superdav42

[2021-09-08 15:11] #1723 closed, assigned to frosso

[2021-09-08 18:56] #1668 closed, assigned to diegocurbelo

[2021-09-08 19:09] diegocurbelo opened #1802 "Add customer billing details to saved payment method in Stripe"
**Describe the bug**

When adding a new payment method the freshly saved payment method in Stripe's dashboard does not contain the customer name nor the email (it gets however linked to the customer correctly)

![68747470733a2f2f63646e2d7374642e64726f706c722e6e65742f66696c65732f6163635f313130343230362f767a7130764d](https://user-images.githubusercontent.com/407542/132569199-1ecac182-ee25-4082-b1ba-

[2021-09-08 19:19] #1771 closed, assigned to EvanDotPro, cesarcosta99

[2021-09-08 20:18] frosso commented on #1718
@waclawjacek I moved the effort on this task forward a tiny bit by ensuring the "Enable" button works: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1803 - that seems to be one of the parts of the task that are not currently blocked.

EDIT: lol the PR got assigned to you anyways 😅

[2021-09-08 21:02] frosso opened #1804 "[setup/onboarding] Enter account keys form"
## Description

Clicking the "Enter account keys" button on the onboarding UI ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1757 ) opens a modal that allows to enter the account keys and the webhook secret.

The modal persists the data to the backend (a controller needs to be created).

Please keep in mind that the form will be also used for editing purposes, as well for the t

[2021-09-08 21:08] frosso opened #1805 "[settings] edit account keys form"
## Description
Clicking the "Edit account keys" button in the settings opens a modal that allows to enter live & test keys.

Feel free to take a look at https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1804 to see if there are reusable pieces.

![Screen Shot 2021-09-08 at 4 07 49 PM](https://user-images.githubusercontent.com/273592/132585851-de74ae02-95b4-4d2d-ab8e-02627f17ab3e.png

[2021-09-08 21:12] frosso opened #1806 "[settings] account keys - connection test functionality"
## Description
A "Test connection" button allows testing the connection to the Stripe server with the keys entered in the modal

![Screen Shot 2021-09-08 at 4 12 00 PM](https://user-images.githubusercontent.com/273592/132586292-52e6a387-b51e-43a2-80a1-5f4ddde61439.png)

[2021-09-08 21:21] frosso opened #1807 "Invalid keys notice"
## Description
If the account keys become invalid, we need to notify the merchant.

Display a notice on the settings page that allows the merchant to modify their connection.

A notice should also be displayed on the edit modal.

![Screen Shot 2021-09-08 at 4 21 01 PM](https://user-images.githubusercontent.com/273592/132587329-21860720-b4cd-491a-809b-148bc53b587e.png)

![Screen Shot 2021-09-08 at

[2021-09-08 21:45] frosso opened #1808 "[settings] checkout preview functionality"
## Description

Allows the merchant to preview their checkout experience.

[2021-09-08 21:56] frosso opened #1809 "[settings] test mode checkbox functionality"
## Description

Test mode doesn't work without test keys.

When the merchant connects their account with the OAuth flow, we don't retrieve the test keys.
Clicking the "enable test mode" checkbox should retrieve and persist the test keys, when connecting via the OAuth flow.

Please ensure that the "test mode" checkbox functionality matches UX's intent.

[2021-09-08 21:56] frosso commented on #1809
Currently blocked - waiting for UX review: pc4etw-i9-p2

[2021-09-08 22:05] #1716 closed, assigned to frosso

[2021-09-09 12:27] waclawjacek opened #1810 "[settings - UPE] Stripe settings persistence - data API"
Part of #1717.

Add the data framework for retrieving and saving data.

[2021-09-09 12:30] waclawjacek opened #1811 "[settings - UPE] Stripe settings persistence - payment methods"
Part of #1717.

Add persistence of enabled payment methods to the backend to onboarding wizard and main settings page.

[2021-09-09 12:31] waclawjacek opened #1812 "[settings - UPE] Stripe settings persistence - main settings page"
Part of #1717.

Add settings data API integration to the main settings page (both "Payment methods" and "Settings" tabs).

Due to some uncertainty regarding the Payment methods card on the main settings page (p1631570172089800-slack-C01RTUVR81K), this component should not be included in the PR.

[2021-09-09 12:32] waclawjacek opened #1813 "[settings - UPE] Stripe settings persistence - Express checkouts page"
Part of #1717.

Add settings data API integration to the "Express checkouts" page.

[2021-09-09 12:33] waclawjacek commented on #1717
I have created separate issues for the work so it can be implemented independently. The data API layer these issues can build upon is currently ready for review in #1810.

[2021-09-09 13:55] #1719 closed, assigned to Mayisha

[2021-09-09 15:21] frosso commented on #1717
Discussed in team meeting - closing. We will be working on the separate tickets individually 👍

[2021-09-09 15:21] #1717 closed, assigned to waclawjacek

[2021-09-09 15:33] mikejolley commented on #1829
@ralucaStan @nerrad Does this still need working on? The behaviour has changed recently. The button does get a loading state, but when the cart is updated, ultimately the button flashes because it's rerendered from scratch.

![2021-09-09 16 31 52](https://user-images.githubusercontent.com/90977/132716549-fab94c1a-b5ad-45e8-a910-be3f037854b3.gif)

[2021-09-09 16:07] #1739 closed, assigned to superdav42

[2021-09-09 16:27] gglobalstep opened #1815 "[GlobalStep] "Payment Request Button Locations" option fails to set as per the snippets configurations."
## Bug Description:
PRB location displayed to "Checkout" for all combinations of the snippets enabled/disabled.

## Environment:
Woocommerce Version : WooCommerce 5.6.0
WooCommerce Stripe Payment Gateway: v5.5.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Test Instructions:
https://github.com/woocommerce/woocommerce-gateway-stripe/wik

[2021-09-09 16:33] gglobalstep opened #1816 "[GlobalStep] "PHP Error in Ajax response" error is triggered for Checkout failure cards."
## Bug Description:
"PHP Error in Ajax response" error is triggered for Checkout failure cards.

## Environment:
Woocommerce Version : WooCommerce 5.6.0
WooCommerce Stripe Payment Gateway: v5.5.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the requi

[2021-09-09 16:37] gglobalstep opened #1817 "[GlobalStep] "Invalid payment method" error is displayed upon clicking "Delete" button twice on "Add Payment method" screen."
## Bug Description:
"Invalid payment method" error is displayed upon clicking "Delete" button twice on "Add Payment method" screen.

## Environment:
Woocommerce Version : WooCommerce 5.6.0
WooCommerce Stripe Payment Gateway: v5.5.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1

[2021-09-09 16:41] gglobalstep opened #1818 "[GlobalStep] PRB location is by default set to "Checkout" on "WooCommerce>>Payment >> Stripe credit card" screen."
## Bug Description:
PRB location is by default set to "Checkout" on "WooCommerce>>Payment >> Stripe creditcard" screen.

## Environment:
Woocommerce Version : WooCommerce 5.6.0
WooCommerce Stripe Payment Gateway: v5.5.0-test

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Test Instructions:
https://github.com/woocommerce/woocommerce-gateway-st

[2021-09-09 17:26] nerrad commented on #1829
I don't think we'll be able to completely avoid the re-rendering due to how express payments work (which requires re-instantiating the payment method button). However, I do wonder if there's some explorations that could be done on preventing the layout shift by having a placeholder state during the re-rendering (or that the express payment method replaces).

[2021-09-09 20:09] ricardo opened #1820 "UPE - Pre-orders support"
The goal of this issue is to add support for pre-orders in the UPE checkout. The issue is complete when UPE can be used for pre-orders.

This issue will probably involve some refactoring around the `WC_Stripe_Pre_Orders_Compat` class and turning it into a trait.

**Steps to test pre-orders support:**
1. Install and activate [WooCommerce Pre-Orders](https://woocommerce.com/products/woocommerce-pre-

[2021-09-09 21:09] ricardo opened #1821 "UPE - Add notice to settings page letting merchants know about unsupported features"
The goal of this issue is to implement some sort of notice in the settings page, letting merchants know that some features might not be fully supported in case they enable UPE.

Ideally, I believe we should mention which specific features are not (fully) supported, e.g Pre-orders or Blocks checkout. It doesn't need to be a regular notice component, but it should communicate what's not supported wh

[2021-09-09 21:41] frosso opened #1822 "[settings] account status display"
## Description

We need to display the information about the account status on the UI.
So far we have hardcoded data styled in the UI ( https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1758 ). We now need to display accurate information, with data gathered from the backend/Stripe API.

## Acceptance criteria
- "Payments" status is accurate
- "Deposits" status is accurate
- "Base fe

[2021-09-09 21:51] harriswong commented on #1811
Using https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1797 as base PR.

[2021-09-09 22:28] dreamtooloud opened #1824 "Stripe-Apple Pay Bypasses Customer Shipping Selection and Uses Shipping Method Hierarchy"
Reported in HC-1077282 / ZD 4282395

**Describe the bug**

_"Whenever customers select our express delivery option on our website but they opt to pay with ApplePay, for some reason apple pay is amending the default shipping method to standard. We have already raised this with Stripe who advised this appears to be a Woocommerce issue."_

This was originally reported in #755 and a pull request was c

[2021-09-10 09:06] #1714 closed, assigned to tommyshellberg

[2021-09-10 09:15] waclawjacek opened #1827 "SPIKE: Toggling live/test mode without inputting test keys results in onboarding"
In the "Connect Stripe Account" onboarding modal, if you have live keys but you enable test mode without entering keys, you are presented with a modal as if you had no keys. Maybe we should treat this scenario differently? [Initially discovered here.](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1774#pullrequestreview-743713421)

[2021-09-10 09:18] waclawjacek opened #1828 "Verify Stripe TOS link"
In [`client/settings/connect-stripe-account/index.js`](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1774/files#diff-d85d448546d4ee9c6d71de46179d526555442e9b6e0aa03f844d6bcb79b8e6a6R88) we are using https://stripe.com/ssa as the link to Stripe's TOS. Is this the correct link to use?

[2021-09-10 10:23] mikejolley commented on #1829
I think this issue/todo is directly related https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4359

[2021-09-10 10:52] mikejolley commented on #1829
So I found a way to fix this but it's on the Stripe side @nerrad

Currently, Stripe (probably other express methods), react to changes in the cart using `useEffect`. This is run after render. So there is a short window where no button exists before it's rendered again by Stripe.

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/e5264bb0046a138efee1b8c1b52400327c49e200/client/blocks/p

[2021-09-10 10:57] nerrad commented on #1829
Oh yup! They'd probably appreciate the PR!

[2021-09-10 10:58] nerrad commented on #1829
Could probably transfer the issue to the Stripe repo too so there's additional context for your PR there within their repo?

[2021-09-10 13:21] mikejolley commented on #1829
I've transferred this across but I'm holding off on a PR because there seem to be some new issues with the Stripe integration that I cannot explain. I will test some more and log an issue once confirmed.

[2021-09-10 13:39] mikejolley opened #1830 "Express Payment Buttons are broken after updating products in the Cart Block"
**Describe the bug**

Testing against the latest version of Stripe (5.4.1) and Blocks (going back as far as v5.0), there is a new incompatibility with the Cart Block and express payments. When the cart changes, the payment request object also updates, but the payment modal does not show updated totals. Additionally, after a cart change, the "cancel" handler fails to run leaving the payment button

[2021-09-10 15:03] harriswong commented on #1811
@waclawjacek I want to double check on this. Is this the second step in the onboarding wizard where users click and select the payment method checkboxes?

[2021-09-10 16:45] waclawjacek commented on #1811
That'd be the entire onboarding wizard but I am currently finishing up #1718 so I guess it'd be best if you could please wait for that. Sorry for not mentioning it! 😬

[2021-09-10 17:57] harriswong commented on #1811
Block by https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1797 and https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1796

[2021-09-10 17:57] harriswong commented on #1812
Block by https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1797 and https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1796