[2022-09-14 09:28] robert-marson opened #2426 "Proposed fix for compatibility with Advanced Shipping Packages"
Hello,

There’s a problem with using the Google Pay option when WooCommerce Advanced Shipping Packages are in use (even when there’s just a single package – which is the only condition under which you can use the Google Pay option). The order total does not update correctly as you change the delivery method.

I have described the problem more fully here and I have also developed a working fix, als

[2022-09-14 12:52] swatipawarGS commented on #3294
Hi @Marc-pi,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.0 version and WordPress 6.0.2 version.

Please find below the screenshots for reference :
![#34630(1st)](https://user-images.githubusercontent.com/94531721/190086089-a6e256b0-179e-4d9c-8c64-d70b9d67e850.jpg)

![#34630(2nd)](https://

[2022-09-14 14:31] wpniall commented on #1548
5556835-zen

[2022-09-15 06:37] reykjalin commented on #1302
Potential similar issue in 5539924-zen

[2022-09-16 00:53] Brianmitchtay commented on #1548
5560755-zen

[2022-09-20 00:41] robert-sterry opened #2429 "wc-stripe-blocks-integration deactivated"
## Describe the bug

PHP Error message: Payment gateway with handle 'wc-stripe-blocks-integration' has been deactivated in Cart and Checkout blocks because its dependency 'react' is not registered. Read the docs about registering assets for payment methods: https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/extensibility/payment-method-integration.md#registering-as

[2022-09-20 09:40] orhanfernandes opened #2427 "Woo Stripe not working anymore with the YITH WooCommerce EU VAT, OSS & IOSS support plugin"
**Describe the bug**

Our customer on 5556908-zen understands that this is out of scope and our in-house dev-team suggested creating a bug report for this. The issue as mentioned by our user:

So when creating the order, even if it has a validated VAT number, it would be deleted in the process.

So, knowing that and being sure of that, we could try to find a workaround. Maybe they have even a way

[2022-09-20 12:18] dougaitken commented on #2427
I'd like us to confirm which version exactly broke this, and how it is being focused on the Stripe extension rather than the YITH plugin.

As a note - `YITH WooCommerce EU VAT, OSS & IOSS` isn't mentioned in the active plugins list you shared @orhanfernandes - if that is a SSR, please edit your comment and include an SSR within `details` markdown.

[code]

Thanks,

[2022-09-20 13:46] dreamtooloud commented on #2353
Reported in 5538725-zen

[2022-09-20 17:32] dreamtooloud commented on #2331
We mentioned to the user that we didn't think there duplicate notes/inventory reduction was related to this issue because they don't have UPE enabled but after looking through all the notes here and the other tickets I do want to add this to the list, because everything else about it is similar: 5539401-zen.

Asking them to conduct a conflict test now to confirm the above.

[2022-09-20 18:38] rajaamanullah72 commented on #2392
Do you want to read the details of how woocommerce sessions and cookies work?

Only for developers and technical persons.

https://rajaamanullah.com/how-to-use-woocommerce-sessions-and-cookies/

[2022-09-20 22:32] #2267 closed, assigned to nobody

[2022-09-21 11:27] amElnagdy commented on #2427
From the merchant:

[2022-09-22 12:25] senadir commented on #2429
Hello! I'm unable to reproduce this issue, in what page are you seeing this error and can you run some conflict check?

[2022-09-22 12:29] senadir commented on #2429
I moved this issue to Stripe repo because I don't think it is related to WooCommerce Blocks, while it's true that the error you see relates to blocks:
- The error shouldn't be visible if you're not using Cart/Checkout.
- If you're, then there's an issue with dependencies or a third party plugin.
In both cases, there's nothing we can do on WooCommerce Blocks to fix this.

[2022-09-22 14:15] avantegarde opened #2430 "Google Pay not recognizing existing user account on checkout."
**Describe the bug**
When using Google Pay (Express Checkouts) while logged out b

**To Reproduce**
Steps to reproduce the behavior:

1. Be a new user (Google Pay email not associated with any user in WordPress) – check out using Gpay.
    - A new account is created during the checkout and is automatically logged in (password sent separately in email) – Working as intended.
2. Log out and clear th

[2022-09-22 17:10] charlesrr commented on #2430
I was the person that reported this to the Woo team originally. Please note that I was only able to test with GPay. It's possible the same issue would happen with ApplePay.

[2022-09-22 21:33] #2198 closed, assigned to hsingyuc

[2022-09-23 17:41] lovo-h opened #2431 "Remove remaining traces (`generate_stripe_account_keys_html( ... )`) of old settings"
**Describe the bug**
This is not exactly a bug. Instead, it consists of a function (`generate_stripe_account_keys_html( ... )`) that exists in two places but they are not being used anymore and should be removed.

**To Reproduce**
1. View [class-wc-gateway-stripe.php#L1047](https://github.com/woocommerce/woocommerce-gateway-stripe/blob/72578ec87bc59f64276985972142cd3fbfe69a4d/includes/class-wc-gat

[2022-09-23 19:00] tijosh commented on #2430
I believe this problem is due to the First Name | Last Name billing fields being required. I've been testing this and can't check out with Google Pay in Test Mode:

![image](https://user-images.githubusercontent.com/35117248/192038801-68502976-868e-4c50-b9ee-43467a69a21e.png)

![image](https://user-images.githubusercontent.com/35117248/192038718-8ccb4e01-1e5c-402b-b1cc-006d65452a9c.png)

If I make

[2022-09-24 12:16] wpniall commented on #1548
5577785-zen - Shared csmcneill's steps above, which are now found in the Stripe plugin's docs here: https://woocommerce.com/document/stripe/#apple-pay-button-only-shows-in-private-incognito-safari-window

[2022-09-24 16:03] ChrissiePollock commented on #1824
Reported again on #5566563-zen.

[2022-09-26 05:43] gerdneuman commented on #1145
Nope, only way is this workflow: Shopmanager sees error. Writes me (admin) an email. Then I log up the server log and answer the email. Very cumbersome.

We would rather need the shopmanager be able to see the exact error message (reason why things are failing)

[2022-09-27 10:46] ChrissiePollock commented on #1824
@woocommerce/fractal do we have any idea of the priority of this issue?

[2022-09-27 11:01] charlesrr commented on #2430
Snip

That sounds unrelated from this issue. I can checkout fine with GPay as long as there is no matching user in the system already.

[2022-09-27 15:48] t0b1hh commented on #1566
+1

[2022-09-27 17:32] jffaria opened #2433 "Support for PIX payments in Brazil"
Stripe recently introduced PIX payments in Brazil. It would be great to offer support for that as it is a huge chunk of payments market in Brazil.

[2022-09-27 18:13] asumaran commented on #1824
I'll take a look into this.

[2022-09-27 21:59] #2431 closed, assigned to asumaran

[2022-09-28 19:58] asumaran commented on #1824
@ChrissiePollock The problem is that we do not share the address entered by the user in the checkout form with Apple Pay. It's not sure that the Apple Pay dialog will show the same shipping options in the Apple Pay dialog. To select a shipping method, we'd need to set the addresses shown in Apple Pay, which we can't currently do.

I'm not sure we can fix this. The address Apple Pay uses to get the

[2022-09-28 21:59] buy commented on #838
Now my baby is almost 1 year old, but this 2018/9 issue is still not resolved ... 😭
<img width="984" alt="image" src="https://user-images.githubusercontent.com/1431965/192896363-2cab4199-a129-4cdf-8c37-40117b062a97.png">

[2022-09-29 11:36] anant1811 commented on #2339
5568521-zen too

[2022-09-29 12:16] joejordanbrown opened #2437 "Stripe Link enable other currencies that are in preview"
**Is your feature request related to a problem? Please describe.**
The current integration with Stripe Link is limited to USD only.

On the plugin docs, it states "Note: Stripe Link is available to US merchants only.". on this page https://woocommerce.com/document/stripe/#section-11, but Stripe Link is available for many other countries in Preview which is available only by request.

You can see a

[2022-09-29 14:01] dougaitken commented on #2427
To me it sounds like these two either contradict themselves, or previously it was a version lower than 6.2.0 of the Stripe plugin that "worked fine".  If it is a version before that then I feel this is outside of our scope and not a bug report from our side but I'll defer to engineering

[2022-09-29 16:46] scottbuscemi opened #2439 "Cannot Erase Personal Data for WordPress users"
**Describe the bug**
There is a bug in this plugin that is preventing the WordPress "Erase Personal Content" functionality from completing: "An error occurred while attempting to find and erase personal data."

**To Reproduce**
Steps to reproduce the behavior:
1. A user requests for their personal data to be removed
2. Press "Erase personal data" for the user at `wp-admin/erase-personal-data.php`

[2022-09-29 17:32] EvanDotPro commented on #2352
Closing this for now as we've been unable to reproduce. We'll be happy to revisit this if we can get more information so that we can reproduce the issue.

[2022-09-29 17:32] #2352 closed, assigned to EvanDotPro

[2022-09-30 19:18] donwattz1459 commented on #799
Would love this integration. Seems like 3 years since the topic opened.

[2022-09-30 20:24] oggy49 opened #2440 "Payment processing failed. Please retry."
Hi i have a woocommerce website that's been experiencing issues with the payment gateway.

when i try to place an order after i put the card details in it shows me the message "Payment processing failed. Please retry." Yet it created the order in the backend with the order status set to failed from pending payment.

If i login to an account dashboard go to orders and click pay on the order that ha

[2022-10-02 16:35] ChrissiePollock commented on #1824
@asumaran Thanks for the followup and looking into it.

[2022-10-02 18:40] dougaitken commented on #2440
Hi! Support for the WooCommerce Stripe plugin is handled by the Happiness Engineers

If you post this in the [WooCommerce Stripe Support Forums](https://wordpress.org/support/plugin/woocommerce-gateway-stripe/) someone will be able to offer support or advice there.

[2022-10-02 18:40] #2440 closed, assigned to nobody

[2022-10-03 06:49] joashrajin commented on #1497
+1 at #5578245-zen

[2022-10-03 15:38] waltomatt commented on #2353
I experienced the same issue with the launch of a new site this week. After looking through the logs & speaking to Stripe support it looks like the client & server components were making requests to different versions of the stripe API.

The POST to `/v1/payment_intents` was made with API version 2019-09-09 whereas the JS client was making a GET request to the 2017 version of the API, causing the

[2022-10-03 17:28] asumaran commented on #1824
We discussed this issue internally and agreed this issue can't be fixed for now. Unless Apple Pay (and the Stripe JS library) provide a way to set the address on the Apple Pay dialog, there's no reliable way to fix this. I am closing this issue for now.

[2022-10-03 17:28] #1824 closed, assigned to nobody

[2022-10-03 22:54] shiki commented on #1548
Update on 5526436-zen: The workaround described in https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1548#issuecomment-1107920101 did not work for them.

[2022-10-04 02:16] ricardo opened #2441 "Product SKU is required in Stripe level 3 data"
**Description**

Slack thread: p1664530772414969-slack-C01BZUL57SQ

Merchants are receiving the following contact from Stripe:

product_description and product_sku must always be present
unit_cost and quantity line items must be greater than 0
You can read more about passing Level 3 information in our docs [1].

This looks like a new issue, so we confirmed with Stripe that it's now required to sen

[2022-10-04 18:25] jffaria opened #2443 "When a new order is placed, the PaymentIntent for previous order that had not been ultimately paid for through Stripe is updated and the new order does not get paid status."
A customer placed a subscription order (Woocommerce Subscriptions) and tried to pay with credit card (Stripe) but the charge was denied by the bank. The customer then proceeded to pay via another gateway (PagSeguro) and started the subscription. The subscription was then set to manual renewal as PagSeguro plugin does not support automatic renewals. Upon subscription renewal, a new order was create

[2022-10-05 04:28] AashikP commented on #1611
I can also replicate this behavior with the following steps:

1. Create two Subscription products: (The only difference is with signup Fee)

    ![4qgcOq.png](https://user-images.githubusercontent.com/17475174/193981224-1abc0d19-7d0e-4f39-8feb-3022d746fc4e.png)

    ![HnmgrJ.png](https://user-images.githubusercontent.com/17475174/193981298-fbbddd8f-67f2-422f-9504-c511a3da814f.png)

2. Disable $0 c

[2022-10-05 08:32] dpaun1985 opened #2444 "Stripe Link: Pre-fill first and last names on checkout"
**Description**
Similar to how Stripe Link pre-fills user addresses, we should implement the feature to pre-fill the first and last names on the checkout page.

**Acceptance criteria**
First and last names should be pre-filled on checkout along with other user details.

[2022-10-05 08:38] dpaun1985 opened #2445 "StripeLink: check if Link is available only for US accounts."
Stripe Link is only available for US accounts. Check if Link is enabled also for non-US accounts.
If yes, add a restriction to be enabled only for the US accounts.

[2022-10-05 10:53] dpaun1985 opened #2446 "StripeLink: subscription support"
Check Link implementation needs to be adjusted for subscriptions workflow (built-in subscriptions and subscription plugin) .

[2022-10-05 10:55] dpaun1985 opened #2447 "StripeLink: Inbox notification"
Description
A new inbox notification has to be added in admin WC -> home

Title: Increase conversion at checkout
Copy: Reduce cart abandonment and create a frictionless checkout experience with Link by Stripe. Link autofills your customer’s payment and shipping details so they can check out in just six seconds with the Link optimized experience. That’s 9x faster than shoppers who don’t use Link. L

[2022-10-05 11:39] dpaun1985 opened #2448 "StripeLink: Settings wording tweaks"
**Description**
Updating WooCommerce > Settings > Payments > Stripe > Advanced settings > New checkout experience
<img width="605" alt="Screenshot 2022-10-05 at 14 37 54" src="https://user-images.githubusercontent.com/82826872/194051805-68121f47-1260-4c50-bbf5-1c9b6779ec89.png">
* Change “Experimental Features” to “New”
* Adjust the main copy header to reflect “try the updated checkout experience”

[2022-10-06 10:32] dpaun1985 opened #2449 "Epic: Stripe Link improvements for Stripe Gateway"
This is the epic for Stripe Link improvements for Stripe Gateway

[2022-10-07 06:01] AbhinavSakalle opened #2451 "Duplicate order notes and order emails with New Checkout Experience"
**Describe the bug**

With the New Checkout Experience enabled in Stripe Advanced settings, customers and admin receive duplicate order emails. Order notes on the Edit Order page are also getting duplicated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **WooCommerce > Settings > Payments > Stripe**
2. Enable the **New Checkout Experience** under **Advanced Settings**
3. Place an ord

[2022-10-07 06:02] AbhinavSakalle commented on #2451
Also reported in 5612750-zen

[2022-10-07 06:20] thisissandip commented on #2451
@AbhinavSakalle This issue is already reported here: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2331

The workaround is to disable the new checkout experience.

[2022-10-07 06:22] AbhinavSakalle commented on #2451
Good catch. Thanks @thisissandip

[2022-10-07 06:27] AbhinavSakalle commented on #2331
5612750-zen
Duplicate order emails are also being sent.

[2022-10-07 13:31] aaronsilber commented on #1563
Hi @asumaran - our client is still experiencing this issue and is wondering if there's any update or roadmap for resolving this issue? If not, how could a community contributor help out here?

[2022-10-07 13:44] agenceKanvas commented on #801
That would be awesome ! Could prevent some errors on dev ...

[2022-10-07 21:04] asumaran commented on #1563
@aaronsilber, the PR that sets the grounds to implement this issue, has been [merged recently](https://github.com/woocommerce/woocommerce-blocks/pull/5953).

[**It seems**](https://github.com/woocommerce/woocommerce-blocks/pull/5953#issuecomment-1267272800) we'll be able to manage multiple carts and fix the issues we've been dealing with in Apple Pay/Safari.

Hopefully, we can get together a proof

[2022-10-08 13:48] MariaChek commented on #1548
5616150-zen - I was able to replicate this issue on the customer's staging site (the issue disappears if I open it on a private window), but not on the live site. I asked them to follow the workaround for the staging site, and we will also be looking into a possible conflict, as the staging site has different plugins/theme.

[2022-10-09 21:47] dougaitken commented on #2443
Hi! Support for the WooCommerce Stripe plugin is handled by the Happiness Engineers

If you post this in the [WooCommerce Stripe Support Forums](https://wordpress.org/support/plugin/woocommerce-gateway-stripe/) someone will be able to offer support or advice there.

[2022-10-09 21:47] #2443 closed, assigned to nobody

[2022-10-10 05:06] thisissandip commented on #2331
Merchant from 5612750-zen deep dived into the issue and shared the below details:

The result is here: https://docs.google.com/spreadsheets/d/14pmlKeMCBfHLh5LHUcRTq6IqQwdBDa36gKJ0zvV_OlM/edit?usp=sharing

[2022-10-10 09:55] joashrajin commented on #2169
+1 at #5613226-zen

The user reports that having a phone number set as a mandatory field is causing Google/Apple Pay not to work

[2022-10-10 21:14] Olubayosam commented on #551
I just ran into the same issue

however, when I was making researches into this,
I noticed that this is mostly caused when woo-commerce pages are cached, this messes with the session object.

try to clear caches both on the server side and on the browser side

[2022-10-11 12:48] thisissandip commented on #2451
Closing this as duplicate of https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2331

[2022-10-11 12:48] #2451 closed, assigned to nobody

[2022-10-11 15:40] dreamtooloud commented on #1548
In regards to 5616150-zen ,  I don't think this is related to the bug. They have one product on their site and it is a `course` type product.  [According to the Stripe documentation](https://woocommerce.com/document/stripe/#what-type-of-products-can-be-purchased-with-the-payment-request-button), express checkout buttons are compatible with `simple` , `variable` , and `subscriptions` product types

[2022-10-11 18:12] jrick1229 opened #2453 "Compatibility: payment request buttons do not support 'Pre-Orders' pre-order fee on product page"
**Describe the bug**

Apple Pay, for instance, will show on a 'Pre-Orders' product page, but does not include a charge for the pre-order fee.
This only occurs on the product page, since the pre-order fee isn't added to the total cost of the product _until_ the cart page.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup a simple product
2. Enable pre-orders and set a 'pre-order' fee:

[2022-10-11 19:56] avantegarde commented on #2103
Another ticket requesting this. 5623767-zd-woothemes

[2022-10-12 07:57] francoishvz commented on #2416
Same issue here: 5622849-zd-woothemes

Possible problem is that sites have other payment gateways enabled but have Stripe disabled (so no credit card payments).

Would need to test to confirm.

[2022-10-12 08:31] farrelsari commented on #2392
I'm bumping this request. Have same problem with varnish cache on WordPress VIP. When user visits single product page wc session cookie is set and further user requests becomes uncacheable. User didn't add any product to the cart yet. As @essentique said this is big deal. You are breaking cache for many people.

[2022-10-12 08:48] dpaun1985 opened #2454 "StripeLink: Update docs for UPE"
Since UPE isn't a new experimental feature, we need to update the docs accordingly.
Context [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2450#issuecomment-1273088335).

[2022-10-12 12:41] dpaun1985 commented on #2454
@cesarcosta99 could you please prioritize and handle this issue, since we don't have the expertise and rights to change the docs ?

[2022-10-12 13:46] dixonl90 commented on #2392
Just confirming I have also ran into this issue. I'd rather not modify plugin files directly, please include the proposed code change in the next release. Happy to submit a PR if it'll get it merged faster.

[2022-10-12 18:33] ericfri commented on #1548
5620004-zen

[2022-10-13 17:24] ricardo commented on #2441
Stripe replied with more info on the level3 docs.

We've confirmed we are already passing the correct parameters. According to Stripe, the email about `product_sku` is probably incorrect.

Convo update: p1665617065247299/1664570295.006189-slack-C9976E5MJ

[2022-10-13 17:24] #2441 closed, assigned to ricardo

[2022-10-14 12:02] joashrajin commented on #2331
+1 at 5628841-zd-woothemes

In this case, the customer also noticed the order received email was being sent twice

[2022-10-15 12:48] dougaitken commented on #2454
For docs, please use internal Slack workflow or consult the Field Guide for Documentation updates.

[2022-10-17 10:25] roryWolf commented on #2331
This merchant is also experiencing duplicate emails being sent: 4940814-zen

[2022-10-18 07:19] saas786 commented on #1145
Faced an issue with client order, they received 6 payment collection calls based on retry rules,
but by looking at order notes, I am still not sure what caused the error,
also went through relevant logs, but no error logged there, only generic error...

Order notes:

![chrome_lBqIJHydLg](https://user-images.githubusercontent.com/1642796/196363049-815b6f03-8be3-4f5c-8acf-ab9fb43f8d35.png)

Generic

[2022-10-18 08:18] jacoswan opened #2456 "Stripe Settings page is blank when site language, WP version and user profile is Hebrew he_IL"
## Describe the bug

When the site's language is Hebrew he_IL and that version of WordPress is installed, the Stripe settings page is blank.

## To Reproduce

Steps to reproduce the behavior:

1. Change site language to Hebrew he_IL (`עִבְרִית`)
2. Update WordPress to that language version
3. Set user profile is set to use Hebrew he_IL
4. Go to WooCommerce > Settings > Payments > Stripe > Manage
5

[2022-10-18 10:18] WildPress commented on #2395
Hey guys, with Black Friday and Christmas coming up, I'm curious to know if you anticipate a resolution anytime soon, please?

[2022-10-19 09:08] joashrajin commented on #2315
+1 at 5639931-zd-woothemes

[2022-10-21 01:22] ricardo commented on #2433
Another request in https://wordpress.org/support/topic/pix-installments/

[2022-10-21 09:14] theabhig commented on #1167
Also requested in 5648135-zen

[2022-10-21 19:54] maylonsales commented on #2433
Hello guys.

I really need PIX because PIX are the first payment method here in Brazil.....

and ! WE need installments payment in Stripe too. because everyone buys with installments !!!!

[2022-10-22 11:49] rossviviano commented on #1167
Another request in 5650832-zen

[2022-10-23 13:26] amElnagdy commented on #2169
Reported here as well: 5634728-zen

[2022-10-24 16:27] scrib-it commented on #2103
+1

[2022-10-24 21:30] nekszt commented on #2331
I am experiencing the same issue !
With this issue our users have a bad experience, pages refresh, duplicated emails, and also for us, data tracking, notifications ...

Is the issue well identified ?
Has anyone identified a quick fix ?

[2022-10-25 05:21] DaniyarIsmailov opened #2463 "Double Notes & Double Emails"
Dear team,

Duplicating the topic from the plugin support thread https://wordpress.org/support/topic/double-notes-double-emails/

#### What happened

I and my customer get two emails after my customer makes a payment through Stripe.

#### Steps to reproduce the issue

1. New checkout experience is enabled.
2. The order notes shows two status changes https://snipboard.io/hC3VXu.jpg
3. The plugin fo

[2022-10-25 07:27] dpaun1985 commented on #2454
I used the internal Slack workflow to ask for docs update. thx.

[2022-10-25 07:27] #2454 closed, assigned to nobody

[2022-10-25 15:10] jjcoffee commented on #2392
This is actually a major privacy/GDPR issue on Kinsta hosted sites, as their default caching setup doesn't bypass on product pages if the wp_woocommerce_session cookie is set. This leads to customer data added on the checkout leaking across sessions (i,e. a random customer will see address details from another customer when they load the checkout page).

Seems the same issue was brought up before

[2022-10-27 06:51] shayzaf32 opened #2465 "Create new Stripe gateway (extend the class WC_Gateway_Stripe)"
**Describe the bug**
 When I try to extend the WC_Gateway_Stripe class and create a new gate of Stripe I get a blank screen in the payment settings screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new class in your plugin.
2.  Extend the class WC_Gateway_Stripe (woocommerce-gateway-stripe/includes/class-wc-gateway-stripe.php).
3. Open the screen woocommerce->settings->payment

[2022-10-27 07:05] #2465 closed, assigned to nobody

[2022-10-27 07:10] shayzaf89 opened #2466 "Blank settings screen in new stripe gateway (extend class WC_Gateway_Stripe)"
**Describe the bug**
 When I try to extend the WC_Gateway_Stripe class and create a new gate of Stripe I get a blank screen in the payment settings screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new class in your plugin.
2.  Extend the class WC_Gateway_Stripe (woocommerce-gateway-stripe/includes/class-wc-gateway-stripe.php).
3. Open the screen woocommerce->settings->payment

[2022-10-27 07:38] #2444 closed, assigned to dpaun1985

[2022-10-27 08:08] #2446 closed, assigned to dpaun1985

[2022-10-27 08:34] #2447 closed, assigned to dpaun1985

[2022-10-28 09:16] pehaa commented on #2353
Possibly reported in zen-5663248

[2022-10-28 13:17] joel-gigged commented on #2392
If anyone wants to hotfix this without editing core files, you can manually unhook the set_session function like this:

[code]

Note that you need to disable payment request buttons on product pages.

[2022-10-30 07:03] gomescx commented on #799
Bump up on this request.
My personal reason is to allow customers to use AfterPay and BECS, which are available on Stripe Checkout but not available as an additional payment type on <Stripe for Woocommerce>

[2022-10-31 07:01] stoasis opened #2467 "Trying to charge the customer without email"
**Describe the bug**
We dont have emails in our system the user register with his mobile number and the email is optional. when he try to buy its not completing and throwing an error 500 that the email is required.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to checkout
2. Click on stripe payment
3. try to pay then it shows completed but the order is on hold.
4. See error

**Expected

[2022-10-31 09:26] dpaun1985 opened #2468 "Reset enabled payment methods"
After changing the Stripe account, we need to reset the payment methods that are enabled for the shop. This way, we avoid having an enabled payment method for an account that does not have the capability for that payment method.
Context [here](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2452#issuecomment-1295665662).

[2022-10-31 13:59] #2448 closed, assigned to dpaun1985

[2022-11-01 11:44] nekszt commented on #2331
Do you have feedback about translations, WPML ? A redirection caused by the translation and/or cookie setting about translation ?

[2022-11-01 16:43] #2393 closed, assigned to mordeth

[2022-11-01 21:34] #2445 closed, assigned to dpaun1985

[2022-11-03 01:19] joaodante commented on #2395
5189645-zen

[2022-11-03 08:24] thisissandip commented on #2331
While the team is looking into the issue, please use the workaround mentioned [here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2331#issuecomment-1108954903)

- Disable the "New Checkout Experience" under **WooCommerce > Settings > Payments > Stripe > Settings > Advanced Settings:**

![lTKV1o.png](https://user-images.githubusercontent.com/69596988/199675133-3168b852-466e-4497

[2022-11-03 08:30] thisissandip commented on #1102
@dechov are we good to close this issue (considering this https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1331 resolves it)?

[2022-11-03 20:20] jakubkol commented on #2334
This would be great. At least apply a filter for shipping options in express checkout.

[2022-11-04 13:57] gglobalstep opened #2470 "[GlobalStep] "To enable the live mode, get the account keys from your Stripe Account." notice and "Edit live account keys & webhooks" heading are overlapped on the "Edit live account keys & webhooks" box."
### Bug Description:
"To enable the live mode, get the account keys from your Stripe Account." notice and "Edit live account keys & webhooks" heading are overlapped on the "Edit live account keys & webhooks" box

### Environment:
Woocommerce Version: WooCommerce 7.0.1
WooCommerce Stripe Payment Gateway: v7.0.0-test

PC:
Windows 10:
Chrome(Version 107.0.5304.88)
Firefox(Version 106.0.4)

### Steps

[2022-11-05 08:56] marklifeboxfood commented on #2395
Hi Team, as an alternative could you please suggest if there is a way to hide the Express Payment options if a certain product type is in the cart / product page? In this case, a Synchronised Subscription product. It would be great to be able to show the button for all the other products on our site, but not show for these products. Right now we have to disable it globally and that's costing us co

[2022-11-07 22:58] ricardo commented on #2395
Hi all 👋,

As an update, unfortunately, we can't provide compatibility with synchronized renewal subscriptions as of now.

Still, as an intermediary approach, you can use the following filters to disable express checkouts for synchronized subscription products only:

[code]

You can add the filter above using plugins such as [Code snippets](https://br.wordpress.org/plugins/code-snippets/).

Meanwh

[2022-11-08 10:07] glagonikas opened #2471 "wc_stripe_get_cart_details fires twice"
**Describe the bug**
The wc-ajax wc_stripe_get_cart_details seems to fire twice on checkout for no apparent (to me) reason.
The same ajax fires twice every time the cart changes, for example if you apply or remove a coupon.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure just WC & Stripe are enabled
2. Add any product to cart
3. Open up developer console and go to "network" tab
4. Go

[2022-11-08 11:09] alexflorisca commented on #2472
After investigating this further, this isn't a problem with the Checkout Block, but there may be an issue with the Stripe backend processing.

The `PAYMENT_PROCESSING` event gets emitted before every fetch to the StoreApi `/checkout` endpoint on clicking "Place Order", so that's all good. What happens the first time, is the stripe plugin creates a source based on the payment and customer informati

[2022-11-08 11:15] webdados commented on #2065
People that have implemented the filters, have you noticed any real improvement in performance and/or did you see any issues in fraud protection?

[2022-11-08 18:44] webdados commented on #2065
I think no one mentioned this here, but the scripts running from the stripe.com domain also perform several POST requests:
<img width="938" alt="image" src="https://user-images.githubusercontent.com/6853605/200649043-e6740ccb-9f35-4a95-bfde-4985fd9be90b.png">

[2022-11-08 20:06] PaulSchiretz commented on #2065
@webdados

Performance gain is huge,  no issues what so ever till now :-)

[2022-11-09 12:57] marklifeboxfood commented on #2395
Brilliant thank you. It works as expected!
FYI - the product page code does not seem to work when using a Variable Subscription product, but I used another method to hide this in that case.

`add_filter( 'wc_stripe_hide_payment_request_on_product_page', function( $hide, $post ) { if ( $post->ID === 259133 ) { // Change this to the Product ID that you want to hide return true; } return $hide; }, 10

[2022-11-09 14:04] gabriel-fuentes commented on #2395
The code worked like a charm for the user in 5189645-zen 🙂

[2022-11-09 20:11] joshactive commented on #1146
+1 for this, our product page converted really highly with Apple/Google Pay buttons - but doesn't capture the extra product options.

See this product page as an example: https://makeityourway.co.uk/product/personalised-200ml-gold-bottega-flute-set/

Would love to make this compatible!

[2022-11-10 19:37] marlonsabala opened #2474 "Duplicate charges with Woo subs with Stripe Gateway 7.0"
Hey guys, I'm no developer, but this seemed the right place to post this.

I noticed that right after the auto update of Stripe Gateway to version 7.0.0 all Woo Subscription renewals got charged twice.

This resulted on some banks blocking the card (understandably as they see two identical charged coming through). It also caused all sorts of other issues with customers and of course, we lost some

[2022-11-10 22:04] josephsellers commented on #2474
Hi @marlonsabala, thanks for posting this issue.

I have had the same issue today (also with Stripe Gateway 7.0, also with subscription renewals). I was lucky and was working on stuff so noticed it pretty much straight away but still had some payments go through twice.

I have also reverted to 6.9.0 which appears to have solved the issue.

I can add a few small details which may help:

1. This is

[2022-11-11 03:11] reykjalin commented on #2474
Thanks for reporting this! We've received other reports but we're struggling to reproduce the issue so we're not sure what exactly is happening.

In the meantime the recommendation would be to revert to 6.9.0. @marlonsabala @josephsellers can you confirm that reverting to version 6.9.0 fixes the issue?

[2022-11-11 03:30] reykjalin commented on #2474
Quick update: I was finally able to reproduce the issue. We'll start working on a fix and get a patch release out ASAP.

[2022-11-11 06:05] reykjalin commented on #2474
We've just released v7.0.1 with a fix for the duplicate charges. You may see duplicate order notes in some cases (something we'll look into as part of a separate issue) but there should be no duplicate charges anymore.

We sincerely apologize for the inconvenience this must have caused!

[2022-11-11 08:47] kaushikasomaiya opened #2477 "Possible Duplicate charge scenario when Saved cards are used and if a plugin/theme throws 500 during checkout"
**Describe the bug**

5702310-zen

User reports: 500 errors during checkout results into duplicate payments on Stripe.

Reaching out to  Stripe support, they were told the following:

https://stripe.com/docs/api/idempotent_requests

[2022-11-11 09:04] kaushikasomaiya commented on #2477
Closing this as duplicate of #2339

[2022-11-11 09:04] #2477 closed, assigned to nobody

[2022-11-11 09:06] kaushikasomaiya commented on #2339
5702310-zen

User reports: 500 errors during checkout results into duplicate payments on Stripe.

Reaching out to Stripe support, they were told the following:

[2022-11-11 09:32] josephsellers commented on #2474
Hi @reykjalin, yeah this disappeared on downgrading to 6.9.0.

Thank you so much for a quick fix!!

I have upgraded to 7.0.1 and will keep an eye on it.

[2022-11-11 09:36] lkraav commented on #2474
I was running 7.0.0 for 1-2 days, and do not seem to have any duplicate payments. I don't have UPE (updated checkout experience?) enabled. Does it confirm this problem hit UPE only?

[2022-11-11 09:37] josephsellers commented on #2474
Hi @lkraav, nope I wasn't using UPE.

Are you using subscriptions? It appears it only affects subscription renewals.

[2022-11-11 10:43] thisissandip commented on #2474
Hi everyone,

A new version of Stripe - 7.0.1 has been released just now that [fixes this issue](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2475).

Can you please update the Stripe plugin to 7.0.1 version and check the same?

[2022-11-11 10:44] thisissandip commented on #2474
5702216-zen

[2022-11-11 11:18] josephsellers commented on #2474
Hello!

Just a quick update. I upgraded to 7.0.1 a couple of hours ago and since then 6 renewal payments have gone through without any issue and without duplication. It appears (at least on my setup) that this is fixed now.

Thanks again!!

[2022-11-11 15:49] marlonsabala commented on #2474
Same here. 7.0.1 seems to fix things. And I don't have UPE on either.

[2022-11-11 18:50] brianyu28 commented on #2313
Closing this as it didn't end up being necessary

[2022-11-11 18:50] #2313 closed, assigned to brianyu28

[2022-11-14 00:33] orhanfernandes commented on #2474
5705354-zen

[2022-11-14 02:49] Nfinley commented on #838
Also encountering this issue in the same way @samholguin mentioned. Is there a workaround?

[2022-11-14 08:20] snandos commented on #838
The workaround we came across was to disable the refund events on the webhook while leaving the other events enabled. This has the downside that any other refund (for example triggered via the Stripe Dashboard) won't be registered by WooCommerce
See https://github.com/woocommerce/woocommerce-paypal-payments/issues/522#issuecomment-1098909297

EDIT: I'm sorry, just saw that @glagonikas already ment

[2022-11-14 11:37] aaryandeveloper commented on #2474
I have 7.0.1 version, still have same issue
I am using latest version of WooCommerce and WordPress.
Can you please tell me how to fix ?

[2022-11-14 12:12] josephsellers commented on #2474
Hi @aaryandeveloper,

Hmm, 7.0.1 fixed it for me straight away. It appears [from this](https://github.com/woocommerce/woocommerce-gateway-stripe/pull/2475) that the issue was that the Stripe gateway was registered twice in readiness for some other Stripe feature which resulted in the charge being sent to Stripe twice. That has been reverted now which fixed the issue for my site straight away.

If

[2022-11-14 16:25] danieleperilli opened #2478 "Occasionally missing _stripe_net, _stripe_fee, and _stripe_currency meta"
We noticed that **sometimes** the following attributes are not stored in completed orders (paid with CC):
- _stripe_net
- _stripe_fee
- _stripe_currency

No errors are logged and the other data is present. It doesn't happen for every order but occasionally, although in recent weeks it's more frequent.

As we use a plugin for Quickbooks that needs these attributes, we need to make sure that data is

[2022-11-15 04:49] #2474 closed, assigned to nobody

[2022-11-15 08:30] zdenys commented on #2378
Another merchant in 5703446-zd-woothemes asking about PayNow option in Stripe.

[2022-11-15 15:41] demaya commented on #2120
This [translation](https://translate.wordpress.org/projects/wp-plugins/woocommerce-gateway-stripe/stable/de/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=12571385&filters%5Btranslation_id%5D=95327630) is still not approved. Any way to get some traction, @dougaitken  / @ricardo?

[2022-11-16 03:49] meilers commented on #1411
Having the same issue here in Quebec Canada (2 taxes: GST and QST) for Apple Pay and Google Pay.

[2022-11-16 12:12] thisissandip opened #2479 "Stripe Link button do not disappear even if it is disabled"
**Describe the bug**
The ‘Link pay Faster’ button does not disappear even if it disabled from Stripe > Express Checkout settings

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Stripe Link from WooCommerce > Settings > Payments > Stripe > Express Checkout
2. Go to the cart page -> See the "Stripe Link" button
3. Now, disable Stripe Link Express checkout
4. See the button does not disa

[2022-11-16 12:13] thisissandip commented on #2479
Reported here: https://wordpress.org/support/topic/disabling-link-by-stripe/page/2/

[2022-11-16 15:16] glagonikas commented on #2479
Just to follow up on this, on a UK store, there's no option to disable Link from WC admin.

<img width="722" alt="image" src="https://user-images.githubusercontent.com/10516403/202219508-78c8e81d-f1e1-40f4-979f-f05d320baf17.png">

[2022-11-16 19:00] gofreem commented on #2479
Just to help follow up on this, on a DE store, there's also no option to disable Link from WC admin.
But the workaround above, help me to solve the problem :-)
Thanks

![2022-11-16_00-51-41](https://user-images.githubusercontent.com/106705909/202269535-4e16238c-ee50-496f-ac8f-220716046790.png)

[2022-11-16 19:54] jvwrx commented on #2479
_EDIT: The 'workaround' works for me too and Link no longer appears when I disable it at https://dashboard.stripe.com/settings/link_

Happening for me too:

- Link is **off** at Stripe itself https://dashboard.stripe.com/settings/payment_methods
- Within _Woo > Settings > Payments > Stripe > Express Checkouts_: Link is not an option (only Apple/Google Pay)
- Link still appears when viewing in Chro

[2022-11-16 20:02] gofreem commented on #2479
This is not the right place to deactivate it.
You have to go to https://dashboard.stripe.com/settings/link

Maybe it helps you ;-)

[2022-11-16 20:25] jvwrx commented on #2479
@gofreem INDEED. Thank you!

https://dashboard.stripe.com/settings/payment_methods was actually my original link. Disabled it at https://dashboard.stripe.com/settings/link and Link no longer appears.

Hopefully that'll solve it for others as well. Maybe this plugin could display that link within settings.

(I'll be sure to file a feature request with Stripe devs too to maybe link to that page from

[2022-11-16 21:47] ericfri commented on #1548
5716902-zen - The workaround worked for this merchant.

[2022-11-17 07:14] thisissandip commented on #2479
5715294-zen

[2022-11-17 11:04] anastas10s-afk commented on #2430
5719339-zen

[2022-11-17 19:23] Brianmitchtay commented on #2339
Seeing another potential instance of this in 5720452-zen

[2022-11-18 15:17] marissaexplores commented on #2331
[5693996-zen](5693996-zd-woothemes)

[2022-11-18 16:18] fetenlakhal commented on #2479
5715288-zd

[2022-11-18 20:07] charlesrr commented on #2430
Is there any way to get the importance of this issue upgraded? The issue renders the Express Checkout pointless. If I turn on express checkout, it just confuses all my repeat customers, so I've had to disable it. In the Learndash group I'm in, there are other people who also wish they could use Express Checkout but can't because of this. It seems like it should just be changing an error message te

[2022-11-20 14:11] xuexue28 commented on #2463
Another report here: https://wordpress.org/support/topic/multiple-order-confirmations-for-single-paid-order-via-stripe/#post-16215132

[2022-11-20 15:56] densitysk commented on #2463
HI, I have this same issue as well when new checkout experience is enabled. This is indirectly also causing the emails being marked as spam with some customers as they are getting multiple same messages. Please provide a fix if possible and not a workaround. Kind regards

[2022-11-21 09:36] kaushikasomaiya commented on #2479
5711594-zen

[2022-11-21 10:37] MartijnKaimea commented on #2331
Thanks for the information thus far. I have the same issue. Be interested to see when this gets resolved. My contact with Woo Support resulted in this:

For me, it doesn't really feel like a high-priority bug if it has been documented since April. I'll switch back to the 'old' checkout experience.

[2022-11-21 11:12] isaklafleur opened #2480 "Could not find order via intent ID: pi_XXXXXX"
Since I changed to the new Stripe Experience at checkout I'm getting this errors.

2022-11-21T10:28:47+00:00 DEBUG
====Stripe Version: 7.0.1====
====Start Log====
Could not find order via intent ID: **pi_3M6XDuHQeNUw8fEu1tRPmxMB**
====End Log====

2022-11-21T10:45:00+00:00 DEBUG
====Stripe Version: 7.0.1====
====Start Log====
Could not find order via intent ID: pi_3M6XTCHQeNUw8fEu1RnfcHre
====End

[2022-11-21 11:20] isaklafleur commented on #2480
2022-11-19T14:27:41+00:00 CRITICAL Uncaught Error: Call to a member function update_status() on null in /www/theuntamedeurope_244/public/wp-content/plugins/woocommerce-gateway-stripe/includes/class-wc-stripe-intent-controller.php:683
Stack trace:
#0 /www/theuntamedeurope_244/public/wp-includes/class-wp-hook.php(308): WC_Stripe_Intent_Controller->update_failed_order_ajax('')
#1 /www/theuntamedeurop

[2022-11-21 18:44] joejordanbrown opened #2481 "Stripe Link has been enabled for all other countries since the 11th of November."
The plugin should now enable all other countries that are on the list here https://stripe.com/docs/payments/link

Prior to November 11th they were request feature access only.

[2022-11-22 06:44] thisissandip opened #2482 "Merchants with Stripe accounts in India are given an error when users check out on their site from another country."
**Describe the bug**

Merchants with Stripe accounts in India are given an error when users check out on their site from another country.

"As per Indian regulations, goods export transactions require billing and a shipping address. More info here: https://stripe.com/docs/india-exports"

More details here: https://support.stripe.com/questions/failed-international-payments-from-stripe-accounts-in-i

[2022-11-22 14:45] rafaelzaleski opened #2483 "Add Playwright E2E tests"
**Goals:**

- [x] Set up Playwright, and allow tests to run on any URL.
- [x] Add option to set up WooCommerce on the test site.
- [x] Add option to set up Stripe on the test site.
- [x] Create E2E tests for the smoke tests

[2022-11-22 15:03] dougaitken commented on #2481
Hi @joejordanbrown - can you check https://dashboard.stripe.com/settings/link - from what we've seen, Stripe Link is enabled by default and this will show on the Checkout page as an Express Payment button.

[2022-11-23 13:36] rafaelzaleski opened #2484 "Set up Playwright E2E test runner"
Remove the current setup using Puppeteer and add a new set up using Playwright.

- [x] Remove current Set up
- [x] Add Playwright setup
- [x] Add test data with test cards
- [x] Configure reports
- [x] Add _Running Tests_ Doc

[2022-11-23 13:38] rafaelzaleski opened #2485 "E2E tests: Shopper - Checkout"
- [x] [Shopper - Checkout: Checkout with normal credit card](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-critical-flows-using-the-classic-checkout-experience#checkout-with-normal-credit-card)
- [x] [Shopper - Checkout: Checkout with saved card](https://github.com/woocommerce/woocommerce-gateway-stripe/wiki/Testing-instructions-for-critical-flows-using-th

[2022-11-23 14:11] perezcarreno commented on #2429
Hello! I get this same error in PHP logs on every site I run with Elementor, WooCommerce, and the Stripe payment gateway plugin. It appears every day; it doesn't, however, affect anything for the user in the front end.

We do not use WooCommerce Blocks, so I agree with @senadir 's move to the Stripe repo.

Here is the most recent error:

2022/11/23 06:03:01 [error] 28496#28496: *96530 FastCGI sent

[2022-11-23 16:17] joejordanbrown commented on #2481
Hi @dougaitken, Yes it's showing up with that enabled. Just need the settings to show on the WooCommerce settings page. Linked to this array https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2437

[2022-11-24 13:25] hp7 commented on #2430
This issue occurs with Apple Pay as well; however the expected behavior/solution is flawed as well.

The Solution should allow the users transaction through even when a matching account is found. Especially if the allow guest checkout function is active in Woocommerce.

If a matching account is found, just add it to the accounts records or just treat it as any other guest checkout.

GPay and Apple

[2022-11-24 17:35] avantegarde commented on #2353
Another possible report 5731760-zen. Asking them to disable webhooks an re-enable only required ones. Doing that solved the problem for the user.

[2022-11-25 09:23] neilmccreadie commented on #2479
5740500-zen

[2022-11-25 20:44] rafaelzaleski opened #2487 "Add option to set up WC Core and Stripe on E2E test runner global setup"
This is an improvement to the E2E test runner that will set up WC and the Stripe gateway in the testing site before tests are run.
The feature will be activated using a flag TBD in the `npm run test:e2e` CLI command.

[2022-11-25 23:28] dougaitken commented on #2120
Hey @demaya Thanks for the ping!

I don't have direct connection with anyone on the WordPress.org Plugins Translations team but I've asked some colleagues for advice on this one to see if we can move it along.

_Internal ref: p1669418563149339-slack-C02AED43D_

[2022-11-26 00:59] dougaitken commented on #2378
Hi everyone,

For Feature Requests, we review the [Stripe Feature Request Portal](https://woocommerce.com/feature-requests/stripe/) for product enhancements.

There currently isn’t an existing Feature Request related to this scenario, so please do create one so others can add their vote.

[2022-11-26 11:02] wpniall commented on #2339
Another suspected case in 5742689-zen

[2022-11-27 20:32] sarbouw commented on #2430
5737478-zd

[2022-11-27 21:18] isaklafleur commented on #2480
This happens only when using the latest API version that was released last week.

[2022-11-28 09:32] dougaitken commented on #2120
Following up here, this translation along with some others have been approved.

[2022-11-28 17:16] sam-fc commented on #774
Can Someone Please Provide an updated solution for this - Inactive/Greyed express buttons on cached pages??
Please please !

[2022-11-28 23:01] rossviviano commented on #2479
38320347- hc

[2022-11-28 23:03] Brianmitchtay commented on #2479
Just had a user from the UK in 38303815-hc where the workarounds mentioned here didn't work.

On their site, they're still seeing the `Stripe Link` button as the only express checkout option, despite having de-activated Stripe link at [https://dashboard.stripe.com/settings/link](https://dashboard.stripe.com/settings/link), and also at [https://dashboard.stripe.com/settings/payment\_methods](https:

[2022-11-29 00:08] maxlaf opened #2488 "Incompatibility with Stripe API version 2022-11-15"
**Describe the bug**
When UPE is enabled and the latest version of Stripe's API (2022-11-15) is used, various issues and notices are caused, the severity of which depends on the payment method used.

**To Reproduce**
Steps to reproduce the behavior:
1. Set your Stripe account to use API version 2022-11-15
2. Enable the new checkout experience (UPE) and put Stripe in test mode.
3. Enabled multiple

[2022-11-29 02:40] Brianmitchtay commented on #2343
Seeing a user come through with this issue in 5743171-zen.

IMO the fact that express checkout buttons are still shown when custom fields are in place which will make them fail should be considered a bug, not an enhancement.

[2022-11-29 19:06] davinian commented on #2479
Same problem with another UK website (going to check all UK sites I manage). The option in "Express Checkout" is not visible, so had to disable in Stripe.

The big question I have is, how did "Link" get turned on in the first place? Did Stripe do this or was it something the "WooCommerce Stripe Payment Gateway" plugin enabled?

[2022-11-29 19:44] amber-c commented on #2479
Happening for me too for CA sites:

- Link is deactivated in Stripe itself: [](https://dashboard.stripe.com/settings/link)
- Within Woo > Settings > Payments > Stripe > Express Checkouts: Link is not an option (only Apple/Google Pay)
- Link still appears when viewing in Chrome

[2022-11-29 19:46] ccollabgist commented on #2479
Happening for us too for CA sites:

- Link is deactivated in Stripe itself: [https://dashboard.stripe.com/settings/link](https://dashboard.stripe.com/settings/link)
- Within Woo > Settings > Payments > Stripe > Express Checkouts: Link is not an option (only Apple/Google Pay)
- Link still appears when viewing in Chrome

[2022-11-30 09:34] charlesrr commented on #2430
I don't like that idea. It allows someone to enter a transaction on someone else's account. Apple Pay lets you change the email to whatever

[2022-11-30 14:14] hp7 commented on #2430
Then make it a guest checkout without assigning to an account and allow the user to add the order to their account later by verifying the matched email address that was used from Apple Pay or Google Pay